/* Мини-профиль с информацией */
.reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0, 0, 0, .8);
	z-index: 101;
	display: none;
	top: 0;
	left: 0;
}

.reveal-modal {
	visibility: hidden;
	position: absolute;
	padding: 20px !important;
	top: 100px;
	left: 50%;
	transform: translatex(-50%);
	background: url(https://forumstatic.ru/files/0012/0b/b4/90558.png) no-repeat top center;
	width: 740px;
	height: 465px;
	box-sizing: border-box;
        z-index: 102;
}

.modal_wrap {
	padding: 30px;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 0 1px #4C4C4C, 0 0 0 2px #070707, inset 0 4px 30px 0 rgba(0, 0, 0, 0.25), 5px 5px 50px 0 #010101;
	background: url(https://forumstatic.ru/files/0012/0b/b4/64493.png) no-repeat top left, url(https://forumstatic.ru/files/0012/0b/b4/59741.png) no-repeat top right, url(https://forumstatic.ru/files/0012/0b/b4/95078.png) no-repeat bottom left, url(https://forumstatic.ru/files/0012/0b/b4/26574.png) no-repeat bottom right #cbcfd4;
	border-radius: 10px;
	box-sizing: border-box;
	display: flex;
	gap: 20px;
}

.reveal-modal .close-reveal-modal {
	position: absolute;
	top: 30px;
	right: 30px;
        font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	border-radius: 10px;
	width: 28px;
	height: 28px;
	box-sizing: border-box;
	background: var(--gray-3);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--gray-2);
	border-top: var(--border1);
	border-left: var(--border1);
	border-bottom: var(--border2);
	border-right: var(--border2);
}

.reveal-modal .close-reveal-modal:hover {
	color: #5f6b93;
	text-shadow: var(--tshad2);
}

.pp_char {
	border-radius: 12px;
	padding: 15px;
	width: 190px;
	box-sizing: border-box;
	backdrop-filter: blur(25px);
	-webkit-backdrop-filter: blur(25px);
	background: rgba(196, 201, 207, 0.6);
	border-top: var(--border1);
	border-bottom: var(--border2);
	border-left: var(--border1);
	border-right: var(--border2);
	flex-shrink: 0;
	display: flex;
	align-items: center;
  	flex-direction: column;
	gap: 10px;
}

.pp_char li {
	width: 100%;
}

.pp_char span {
	display: block;
	margin-bottom: 4px;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 11px;
	text-transform: lowercase;
	color: var(--gray-4);
	text-shadow: var(--tshad2);
}

.pp_char p {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 10px;
	color: #302f30;
}

.pp_ava {
	text-align: center;
}

.pp_ava img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}

.pp_name {
	margin-bottom: 10px;
	display: block;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 13px;
	text-transform: lowercase;
	text-align: center;
	color: var(--gray-4);
	text-shadow: var(--tshad2);
}

.pp_lz p {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 10px;
	text-transform: lowercase;
	color: #7d8084;
}

.pp_menu {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.menu span {
	cursor: pointer;
	display: block;
	border-radius: 10px 10px 0 0;
	padding: 5px 8px;
	height: 32px;
	backdrop-filter: blur(25px);
	-webkit-backdrop-filter: blur(25px);
	background: rgba(196, 201, 207, 0.6);
	border-top: var(--border1);
	border-bottom: var(--border2);
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 11px;
	text-transform: lowercase;
	text-align: center;
	color: #4c4c4e;
	text-shadow: 1px 1px 3px 0 rgba(255, 255, 255, 0.6);
}

.menu {
	margin-bottom: -20px;
}

.menu span.tabactive {
	backdrop-filter: blur(25px);
	background: radial-gradient(123.11% 70.71% at 50% 50%, rgba(138, 151, 210, 90%) 0%, rgba(49, 63, 98, 90%) 100%);
	font-family: var(--second-family);
	font-weight: 500;
	color: #cbcfd4;
	border-top: 1px solid #5364A1;
	border-bottom: 1px solid #A99673;
}

.menu-links {
	display: flex;
	gap: 5px;
}

#submenu {
	border-radius: 12px;
	padding: 15px 20px;
	height: 100%;
	box-sizing: border-box;
	backdrop-filter: blur(25px);
	background: rgba(196, 201, 207, 0.6);
	border-top: var(--border1);
	border-bottom: var(--border2);
	border-left: var(--border1);
	border-right: var(--border2);
}

.menu .tabactive {
	color: #000000;
	background: #777777;
}

#submenu {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 10px;
	color: #302f30;
}

.submenutext {
	display: none;
	height: 333px;
}

.submenu_inner {
	display: flex;
	width: calc(100% + 10px);
	height: 333px;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--gray-1) transparent;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	align-content: flex-start;
	gap: 10px;
	margin-right: -10px;
	padding-right: 5px;
}

#sm1 img {
	max-width: 64px;
	max-height: 81px;
}

.pp_card {
	display: block;
	width: 88px;
	height: 57px;
	position: relative;
}

.pp_card:before {
	content: "";
	width: 88px;
	height: 57px;
	background: url(https://forumstatic.ru/files/0012/0b/b4/16968.svg) no-repeat top center;
	position: absolute;
	pointer-events: none;
}

.pp_card img {
	border-radius: 12px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}