@font-face {
    font-family: 'Romile';
    src: local('Romile Personal Use'), local('RomilePersonalUse'),
        url('https://alexkolmar.github.io/fonts/Romile/Romile.woff2') format('woff2'),
        url('https://alexkolmar.github.io/fonts/Romile/Romile.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

