@font-face {
    font-family: 'Papyrus';
    src: local('Papyrus'),
        url('https://alexkolmar.github.io/fonts/Papyrus/Papyrus.woff2') format('woff2'),
        url('https://alexkolmar.github.io/fonts/Papyrus/Papyrus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

