* {
margin: 0;
padding: 0;
}

h2 {
position: relative;
padding: 10px;
text-align: center;
font-size: 24px;
font-family: Verdana;
letter-spacing: 1px;
}

p, a {
font-size: 12px;
font-family: arial;
padding: 0;
color: #000000;
text-decoration: none;
}

p {
display: block;
}

.years {
font-size: 10px;
}

a:hover {
color: maroon;
font-weight: bold;
}

#cast {
position: absolute;
left: 10px;
bottom: 10px;
width: auto;
height: auto;
border: none;
-webkit-border-radius: 8px;
-khtml-border-radius: 8px;
-moz-border-radius: 8px;
-o-border-radius: 8px;
border-radius: 8px;
display: none;
z-index: 10;
background: rgba(234, 233, 233, .9);
color:#000000;
padding: 0px 5px 4px;
}

#cast_link {
text-align: left;
font-size: 16px;
font-family: Verdana;
position: absolute;
left: 10px;
bottom: 10px;
cursor: pointer;
}

#cast p {
padding: 5px;
font-size: 12px;
font-family: arial;
}

button {
    color:#000;
    line-height: 24px;
    border: 1px solid #6C8EBF;
    text-align: center;
    width: 80px;
    border-radius:16px;
background: #d0e4f7; /* Old browsers */
background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
    -moz-box-shadow: inset 0px -1px 2px #01fff9;
    -webkit-box-shadow: inset 0px -1px 2px #01fff9;
    -o-box-shadow: inset 0px -1px 2px #01fff9;
    box-shadow: inset 0px -1px 2px #01fff9;
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding: 0;
}
button::before {
    content: ".";
    color:transparent;
    line-height: 10px;
    width: 70px;
    margin-top: 0px;
    margin-bottom: -17px;
    margin-left: 4px;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2) );
    background-image:-moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
    border-radius:16px; 
    display:block;
    padding: 2px 0;
}

button:hover {
border: 1px solid #B85450;
background: #febbbb; /* Old browsers */
background: -moz-linear-gradient(top,  #febbbb 0%, #ff5c5c 24%, #ff5c5c 50%, #fe9090 79%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #febbbb 0%,#ff5c5c 24%,#ff5c5c 50%,#fe9090 79%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #febbbb 0%,#ff5c5c 24%,#ff5c5c 50%,#fe9090 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#fe9090',GradientType=0 ); /* IE6-9 */
text-shadow: 0px 1px 3px #fcccff, 0px 1px 0px black;
cursor: pointer;
-moz-box-shadow: inset 0px -2px 0 #fff;
-webkit-box-shadow: inset 0px -2px 0 #fff;
-o-box-shadow: inset 0px -2px 0 #fff;
box-shadow: inset 0px -1px 2px #fff;
}

#copyright {
position: absolute;
display: block;
bottom: 5px;
right: 10px;
text-align: right;
}

#copyright a, #copyright p {
color: #AAA4A4;
}

#copyright a:hover {
color: maroon;
}

body {
position: relative;
width: 800px;
margin: 0 auto;
}

#tree {
position: absolute;
top: 0;
width: 800px;
height: 850px;
background-color: #DDD7D7;
background-size: 50px 50px;
background-image: 
linear-gradient(-45deg, transparent 52%, rgba(255,255,255,0.9) 54%, transparent 55%, transparent),
linear-gradient(45deg, transparent 52%, rgba(255,255,255,0.6) 54%, transparent 55%, transparent),
linear-gradient(-45deg, transparent 50%, rgba(0,0,0,0.1) 52%, transparent 53%, transparent),
linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.05) 52%, transparent 53%, transparent);
}

.firstgen, .secondgen, .thirdgen, .fourthgen {
height: 140px;
vertical-align: top;
display: inline-block;
position: absolute;
left: 10px;
}

.firstgen {
top: 50px;
}

.secondgen {
top: 250px;
}

.thirdgen {
top: 450px;
}

.fourthgen {
top: 650px;
}

.male, .female {
margin: 0;
padding: 0 2px;
position: relative;
display: inline-block;
vertical-align: top;
width: 110px;
height: 144px;
border-radius: 15px;
text-align: center;
}

.male {
border: 1px ridge #6C8EBF;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
background: #d0e4f7; /* Old browsers */
background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
box-shadow: 1px 2px 3px rgba(0,0,0,.4), inset 0 3px 5px rgba(255,255,255,.7), inset 0 -2px 4px rgba(10,119,213,1);
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.4), inset 0 3px 5px rgba(255,255,255,.7), inset 0 -2px 4px rgba(10,119,213,1);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.4), inset 0 3px 5px rgba(255,255,255,.7), inset 0 -2px 4px rgba(10,119,213,1);
-o-box-shadow: 1px 2px 3px rgba(0,0,0,.4), inset 0 3px 5px rgba(255,255,255,.7), inset 0 -2px 4px rgba(10,119,213,1);
}

.female {
border: 1px ridge #B85450;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,ff5c5c+50,ff5c5c+50,fe9090+99 */
background: #febbbb; /* Old browsers */
background: -moz-linear-gradient(top,  #febbbb 0%, #ff5c5c 24%, #ff5c5c 50%, #fe9090 79%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #febbbb 0%,#ff5c5c 24%,#ff5c5c 50%,#fe9090 79%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #febbbb 0%,#ff5c5c 24%,#ff5c5c 50%,#fe9090 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#fe9090',GradientType=0 ); /* IE6-9 */
box-shadow: 1px 2px 3px rgba(0,0,0,.4), inset 0 3px 5px rgba(255,255,255,.7), inset 0 -2px 4px rgba(184,84,80,1);
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.4), inset 0 3px 5px rgba(255,255,255,.7), inset 0 -2px 4px rgba(184,84,80,1);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.4), inset 0 3px 5px rgba(255,255,255,.7), inset 0 -2px 4px rgba(184,84,80,1);
-o-box-shadow: 1px 2px 3px rgba(0,0,0,.4), inset 0 3px 5px rgba(255,255,255,.7), inset 0 -2px 4px rgba(184,84,80,1);
}

.gloss {
background-image: -webkit-linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .1));
background-image: -moz-linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .1));
background-image: -o-linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .1));
background-image: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .1));
position: absolute;
display: block;
height: 75px;
width: 112px;
border-top-left-radius: 13px;
-webkit-border-top-left-radius: 13px;
-moz-border-top-left-radius: 13px;
border-top-right-radius: 13px;
-webkit-top-right-radius: 13px;
-moz-top-right-radius: 13px;
border-bottom-left-radius: 56px 15px;
-webkit-bottom-left-radius: 56px 15px;
-moz-bottom-left-radius: 56px 15px;
border-bottom-right-radius: 56px 15px;
-webkit-border-bottom-right-radius: 56px 15px;
-moz-border-bottom-right-radius: 56px 15px;
z-index: 6;
margin-left: -1px;
}

#male::before, #male::after, #female::before, #female::after {
content: "";
height: 80px;
width: 80px;
position: absolute;
border-radius: 5px;
display: block;
top: 0;
margin: 0;
opacity: .7;
z-index: 5;
}

#male::after, #female::after {
box-shadow: inset 0 2px 4px #000;
}

#male::before {
background: #B0C4DE;
mix-blend-mode: hard-light;
opacity: .5;
}

#female::before {
background: #FFA07A;
mix-blend-mode: hard-light;
opacity: .5;
}

#male, #female {
height: 80px;
width: 80px;
background: #fff;
position: relative;
z-index: 5;
margin: 10px auto 0;
border-radius: 5px;
}

#male img, #female img {
border-radius: 5px;
filter: saturate(0.5) contrast(120%);
-webkit-filter: saturate(0.5) contrast(120%);
}

#felicia::after {
content: '';
position: absolute;
bottom: 0;
border: 1px dashed #000;
width: 95px;
height: 30px;
margin-bottom: -31px;
border-top: none;
}
#kieran::after {
content: '';
position: absolute;
bottom: 0;
border: 1px solid #000;
width: 95px;
height: 30px;
margin-bottom: -31px;
left: 70%;
border-top: none;
}
#stanley::after {
content: '';
position: absolute;
bottom: 0;
border: 1px solid #000;
width: 120px;
height: 30px;
margin-bottom: -31px;
left: 50%;
border-top: none;
}
#nathaniel::before {
content: '';
position: absolute;
top: 0;
border-right: 1px solid #000;
height: 25px;
margin-top: -26px;
right: 50%;
}
#nathaniel {
left: 60px;
}
#simon::before {
content: '';
position: absolute;
top: 0;
border-right: 1px solid #000;
height: 25px;
margin-top: -26px;
right: 50%;
}
#simon {
left: 60px;
}
#simon::after {
content: '';
position: absolute;
bottom: 0;
border: 1px solid #000;
width: 180px;
height: 30px;
margin-bottom: -31px;
left: 50%;
border-top: none;
}
#emma::before {
content: '';
position: absolute;
top: 0;
border: 1px solid #000;
border-bottom: none;
width: 120px;
height: 25px;
margin-top: -26px;
left: 50%;
}
#emma {
left: 120px;
}
#michael {
left: 120px;
}
#michael::after {
content: '';
position: absolute;
bottom: 0;
border: 1px solid #000;
width: 120px;
height: 30px;
margin-bottom: -31px;
left: 50%;
border-top: none;
}
#lindsey {
left: 120px;
}
#camilla::after {
content: '';
position: absolute;
bottom: 0;
border: 1px solid #000;
width: 120px;
height: 30px;
margin-bottom: -31px;
left: 50%;
border-top: none;
}
#camilla {
left: 88px;
}
#oliver::before {
content: '';
position: absolute;
top: 0;
border: 1px solid #000;
border-bottom: none;
width: 120px;
height: 25px;
margin-top: -26px;
left: 50%;
}
#oliver {
left: 88px;
}
#sam {
left: 88px;
}
#joseph::before {
content: '';
position: absolute;
top: 0;
border-right: 1px solid #000;
height: 25px;
margin-top: -26px;
right: 50%;
}
#joseph {
left: 180px;
}
#joseph::after {
content: '';
position: absolute;
bottom: 0;
border: 1px solid #000;
width: 120px;
height: 30px;
margin-bottom: -31px;
left: 50%;
border-top: none;
}
#veronica {
left: 180px;
}
#thomas {
left: 300px;
}
#olivia {
left: 300px;
}
#eugene::before {
content: '';
position: absolute;
top: 0;
border-right: 1px solid #000;
height: 25px;
margin-top: -26px;
right: 50%;
}
#eugene {
left: 600px;
}