* {
margin: 0;
padding: 0;
border: none;
scrollbar-width: thin;
scrollbar-color: #79687A transparent ; /* 1 - бегунок, 2 - полоса */
}

   /* полоса прокрутки (кроме мозиллы) */
   ::-webkit-scrollbar {width: 7px; height: 8px;}
   ::-webkit-scrollbar-track {background-color:transparent;}
   ::-webkit-scrollbar-thumb {background-color:#79687A;}
   ::-webkit-scrollbar-thumb:active {background:#662A6A;}
   
::selection {
color: #F9F4C7;
background: #662A6A;
}

html {
background: #BBB89F;
height: 100%;
}

body {
position: relative;
margin: 0 auto;
overflow-x: hidden;
overflow-y: auto;
}

#hellobox {
width: 1280px;
height: 800px;
position: relative;
margin: 0 auto;
}

#wall {
height: 520px;
background: #f9f4c7;
width: 100%;
position: absolute;
}

#hello {
position: absolute;
width: 650px;
height: 180px;
left: 100px;
top: 70px;
}

h1 {
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 1.3;
display: flex;
align-items: center;
color: #472D6E;
}

#about {
display: flex;
flex-direction: column;
padding: 0px;
position: absolute;
width: 650px;
height: 180px;
left: 100px;
top: 250px;
}

p {
left: 0px;
top: 0px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 1.5;
display: flex;
align-items: center;
color: #000000;
}

#glass img {
position: absolute;
width: auto;
height: 550px;
right: 100px;
top: 60px;
}

#social {
width: 650px;
display: flex;
position: absolute;
top: 430px;
left: 100px;
}

#social a {
position: absolute;
width: 180px;
height: 50px;
top: 0;
border-radius: 4px;
text-decoration: none;
font-family: PT sans;
font-weight: bold;
font-size: 20px;
letter-spacing: 1px;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
transition: .2s;
box-shadow:
   0 4px rgb(71, 45, 110),
   0 3px 5px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
}

#social a:hover, #social a:focus, details summary:hover, details[open] summary {
  box-shadow:
   0 2px rgb(71, 45, 110),
   0 1px 3px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 2px);
  transform: translate(0, 2px);
}

#vk {
left: 0;
background: #4a76a8;
}

#tg {
left: 200px;
background: #139bd0;
}

#in {
left: 400px;
background: #ffd77a;
background: -moz-linear-gradient(45deg, #ffd77a 0%, #e05a5f 50%, #a14ba0 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, #ffd77a), color-stop(50%, #e05a5f), color-stop(100%, #a14ba0));
background: -webkit-linear-gradient(45deg, #ffd77a 0%, #e05a5f 50%, #a14ba0 100%);
background: -o-linear-gradient(45deg, #ffd77a 0%, #e05a5f 50%, #a14ba0 100%);
background: -ms-linear-gradient(45deg, #ffd77a 0%, #e05a5f 50%, #a14ba0 100%);
background: linear-gradient(45deg, #ffd77a 0%, #e05a5f 50%, #a14ba0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd77a', endColorstr='#a14ba0', GradientType=1 );
}

details {
 position: relative;
 top: 650px;
 margin: 0 auto;
 width: 1100px;
}

details summary {
  display: flex;  /* у summary по умолчанию свойство display в значении list-item, потому поддерживается свойство list-style */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 180px;
  height: 50px;
  outline-style: none;  /* удалить обводку при фокусе */
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  font-family: PT sans;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#babcd6+0,2f3270+100 */
  background: #babcd6; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #babcd6 0%, #2f3270 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #babcd6 0%,#2f3270 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #babcd6 0%,#2f3270 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#babcd6', endColorstr='#2f3270',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow: 0 4px rgb(71, 45, 110), 0 3px 5px rgba(0,0,0,.4), inset 0 1px rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5);
  position: relative;
  overflow: hidden;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

details summary:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fa4923;
    opacity: 0;
    z-index: 1;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

details summary:after {
    content: "";
    display: block;
    width: 30px;
    height: 300px;
    margin-left: 60px;
    background: #fff;
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes slideme { 0% { left: -30px; margin-left: 0px; }
  30% { left: 110%; margin-left: 80px; }
  100% { left: 110%; margin-left: 80px; } }

details summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
  display: none;
}

details summary:hover:after, details[open] summary:after, details summary:hover:before, details[open] summary:before {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

table {
width: 990px;
position: relative;
margin: 10px auto;
}

tr {
display: flex;
}

td {
width: 300px;
display: flex;
align-items: flex-start;
justify-content: center;
padding: 15px;
}

td img {
max-height: 500px;
box-shadow: 0 3px 8px rgba(0,0,0,.5);
}

#footer {
height: 70px;
position: absolute;
bottom: 0;
}

/* Адаптивные дизайны для устройств */

@media screen and (max-width: 1100px) {

   #wall {
   height: 440px;
   }

   #hellobox {
   width: 1100px;
   height: 600px;
   }

   #hello {
   width: 450px;
   left: 100px;
   top: 40px;
   left: 70px;
   }

   h1 {
   font-size: 50px;
   }

   #about {
   top: 190px;
   width: 550px;
   left: 70px;
   }

   p {
   font-size: 18px;
   }

   #glass img {
   max-height: 450px;
   right: 80px;
   top: 60px;
   }

   #social {
   width: 550px;
   display: flex;
   position: absolute;
   top: 370px;
   left: 70px;
   }

   #social a {
   width: 160px;
   height: 45px;
   font-size: 18px;
   }

   #tg {
   	left: 180px;
   }

   #in {
   left: 360px;
   }

   details {
   top: 550px;
   }
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 480px) {

}
