@media screen and (max-width: 1000px) {

  :root {
    --pad1: 40px 70px;
    --pad2: 10px 70px;
  }

  h1 {
    font-size: 60px;
  }

  body.lock {
    overflow: hidden;
  }

  .hero_container {
    width: 100%;
  }

  .hero_links {
    flex-wrap: wrap;
  }

  .hero_links a {
    width: 50px;
  }

  .hero_links a span {
    display: none;
  }

}


@media screen and (max-width: 540px) {

  /* ===== Глобальный сброс для мобилок ===== */
html, body {
    overflow-x: hidden; /* ← убираем горизонтальный скролл */
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

  :root {
    --pad1: 20px 30px;
    --pad2: 10px 30px;
  }

  h1 {
    font-size: 40px;
  }

  #hero {
    align-items: flex-start;
  }

  .tabs-nav {
    margin-bottom: 5px;
  }

  .tabs-nav .tab-label,
  .tabs-nav .tab-label.active {
    flex-grow: 1;
    margin: 0;
    border-radius: 0;
  }

}