@font-face {
    font-family: 'Andale Mono';
    src: url('https://alexkolmar.github.io/fonts/Andale_Mono/AndaleMono.eot');
    src: url('https://alexkolmar.github.io/fonts/Andale_Mono/AndaleMono.eot?#iefix') format('embedded-opentype'),
        url('https://alexkolmar.github.io/fonts/Andale_Mono/AndaleMono.woff2') format('woff2'),
        url('https://alexkolmar.github.io/fonts/Andale_Mono/AndaleMono.woff') format('woff'),
        url('https://alexkolmar.github.io/fonts/Andale_Mono/AndaleMono.ttf') format('truetype'),
        url('https://alexkolmar.github.io/fonts/Andale_Mono/AndaleMono.svg#AndaleMono') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

