/* Мини-профиль с информацией */
.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0, 0, 0, .8);
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
}

.reveal-modal {
  visibility: hidden;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  position: absolute;
  z-index: 101;
}

.reveal-modal .close-reveal-modal {
  font-size: 22px;
  line-height: 22px;
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--gray-250);
  border-radius: 10px;
  padding: 5px;
  width: 26px;
  height: 26px;
  color: var(--gray-800);
  font-weight: normal;
  top: 0;
  transform: translateX(calc(100% + 5px));
  box-sizing: border-box;
  background: var(--gray-200);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
}

/* Личная страница
----------------------------------------------------------------------- */

 .pp {
  background: url(https://forumstatic.ru/files/0016/01/4e/24958.jpg) no-repeat top center;
  width: 862px;
  height: 660px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
 }

 .pp * {
  scrollbar-width: thin;
  scrollbar-color: var(--gray-800) var(--gray-400);
 }

 .pp_inner {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-between;
 }

.pp_profile {
 width: 180px;
 flex-shrink: 0;
}

.pp_ava {
  position: absolute;
  width: 180px;
  height: 80px;
}

.pp_ava img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.pp_info {
  min-height: 150px;
  position: relative;
  box-shadow: 1px 1px 3px 0 rgba(64, 64, 64, 0.1), 5px 4px 6px 0 rgba(64, 64, 64, 0.09), 11px 9px 8px 0 rgba(64, 64, 64, 0.05), 19px 16px 10px 0 rgba(64, 64, 64, 0.01), 29px 26px 11px 0 rgba(64, 64, 64, 0);
  background: var(--gray-200);
  top: 60px;
  border-radius: 10px;
 padding: 15px 0px;
}

.pp_name {
 font-family: var(--font-family);
 font-weight: 700;
 font-size: 13px;
 text-transform: lowercase;
 text-align: center;
 color: var(--gray-800);
 padding: 0 15px;
}

.pp_age {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  color: var(--gray-550);
  padding: 5px 15px 10px;
  text-align: center;
}

.pp ul {
  border-block: 1px dashed var(--gray-400);
  padding: 0 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pp ul span {
 font-family: var(--font-family);
 font-weight: 700;
 font-size: 8px;
 letter-spacing: 0.03em;
 color: var(--gray-800);
}

.pp ul p {
 font-family: var(--font-family);
 font-weight: 400;
 font-size: 10px;
 color: var(--gray-800);
}

.pp_links {
  padding: 10px 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pp_blog:before {
 content: "\e0bb";
 font-family: var(--fa);
 font-weight: 400;
}

.pp_blog {
  display: inline-flex;
  background: var(--gray-800);
  border-radius: 5px;
  padding: 2px 5px 3px 4px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 9px;
  color: var(--gray-200);
  gap: 3px;
}

.pp_tabs {
 flex-grow: 1;
  margin: 0 auto;
  width: fit-content;
  height: 600px;
}

.pp_tabs_inner {
  position: relative;
  width: 590px;
  height: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: var(--gray-250);
  box-shadow: inset 0 0 1px var(--gray-300);
  border-radius: 100px;
  box-sizing: border-box;
}

.pp_tab, .pp_tab-title {
  display: inline-flex;
  justify-content: center;
  width: 50%;
}

.pp_tab input[type="radio"] {
  display: none;
}

.pp_tab-title {
  padding: 5px 10px;
  cursor: pointer;
  line-height: 10px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  border-radius: 100px;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 8px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--gray-800);
}

.pp_tab-content {
  position: absolute;
  margin-top: 45px;
  left: 0;
  width: 100%;
  height: 558px;
  display: none;
  box-sizing: border-box;
}

.pp_tab :checked + .pp_tab-title {
  position: relative;
  background: var(--gray-800);
  color: var(--gray-200);
  z-index: 1;
}

.pp_tab :checked ~ .pp_tab-content {
  display: block;
}

.pp_property .content_inner {
  display: grid;
  grid-template-columns: 272px 298px;
  grid-template-rows: 242px 180px 100px;
  gap: 15px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "pp_planks pp_icons"
    "pp_gifts pp_gifts"
    "pp_coupons pp_coupons";
}

.content_inner > div {
  position: relative;
}

.content_inner > div > span {
  position: absolute;
  left: 20px;
  top: 0;
  background: var(--gray-800);
  border-radius: 3px;
  display: flex;
  padding: 1px 5px 3px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  color: var(--gray-200);
}

.pp_planks {
   grid-area: pp_planks; 
}

.pp_icons {
   grid-area: pp_icons; 
}

.pp_gifts { grid-area: pp_gifts; }

.pp_coupons { grid-area: pp_coupons; }

.pp_ic {
  margin-top: 6px;
  background: var(--gray-200);
  border: 1px solid var(--gray-300);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 25px 15px 20px 20px;
}

.icons_inner, .planks_inner {
  height: 236px;
}

.gifts_inner {
  height: 174px;
}

.coupons_inner {
  height: 100px;
}

.planks_inner .pp_scroll, .icons_inner .pp_scroll {
  overflow: auto;
  height: 190px;
}

.planks_inner > div > div {
  position: relative;
}

.planks_inner > div > div::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  height: 20px;
  width: 220px;
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 30% 70% 50% 50% / 0% 0% 100% 100%;
}

.icons_inner .pp_scroll {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.pp .infolink {
  border-radius: 10px;
  padding: 5px;
  width: 32px;
  height: 32px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09), 0 3px 2px 0 rgba(0, 0, 0, 0.05), 0 5px 2px 0 rgba(0, 0, 0, 0.01), 0 7px 2px 0 rgba(0, 0, 0, 0);
  background: var(--gray-250);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.pp .infolink img {
  max-width: 22px;
  max-height: 22px;
}

.pp_gift {
  border: 1px solid var(--gray-300);
  background: var(--gray-250);
  border-radius: 10px;
  padding: 5px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pp_gifts .pp_scroll {
  height: 134px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

.pp_gift img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.pp_coupons .pp_scroll {
  white-space: nowrap;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  height: 55px;
}

.pp_coupon {
  background: url(https://forumstatic.ru/files/0016/01/4e/47985.svg) no-repeat top center;
  width: 180px;
  height: 44px;
  display: inline-block;
  flex-shrink: 0;
  white-space: normal;
  box-sizing: border-box;
  padding: 6px 24px 6px 9px;
}

.pp_coupon p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  text-transform: lowercase;
  color: var(--gray-800);
  border: 1px dashed var(--gray-400);
  border-radius: 5px;
  width: 147px;
  height: 32px;
  padding: 3px 10px;
  box-sizing: border-box;
}

.pp_achievements .content_inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pp_events .pp_scroll {
  white-space: nowrap;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  height: 155px;
}

.pp_events .pp_card {
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 3px;
  width: 140px;
  height: 140px;
  box-shadow: inset 1px 1px 3px 0 rgba(255, 255, 255, 0.6), inset -1px -1px 2px 0 #000;
  background: #222;
  flex-shrink: 0;
}

.pp_events .pp_card.card_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-300);
  box-shadow: none;
  background: var(--gray-250);
}

.pp_events .card_empty .card_text {
  position: relative;
  width: auto;
  height: auto;
  white-space: normal;
}

.pp_events .pp_card img {
  border-radius: 18px 18px 5px 5px;
  height: 110px;
  width: 134px;
  object-fit: cover;
  object-position: top center;
}

.pp_events .pp_card:not(.card_empty)::before {
  content: "";
  background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.1) 15%, rgba(34, 34, 34, 0.7) 69.69%, rgba(34, 34, 34, 0.91) 85%, #222 100%);
  height: 56px;
  width: 134px;
  position: absolute;
  bottom: 27px;
  pointer-events: none;
}

.pp_events .pp_card:not(.card_empty)::after {
  content: "";
  backdrop-filter: blur(1px);
  height: 50px;
  width: 134px;
  position: absolute;
  bottom: 27px;
  left: 3px;
  pointer-events: none;
}

.card_text {
  position: absolute;
  width: 134px;
  text-align: center;
  bottom: 3px;
  height: 42px;
  z-index: 1;
}

.card_text span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 11px;
  font-variant: all-small-caps;
  text-align: center;
  color: var(--gray-200);
}

.card_text p, .pp_achieve p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 9px;
  text-align: center;
  color: var(--gray-550);
}

.card_empty .card_text p, .pp_achieve p {
  color: #7d7d7d;
}

.achieves_inner .pp_scroll {
  height: 280px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.pp_achieve {
  position: relative;
  display: inline-flex;
  border-radius: 15px;
  padding: 10px 2px 15px;
  width: 99px;
  height: 121px;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1), 2px 3px 3px 0 rgba(0, 0, 0, 0.09), 5px 6px 4px 0 rgba(0, 0, 0, 0.05), 8px 10px 5px 0 rgba(0, 0, 0, 0.01), 13px 16px 6px 0 rgba(0, 0, 0, 0);
  background: #d9d9d9;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pp_achieve.achieve_empty {
  border: 1px solid var(--gray-300);
  background: var(--gray-250);
  padding: 0px 10px;
  box-shadow: none;
  align-items: center;
  justify-content: center;
}

.pp_achieve:not(.achieve_empty)::before {
  content: "";
  background: url(https://forumstatic.ru/files/0016/01/4e/84953.png) no-repeat top center;
  position: absolute;
  width: 95px;
  height: 117px;
  top: 2px;
  left: 2px;
  mix-blend-mode: overlay;
}

.pp_achieve:not(.achieve_empty) span:before {
  content: "";
  background: url(https://forumstatic.ru/files/0016/01/4e/39168.png) no-repeat top center;
  position: absolute;
  mix-blend-mode: overlay;
  border-radius: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.pp_achieve span {
  border-radius: 100px;
  padding: 3px;
  box-shadow: 1px 1px 3px 0 rgba(123, 123, 123, 0.5), -1px -1px 8px 0 var(--white);
  background: #d4d4d4;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
  color: var(--gray-600);
  width: 80px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}

.pp_achieve > div {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97px;
  flex-shrink: 0;
  z-index: 2;
  margin-top: -5px;
}

.pp_achieve > div::before {
  content: "";
  background: url(https://forumstatic.ru/files/0016/01/4e/25786.svg) no-repeat center;
  width: 95px;
  height: 97px;
  display: block;
  position: absolute;
  opacity: .3;
  z-index: 2;
}

.pp_achieve > div img {
  z-index: 1;
}

.pp_achieve > div::after {
  content: "";
  background: url(https://forumstatic.ru/files/0016/01/4e/25786.svg) no-repeat center;
  width: 95px;
  height: 97px;
  display: block;
  position: absolute;
}

/* guestbook
---------------------------------- */

.gb {
  display: block;
  margin: 0 auto;
  background: url(https://forumstatic.ru/files/0016/01/4e/27450.png) no-repeat top center;
  width: 935px;
  height: 446px;
  box-sizing: border-box;
  padding: 156px 69px 50px;
}

.gb_inner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.gb_left {
  width: 180px;
}

.gb_left span {
  margin: 5px 0;
  display: block;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 13px;
  text-transform: lowercase;
  color: var(--gray-800);
}

.gb_left p {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 9px;
  color: var(--gray-550);
}

.gb_links {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
}

.gb_links a {
  display: inline-block;
  border-radius: 5px;
  padding: 1px 8px 3px 8px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15);
  background: var(--dusty-rose);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  color: var(--gray-200);
}

/* ------------------------------------- */


#form-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

#plng {
  white-space: nowrap;
  font-family: var(--font-family);
  color: var(--gray-800);
  width: 60px;
  display: block;
  flex-shrink: 0;
  text-align: right;
}

#plng b {
  font-weight: 600;
  font-size: 10px;
  margin-right: 2px;
}

#plng sup {
  font-weight: 700;
  font-size: 7px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: justify;
}


 /* Form Buttons © max, the murderer!
----------------------------------------------------------------------- */

/* General */

#form-buttons table {
    width: 100% !important;
}

#form-buttons table tr {
    display: flex;
    justify-content: space-between; /* выравнивание кнопок в ряду */
    gap: 4px;
    margin-bottom: 4px;
}

#form-buttons td {
    position: relative;
    background: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px; /* ширина кнопки */
    height: 24px; /* высота кнопки */
    margin-bottom: 4px;
}

#form-buttons td::before {
    font-family: 'Font Awesome 6 Pro';
    font-size: 12px; /* размер иконки */
    font-weight: 400; /* стиль иконки */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 1;
}

#form-buttons td:hover::before {
    color: red; /* цвет при наведении */
}


/* Icons */

#button-font::before {
    content: '\f031';
}

#button-size::before {
    content: '\f894';
}

#button-bold::before {
    content: '\f032';
}

#button-italic::before {
    content: '\f033';
}

#button-underline::before {
    content: '\f0cd';
}

#button-strike::before {
    content: '\f0cc';
}

#button-left::before {
    content: '\f036';
}

#button-right::before {
    content: '\f038';
}

#button-center::before {
    content: '\f037';
}

#button-link::before {
    content: '\f0c1';
}

#button-spoiler::before {
    content: '\f518';
}

#button-image::before {
    content: '\f302';
}

#button-video::before {
    content: '\f144';
}

#button-hide::before {
    content: '\f30d';
}

#button-quote::before {
    content: '\f27a';
}

#button-code::before {
    content: '\f121';
}

#button-color::before {
    content: '\f53f';
}

#button-table::before {
    content: '\f009';
}

#button-smile::before {
    content: '\f118';
}

#button-keyboard::before {
    content: '\f11c';
}

#button-addition::before {
    content: '\f0d7';
}

#button-files_rusff::before {
    content: '\f07b';
}

#button-graffiti_rusff::before {
    content: '\f5bd';
}


 /************************* 
Стиль для Быстрой смены аккаунтов 
Deff 
*************************/
 /*Cкрытие формы входа без клика*/
 #pun-navlinks a:not(.NextShow)+span.odd {
  display: none !important;
 }

 #pun-navlinks #New-exit img {
  position: absolute;
  margin: 0;
  width: 20px;
  height: auto;
  opacity: .79;
 }

 #pun-navlinks #New-exit:hover {
  opacity: .4;
 }

 /*Стиль доп-иконки Выход!*/
 .punbb #pun-navlinks a#New-exit {
  position: absolute;
  z-index: 100000 !important;
  margin-top: 6px !important;
  margin-left: 15px !important;
  float: none !important;
 }

 .punbb #pun-navlinks a#New-exit:before {
  content: none;
 }

.punbb #pun-navlinks #form-login input[type="submit"] {
  text-rendering: auto;
  color: #000000;
  text-transform: uppercase;
  text-shadow: none;
  display: inline-block !important;
  text-align: center;
  font: normal normal 400 11px/normal var(--font-family) !important;
  border: 1px solid var(--body-bg);
}

.punbb #pun-navlinks #form-login input[type=submit]:hover {
  background: var(--meat);
  color: var(--pun-bg);
}

 .punbb #pun-navlinks #form-login input[type="submit"] {
  cursor: pointer;
  font-weight: 400 !important;
  margin-top: 10px !important;
 }

 /*Стиль формы входа*/
.punbb #pun-navlinks #form-login {
  display: block;
  font: normal normal 400 11px/normal Tahoma;
  color: var(--meat);
  text-transform: none;
  position: absolute !important;
  left: 0px;
  top: 15px;
  z-index: 100000 !important;
  padding: 7px 12px;
  background: var(--sec-bg);
  border: 1px solid var(--body-bg);
  border-radius: 0 0 6px 6px;
  text-align: center;
}

 #pun-navlinks #navlogin #form-login {
  margin-left: -21px;
  /*Подвижки формы влево от вход*/
 }

 #pun-navlinks #navlogout #form-login {
  margin-left: -21px;
  /*Подвижки формы влево от выход*/
 }

 .ismoderator #pun-navlinks #navlogout #form-login {
  margin-left: -21px !important;
  /*Подвижки формы влево от выход для АМС*/
 }

 /*Стиль ссылок в форме "Не зарегистрированы" и "Забыли пароль" */
 #pun-navlinks #form-login input[value="Войти"]+p {
  margin-bottom: 11px;
  margin-top: 11px;
 }

 .punbb #pun-navlinks #form-login a.Rega,
 .punbb #pun-navlinks #form-login a.Forgot {
  position: relative;
  text-transform: none !important;
  z-index: 20;
  /*text-shadow:none;*/
  color: #EFF4F2 !important;
  cursor: pointer;
  font: normal normal 400 9.5px/normal Tahoma !important;
  letter-spacing: .5px !important;
 }

 .punbb #pun-navlinks #form-login a.Rega:before,
 .punbb #pun-navlinks #form-login a.Forgot:before {
  content: none;
 }

 /* Помечаем красным незаполненные поля!*/
 #form-login input.none {
  outline: red dashed 2px !important;
 }

 /*Форма слево(с Никами) */
#List-UserNames {
  position: absolute;
  margin-top: -8px;
  min-height: 90px;
  width: 220px;
  right: 100%;
  padding: 12px 19px 12px 17px;
  background: var(--sec-bg);
  border: 1px solid var(--body-bg);
  border-radius: 0 0 0px 6px;
  text-align: center;
}

 /*Стиль контейнера под список Ников*/
 .punbb #List-UserNames ul {
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  min-height: 36px;
  max-height: 72px;
  /*Видимое число Ников без прокрутки! сейчас - 4*/
 }

.punbb #List-UserNames li {
  display: block !important;
  position: relative;
  background: var(--salmon);
  text-align: left;
  font: normal normal 700 11px/normal Verdana !important;
  margin: 1px auto !important;
  padding: 2px 0 2px 5px;
  transition: .33s;
  border-radius: 5px;
}

 .punbb #List-UserNames li:hover {
  opacity: .84;
  /*background:#546a6b!important;*/
 }

 /*Стиль Ников*/
 .punbb #List-UserNames li>b {
  cursor: pointer;
  opacity: .9;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31);
 }

 .punbb #List-UserNames li>b:hover {
  opacity: .93;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
 }

 /*Скролл контейнера с никами*/
 #List-UserNames ul::-webkit-scrollbar {
  width: 7px;
  height: 5px;
 }

 #List-UserNames ul::-webkit-scrollbar-track {
  background-color: #919190;
  border: 1px solid #919190;
  box-shadow: none;
 }

 #List-UserNames ul::-webkit-scrollbar-thumb {
  background-color: #bdbdbc;
  border: 2px solid #888887;
  box-shadow: none;
 }

 /*Кнопки Удалить (правее ников)*/
 #List-UserNames ul li>span {
  display: inline-block;
  padding: 0 3px;
  position: absolute;
  opacity: .88;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 2px;
  color: #fff;
  font: normal normal 700 10.56px/normal Verdana;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
 }

 /*Текст при отсутствии запомненных Ников!*/
 #List-UserNames ul:empty:before {
  display: inline-block;
  content: "У Вас нет запомненных ников, введенных через форму справо, или через перенос ниже!";
 }

 /*Кнопка выход-2*/
 #navlogin #exit-2 {
  display: none;
 }

 #navlogin #form-login,
 #navlogout .Rega,
 #navlogout .Forgot {
  background-image: none !important;
  display: none;
 }

 /*Стиль блока с инпутом для переноса и вставки запомненных Аккаунтов*/
 #List-UserNames ul+span {
  display: inline-block;
  padding: 6px 0 8px 0;
  text-align: left;
  font: normal normal 400 10.56px/normal Verdana;
 }

 /*Сам инпут*/
 .punbb #List-UserNames input {
  margin-top: 9px;
  padding: 2px !important;
  vertical-align: middle;
 }

 /*Стрелочки к инпуту*/
 #List-UserNames ul+span b {
  font: normal normal 400 13px/normal Verdana;
  padding: 0 3px;
  color: var(--meat);
 }

 /*Кликалка слево, чуть выше инпута*/
 #List-UserNames .a1-copy {
  display: inline-block !important;
  cursor: pointer;
  float: left;
 }

 /*Кликалка справо*/
 #List-UserNames .a1-paste {
  cursor: pointer;
  display: inline-block !important;
  float: right;
 }

 /*Подсказки на кликалках*/
 .tipsy.a11 {
  font: normal normal 400 11px/normal Tahoma !important;
  margin-top: -22px !important;
  margin-left: 148px !important;
  max-width: 170px;
 }

 /************************* 
//Конец Стиля для Быстрой смены аккаунтов 
*************************/


/* Fast reputation */

body div.post-rating,
body div.post-vote {
    float: right;
    position: relative;
    line-height: initial;
    margin-left: var(--8);
}
body div.post-rating p,
body div.post-vote p {
    float: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
div .post-rating p > a {
  top: 1px;
  left: 0;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: 11px !important;
  font-weight: 400;
  line-height: 127%;
  color: var(--gray-800);
}
div.post-vote p > a {
    font-size: 0 !important;
}
div .post-rating p::before, div .post-vote p a::before {
  margin-right: 5px;
  content: '\e87d';
  font-family: var(--msr);
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: var(--gray-300);
  transition: all .2s linear 0s;
  cursor: pointer;
}
div .post-vote p a::before {
  content: '';
  background: url(https://forumstatic.ru/files/0016/01/4e/34044.svg) no-repeat center/20px;
  width: 24px;
  height: 24px;
  display: block;
}
div .post-rating p:hover:before,
div .post-vote p:hover a:before {
   color: var(--salmon);
}
div .post-rating p:hover > a,
div .mylike .post-rating p > a {

}
div .mylike .post-rating p::before {
  color: var(--salmon);
}
.post[data-group-id="3"] .post-rating {
    display: none;
}
.isguest .post .post-rating {
    pointer-events: none;
}