@font-face {
    font-family: 'Lombardina One';
    src: url('https://alexkolmar.github.io/fonts/LombardinaOne/LombardinaOne.eot');
    src: local('Lombardina One Roman'), local('LombardinaOne-Roman'),
        url('https://alexkolmar.github.io/fonts/LombardinaOne/LombardinaOne.eot?#iefix') format('embedded-opentype'),
        url('https://alexkolmar.github.io/fonts/LombardinaOne/LombardinaOne.woff2') format('woff2'),
        url('https://alexkolmar.github.io/fonts/LombardinaOne/LombardinaOne.woff') format('woff'),
        url('https://alexkolmar.github.io/fonts/LombardinaOne/LombardinaOne.ttf') format('truetype'),
        url('https://alexkolmar.github.io/fonts/LombardinaOne/LombardinaOne.svg#LombardinaOne') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}