@import url(style_cs.css);

/* Иконический шрифт */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');

/* a_AvanteBs */
@import url('https://alexkolmar.github.io/fonts/a_AvanteBs/stylesheet.css');

@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');


/****************************************
Чистый стиль by Alex Kolmar (бродяга)
****************************************/

/* Полезные сервисные настройки
-------------------------------------------------------------*/

.acchide,
#pun-index #pun-main h1,
#pun-navlinks h2,
#pun-pagelinks h2,
#pun-status h2,
#pun-ulinks h2,
.punbb .forum h2,
.punbb .multipage .topic h2,
.punbb dl.post-sig dt span,
.punbb p.crumbs strong,
.punbb .divider hr,
.punbb .required label em,
.punbb .formsubmit label,
.punbb .submitfield label,
.punbb .modmenu label,
#pun-userlist .main h2 {
  font-size: 0;
  height: 0;
  width: 0;
  line-height: 0.0;
  position: absolute;
  left: -9999px;
  overflow: hidden;
}

#pun:after,
.punbb .container:after,
.punbb .post-links ul:after,
.punbb .main div.inline:after,
.punbb .post-box:after,
.punbb .linksb:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  line-height: 0.0;
  font-size: 0;
}


/* Основные переменные
------------------------------------------*/

:root {
  --body-bg: #2b1f10;
  --pun-bg: #fffcf0;
  --sec-bg: #cca933;
  --tbg: rgba(168, 123, 10, 15%);
  --bg2: #e7e3e1;
  --ltx: #e0dcd9;
  --mtx: #7c6954;
  --pale: #958772;
  --brown: #54392a;
  --link: #503411;
  --link-hover: #958772;
  --link2: #845708;
  --scb: rgba(204, 169, 51, 25%);
  --border: 1px solid #755f46;
  --pwidth: 200px;
  --pad1: 10px 30px;
  --pad2: 5px 30px;
  --pad3: 5px 10px;
  --aab: "a_AvanteBs";
}

/* Global
------------------------------------------*/

/* Применяется ко всем элементам */

* {
  margin: 0;
  padding: 0;
  border: none;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--bg2) var(--scb);
}

/* прокрутка хром etc */

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background-color: var(--sec-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--link);
}

*::-webkit-scrollbar-thumb:active {
  background: var(--link-hover);
}

/* выделение текста */

::selection {
  background: var(--link);
  color: var(--pun-bg);
}

:focus {
  outline: none;
}

/* все ссылки */

a,
.punbb #pun-admain a {
  text-decoration: none;
  color: var(--link);
  transition: all .2s linear 0s;
}

a:hover,
.punbb #pun-admain a:hover {
  color: var(--link-hover);
}

/* все заголовки */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
  margin: 0;
}

h1,
h2 {
  padding: 10px 20px;
  font-weight: normal;
  text-align: center;
}

ul,
dl,
li,
dd,
dt {
  list-style: none;
}

address,
em {
  font-style: normal;
}

/* выключить список модераторов, отредактировано etc */

.modlist,
.lastedit,
.punbb div#pun-live-rusff,
.punbb .topic a.sharelink {
  display: none;
}

/* модальные окна, репутация, закладки etc */

#tags .container,
.post_report,
.post_reputation,
#MyBookmarks,
.inner.popup_graffiti,
.pun-modal .modal-inner,
.punbb-admin #pun-admin-award-form .inner {
  background: var(--sec-bg);
}

/* Формы
------------------------------------------- */

/* ОФОРМЛЕНИЕ КНОПОК */

input.button,
#pun-admain input.button,
#sub4,
input[type="button"],
input[type="submit"] {
  padding: 2px 10px;
  border: 1px solid currentColor;
  cursor: pointer;
  transition: all .2s linear 0s;
}

input.button:hover,
#pun-admain input.button:hover,
#sub4:hover,
input[type="button"]:hover,
input[type="submit"]:hover {}

/* ОФОРМЛЕНИЕ ПОЛЕЙ ВВОДА */

input[type="text"],
input[type="password"],
textarea,
select {
  padding: 2px 5px;
  border: 1px solid var(--link-hover);
}

textarea,
input,
select,
optgroup {
  font-size: 14px;
}

optgroup {
  font-weight: bold;
}

/* флажки и чекбоксы */

.checkfield input[type="checkbox"],
.radiofield input[type="radio"] {
  margin: 0 3px;
}

p[class="checkfield"] *,
div[class="checkfield"] *,
fieldset[class="radiofield"] * {
  height: 20px;
  vertical-align: middle;
}

.formal .container {
  padding: var(--pad1);
}

.formsubmit {
  padding: 0;
  margin: 10px 0 0 0;
}

.formsubmit input,
.formsubmit a,
.formsubmit span {
  margin: 0 6px 0 0;
}

fieldset {
  border: none;
}

fieldset legend {
  font-weight: bold;
}

fieldset fieldset {
  border: none;
  margin: 0;
  padding: 0 0 8px 0
}

.fs-box {
  padding: 5px 0;
}

.fs-box p,
.fs-box fieldset {
  padding: 0 0 8px 0;
}

.inline .inputfield,
.inline .selectfield,
.inline .passfield {
  float: left;
  margin-right: 10px;
}

.inline .infofield {
  clear: both
}

.datafield br {
  display: none
}

.required label,
.datafield span.input {
  font-size: 10px;
}

textarea,
.longinput input {
  width: 64%;
  margin: 0;
}

.hashelp {
  position: relative;
}


/* Админка
------------------------------------------*/

.punbb-admin .adminmain {
  padding: 0 20px 0 200px;
}

.punbb-admin #pun-adnav {
  width: 180px;
  margin-left: -180px;
}

.punbb-admin .adcontainer,
.punbb-admin .adformal {
  border: none;
}


/* Тело форума
------------------------------------------*/

/* фон */

html {
  background: var(--body-bg) url(https://forumstatic.ru/files/0010/ed/c4/65993.jpg) repeat top center;
}

/* тело */

#pun {
  margin: 350px auto 30px;
  width: 992px;
  background: url(https://forumstatic.ru/files/0010/ed/c4/41950.png) no-repeat top center, url(https://forumstatic.ru/files/0010/ed/c4/48023.png) no-repeat bottom center, url(https://forumstatic.ru/files/0010/ed/c4/39452.jpg) repeat-y top center var(--pun-bg);
}

/* внутреннее тело */

.punbb {
  font: 12px var(--aab), Arial, Verdana, sans-serif;
}

/* настройки внутренних блоков */

.punbb > div .container {
  padding: var(--pad1);
}

/* Навигационные ссылки */

#pun-navlinks {
  position: absolute;
  top: 262px;
  width: 992px;
}

#pun-navlinks .container {
  text-align: center;
}

#pun-navlinks li {
  padding: 0 5px;
  display: inline;
}

#pun-navlinks li a {
  font-size: 18px;
  color: var(--ltx);
  line-height: 20px;
}

#pun-navlinks li a:hover {
  color: var(--link-hover);
}

/* Пользовательские ссылки */

#pun-ulinks {
  position: absolute;
  top: 302px;
  width: 992px;
}

#pun-ulinks .container {
  text-align: center;
  padding: 0 35px;
  width: fit-content;
  margin: 0 auto;
  background: var(--bg2);
}

#pun-ulinks li {
  padding: 0 2px;
  display: inline;
}

#pun-ulinks li a {
  font-size: 15px;
  line-height: 19px;
}


/* Статус */

#pun-status {
  position: absolute;
  top: 322px;
  width: 992px;
  font-size: 15px;
  color: var(--pale);
  line-height: 1.2;
}

#pun-status .container {
  padding: var(--pad2);
}

#pun-status span {
  white-space: nowrap;
  margin-right: 5px;
}

#pun-status a {
  color: var(--link-hover);
}

#pun-status a:hover {
  color: var(--ltx);
}

#pun-crumbs1 .container {
  padding: 30px 30px 0;
}

.crumbs.container {
  font-size: 15px;
}

/* Копирайт */

#pun-about {
  margin-bottom: 20px;
}

#pun-about .container {
  text-align: center;
}


/* Главная форумная таблица
------------------------------------------*/

.main table {
  table-layout: fixed;
  width: 100%;
}

.main th {
  padding: 5px 10px;
}

.main td {
  padding: 10px;
}

.tcl {
  width: 50%;
}

.tc2,
.tc3,
.tcmod {
  text-align: center;
  width: 10%;
}

.tcr {
  width: 30%;
}

#pun-searchtopics .tcl,
#pun-modviewforum .tcl {
  width: 40%
}

#pun-searchtopics .tc2 {
  text-align: left;
  width: 20%;
}

.punbb #pun-main #subforums {
  padding: var(--pad1);
  box-sizing: border-box;
}

#pun-debug table .tcl {
  width: 15%;
}

#pun-debug .tcr {
  width: 90%;
}

tbody.hasicon td.tcl {
  padding-left: 40px;
}

/* аватар */

#pun-index td .user-avatar {
  margin: 5px 10px 10px 0;
}

.punbb td .user-avatar .avatar-image {
  border-radius: 0;
  height: 35px;
  width: 35px;
  border: var(--border);
}

/* Иконки */

div.icon {
  position: absolute;
  margin-left: -35px;
  width: 28px;
  height: 29px;
  background: url(https://forumstatic.ru/files/0010/ed/c4/36215.png) no-repeat top center;
}

tr.inew div.icon {
  background: url(https://forumstatic.ru/files/0010/ed/c4/88432.png) no-repeat top center;
}

tr.isticky div.icon {
  background: url(https://forumstatic.ru/files/0010/ed/c4/57632.png) no-repeat top center;
}

tr.iclosed div.icon {
  background: var() url(https://forumstatic.ru/files/0010/ed/c4/36215.png) no-repeat top center;
}

#pun-index div.icon {
  top: 6px;
}

/* Пагинация (Переключаемые страницы, Новая тема + Опрос, Подписка)
--------------------------------------------------------------------------------------------------- */

.multipage {
  margin-top: 10px;
}

.linkst {
  position: relative;
  padding: var(--pad2);
  display: flex;
  justify-content: space-between;
}

.linkst .pagelink {}

.linkst .postlink {
  text-align: right;
}

.linksb {
  position: relative;
  padding: var(--pad2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linksb .pagelink {
  order: -1;
}

.subscribelink {
  width: 100%;
  text-align: right;
}

.linksb noindex {
  order: 1;
}

.linksb .postlink {
  margin-left: auto;
  text-align: right;
}

/* Модераторское меню, RSS, Atom */

.modmenu .container {
  padding: var(--pad3);
  text-align: right;
}

.modmenu .container strong {
  float: left;
}

.modmenu input {
  margin-left: 10px;
}

/* Главная
------------------------------------------*/

/* скрыть "форум, тем, сообщений" */

#pun-index thead, #pun-index .tc2, #pun-index .tc3 {
  display: none;
}

/* категория */

#pun-index .category {}

/* заголовок категории */

#pun-index .category h2, #pun-stats h2 {
  margin: -15px 0;
  background: url(https://forumstatic.ru/files/0010/ed/c4/31056.png) no-repeat top center;
  height: 117px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pun-index h2 span, #pun-stats h2 span {
  display: none;
}

#pun-index .main td {
  vertical-align: top;
}

#pun-index .hasicon td.tcl {
  padding: 10px 20px 10px 30px;
  position: relative;
  box-sizing: border-box;
}

#pun-index .subforums {
  margin: 10px 0;
  font-size: 16px;
}

#pun-index .intd {
  border: var(--border);
  padding: 5px 20px 10px;
  background: var(--tbg);
  min-height: 30px;
  font-size: 14px;
}

#pun-index .tcl h3 {
  font-size: 18px;
  font-family: "Book Antiqua";
  font-weight: bold;
}

#pun-index .tcl .links {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
  margin-top: 10px;
  font-size: 17px;
}

#pun-index .tcl .links a {
  color: var(--mtx);
}

#pun-index .tcl .links a:hover {
  color: var(--link2);
}

#pun-index .tcr {
  width: 40%;
}

#pun-index .tcr .lastpost-link {
  font-size: 18px;
  font-family: "Book Antiqua";
}

#pun-index .tcr .lastpost {
  font-size: 16px;
  color: var(--mtx);
}

/* Статистика */

#pun-stats {
  font-size: 15px;
}

/* заголовок статистики */

#pun-stats h2 {
}

/* всего тем, всего сообщений */

#pun-stats li.item1,
#pun-stats li.item2 {
  float: left;
  clear: both;
}

/* зарегистрированных, последний зарегистрировавшийся */

#pun-stats li.item3,
#pun-stats li.item4 {
  text-align: right;
}

/* активны, посетили за сутки */

li#onlinelist {
  margin-top: 10px;
  text-align: justify;
}

/* Шапка
------------------------------------------*/

#pun-title {
  background: url(https://forumstatic.ru/files/0010/ed/c4/79404.png) no-repeat top center;
  height: 232px;
  width: 992px;
  position: absolute;
  top: 30px;
}

/* скрыть заголовок в шаке */

#pun-title .title-logo {
  display: none;
}

/* содержимое шапки в html-верх */

#html-header {
  height: 232px;
  width: 992px;
  position: absolute;
  top: 30px;
  z-index: 1;
}

.tablica {
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: var(--brown);
}

.tab_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab_news {
    border: var(--border);
    padding: 10px 15px;
    background: var(--tbg);
    width: 416px;
    height: 86px;
    box-sizing: border-box;
    overflow: auto;
}

.tab_news span {
    font-size: 18px;
    font-family: var(--aab);
    color: #4e3223;
}

.tab_faces {
    display: flex;
    justify-content: space-between;
}

.tab_faces > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab_faces span {
    font-size: 14px;
    color: var(--link);
}

.faces_block {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.faces_block a {
    background-color: rgba(89, 65, 22, 0.25);
    border: var(--border);
    width: 43px;
    height: 43px;
    box-sizing: border-box;
    display: block;
}

.faces_block a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: sepia(100%);
    opacity: .7;
    transition: all .2s linear 0s;
}

.faces_block a:hover img {
    filter: none;
    opacity: 1;
}

.tab_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.tab_rate, .tab_genre {
    font-size: 14px;
    font-family: "arial";
    font-weight: bold;
}

.tab_logo {
    align-self: flex-start;
}

.logo_top {
    font-size: 60px;
    font-family: "Sawarabi Mincho", serif;
    text-transform: uppercase;
}

.logo_bottom {
    font-size: 26px;
    font-family: "Perpetua Titling MT";
}

/* Объявление
------------------------------------------*/

#pun-announcement {}

/* скрываем слово "объявление" */

#pun-announcement h2 {
  display: none;
}


/* Футер
------------------------------------------*/

#html-footer {}

#html-footer .container {padding: 0;}

/* баннеры */

.banners {
  width: 992px;
  background: url(https://forumstatic.ru/files/0010/ed/c4/41950.png) no-repeat top center, url(https://forumstatic.ru/files/0010/ed/c4/48023.png) no-repeat bottom center, url(https://forumstatic.ru/files/0010/ed/c4/39452.jpg) repeat-y top center var(--pun-bg);
  position: absolute;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 25px;
}

.banners .container {
  height: 65px;
  overflow: auto;
  scrollbar-color: var(--bg2) var(--scb);
}

.banners a {
  opacity: .7;
}

.banners a:hover {
  opacity: 1;
}


/* Топик
------------------------------------------*/

.post {
  margin-top: 10px;
}

.toppost,
.topicpost {
  margin-top: 0;
}

.post .container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 10px 0;
}

/* дата и номер поста */

.post h3 {}

.post h3 span {
  padding: var(--pad2);
  display: block;
}

/* номер поста */

.post h3 strong {
  float: right;
  text-align: right;
  font-weight: normal;
}

/* Автор */

.post-author {
  width: var(--pwidth);
  text-align: center;
  box-sizing: border-box;
  border: var(--border);
  background: var(--tbg);
  color: var(--brown);
}

.post-author ul {
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 5px;
}

.post-author ul li {
  width: 100%;
}

.pa-author {
  font-size: 13px;
  font-family: "Book Antiqua";
}

.pa-author a {
  color: var(--brown);
}

.pa-title {
  margin-bottom: 5px;
  font-size: 13px;
  font-family: "Book Antiqua";
  color: #86745f;
}

.pa-avatar {
  margin-bottom: 5px;
}

.pa-avatar img {
  border: var(--border);
  box-shadow: 0 0 0 1px #ebe2c9;
  outline: 1px solid #8e6f45;
  outline-offset: 1px;
  border-radius: 1px;
}

.lz {
  color: var(--brown);
  padding: 0 5px;
  margin-bottom: 10px;
  text-align: justify;
  font-size: 12px;
}

.lz .name {
  font-family: "Book Antiqua";
  text-align: left;
  display: block;
}

.lz p {
  letter-spacing: -.4px;
}

.lz::after {
  content: "";
  display: block;
  width: 160px;
  height: 1px;
  background: var(--brown);
  margin: 10px auto 0;
}

.pa-posts,
.pa-fld2,
.pa-respect,
.pa-awards {
  display: inline-block;
  width: 40px !important;
}

.pa-awards {
  color: transparent;
}

.pa-awards span {
  color: var(--brown);
  margin-left: -7px;
}

.pa-posts .fld-name, .pa-fld2 .fld-name, .pa-respect .fld-name a, .gid3 .pa-respect .fld-name, .pa-awards a {
  font-size: 0;
  display: block;
  width: 31px;
  height: 27px;
  margin: 0 auto 5px;
}

.pa-posts .fld-name {
  background: url(https://forumstatic.ru/files/0010/ed/c4/73258.png) no-repeat bottom center;
}

.pa-fld2 .fld-name {
  background: url(https://forumstatic.ru/files/0010/ed/c4/39212.png) no-repeat bottom center;
}

.pa-respect .fld-name a, .gid3 .pa-respect .fld-name {
  background: url(https://forumstatic.ru/files/0010/ed/c4/25227.png) no-repeat bottom center;
}

.pa-awards a {
  background: url(https://forumstatic.ru/files/0010/ed/c4/45560.png) no-repeat bottom center;
}

.pa-online,
.pa-last-visit {
  margin-top: 10px;
  order: 1;
}

.pa-online strong {
  font-weight: normal;
}


/* Тело поста */

.post-body {
  width: calc(100% - var(--pwidth));
}

.post-box {
  padding: 10px 20px 10px 30px;
}

.post-links {
  margin-left: var(--pwidth);
  width: 100%;
}

.post-links ul {
  padding: 0;
  margin-left: calc(var(--pwidth) * -1);
  text-align: right;
}

.post-links li {
  display: inline;
}

.post-links li:not(:first-of-type) {
  padding-left: 10px;
}

.pl-email,
.pl-website {
  float: left;
}

.clearer {
  clear: both;
  height: 0;
  font-size: 0;
}


/* Контент поста - цитата, спойлер, таблицы и т.п. */

.punbb .post td {
  border: 0px transparent !important;
}

pre {
  font: 12px/140% monaco, "bitstream vera sans mono", "courier new", courier, monospace;
}

.post-content em {
  font-style: italic;
}

.post .post-content td {
  border-width: 0px !important;
}

.post-content em.bbuline {
  font-style: normal;
  text-decoration: underline;
}

.post-content p {
  margin: 0;
  padding: 0 0 12px 0;
  line-height: 150%;
  text-align: justify;
}

.post-content img {
  vertical-align: middle;
}

.scrollbox {
  width: 100%;
  overflow: auto;
  max-height: 200px;
}

/* цитата и код */

.quote-box,
.code-box {
  margin: 4px 10px 10px;
  padding: 5px;
  border: 1px solid var(--link-hover);
  background: var(--sec-bg);
}

.quote-box cite {
  display: block;
  padding-bottom: 5px;
  font-weight: bold;
  font-style: normal;
}

.code-box strong.legend {
  display: block;
  padding-bottom: 5px;
  font-weight: bold;
  font-style: normal;
}

.post-sig dt {
  border-bottom: 1px solid var(--link-hover);
  width: 300px;
  margin: 10px auto;
}

/* Форма ответа */

#main-reply {
  box-sizing: border-box;
}

#tags {
  position: relative;
}

#tags .container {
  padding: var(--pad3) !important;
  top: 0 !important;
}


/* Профиль + ЛС
------------------------------------------*/

#profile .container {
  padding-left: 200px;
  min-height: 100px;
}

#profilenav {
  float: left;
  width: 180px;
  margin-left: -180px;
}

#viewprofile h2,
#profilenav h2 {
  padding: 0;
  margin: 0;
}

#profilenav li {
  padding: 0 0 5px;
}

#viewprofile li {
  padding: 5px 0;
}

#profile-right li {
  display: flex;
}

#profile-right li span {
  width: 150px;
  flex-shrink: 0;
}

#profile-left li strong, #profile-right li strong {
  font-weight: normal !important;
}

img.avatardemo {
  float: right;
  margin: 0 0 8px 18px;
}

#pun-messages .clearer {
  display: none;
}

/* Прочие страницы
------------------------------------------*/

/* Список пользователей */

#pun-userlist .formal,
#pun-userlist .formal .container {
  margin-bottom: 0;
}

#pun-userlist .tc2 {
  text-align: left;
  width: 20%;
}

#pun-userlist .tcl {
  width: 40%
}

.usertable .container {}

/* Собщения об ошибках */

.info .container {
  padding: var(--pad3);
}

.info .container .backlink {
  padding-top: 8px;
}

/* Регистрация */

.info-box {
  margin: 0 0 10px 0;
}

.info-box * {
  padding: 0 0 5px 0;
}

.info-box .legend {
  font-weight: bold;
}

.jGrowl-notification .jGrowl-close {
  position: relative;
  right: 6px;
}

/* Кнопки вверх-вниз
-------------------------------------------------------*/

.go-up,
.go-down {
  cursor: pointer;
  opacity: .5;
  z-index: 9999;
  display: none;
  position: fixed;
  margin-left: 1000px !important;
  box-sizing: border-box;
  transition: all .3s linear 0s;
}

.go-up {
  top: 260px;
}

.go-down {
  top: 320px;
}

.go-down:hover,
.go-up:hover {
  opacity: 1;
}