@import url(style_cs.css);

/* Иконический шрифт */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://alexkolmar.github.io/fonts/VNI-HLThuphap/stylesheet.css');

/* Полезные сервисные настройки
-------------------------------------------------------------*/

.acchide,
#pun-index #pun-main h1,
#pun-navlinks h2,
#pun-pagelinks h2,
#pun-status h2,
#pun-ulinks h2,
.punbb .forum h2,
.punbb .multipage .topic h2,
.punbb dl.post-sig dt span,
.punbb p.crumbs strong,
.punbb .divider hr,
.punbb .required label em,
.punbb .formsubmit label,
.punbb .submitfield label,
.punbb .modmenu label,
#pun-userlist .main h2 {
  font-size: 0;
  height: 0;
  width: 0;
  line-height: 0.0;
  position:absolute;
  left: -9999px;
  overflow: hidden;
}

#pun:after,
.punbb .container:after,
.punbb .post-links ul:after,
.punbb .main div.inline:after,
.punbb .post-box:after,
.punbb .linksb:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  overflow:hidden;
  line-height: 0.0;
  font-size: 0;
}


/* Основные переменные
------------------------------------------*/

:root {
  --body-bg: #1f1f1f;
  --sec-bg: #ece3d8;
  --link: #aea19b;
  --link2: #8c827d;
  --link-hover: #fff;
  --text: #aaa195;
  --text2: #ffefd9;
  --padding: 10px 20px;
  --mpad: 5px 10px;
  --bigpad: 10px 74px;
  --vni: 'VNI-HLThuphap';
}


/*****************************
---------- МОБИЛЬНЫЙ СТИЛЬ ----------
*****************************/

@media screen and (max-width: 540px) {

  * {
  float: none !important;
  box-sizing: border-box;
  }

body::before {
  background: var(--body-bg);
  }
  
  #pun {
  width: 100%;
  padding: 10px 0;
  border-image: url(https://forumstatic.ru/files/001c/09/2b/18440.png) 20/20px repeat;
  -moz-border-image: url(https://forumstatic.ru/files/001c/09/2b/18440.png) 20/20px repeat;
  -webkit-border-image: url(https://forumstatic.ru/files/001c/09/2b/18440.png) 20/20px repeat;
  -o-border-image: url(https://forumstatic.ru/files/001c/09/2b/18440.png) 20/20px repeat;
}
  
  .punbb {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  font: 100%/150% sans-serif;
  }

  /* Порядок основных блоков */
  
  #html-header {order: initial;}
  #pun-title {order: initial;}
  #pun-navlinks {order: -1;}
  #pun-ulinks {order: initial;}
  #pun-status {order: initial;}
  #pun-crumbs1 {order: initial;}
  #pun-main {order: initial;}
  #pun-stats {order: initial;}
  #pun-crumbs2 {order: initial;}
  #pun-about {order: initial;}
  #html-footer {order: initial;}

  /* Основные настройки содержимого*/
  
  .punbb > div .container {
    padding: 5px 25px !important;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }
  
  /* Поля ввода*/
  
  input[type="text"], input[type="password"], textarea, select {
    max-width: 100%;
  }

  /* Шапка
  -------------------------------------------------------------*/
  
  #pun-title {
    min-height: 50px;
    background: url(https://forumstatic.ru/files/001c/09/2b/74492.jpg) no-repeat top center/auto 100%;
    width: 100%;
  }

  .tablica {
    background: url(https://forumstatic.ru/files/001c/09/2b/57690.jpg) no-repeat top center/auto 100%;
    width: 100%;
}

  .drag {
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: var(--text);
  }

  /* Меню навигации
  -------------------------------------------------------------*/
  
  
  #pun-navlinks {
  /*  position: fixed; */
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
  }
  
  #pun-navlinks .container {
    padding: 0 !important;
    height: auto;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    gap: 5px;
  }
  
  #pun-navlinks li {
    display: block;
    padding: 5px;
  }
  
  #pun-navlinks li a {
    font-size: 0;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    position: relative;
  }
  
  #pun-navlinks li a:after, #pun-ulinks:after  {
    content: "";
    font: normal 36px/100% 'Material Icons Outlined';
  }
  
  #pun-navlinks li#navindex a:after {content: "\e88a";}
  #pun-navlinks li#navuserlist a:after {content: "\f233";}
  #pun-navlinks li#navsearch a:after {content: "\e8b6";}
  #pun-navlinks li#navprofile a:after {content: "\e853";}
  #pun-navlinks li#navpm a:after {content: "\e0be";}
  #pun-navlinks li#navadmin a:after {content: "\e8b8";}
  #pun-navlinks li#navlogout a:after {content: "\e9ba";}
  #pun-navlinks li#navlogin a:after {content: "\ea77";}
  #pun-navlinks li#navregister a:after {content: "\e7fe";}
  #pun-navlinks li#navpr a:after {content: "\ef49";}
  #pun-navlinks li#navawards a:after {content: "\ea23";}
  #pun-navlinks li#navrules a:after {content: "\e85f";}
  
  #pun-navlinks li#navpm a span[data-last-unread]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: block;
    animation: blinkColor 2s linear infinite;
    -moz-animation: blinkColor 2s linear infinite;
    -webkit-animation: blinkColor 2s linear infinite;
    background: gainsboro;
  }

  /* Меню пользовательских ссылок
  -------------------------------------------------------------*/
  
  #pun-ulinks {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 20px 0 auto;
    position: relative;
    border: none;
    z-index: 90;
  }
  
  #pun-ulinks:after {
    content: "\e5d2";
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font: normal 48px/50px 'Material Icons Outlined';
    text-align: center;
    cursor: pointer;
  }
  
  #pun-ulinks .container {
      padding: 0;
      margin: 0;
      height: auto;
      border: none ;
      text-align: left;
      background: #dfd1bf;
      z-index: 101;
  }
  
  #pun-ulinks ul {
      padding: 0 !important;
      display: none;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
      z-index: 100;
      position: absolute;
      top: 50px;
      right: 0;
  }
  
  #pun-ulinks:hover ul, #pun-ulinks:focus ul {
      display: block;
  }
  
  #pun-ulinks li {
    padding: 0 !important;
    display: block !important;
    white-space: nowrap;
  }
  
  #pun-ulinks li a {
      display: block;
      border: none;
      font: normal 16px/200% sans-serif !important;
      padding: 0 15px !important;
      color: #000;
      text-decoration: none !important;
  }
  
  #pun-ulinks li a:hover {
      background: #dfd1bf;
  }
  
  #pun-ulinks > span.notify-bubble {display: block !important;}

  /* Статус и путь
  -------------------------------------------------------------*/
  
  #pun-status .container {
    text-align: right;
    justify-content: center;
    font-size: 12px;
  }
  
  .punbb .container.crumbs {
    margin: 0 20px;
    display: block;
  }

  /* Главная форумная таблица
  -------------------------------------------------------------*/

  .punbb #pun-stats, .punbb .category .container, #pun-respect table, .punbb .forum .container {
    margin: 0 20px;
    padding: 0 10px !important;
  }
  
  /* Заголовки */
  .punbb h1, .punbb h2 {
  width: initial !important;
  }

  #pun-index .category h2 {
    background: none;
    padding: var(--padding);
    font-family: var(--vni);
    height: auto;
    margin-top: 20px;
  }
  
  .punbb h1 span, .punbb h2 span {
    font-size: 20px;
  }

  #pun-index .category h2 span {
    display: block;
    font-size: 24px;
  }

  #spo_all .category h2 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .punbb thead {display: none;}
  
  .punbb .main .hasicon, .punbb .main tr {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }
  
  .punbb .main tr {padding: 5px 0;}
  
  .punbb .main .hasicon tr:not(:last-of-type) {
    box-shadow: 0 1px #6c4415;
  }
  
  .punbb .main td {padding: 5px 10px;}
  
  .punbb .main .tcl, .punbb .main .tcr, #pun-searchtopics .main .tcl, #pun-modviewforum .main .tcl {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 0 !important;
  }
  
  .punbb .main .intd {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    gap: 10px;
  }
  
  .punbb .tclcon {
  flex-grow: 1;
  margin: 0 !important;
  }
  
  .punbb div.icon {
    position: relative;
    flex-shrink: 0;
  }
  
  .punbb .main .tc2, .punbb .main .tc3, #pun-searchtopics .main .tc2, #pun-searchtopics .main .tc3 {
  text-align: left;
  width: auto;
  }
  
  .punbb .main .tc2:before, .punbb .main .tc3:before {
  content: "";
  }
  
  #pun-index .main .tc2:before {content: "Тем: ";}
  #pun-index .main .tc3:before {content: "Сообщений: ";}
  
  #pun-viewforum .main .tc2:before, #pun-searchtopics .main .tc3:before {content: "Ответов: ";}
  #pun-viewforum .main .tc3:before {content: "Просмотров: ";}
  
  #pun-searchtopics .main .tc2:before {content: "Форум: ";}
  
  .punbb .main .tcr {position: relative;}
  
  .punbb .tcr .user-avatar {
    margin: 0 10px;
    height: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .punbb .tcr > a, .punbb .tcr .lastpost, .punbb .tcr > .byuser {
    width: calc(100% - 60px);
    text-align: right;
  }
  
  .punbb .user-avatar .avatar-image {
    display: flex;
    display: -webkit-flex;
  }
  
  /* Статистика
  -------------------------------------------------------------*/

#pun-stats h2 {
  display: none;
}
  
  .punbb #pun-stats .container {
    justify-content: right;
    padding: 10px 0 !important;
  }
  
  .punbb #pun-stats .container li:not(#onlinelist) {
  width: 100%;
  text-align: right;
  }

  /* Форумный копирайт
  -------------------------------------------------------------*/

#pun-about .container {
  justify-content: center;
}

  
  /* Темы и страницы
  -------------------------------------------------------------*/
  
  /* Верхние ссылки в топике и списках тем */
  .punbb .linkst {padding: 5px 25px;}
  
  /* Меню модератора */
.punbb .modmenu .container {gap: 0 5px;}

  .punbb .modmenu .container span {flex-grow: 1;}
  
  /* Нижние ссылки в топике и списках тем */
  .punbb .linksb {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: initial;
    padding: var(--padding);
  }
  
  .linksb .pagelink {
    order: 1;
    flex-grow: 1;
    width: auto;
  }
  
  .punbb .postlink, .punbb .linksb noindex {
    order: 2;
    flex-grow: 1;
    width: auto;
  }
  
  .subscribelink {
    order: 3;
    width: 100%;
  }
  
  .punbb .postlink.long {width: auto;}
  
  .punbb .modmenu strong, .punbb .modmenu a {height: initial;}
  
  #pun-viewforum .modmenu .container strong a {font-size: 0;}
  
  #pun-viewforum .modmenu .container strong a:after {
  content: "Действия с темами";
  font-size: initial;
  }
  
  /* Список пользователей
  -------------------------------------------------------------*/
  
  #pun-userlist tr:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0,.5);
  }
  
  #pun-userlist tr td, #pun-userlist .tcl, #pun-userlist .tc2 {
  width: 100%;
  }
  
  #pun-userlist .tc3 {display: none;}
  
  
  /* Топик
  -------------------------------------------------------------*/
  
  /* Пост */
  .punbb .post {margin: 0;}
  
  /* Дата поста */
  .punbb .post h3 {
    margin: 0;
  }
  
  .punbb .post h3 span {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 25px;
  }
  
  .punbb .post h3 span .permalink {
    flex-grow: 1;
    order: -1;
  }
  
  .punbb .post h3 span strong {order: 2;}
  
  .punbb .post h3 .sharelink {
  order: 3;
  margin-left: 5px;
  display: none;
  }
  
  /* Содержимое поста */
  .punbb .post .container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    padding: 0 15px !important;
  }
  
  /* Автор */
  .punbb .post .post-author {
    margin: 0;
    padding: 5px 0;
    width: 100%;
    min-height: 90px;
    box-sizing: border-box;
    background: none;
  }
  
  .punbb .post .post-author ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  /* Скрыть поля профиля */
  .pa-reg, .pa-from, .pa-invites, .pa-positive, .pa-icq, .pa-sex, .pa-age, .pa-ip, .pa-time-visit, .pa-last-visit, .pa-online, .pa-awards {
      display: none !important;
  }
  
  /* Аватар */
  .punbb .post-author .pa-avatar {
    width: 75px;
    height: auto;
    max-height: 75px;
    max-width: 75px;
    display: block;
    position: absolute;
    margin: 5px; 
    order: -2;
  }
  
  .online .pa-author::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 0 0 10px #bf0;
    background: radial-gradient(circle at 3px 2px, #98ea36, #81b16f, #8ac176);
    margin: 2px 0 2px 7px;
  }
  
  .punbb .post-author .pa-avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    max-height: 75px;
    max-width: 75px;
  }
  
  /* Ник и статус */
  .punbb .post-author .pa-author, .punbb .post-author .pa-title {
    margin: 0 0 5px 90px;
    padding: 0;
    width: 100%;
    text-align: left;
  }
  
  /* Сообщения */
  .punbb .post-author .pa-posts {
    padding-right: 10px;
  }
  
  /* Доп. поле 1 (лз) */
  .punbb .post-author .pa-fld1 {
    width: 100%;
    order: 1;
  }

.punbb .post .post-author ul .post-ul-Sp {
  margin-bottom: 10px;
  width: 100%;
}
  
  /* Тело поста */
  .punbb .post-body {
    margin: 0;
    width: 100%;
  }
  
  /* Содержимое тела поста */
  .punbb .post-box {
    padding: 10px;
  }
  
  /* Строки поста */
  .punbb .post-content p {padding: 0 0 5px 0;}
  
  /* Цитата, спойлер и код */
  .punbb .post-content .quote-box, .punbb .post-content .code-box {
    margin: 5px 5px 10px;
    padding: 5px 10px;
  }
  
  /* хтмл-содержимое в постах */
  .punbb .post-content iframe {
    box-sizing: border-box;
    max-width: 100%;
  }
  
  /* Подпись */
  .punbb .post-box .post-sig {display: none;}
  
  /* Ссылки профиль, удалить, цитировать и т.п. */
  .punbb .post-links {
    margin: 0;
  }
  
  .punbb .post-links ul {
    padding: 0 10px;
    margin: 5px 0 0;
  }
  .punbb .post-links li a {font-size: 0;}
  
  .punbb .post-links ul li {
    padding: 0 0 0 10px;
    line-height: initial !important;
  }
  
  .punbb .post-links ul .pl-email, .punbb .post-links ul pl-website {
    float: left !important;
    padding: 0 10px 0 0;
  }
  
  .punbb .post-links li a::before {
    content: "";
    font-size: 24px;
    font-family: 'Material Icons Outlined';
  }
  
  .punbb .post-links li.profile a:before {content: "\ea67";}
  .punbb .post-links li.pm a:before {content: "\e0be";}
  .punbb .post-links li.email a:before {content: "\e0e6";}
  .punbb .post-links li.pl-delete a:before {content: "\e92e";}
  .punbb .post-links li.pl-edit a:before {content: "\e3c9";}
  .punbb .post-links li.pl-quote a:before {content: "\e244";}
  .punbb .post-links li.pl-reports a:before {content: "\e8b2";}
  
  
  /* Форма ответа */
  .punbb #form-buttons {
    width: 100%;
    display: block;
  }
  
  .punbb #form-buttons tr {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 5px;
    text-align: center;
  }
  
  #form-buttons td {
  display: block;
  width: 26px;
  height: 26px;
  }

#form-buttons td#button-files_rusff, #form-buttons td#button-graffiti_rusff {display: none !important;}
  
  #post-form #tags .container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    display: flex;
    gap: 5px 10px;
  }
  
  #post-form #tags #font-area {
    padding-bottom: 15px !important;
  }

#post-form.formal, #profile {
  margin: 0 20px;
}

#post-form #post.container {
  justify-content: center;
}
  
  
  /* Поиск сообщений
  -------------------------------------------------------------*/
  
  #pun-searchposts .post-author ul {justify-content: space-between;}
  
  #pun-searchposts .post li.pa-author, #pun-searchposts .post li.pa-replies {
  text-align: left;
  width: auto;
  margin: 0;
  }
  
  #pun-searchposts .post-links ul {
    margin: 0;
    height: 150%;
  }
  
  #pun-searchposts .post-links li a {font-size: initial;}
  
  
  /* Просмотр профиля
  -------------------------------------------------------------*/
  
  #viewprofile-next #profilenav {display: none;}
  
  #viewprofile ul, #profilenav ul {
    padding: 0 5px;
    margin: 0;
  }
  
  #viewprofile tr {flex-direction: column;}
  #viewprofile td {width: 100%;}
  
  #viewprofile li, #viewprofile li strong, #viewprofile li span, #viewprofile li div, #setmods dd, #setmods dl {
    margin: 0;
    padding: 0;
  }
  
  #viewprofile #profile-left {
    text-align: center;
    padding-bottom: 10px !important;
    box-shadow: 0 1px rgba(0, 0, 0, .3), 0 2px rgba(255, 255, 255, .75);
  }
  
  #viewprofile #profile-left li#pa-avatar {padding: 5px;}
  #viewprofile #profile-right {padding: 10px 0 0;}
  
  #profile-right li {
    display: flex;
    flex-wrap: wrap;
  }
  
  #profile-right li span {
    width: auto;
    padding-right: 5px;
  }
  
  #viewprofile #profile-right li strong {
    width: auto;
    padding: 0;
  }
  
  #viewprofile #profile-signature {padding: 5px 0;}
  #viewprofile #profile-signature ul {padding: 10px 0 0;}
  
  
  /* Редактирование профиля и ЛС
  -------------------------------------------------------------*/
  
  #profile > .container {padding: 5px 10px !important;}
  
  .punbb #profilenav {
    width: 100%;
    margin: 0;
    display: block;
  }
  
  #viewprofile h2, #profilenav h2 {margin: 0;}
  
  #profilenav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #profilenav li {
    padding: 0;
    font-weight: bold;
    width: 50%;
    box-sizing: border-box;
  }
  
  #pun-messages #notify-settings {width: 100%;}
  
  #pun-messages #notify-settings .inp2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #OnOff_Notify {
    margin: 0 !important;
    order: 1;
  }
  
  #OnOff_Notify + label {display: none;}
  
  #volume-set {
     align-items: center;
    display: flex;
  }
  
  #profile #messages fieldset, #profile #messages fieldset .fs-box {
    padding: 0;
    margin: 0;
  }
  
  .punbb .main #profile #messages .hasicon tr {
  justify-content: space-between;
  box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 1px rgba(255, 255, 255, .75);
  }
  
  .punbb .main #profile #messages .hasicon tr:first-of-type {
  box-shadow:0 -1px rgba(255, 255, 255, .9), 0 -2px rgba(0, 0, 0, .3), 0 1px rgba(255, 255, 255, .9);
  }
  
  .punbb .main #profile #messages .hasicon tr:last-of-type {
  box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 1px rgba(0, 0, 0, .4), 0 2px rgba(255, 255, 255, .9);
  }
  
  .punbb .main #profile #messages .hasicon .tcl {width: 100% !important;}
  
  #profile #messages .hasicon .pmtc22 {
    display: flex;
    width: 100% !important;
  }
  
  #profile #messages .hasicon .tc3:before {content: "Дата: "}
  
  #profile #messages .hasicon .tc3, #profile #messages .hasicon .pmtc24 {
    display: block;
    width: auto !important;
    padding: 5px 10px !important;
  }
  
  #profile #messages .hasicon .pmtc24:before {content: "Выбрать: "}
  
  
  /* Активные пользователи
  -------------------------------------------------------------*/
  
  #pun-online .online-list tr:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
  
  #pun-online .username {gap: 5px;}
  
  #pun-online .registered-user, #pun-online .tcl.action, #pun-online .tc3 {
    width: 100% !important;
    display: block;
  }
  
  /* Админка
  -------------------------------------------------------------*/
  
  .punbb-admin #pun-adnav {margin: 0;}
  
  .punbb-admin #pun-admain {padding: 0;}
  
  .punbb-admin #pun-adnav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
  }
  
  .punbb-admin #pun-adnav li {padding: 2px 5px;}
  
  .punbb-admin #pun-admain fieldset .handle, .punbb-admin #pun-admain fieldset p {border: none;}
  
  .punbb-admin #pun-admain .adlabel {
    padding: 0 5px !important;
    margin: 0;
    position: relative;
    width: auto;
    display: block;
    text-align: center;
  }
  
  .punbb-admin #pun-admain .adformal div ul, .punbb-admin #pun-admain div p {padding: 5px !important;}
  
  .punbb-admin .adcontainer .adsubmitfield {
    display: flex;
    flex-direction: column;
  }
  
  .punbb-admin #pun-admain span.adsubmit {
    position: relative;
    width: auto;
    top: 0 !important;
    margin: 0 auto;
    display: block;
    padding: 5px;
   left: 0;
  }
  
  .punbb-admin #pun-admain1 .sortable p input[name^="cat_name"] {
    margin: 0;
    position: relative;
    width: calc(100% - 20px);
  }
  
  .punbb-admin #pun-admain input[type="submit"] {
    margin: 0 auto;
    display: block;
  }
  
  #pun-admain .adformal p.submittop, #pun-admain .adformal p.submitend {
    display: flex;
    justify-content: center;
  }
  
  #pun-admain .adformal p.submittop input[type="submit"], #pun-admain .adformal p.submitend input[type="submit"] {margin: 0 5px;}
  
  /* Дополнительно
  -------------------------------------------------------------*/
  
  /* Отключение закругления текстовых полей в Safari */
  
  button, input.button, input[type="text"], input[type="password"], select {
    appearance: auto;
    -webkit-appearance: none;
    -moz-appearance: auto;
  }

.go-up,.go-down {display: none !important;}

}