@import url(style_cs.css);

/* Иконический шрифт */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://alexkolmar.github.io/fonts/VNI-HLThuphap/stylesheet.css');

/* Полезные сервисные настройки
-------------------------------------------------------------*/

.acchide,
#pun-index #pun-main h1,
#pun-navlinks h2,
#pun-pagelinks h2,
#pun-status h2,
#pun-ulinks h2,
.punbb .forum h2,
.punbb .multipage .topic h2,
.punbb dl.post-sig dt span,
.punbb p.crumbs strong,
.punbb .divider hr,
.punbb .required label em,
.punbb .formsubmit label,
.punbb .submitfield label,
.punbb .modmenu label,
#pun-userlist .main h2 {
  font-size: 0;
  height: 0;
  width: 0;
  line-height: 0.0;
  position:absolute;
  left: -9999px;
  overflow: hidden;
}

#pun:after,
.punbb .container:after,
.punbb .post-links ul:after,
.punbb .main div.inline:after,
.punbb .post-box:after,
.punbb .linksb:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  overflow:hidden;
  line-height: 0.0;
  font-size: 0;
}


/* Основные переменные
------------------------------------------*/

:root {
  --body-bg: #1f1f1f;
  --sec-bg: #ece3d8;
  --link: #aea19b;
  --link2: #8c827d;
  --link-hover: #fff;
  --text: #aaa195;
  --text2: #ffefd9;
  --padding: 10px 20px;
  --tpad: 5px 20px;
  --mpad: 5px 10px;
  --bigpad: 10px 74px;
  --vni: 'VNI-HLThuphap';
}

/* Global
------------------------------------------*/

/* Применяется ко всем элементам */

* {
  margin: 0;
  padding: 0;
  border: none;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scrollbar-width: thin;
  scrollbar-color: var() var();
}

*::-webkit-scrollbar {width: 7px; height: 7px;}
*::-webkit-scrollbar-track {background-color: var();}
*::-webkit-scrollbar-thumb {background-color: var();}
*::-webkit-scrollbar-thumb:active {background: var();}

:focus {outline: none;}

a, .punbb #pun-admain a {
  text-decoration: none;
  color: var(--link);
  transition: all .2s linear 0s;
}

a:hover, .punbb #pun-admain a:hover {
  color: var(--link-hover);
  text-shadow: #aea19b 0px 0px 5px;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre {
  margin: 0;
}

h1, h2 {
  padding: 10px 20px;
  font-weight: normal;
  text-align: center;
}

ul, dl, li, dd, dt {list-style: none;}

address, em {font-style: normal;}

.modlist, .lastedit, .punbb div#pun-live-rusff, .punbb .topic a.sharelink, .reactions-root, .punbb fieldset legend {display: none;}

#tags .container, .post_report, .post_reputation, #MyBookmarks {
  background: var(--sec-bg);
  color: #333;
}

#tags .container {
  padding: var(--mpad) !important;
  top: 0 !important;
  border: #333 solid 1px !important;
  border-radius: 5px;
}

/* ОФОРМЛЕНИЕ КНОПОК
------------------------------------------*/

input.button, #pun-admain input.button, #sub4, input[type="button"] {
  -moz-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  -webkit-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  -o-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  border: 3px solid #fff;
  padding: 6px 18px;
  background: url(https://forumstatic.ru/files/001c/21/d6/92022.jpg) 220px 90px;
  font-family: times;
  font-size: 14px;
  text-transform: uppercase;
  color: #c6baaa !important;
  font-weight: bold;
  box-shadow: #514e4a 0px 0px 7px inset, #000 0px 0px 10px;
  transition: all .2s linear 0s;
  cursor: pointer;
}

input.button:hover, #pun-admain input.button:hover, #sub4:hover, input[type="button"]:hover {
  box-shadow: #7b766f 0px 0px 12px inset, #000 0px 0px 3px;
  color: #fff !important;
}

/* ОФОРМЛЕНИЕ ПОЛЕЙ ВВОДА
------------------------------------------*/

input[type="text"], input[type="password"], textarea, select {
  padding: 2px 5px;
  box-sizing: border-box;
  background: #dfd1bf;
  border-radius: 5px;
  box-shadow: inset rgba(0,0,0,.5) 0px 0px 3px;
  border: #919191 solid 1px;
}


/* Админка
------------------------------------------*/

.punbb-admin .adcontainer, .punbb-admin .adformal {border: none;}

.punbb-admin .adminmain {
  padding: 0 50px 0 200px; 
}

.punbb #pun-adnav {
  width: 160px;
  margin-left: -150px;
}

.punbb-admin #pun-adnav .isactive a {
  color: var(--text2);
}

/* Тело форума
------------------------------------------*/

html {
  background: url(https://forumstatic.ru/files/001c/09/2b/87302.png) no-repeat top 212px center, url(https://forumstatic.ru/files/001c/21/d6/73440.png) center top no-repeat, url(https://forumstatic.ru/files/001c/21/d6/40883.jpg) center 360px repeat-y var(--body-bg);
  min-width: 1032px;
}

#pun {
  margin: 375px auto 0;
  width: 1032px;
  padding: 50px 0;
  background: url(https://forumstatic.ru/files/001c/09/2b/34412.jpg) repeat-y top center;
  border-image: url(https://forumstatic.ru/files/001c/09/2b/18440.png) 110/115px repeat;
  -moz-border-image: url(https://forumstatic.ru/files/001c/09/2b/18440.png) 110/115px repeat;
  -webkit-border-image: url(https://forumstatic.ru/files/001c/09/2b/18440.png) 110/115pxrepeat;
  -o-border-image: url(https://forumstatic.ru/files/001c/09/2b/18440.png) 110/115px repeat;
}

.punbb {
  font: 12px Verdana, Arial;
  color: var(--text);
}

.punbb > div .container {padding: var(--padding);}


/* Навигационные ссылки */

#pun-navlinks {
  position: absolute;
  top: 0;
  width: 1032px;
  z-index: 2;
}

#pun-navlinks .container {
  text-align: center;
}

#pun-navlinks li {
  display: inline;
  padding: 4px 12px;
  font-family: times;
  font-size: 13px;
  text-transform: uppercase;
  color: #c6baaa !important;
  text-shadow: #000 0px 2px 5px;
  -moz-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  -webkit-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  -o-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  border: 3px solid var(--link-hover);
  background: url(https://forumstatic.ru/files/001c/09/2b/26539.jpg);
  opacity: 0.75;
  transition: 0.5s;
}

#pun-navlinks li:hover {
  opacity: 1;
  transition: 0.5s;
}

#pun-navlinks a {
  color: #c6baaa;
  text-decoration: none;
}

#pun-navlinks a:hover, #pun-navlinks a:focus, #pun-navlinks a:active {
  color: var(--link-hover);
}

/* Пользовательские ссылки */

#pun-ulinks .container {
  text-align: center;
}

#pun-ulinks li {
  padding: 0 5px;
  display: inline;
}

/* Статус */

.punbb #pun-status .container {
  color: var(--link2);
  padding: var(--bigpad);
}

#pun-status span {
  white-space: nowrap;
  margin-right: 5px;
}

/* Хлебные крошки */

#pun-crumbs2 .container, #pun-crumbs1 p.container {
  margin: 0 auto;
  padding: 10px 12px;
  max-width: 888px;
  box-sizing: border-box;
  font-family: times;
  font-size: 16px;
  text-transform: uppercase;
  color: #c6baaa;
  text-shadow: #000 0px 2px 5px;
  -moz-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  -webkit-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  -o-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  border: 3px solid #fff;
  background: url(https://forumstatic.ru/files/001c/21/d6/72800.png);
}

/* Копирайт */

#pun-about .container {
  text-align: center;
  color: #bbb0aa;
}


/* Главная форумная таблица
------------------------------------------*/

.punbb .section, .punbb .main {
  margin-bottom: 12px;
}

#pun-main h1 {
  display: none;
}

.main table {
  table-layout: fixed; width: 100%;
}

.main th {
  padding: 5px 10px;
}

.main td {
  padding: 10px;
}

.tcl {
  width: 50%;
}

.tc2, .tc3, .tcmod {
  text-align: center;
  width: 10%;
}

.tcr {
  width: 30%;
}

#pun-searchtopics .tcl, #pun-modviewforum .tcl {
  width: 40%
}

#pun-searchtopics .tc2 {
  text-align: left;
  width: 20%;
}

#pun-debug table .tcl {
  width: 15%;
}

#pun-debug .tcr {
  width: 90%;
}

.punbb #pun-stats, .punbb .category .container, #pun-respect table, .punbb .forum .container {
  padding: 0;
  box-sizing: border-box;
  max-width: 888px;
  background: url(https://forumstatic.ru/files/001c/21/d6/72800.png);
  border: 3px #fff solid;
  color: #bbb0aa;
  -moz-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  -webkit-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  -o-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  margin: 0px auto;
}

/* Иконки */

.punbb div.icon {
float: left;
display: block;
border-style: none none none none;
height: 65px;
width: 65px;
}

.punbb td div.tclcon {
margin-left: 75px;
}

Div.icon {
background-image : url(https://forumstatic.ru/files/001c/21/d6/71145.png);
background-repeat: no-repeat;
}

TR.inew Div.icon {
background-image : url(https://forumstatic.ru/files/001c/21/d6/59434.png);
background-repeat: no-repeat;
}

TR.isticky Div.icon {
background-image : url(https://forumstatic.ru/files/001c/21/d6/30231.png);
background-repeat: no-repeat;
}

TR.iclosed Div.icon {
background-image : url(https://forumstatic.ru/files/001c/21/d6/95575.png);
background-repeat: no-repeat;
}


/* Пагинация (Переключаемые страницы, Новая тема + Опрос, Подписка)
--------------------------------------------------------------------------------------------------- */

.multipage {margin-top: 10px;}

.linkst {
  position: relative;
  padding: var(--bigpad);
  display: flex;
  justify-content: space-between;
}

.linkst .pagelink {
  color: var(--link2);
}

.linkst .postlink {
  text-align: right;
}

.linksb {
  position: relative;
  padding: var(--bigpad);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--link2);
}

.linksb .pagelink {
  order: -1;
}

.subscribelink {
  width: 100%;
  text-align: right;
}

.linksb noindex {
  order: 1;
}

.linksb .postlink {
  margin-left: auto;
  text-align: right;
}

.linksb .pagelink strong, .linkst .pagelink strong {
  border-block: 1px #6c6c6c solid;
  padding: 2px 4px;
  margin: 0px 1px;
  border-radius: 4px;
  background: #110f0f;
  color: #d7d7d7 !important;
}

.linksb .pagelink a, .linkst .pagelink a {
  border-block: 1px #6c6c6c solid;
  padding: 2px 4px;
  margin: 0px 1px;
  border-radius: 4px;
  background: #2f2b2a;
  box-shadow: #000 0px 0px 3px inset;
}

/* Модераторское меню, RSS, Atom */

.punbb .modmenu .container {
  padding: var(--bigpad);
  text-align: right;
  color: var(--link2);
}

.modmenu .container strong {
  float: left;
}

.modmenu input {
  margin-left: 10px;
}

.new-topic a, .new-poll a {
  font-size: 0;
  color: var(--link2);
}

.new-topic a:hover, .new-poll a:hover {
  color: var(--link-hover);
}

.new-topic a:before, .new-poll a:before {
  content: '';
  font-size: 24px;
  font-family: var(--vni);
}

.new-topic a:before {
  content: 'New topic';
}

.new-poll a:before {
  content: 'New poll';
}


/* Главная
------------------------------------------*/

/* Категории */

#pun-index .category h2 {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
  height: 70px;
  background-color: transparent;
  background-position: right center;
  background-repeat: no-repeat;
}

#pun-index .category-1 h2 {
  background-image: url(https://forumstatic.ru/files/001c/21/d6/13365.png);
}

#pun-index .category-2 h2 {
  background-image: url(https://forumstatic.ru/files/001c/21/d6/51411.png);
}

#pun-index .category-3 h2 {
  background-image: url(https://forumstatic.ru/files/001c/21/d6/44870.png);
}

#pun-index .category-4 h2 {
  background-image: url(https://forumstatic.ru/files/001c/21/d6/31687.png);
}

#pun-index .category-5 h2 {
  background-image: url(https://forumstatic.ru/files/001c/21/d6/32618.png);
}

#pun-index .category-6 h2 {
  background-image: url(https://forumstatic.ru/files/001c/21/d6/27675.png);
}

#pun-index .category h2 span {display: none;}

thead {display: none;}

#pun-index .tcl h3 {
  font-family: Book Antiqua;
  font-size: 16px;
  text-transform: uppercase;
  color: #c8bab1;
  text-decoration: none;
  text-shadow: #db642a 0px 0px 5px;
}

/* Статистика */

#pun-stats .container {
  padding: 10px 12px;
}

#pun-stats li.item1, #pun-stats li.item2 {
  float: left;
  clear: both;
}

#pun-stats li.item3, #pun-stats li.item4 {
  text-align: right;
}

li#onlinelist {
  margin-top: 10px;
}

/* Шапка
------------------------------------------*/

#pun-title .title-logo {display: none;}

#pun-title {
  position: absolute;
  top: 0;
  background: url(https://forumstatic.ru/files/001c/21/d6/35814.png) no-repeat top -40px left 53px, url(https://forumstatic.ru/files/001c/09/2b/85566.png) no-repeat bottom left 135px;
  height: 375px;
  width: 1032px;
  pointer-events: none;
}

#html-header {
  position: absolute;
  top: 0;
}

.tablica {
  position: relative;
  background: url(https://forumstatic.ru/files/001c/09/2b/22069.png) no-repeat top center;
  width: 1032px;
  height: 375px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s linear 0s;
}

.tablica:hover {
  opacity: 1;
}

.drag {
  position: relative;
  margin-left: auto;
  padding: 15px;
  top: 50px;
  width: 460px;
  display: block;
  text-align: justify;
  color: #7d7d7d;
  text-shadow: #000 1px 1px 1px;
  box-sizing: border-box;
}

/* Футер
------------------------------------------*/

#spo_all {
  width: 888px;
  margin: 0 auto;
}

#spo_all .category h2 {
  height: auto;
  color: #fff;
  font-size: 12px;
  text-align: left;
}


/* Список тем
------------------------------------------*/



/* Топик
------------------------------------------*/

.post {
  margin-top: 10px;
}

.toppost, .topicpost {
  margin-top: 0;
}

.punbb .post .container {
  padding: 0 55px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.post h3 {
  margin-left: 216px;
}

.post h3 span {
  padding: 5px 74px;
  display: block;
}

.post h3 strong {
  float: right;
  text-align: right;
  font-weight: normal;
  color: #aea19b;
}

/* Автор */

.post-author {
  margin-right: 5px;
  padding: 55px 0px 48px;
  width: 216px;
  text-align: center;
  background: url(https://forumstatic.ru/files/001c/21/d6/79040.png) no-repeat center top, url(https://forumstatic.ru/files/001c/21/d6/17776.png) no-repeat center bottom;
}

.post-author.online {
background: url(https://forumstatic.ru/files/001c/21/d6/79040.png) no-repeat center top, url(https://forumstatic.ru/files/001c/21/d6/35078.png) no-repeat bottom 11px center, url(https://forumstatic.ru/files/001c/21/d6/17776.png) no-repeat center bottom;
}

.punbb .post .post-author ul {
  padding: 0px 0px 20px;
  line-height: 140%;
  background: url(https://forumstatic.ru/files/001c/21/d6/72800.png);
  margin: 0px 5px;
  box-shadow: #000 inset 0px 0px 10px;
  text-align: center;
  color: #aea19b;
}

.pa-author {
  font-family: times;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #c6baaa !important;
  padding: 10px 0px !important;
}

.pa-author a {
  color: #c6baaa !important;
}

.pa-author a:hover {
  color: #fff !important;
}

li.pa-title {
  padding: 10px 0px 18px;
  font-weight: normal;
  font-style: italic;
  font-family: times;
  font-size: 14px;
}

.pa-avatar img {}

.lz {}

.pa-posts, .pa-respect {
 /* display: inline-block; */
}

.pa-online, .pa-last-visit {}


/* Тело поста */

.post-body {
  width: calc(100% - 225px);
  box-sizing: border-box;
  padding: 15px 10px 0px;
  color: #333;
  background: url(https://forumstatic.ru/files/001c/21/d6/59912.png);
  border-style: solid;
  -moz-border-image: url(https://forumstatic.ru/files/001c/21/d6/99016.png) 17 17 19 17 repeat;
  -webkit-border-image: url(https://forumstatic.ru/files/001c/21/d6/99016.png) 17 17 19 17 repeat;
  -o-border-image: url(https://forumstatic.ru/files/001c/21/d6/99016.png) 17 17 19 17 repeat;
  border-image: url(https://forumstatic.ru/files/001c/21/d6/99016.png) 17 17 19 17 repeat;
  box-shadow: #000 inset 0px 0px 10px;
  border-radius: 5px;
  border-width: 17px 17px 19px 17px;
  align-self: normal;
}

.post-box {padding: 10px;}

.post-links {
  width: 100%;
  margin: 10px 0 0 216px;
}

.post-links ul {
  padding: 0 20px;
  text-align: right;
}

.post-links li {
  display: inline;
}

.post-links li:not(:first-of-type) {
  padding-left: 10px;
}

.pl-email, .pl-website {
  float: left;
}

.pl-delete a, .pl-edit a, .pl-quote a, .pl-reports a {
  font-size: 0;
  color: var(--link2);
}

.pl-delete a:hover, .pl-edit a:hover, .pl-quote a:hover, .pl-reports a:hover {
  color: var(--link-hover);
}

.pl-delete a::before, .pl-edit a::before, .pl-quote a::before, .pl-reports a::before {
  content: '';
  font-size: 24px;
  font-family: var(--vni);
  line-height: 16px;
  display: inline-block;
}

.pl-delete a:before {
  content: 'delete';
}

.pl-edit a:before {
  content: 'edit';
}

.pl-quote a:before {
  content: 'quote';
}

.pl-reports a:before {
  content: 'report';
}

.clearer {clear: both; height: 0; font-size: 0;}


/* Контент поста - цитата, спойлер, таблицы и т.п. */

.punbb .post td {
  border: 0px transparent !important;
}

pre {font: 12px/140% monaco, "bitstream vera sans mono", "courier new", courier, monospace;}

.post-content em {font-style: italicж}

.post .post-content td {border-width: 0px !important;}

.post-content em.bbuline {font-style: normal; text-decoration: underline;}

.post-content p {
  margin: 0;
  padding: 0 0 12px 0;
  line-height: 150%;
  text-align: justify;
  color: #333;
}

.post-content a {
  color: #c05011 !important;
  text-shadow: #fff 0px 0px 3px !important;
}

.post-content a:hover {
  color: #000 !important;
  text-shadow: #fff 0px 0px 3px !important;
}

.post-content img {vertical-align: middle;}

html.punbb {
  min-width: auto;
  color: #333;
}

.scrollbox {
  width: 100%;
  overflow: auto;
  max-height: 200px;
}

.quote-box, .code-box {
  margin: 5px 15px;
  padding: 10px;
  border-style: none;  background: #d7c8b5;
  border-radius: 5px;
  box-shadow: inset #8c8276 0px 0px 10px, #8c8276 0px 0px 3px;
  border: #e8d8c6 solid 1px;
}

.quote-box cite, .code-box strong.legend {
  display: block;
  padding-bottom: 5px;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  font-style: italic;
  font-family: times;
  font-size: 14px;
}

.post-sig dt {
  border-bottom: 1px solid #ccc;
  width: 300px;
  margin: 10px auto;
}

/* Форма ответа */

#post-form.formal, #profile {
  -moz-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  -webkit-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  -o-border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  border-image: url(https://forumstatic.ru/files/001c/21/d6/42220.png) 3 3 3 3 repeat !important;
  border: 3px solid #fff;
  background: url(https://forumstatic.ru/files/001c/21/d6/72800.png);
  margin: 20px 75px;
  color: var(--text);
}

#post-form.formal h2, #post-form fieldset legend {
  display: none;
}

#tags {
  position: relative;
}

#main-reply {
  box-sizing: border-box;
  background: #dfd1bf;
  border-radius: 5px;
  box-shadow: inset #000 0px 0px 10px;
  border: #919191 solid 1px;
  padding: 15px;
}

/* Формы
------------------------------------------- */

.checkfield input[type="checkbox"], .radiofield input[type="radio"] {margin: 0 3px;}
p[class="checkfield"] *, div[class="checkfield"] *, fieldset[class="radiofield"] * {height: 20px; vertical-align: middle;}

textarea, input, select, optgroup {font-size: 14px;}
optgroup {font-weight: bold;}

.punbb .formal .container {padding: var(--bigpad);}

.formsubmit {
  padding: 0;
  margin: 10px 0 0 0;
  text-align: center;
}

.formsubmit input, .formsubmit a, .formsubmit span {margin: 0 6px 0 0;}

fieldset {border: none;}

fieldset legend {
  font-style: italic;
  font-weight: bold
}

fieldset fieldset {
  border: none;
  margin: 0;
  padding: 0 0 8px 0
}

.fs-box {
  padding: 5px 0;
  color: var(--text2);
}

.fs-box p, .fs-box fieldset {padding: 0 0 8px 0;}

.inline .inputfield, .inline .selectfield, .inline .passfield {float: left;margin-right: 12px;}
.inline .infofield {clear:both}
.datafield br {display: none}
.required label, .datafield span.input {font-size: 10px;}
textarea, .longinput input {width: 64%; margin: 0;}
.hashelp {position: relative;}


/* Профиль + ЛС
------------------------------------------*/

#pun-profile #viewprofile .container {
  padding: var(--bigpad);
  color: var(--text);
}

#profile .container {
  padding-left: 200px;
  min-height: 100px;
}

#profilenav {
  float: left;
  width: 180px;
  margin-left: -180px;
}

#viewprofile h2, #profilenav h2 {
  padding: 0;
  margin: 0;
}

#viewprofile li {
  padding: 5px 0;
}

#profile-right li {
  display: flex;
}

#profile-right li span {
  width: 150px;
  flex-shrink: 0;
  font-weight: bold;
}

#profile-right li strong {
  font-weight: normal;
}

img.avatardemo {
  float: right;
  margin: 0 0 8px 18px;
}

#pun-messages .clearer {
  display: none;
}

/* Прочие страницы
------------------------------------------*/

/* Список пользователей */

#pun-userlist .formal, #pun-userlist .formal .container {margin-bottom: 0;}

#pun-userlist .tc2 {
  text-align: left;
  width: 20%;
}

#pun-userlist .container, .usertable .container {padding: var(--bigpad);}

#pun-userlist .tcl {width: 40%}


/* Собщения об ошибках */

.info .container {padding: var(--mpad);}
.info .container .backlink {padding-top: 8px;}

/* Регистрация */

.info-box {
  margin: 0 0 10px 0;
}

.info-box * {padding: 0 0 5px 0;}
.info-box .legend {font-weight: bold;}


/* Кнопки вверх-вниз
-------------------------------------------------------*/

.go-up,.go-down {
  display:none;
  position:fixed; /*позиционируем*/
  right:5px; /*указываем положение, если слева - left*/
  z-index:9999; /*показываем поверх все элементов на странице*/
  cursor:pointer;
  opacity:1; /*прозрачность*/
  margin-bottom:5px; /*отступ снизу (можно не указывать)*/
  width:65px; /*ширина кнопки*/
  height:110px; /*высота кнопки*/
}

.go-up {
  bottom:500px; /*положение от низа окна браузера верхняя кнопка*/
}

.go-down {
  bottom:380px; /*положение от низа окна браузера нижняя кнопка кнопка*/
}

.go-down:hover,.go-up:hover {
  opacity:1;
}

/* Темы и сообщения
-------------------------------------------------------*/

#pun-index .category .tc2,#pun-index .category .tc3,
#f-subforums .tc2,#f-subforums .tc3{
  display:none!important;
}

.Tems_And_messages {
  display:inline-block;
  width:116px;
}

.main table .Add {
display: inline-block;
  background-color: transparent;
  padding: 2px 7px;
  box-shadow: inset 0 0 15px rgba(11, 11, 11, 0.8);
  border-radius: 3px;
}

.Tems_And_messages .right{
  float:right;
}


    /* таблица во всплывающей подсказке */
    #respect td{vertical-align:top;}
    #respect figure{margin:2px;word-wrap:break-word;width:44px;}
    #respect figure:hover img.vote{display:none;}
    #respect figcaption{font-size:0.8em;margin-top:-5px;}
    /* стиль окна а-ля вКонтакте */
    .jGrowl .rating_theme {opacity: 1;padding: 3px;text-align:center;width: 485px !important;} 
    .jGrowl .rating_theme .jGrowl-message {background: #fff; padding: 2px;}
    .jGrowl .rating_theme .jGrowl-header {background: #597ba5;font-size: 1.09em;height: 22px;}
    .jGrowl .rating_theme .person{width:78px; height:78px; }
    /* стиль изображения оценки */
    .vote{position:absolute;border-radius: 9em;box-shadow:0 3px 5px 1px #000000;-webkit-box-shadow:0 3px 5px 1px #000000;}
    /* таблица в окне а-ля вКонтакте */
    #vse tbody{max-height:520px!important;display:block;overflow-y:auto;overflow-x:hidden;}
    #vse td{vertical-align:top;}
    #vse figure{margin:5px;word-wrap:break-word;width:82px; -webkit-transform:translateZ(0);transform:translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;position:relative;overflow:hidden;}
    #vse figure:before{content:"";position:absolute;z-index:-1;left:50%;right:50%;bottom:0;background:#597ba5;height:4px;-webkit-transition-property:left,right;transition-property:left,right;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
    #vse figure:hover img.vote{display:none;}
    #vse figure:hover:before,#vse figure:focus:before,#vse figure:active:before{left:0;right:0;}
    #vse figcaption{color: #2b587a;font-size:0.9em;}
    /* настройки всплывающей подсказки */
    .tipsy-inner {min-width : 40px!important;max-width : 800px!important;}
    .tipsy-inner .person {width:36px; height:36px; border-radius:2px;}
    .tipsy-inner .prof {color:#fff !important;}
    .tipsy-inner .prof:hover{ text-decoration:underline!important;}
    .tipsy-se .tipsy-arrow {left:100%!important;margin-left:-22px;}
    .prof {text-decoration: none !important;}