@import url(style_cs.css);

/* Иконический шрифт */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');

/* A La Russ */
@import url('https://alexkolmar.github.io/fonts/ALaRuss/stylesheet.css');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Viaoda+Libre&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@font-face {
  font-family: 'goth';
  font-style: normal;
  font-weight: 400;
  src: url(https://forumstatic.ru/files/001c/0b/94/68339.otf);
}

@font-face {
  font-family: 'helmswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://forumstatic.ru/files/001c/0b/94/70158.otf);
}

@font-face {
  font-family: 'kawo';
  font-style: normal;
  font-weight: 400;
  src: url(https://forumstatic.ru/files/001c/0b/94/73692.otf);
}


@import url('https://fonts.googleapis.com/css?family=Oranienbaum|Old Standard TT|Amatic+SC|Bad+Script|Caveat|Cormorant+Unicase|Lobster|Pacifico|Pattaya|Philosopher|Playfair+Display+SC|Playfair+Display|Poiret+One|Yeseva+One|Marck+Script|Pangolin|Raleway:900i|Cormorant+SC|Arima+Madurai|Cabin+Sketch|Pompiere|Cinzel+Decorative|Megrim|Cookie|Roboto|Lora|Yanone+Kaffeesatz|EB+Garamond|Cormorant Garamond|Alice|Neucha|Play|Prata|Press+Start+2P|Rubik+Mono+One|Montserrat|Arsenal|Tenor+Sans|Vollkorn+SC');

@font-face {
  font-family: Truetypewriter PolyglOTT;
  src: local("Truetypewriter PolyglOTT"), url(https://forumstatic.ru/files/001a/ff/52/20322.ttf);
}

@font-face {
  font-family: Play;
  src: local("Play"), url(https://forumstatic.ru/files/001b/d5/f7/93398.ttf);
}

@font-face {
  font-family: AngstThinS;
  src: local("AngstThinS"), url(https://forumstatic.ru/files/001b/fb/fc/19881.otf);
}

@font-face {
  font-family: AngstNormalS;
  src: local("AngstNormalS"), url(https://forumstatic.ru/files/001b/fb/fc/21827.otf);
}

@font-face {
  font-family: AngstBoldS;
  src: local("AngstBoldS"), url(https://forumstatic.ru/files/001b/fb/fc/50620.otf);
}

@font-face {
  font-family: AngstThin;
  src: local("AngstThin"), url(https://forumstatic.ru/files/001b/fb/fc/64484.otf);
}

@font-face {
  font-family: AngstNormal;
  src: local("AngstNormal"), url(https://forumstatic.ru/files/001b/fb/fc/34220.otf);
}

@font-face {
  font-family: AngstBold;
  src: local("AngstBold"), url(https://forumstatic.ru/files/001b/fb/fc/58297.otf);
}

@font-face {
  font-family: FemmeFatale;
  src: local("FemmeFatale"), url(https://forumstatic.ru/files/001b/fb/fc/49265.otf);
}

@font-face {
  font-family: fashionwacks;
  src: local("fashionwacks"), url(https://forumstatic.ru/files/001c/03/bd/51362.otf);
}

@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

@font-face {
  font-family: 'Le Murmure';
  src: url('/files/0019/a4/9b/62236.eot');
  src: url('/files/0019/a4/9b/62236.eot?#iefix') format('embedded-opentype'),
    url('/files/0019/a4/9b/91127.woff2') format('woff2'),
    url('/files/0019/a4/9b/66219.woff') format('woff'),
    url('/files/0019/a4/9b/83379.ttf') format('truetype'),
    url('/files/0019/a4/9b/54730.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moki';
  src: url('https://forumstatic.ru/files/001b/ed/f6/13726.eot');
  src: url('https://forumstatic.ru/files/001b/ed/f6/13726.eot?#iefix') format('embedded-opentype'),
    url('https://forumstatic.ru/files/001b/ed/f6/17612.woff2') format('woff2'),
    url('https://forumstatic.ru/files/001b/ed/f6/22696.woff') format('woff'),
    url('https://forumstatic.ru/files/001b/ed/f6/42758.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'underrated';
  src: url('/files/001b/ed/f6/23885.otf');
  src: url('/files/001b/ed/f6/23885.otf?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Crasey';
  src: url('/files/001b/9b/e5/35229.eot');
  src: url('/files/001b/9b/e5/35229.eot?#iefix') format('embedded-opentype'),
    url('/files/001b/9b/e5/51257.woff2') format('woff2'),
    url('/files/001b/9b/e5/70566.woff') format('woff'),
    url('/files/001b/9b/e5/32581.ttf') format('truetype'),
    url('/files/001b/9b/e5/33949.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zatiyan';
  src: url('/files/001b/9b/e5/55362.eot');
  src: url('/files/001b/9b/e5/55362.eot') format('embedded-opentype'),
    url('/files/001b/9b/e5/94313.woff2') format('woff2'),
    url('/files/001b/9b/e5/90836.woff') format('woff'),
    url('/files/001b/9b/e5/35638.ttf') format('truetype'),
    url('/files/001b/9b/e5/65681.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CyGrotesk';
  src: url('/files/001b/9b/e5/93500.eot');
  src: url('/files/001b/9b/e5/93500.eot?#iefix') format('embedded-opentype'),
    url('/files/001b/9b/e5/87492.woff2') format('woff2'),
    url('/files/001b/9b/e5/35498.woff') format('woff'),
    url('/files/001b/9b/e5/89599.ttf') format('truetype'),
    url('/files/001b/9b/e5/88647.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('/files/001b/9b/e5/60634.eot');
  src: url('/files/001b/9b/e5/60634.eot?#iefix') format('embedded-opentype'),
    url('/files/001b/9b/e5/78111.woff2') format('woff2'),
    url('/files/001b/9b/e5/72018.woff') format('woff'),
    url('/files/001b/9b/e5/80978.ttf') format('truetype'),
    url('/files/001b/9b/e5/44792.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Miratrix';
  src: url('/files/001b/9b/e5/95752.eot');
  src: url('/files/001b/9b/e5/95752.eot?#iefix') format('embedded-opentype'),
    url('/files/001b/9b/e5/52795.woff2') format('woff2'),
    url('/files/001b/9b/e5/54718.woff') format('woff'),
    url('/files/001b/9b/e5/32348.ttf') format('truetype'),
    url('/files/001b/9b/e5/36892.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Ambidexter';
  src: url('/files/001b/9b/e5/52209.eot');
  src: url('/files/001b/9b/e5/52209.eot?#iefix') format('embedded-opentype'),
    url('/files/001b/9b/e5/35211.woff2') format('woff2'),
    url('/files/001b/9b/e5/75474.woff') format('woff'),
    url('/files/001b/9b/e5/55069.ttf') format('truetype'),
    url('/files/001b/9b/e5/65002.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garciamarquez';
  src: url('/files/001b/81/0a/64024.eot');
  src: url('/files/001b/81/0a/64024.eot?#iefix') format('embedded-opentype'),
    url('/files/001b/81/0a/31107.woff2') format('woff2'),
    url('/files/001b/81/0a/10160.woff') format('woff'),
    url('/files/001b/81/0a/98309.ttf') format('truetype'),
    url('/files/001b/81/0a/46633.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina Ultrabold";
  src: url("/files/0019/a4/9b/33361.eot");
  src: url("/files/0019/a4/9b/33361.eot#iefix") format("embedded-opentype"),
    url("/files/0019/a4/9b/24824.woff2") format("woff2"),
    url("/files/0019/a4/9b/54826.woff") format("woff"),
    url("/files/0019/a4/9b/66237.ttf") format("truetype"),
    url("/files/0019/a4/9b/95428.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya SC';
  src: url('/files/001b/2a/da/65086.eot'),
    url('/files/001b/2a/da/65086.eot') format('embedded-opentype'),
    url('/files/001b/2a/da/86614.woff2') format('woff2'),
    url('/files/001b/2a/da/78032.woff') format('woff'),
    url('/files/001b/2a/da/83163.ttf') format('truetype'),
    url('/files/001b/2a/da/20420.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mak Bold';
  src: url('/files/001a/af/4f/78134.eot'),
    url('/files/001a/af/4f/78134.eot') format('embedded-opentype'),
    url('/files/001a/af/4f/54847.woff2') format('woff2'),
    url('/files/001a/af/4f/33178.woff') format('woff'),
    url('/files/001a/af/4f/70817.ttf') format('truetype'),
    url('/files/001a/af/4f/78380.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yeseva One';
  src: url('/files/001a/e0/d3/90700.eot'),
    url('/files/001a/e0/d3/90700.eot') format('embedded-opentype'),
    url('/files/001a/e0/d3/72552.woff2') format('woff2'),
    url('/files/001a/e0/d3/16828.woff') format('woff'),
    url('/files/001a/e0/d3/67345.ttf') format('truetype'),
    url('/files/001a/e0/d3/20529.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Deutsch Gothic Regular';
  src: url('/files/001a/af/4f/20861.eot'),
    url('/files/001a/af/4f/20861.eot') format('embedded-opentype'),
    url('/files/001a/af/4f/86480.woff2') format('woff2'),
    url('/files/001a/af/4f/39718.woff') format('woff'),
    url('/files/001a/af/4f/84400.ttf') format('truetype'),
    url('/files/001a/af/4f/76512.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Regular';
  src: url('/files/001a/af/4f/61315.eot'),
    url('/files/001a/af/4f/61315.eot') format('embedded-opentype'),
    url('/files/001a/af/4f/60274.woff2') format('woff2'),
    url('/files/001a/af/4f/86300.woff') format('woff'),
    url('/files/001a/af/4f/24698.ttf') format('truetype'),
    url('/files/001a/af/4f/55343.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('/files/001b/81/0a/65378.eot'),
    url('/files/001b/81/0a/65378.eot') format('embedded-opentype'),
    url('/files/001b/81/0a/27250.woff2') format('woff2'),
    url('/files/001b/81/0a/87726.woff') format('woff'),
    url('/files/001b/81/0a/52823.ttf') format('truetype'),
    url('/files/001b/81/0a/65703.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Black';
  src: url('/files/001a/af/4f/69620.eot'),
    url('/files/001a/af/4f/69620.eot') format('embedded-opentype'),
    url('/files/001a/af/4f/71595.woff2') format('woff2'),
    url('/files/001a/af/4f/72640.woff') format('woff'),
    url('/files/001a/af/4f/19483.ttf') format('truetype'),
    url('/files/001a/af/4f/93123.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Bold';
  src: url('/files/001a/af/4f/67254.eot'),
    url('/files/001a/af/4f/67254.eot') format('embedded-opentype'),
    url('/files/001a/af/4f/13346.woff2') format('woff2'),
    url('/files/001a/af/4f/94145.woff') format('woff'),
    url('/files/001a/af/4f/19835.ttf') format('truetype'),
    url('/files/001a/af/4f/49022.svg') format('svg');
}

@font-face {
  font-family: 'Doppelganger';
  src: url('/files/001b/68/bd/82836.eot');
  src: url('/files/001b/68/bd/82836.eot?#iefix') format('embedded-opentype'),
    url('/files/001b/68/bd/87753.woff2') format('woff2'),
    url('/files/001b/68/bd/44161.woff') format('woff'),
    url('/files/001b/68/bd/66155.ttf') format('truetype'),
    url('/files/001b/68/bd/23152.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calypso';
  src: url('/files/001b/6e/78/13864.eot');
  src: url('/files/001b/6e/78/13864.eot?#iefix') format('embedded-opentype'),
    url('/files/001b/6e/78/89240.woff2') format('woff2'),
    url('/files/001b/6e/78/41154.woff') format('woff'),
    url('/files/001b/6e/78/84875.ttf') format('truetype'),
    url('/files/001b/6e/78/67907.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SoyuzGrotesk';
  src: url('/files/001b/7c/d0/61445.eot'),
    url('/files/001b/7c/d0/61445.eot') format('embedded-opentype'),
    url('/files/001b/7c/d0/70423.woff2') format('woff2'),
    url('/files/001b/7c/d0/31967.woff') format('woff'),
    url('/files/001b/7c/d0/11717.ttf') format('truetype'),
    url('/files/001b/7c/d0/88825.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halimun';
  src: url('/files/001b/2a/da/41454.eot'),
    url('/files/001b/2a/da/41454.eot') format('embedded-opentype'),
    url('https://forumstatic.ru/files/001b/2a/da/77328.woff2') format('woff2'),
    url('https://forumstatic.ru/files/001b/2a/da/38483.woff') format('woff'),
    url('https://forumstatic.ru/files/001b/2a/da/26409.ttf') format('truetype'),
    url('https://forumstatic.ru/files/001b/2a/da/10202.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lobster';
  src: url('https://forumstatic.ru/files/001b/2a/da/49920.eot'),
    url('https://forumstatic.ru/files/001b/2a/da/49920.eot') format('embedded-opentype'),
    url('https://forumstatic.ru/files/001b/2a/da/39059.woff2') format('woff2'),
    url('https://forumstatic.ru/files/001b/2a/da/61164.woff') format('woff'),
    url('https://forumstatic.ru/files/001b/2a/da/17921.ttf') format('truetype'),
    url('https://forumstatic.ru/files/001b/2a/da/93655.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* icon fonts*/
@font-face {
  font-family: icomoon;
  src: url("https://forumstatic.ru/files/001b/61/c9/55259.ttf") format("truetype");
}

@font-face {
  font-family: fa-thin;
  src: url("https://forumstatic.ru/files/001b/73/d1/69011.ttf?v=1") format("truetype");
}

@font-face {
  font-family: fa-solid;
  src: url("https://forumstatic.ru/files/001b/73/d1/43250.ttf?v=1") format("truetype");
}

@font-face {
  font-family: fa-regular;
  src: url("https://forumstatic.ru/files/001b/73/d1/37687.ttf?v=1") format("truetype");
}

@font-face {
  font-family: fa-light;
  src: url("https://forumstatic.ru/files/001b/73/d1/90046.ttf?v=1") format("truetype");
}

@font-face {
  font-family: fa-duotone;
  src: url("https://forumstatic.ru/files/001b/73/d1/16351.ttf?v=1") format("truetype");
}

@font-face {
  font-family: fa-brands;
  src: url("https://forumstatic.ru/files/001b/73/d1/66477.ttf?v=1") format("truetype");
}

/*fonts*/
@font-face {
  font-family: fanatiqs;
  src: url("https://forumstatic.ru/files/001b/d5/f7/35867.ttf") format("truetype");
}

@font-face {
  font-family: SkylarSans;
  src: url("https://forumstatic.ru/files/001b/d5/f7/80218.eot");
}

@font-face {
  font-family: Neoreby;
  src: url("https://forumstatic.ru/files/001b/d5/f7/20136.eot") format("OpenType");
}

@font-face {
  font-family: Moonchief;
  src: url("https://forumstatic.ru/files/001b/d5/f7/12898.eot") format("OpenType");
}

@font-face {
  font-family: HorrorScope;
  src: url("https://forumstatic.ru/files/001b/d5/f7/62715.eot") format("OpenType");
}

@font-face {
  font-family: HANDECKE;
  src: url("https://forumstatic.ru/files/001b/d5/f7/76764.eot") format("OpenType");
}

@font-face {
  font-family: CinemaMacabre;
  src: url("https://forumstatic.ru/files/001b/d5/f7/22878.eot") format("OpenType");
}

/* Полезные сервисные настройки
-------------------------------------------------------------*/

.acchide,
#pun-index #pun-main h1,
#pun-navlinks h2,
#pun-pagelinks h2,
#pun-status h2,
#pun-ulinks h2,
.punbb .forum h2,
.punbb .multipage .topic h2,
.punbb dl.post-sig dt span,
.punbb p.crumbs strong,
.punbb .divider hr,
.punbb .required label em,
.punbb .formsubmit label,
.punbb .submitfield label,
.punbb .modmenu label,
#pun-userlist .main h2 {
  font-size: 0;
  height: 0;
  width: 0;
  line-height: 0.0;
  position: absolute;
  left: -9999px;
  overflow: hidden;
}

#pun:after,
.punbb .container:after,
.punbb .post-links ul:after,
.punbb .main div.inline:after,
.punbb .post-box:after,
.punbb .linksb:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  line-height: 0.0;
  font-size: 0;
}


/* Основные переменные
------------------------------------------*/

:root {
  --light: #eeeae4;
  --gray: #ccc;
  --brown: rgba(79, 48, 29, 5%);
  --brown2: rgba(48, 37, 22, 10%);
  --brown3: #412714;
  --brown4: rgba(48, 37, 22, 30%);
  --brown5: rgba(48, 37, 22, 70%);
  --darkred: #91251d;
  --sandy: #8f7563;
  --sandy2: #ab917a;
  --sandy3: #94725b;
  --gold: #9f722f;
  --light-gold: #d7b27a;
  --slide-text: #635847;
  --alr: A La Russ;
  --padding: 10px 20px;
  --bigpad: 10px 70px;
  --tpad: 5px 20px;
  --mpad: 5px 10px;
}

/* Global
------------------------------------------*/

/* Применяется ко всем элементам */

* {
  margin: 0;
  padding: 0;
  border: none;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scrollbar-width: thin;
  scrollbar-color: #6e5340 #02040559;
}

/*---Прокрутка---*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #02040559;
}

::-webkit-scrollbar-thumb {
    background-color: #6e5340;
}

::selection {
    background: #2b4755 !important;
    color: #d7d8d0;
}

:focus {
  outline: none;
}

a,
.punbb #pun-admain a {
  text-decoration: none;
  color: var(--slide-text);
  transition: all .2s linear 0s;
}

a:hover,
.punbb #pun-admain a:hover {
  color: var(--darkred);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
  margin: 0;
}

h1,
h2 {
  padding: 10px 20px;
  font-weight: normal;
  text-align: center;
  font-family: var(--alr);
  font-size: 24px;
  text-transform: uppercase;
}

ul,
dl,
li,
dd,
dt {
  list-style: none;
}

address,
em {
  font-style: normal;
}

.modlist,
.lastedit,
.punbb div#pun-live-rusff,
.punbb .topic a.sharelink,
.reactions-root {
  display: none;
}

#tags .container,
.post_report,
.post_reputation,
#MyBookmarks {
  border: 1px solid var(--brown4);
  background: var(--light);
}

#tags .container {
  padding: var(--mpad) !important;
  top: 0 !important;
  max-height: 300px;
  overflow: auto;
}

#tooltip {
  position: absolute;
  background: rgba(0,0,0,.7);
  color: var(--light);
  font: normal 11px/14px sans-serif;
  padding: 2px 10px;
}

/* ОФОРМЛЕНИЕ КНОПОК
------------------------------------------*/

input.button,
#pun-admain input.button,
#sub4,
input[type="button"] {
  background: #766656;
  border: 1px solid #6b5b4c;
  box-shadow: 0 0 10px #a98875 inset;
  color: #cecfbc;
  font-family: lora;
  font-size: 10px;
  font-weight: normal;
  margin-top: 0;
  padding: 5px 15px 6px 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  text-transform: uppercase;
  letter-spacing: .5px;
  cursor: pointer;
}

input.button:hover,
#pun-admain input.button:hover,
#sub4:hover,
input[type="button"]:hover {}

/* ОФОРМЛЕНИЕ ПОЛЕЙ ВВОДА
------------------------------------------*/

input[type="text"],
input[type="password"],
textarea,
select {
  padding: 2px 5px;
  border: 1px solid var(--brown4);
  background: var(--brown2);
}

#main-reply {
  box-sizing: border-box;
  font-size: 14px;
}


/* Админка
------------------------------------------*/

.punbb-admin .adcontainer,
.punbb-admin .adformal {
  border: none;
}

.punbb-admin #pun-adnav {
  margin-left: -146px;
  width: 146px;
}

#pun-admain .adformal {
  padding-right: 55px;
}

.punbb-admin .adminmain {
  padding-left: 200px;
}


/* Тело форума
------------------------------------------*/

html {
  background: var(--body-bg) url() no-repeat top center;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -10;
  background: url(https://forumstatic.ru/files/0016/01/4e/30865.png) repeat-x top center, url(https://forumstatic.ru/files/0016/01/4e/75828.jpg) no-repeat top center/cover;
}

#pun {
  margin: 122px auto 50px;
  width: 1010px;
}

.punbb {
  margin: 0 auto;
  padding: 22px 0 24px;
  font: normal 70% Verdana, Arial;
  color: #39332e;
  width: 1010px;
  background: url(https://forumstatic.ru/files/0016/01/4e/89152.jpg);
  border-image: url(https://forumstatic.ru/files/0016/01/4e/35439.png) 110/115px/18px repeat;
  -moz-border-image: url(https://forumstatic.ru/files/0016/01/4e/35439.png) 110/115px/18px repeat;
  -webkit-border-image: url(https://forumstatic.ru/files/0016/01/4e/35439.png) 110/115px/18px repeat;
  o-border-image: url(https://forumstatic.ru/files/0016/01/4e/35439.png) 110/115px/18px repeat;
}

.punbb>div .container {
  padding: var(--bigpad);
}


/* Навигационные ссылки */

#pun-navlinks {
  position: relative;
  z-index: 10;
}

#pun-navlinks .container {
  padding: 5px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#pun-navlinks .navleft {
  width: calc(50% - 125px);
  text-align: right;
}

#pun-navlinks .navright {
  width: calc(50% - 125px);
  text-align: right;
}

#pun-navlinks li#navprofile,
.gid3 #pun-navlinks li#navsearch {
  padding-right: 250px;
}

#pun-navlinks .container:after {
  display: none;
}

#pun-navlinks li {
  padding: 0 5px;
  display: inline;
  font-family: var(--alr);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: .5px;
}

#pun-navlinks li a {
  background: linear-gradient(45deg, #a38c7b 33%, #977c69 66%, #88705e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #88705e;
  transition-duration: 1s;
  text-shadow: 0 0 3px rgba(0, 0, 0, 20%);
}

#pun-navlinks li a:hover {
  background: linear-gradient(45deg, #c89966 33%, #b87f4d 66%, #a66a45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #88705e;
  transition-duration: 1s;
}

/* Пользовательские ссылки */

#pun-ulinks {
  position: relative;
  z-index: 10;
}

#pun-ulinks .container {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#pun-ulinks li {
  padding: 0 5px;
  display: inline;
  font-size: 9px;
  text-transform: lowercase;
  letter-spacing: .5px;
}

/* Статус */

#pun-status .container {
  font-size: 10px;
  font-family: lora;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-transform: lowercase;
}

#pun-status span {
  white-space: nowrap;
  margin-right: 5px;
}

.container.crumbs {
  box-sizing: border-box;
  font-family: lora;
  font-size: 13px;
  width: 100%;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 4px;
  letter-spacing: 0.6px;
}

#pun-crumbs1 p.container {
  text-align: center;
}

/* Копирайт */
#pun-about .container {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  font-family: lora;
  text-transform: lowercase;
}


/* Главная форумная таблица
------------------------------------------*/

.punbb #pun-main #subforums {
  padding: var(--bigpad);
}

.main table {
  table-layout: fixed;
  width: 100%;
}

.main th {
  padding: 5px 10px;
  font-size: 0;
}

.main td {
  padding: 10px;
  box-sizing: border-box;
}

.tcl {
  width: 50%;
}

.punbb:not(#pun-index) .intd {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tc2,
.tc3,
.tcmod {
  width: 5%;
  text-align: center;
  font-size: 11px;
  font-family: lora !important;
  font-weight: 400;
}

.tcr {
  width: 30%;
}

#pun-searchtopics .tcl,
#pun-modviewforum .tcl {
  width: 40%
}

#pun-searchtopics .tc2 {
  text-align: center;
  width: 20%;
}

#pun-debug table .tcl {
  width: 15%;
}

#pun-debug .tcr {
  width: 90%;
}

#pun-viewforum .tclcon a,
#pun-messages .tclcon a,
#pun-searchtopics .tclcon a {
  font-size: 13px;
  font-weight: 400;
  font-family: lora;
}

#pun-viewforum span.byuser,
#pun-messages span.byuser,
#pun-searchtopics span.byuser {
  font-size: 12px;
  font-weight: 600;
  font-family: lora !important;
}


/* Иконки */

div.icon {
  width: 27px;
  height: 26px;
  background: url(https://forumstatic.ru/files/0016/01/4e/16790.png) no-repeat top center;
  opacity: .6;
  flex-shrink: 0;
}

#pun-index div.icon {
  position: absolute;
  background: url(https://forumstatic.ru/files/0016/01/4e/63577.png) no-repeat top center;
  margin: 2px 0;
  opacity: 1;
}

#pun-index tr.inew div.icon {
  background: url(https://forumstatic.ru/files/0016/01/4e/50114.png) no-repeat top center;
  opacity: 1;
}

tr.inew div.icon {
  background: url(https://forumstatic.ru/files/0016/01/4e/63577.png) no-repeat top center;
  opacity: 1;
}

tr.isticky div.icon {
  background: url(https://forumstatic.ru/files/0016/01/4e/53217.png) no-repeat top center;
  opacity: 1;
}

tr.iclosed div.icon {
  background: url(https://forumstatic.ru/files/0016/01/4e/47254.png) no-repeat top center;
  opacity: 1;
}

/* превью аватар */

.punbb .user-avatar,
#pun-index .user-avatar,
.punbb .user-avatar .avatar-image {
  width: 45px !important;
  height: 45px !important;
  border-radius: 0 !important;
}

.punbb .user-avatar .avatar-image {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}


/* Пагинация (Переключаемые страницы, Новая тема + Опрос, Подписка)
--------------------------------------------------------------------------------------------------- */

.multipage {
  margin-top: 10px;
}

.linkst,
.linksb {
  position: relative;
  padding: var(--bigpad);
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 400;
  font-family: lora !important;
  text-transform: lowercase;
}

.linkst .postlink {
  text-align: right;
}

.linksb {
  position: relative;
  padding: var(--bigpad);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 400;
  font-family: lora !important;
  text-transform: lowercase;
}

.linksb .pagelink {
  order: -1;
}

.subscribelink {
  width: 100%;
  text-align: right;
}

.linksb noindex {
  order: 1;
}

.linksb .postlink {
  margin-left: auto;
  text-align: right;
}

/* Модераторское меню, RSS, Atom */

.modmenu .container {
  padding: var(--mpad);
  text-align: right;
  font-size: 10px;
  font-weight: 400;
  font-family: lora !important;
  text-transform: lowercase;
}

.modmenu .container strong {
  float: left;
}

.modmenu input {
  margin-left: 10px;
}

/* Главная
------------------------------------------*/

/* Категории */

#pun-index thead,
#pun-index .tc2 {
  display: none;
}

#pun-index .category tr,
#pun-stats .container {
  margin: 0 auto 10px;
  background: var(--brown);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
  display: block;
  width: 850px;
  box-sizing: border-box;
}

.punbb .category h2,
#pun-stats h2 {
  margin: 0 auto;
  padding: 0;
  height: 65px;
}

.punbb .category h2 span,
#pun-stats h2 span {
  display: none;
}

.punbb .category-1 h2 {
  background: url(https://forumstatic.ru/files/0016/01/4e/35867.png) no-repeat top center;
}

.punbb .category-2 h2 {
  background: url(https://forumstatic.ru/files/0016/01/4e/12851.png) no-repeat top center;
}

.punbb .category-3 h2 {
  background: url(https://forumstatic.ru/files/0016/01/4e/56358.png) no-repeat top center;
}

.punbb .category-4 h2 {
  background: url(https://forumstatic.ru/files/0016/01/4e/99535.png) no-repeat top center;
}

.punbb .category-5 h2 {
  background: url(https://forumstatic.ru/files/0016/01/4e/52440.png) no-repeat top center;
}

.punbb .category-6 h2 {
  background: url(https://forumstatic.ru/files/0016/01/4e/15221.png) no-repeat top center;
}

.punbb .category-7 h2 {
  background: url(https://forumstatic.ru/files/0016/01/4e/73100.png) no-repeat top center;
}

#pun-index tbody.hasicon td.tcl {
  padding: 10px;
  width: 500px;
  text-align: justify;
  font-family: lora;
  font-size: 10px;
}

#pun-index .tclcon h3 {
  padding-left: 43px;
  background: var(--brown2);
  height: 30px;
  margin: 0 0 10px -10px;
  font-size: 20px;
  font-family: var(--alr);
  line-height: 32px;
  letter-spacing: .7px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

#pun-index .tclcon h3 a {
  color: var(--brown3);
  font-weight: normal;
}

#pun-index .tclcon h3 a:hover {
  color: var(--darkred);
}

#pun-index .tc3 {
  width: 70px;
  color: var(--brown5);
  font-size: 10px;
  letter-spacing: .7px;
}

#pun-index .tcr {
  position: relative;
  width: 280px;
  color: var(--slide-text);
  font-size: 10px;
  letter-spacing: .7px;
}

#pun-index .user-avatar {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#pun-index .tcr br {
  display: none;
}

#pun-index .tcr .lastpost-link,
#pun-index .tcr .lastpost {
  margin-left: 55px;
  display: block;
}

#pun-index .tcr .lastpost-link {
  color: var(--slide-text);
}

#pun-index .tcr .lastpost-link:hover {
  color: var(--darkred);
}


/* Статистика */

#pun-stats h2 {
  background: url(https://forumstatic.ru/files/0016/01/4e/63519.png) no-repeat top center;
}

#pun-stats .statscon {
  padding-top: 10px;
}

#pun-stats .container {
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  justify-content: space-between;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: lora;
}

li#onlinelist {
  margin-top: 10px;
}

/* Шапка
------------------------------------------*/

#pun-title {
  position: absolute;
  top: 0;
  width: 1010px;
  height: 160px;
  background: url(https://forumstatic.ru/files/0016/01/4e/40903.png) no-repeat top center, url(https://forumstatic.ru/files/0016/01/4e/88729.png) no-repeat left -5px top 5px, url(https://forumstatic.ru/files/0016/01/4e/88729.png) no-repeat right top 5px;
}

#pun-title .title-logo {
  display: none;
}

#html-header {
  position: absolute;
  top: 0;
  width: 1010px;
  height: 160px;
  z-index: 1;
}

.tablica {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-window {
  left: -2px;
  top: 1px;
  position: absolute;
  width: 120px;
  height: 117px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skull {
  z-index: 100;
  pointer-events: none;
  position: absolute;
  left: 110px;
  top: 80px;
}

.center-window {
  position: relative;
  width: 260px;
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.center-window:before {
  content: '';
  position: absolute;
  display: block;
  width: 260px;
  height: 165px;
  background: url(https://forumstatic.ru/files/0016/01/4e/61266.png) no-repeat top center, url(https://forumstatic.ru/files/0016/01/4e/90938.png) no-repeat center;
}

.text-right {
  position: absolute;
  background: url(https://forumstatic.ru/files/0016/01/4e/57790.png) no-repeat top center;
  width: 236px;
  height: 112px;
  top: 10px;
  right: 135px;
  color: var(--slide-text);
}

.text-right::after {
  content: "";
  background: url(https://forumstatic.ru/files/0016/01/4e/53343.png) no-repeat top center;
  position: absolute;
  width: 261px;
  height: 132px;
  top: -6px;
  pointer-events: none;
}

.right-window {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 110px;
  height: 117px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  position: relative;
}


/* Футер
------------------------------------------*/

#html-footer .container {
  padding: 0;
}

.copyright {
  background: linear-gradient(45deg, #a38c7b 33%, #977c69 66%, #88705e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #88705e;
  transition-duration: 1s;
  text-shadow: 0 0 3px rgba(0, 0, 0, 20%);
  text-align: center;
}

.copyright span {
  font-size: 19px;
  font-family: var(--alr);
  height: 18px;
  display: block;
}

.copyright p {
  font-size: 8px;
  line-height: 8px;
  letter-spacing: 1.6px;
}


/* Список тем
------------------------------------------*/



/* Топик
------------------------------------------*/

.punbb .post .container {
  padding: 10px 53px;
}

.toppost,
.topicpost {
  margin-top: 10px;
}

.post .container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.post h3 {
  background: url(https://forumstatic.ru/files/0016/01/4e/34959.png) no-repeat top center;
  height: 65px;
  margin: -20px auto;
}

.post h3 span {
  margin-left: 210px;
  padding: 20px 70px;
  display: block;
  box-sizing: border-box;
  line-height: 25px;
  font-size: 9px;
  font-family: lora;
  color: #856f5a;
  letter-spacing: 1.3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.post h3 span a.permalink {
  display: block;
  width: fit-content;
  color: #856f5a;
}

.post h3 strong {
  display: block;
  float: right;
  text-align: right;
  font-weight: normal;
  color: #856f5a;
}

/* Автор */

.post-author {
  position: relative;
  margin: -22px 0 10px -15px;
  width: 230px;
  text-align: center;
  background: url(https://forumstatic.ru/files/0016/01/4e/78999.png) no-repeat top center, url(https://forumstatic.ru/files/0016/01/4e/82430.png) no-repeat bottom center, url(https://forumstatic.ru/files/0016/01/4e/41644.png) repeat-y top center;
  color: var(--sandy);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .5);
}

.post-author ul {
  padding: 16px 18px;
}

.punbb .post .post-author a {
  color: #bc9168;
  font-weight: 500;
}

.place {
  font-size: 14px;
  font-family: var(--alr);
  letter-spacing: .25px;
  line-height: 30px;
  background: url(https://forumstatic.ru/files/0016/01/4e/99193.png) no-repeat top center;
  height: 28px;
  width: 194px;
  text-align: center;
  color: #6f6155;
  font-weight: normal;
}

.pa-author {
  padding: 5px 0 2px;
  font-size: 20px;
  font-family: var(--alr);
  letter-spacing: .25px;
}

.pa-author a {
  background: linear-gradient(45deg, #c89966 33%, #b87f4d 66%, #a66a45);
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #88705e;
  transition: 1s;
}

.pa-author a:hover {
  background: linear-gradient(257deg, #c89966 33%, #b87f4d 66%, #a66a45);
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #88705e;
  transition: 1s;
}

.pa-title {
  margin-bottom: 5px;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
  font-family: 'Lora';
  text-transform: lowercase;
}

.pa-avatar img {}

.pa-fld1 {
  background: #00000040;
  border: 1px solid #564d3e4a;
  padding: 5px 5px 0;
  margin: 0px 5px;
}

.pa-fld1 name,
#pa-fld1 name {
  display: block;
  font-family: viaoda libre;
  font-size: 16px;
}

.pa-fld1 zv,
#pa-fld1 zv {
  font-family: lora;
  display: block;
  font-size: 9px;
  letter-spacing: 1px;
  margin-top: 2px;
  line-height: 10px;
}

.pa-fld1 tex,
#pa-fld1 tex {
  text-align: justify;
  display: block;
  margin: 3px 6px 6px 6px;
  font-family: roboto;
  font-size: 9px;
  line-height: 11px;
  color: #85745e;
}

.pa-posts,
.pa-respect {
  display: inline-block;
  width: 66px;
  font-size: 9px;
  box-sizing: border-box;
  border: 3px double rgba(159, 114, 47, .2);
  padding: 2px;
  font-style: italic;
}

.pa-posts {
  margin: 10px 12px 10px 16px;
}

.pa-respect {
  margin: 10px 16px 10px 12px;
}

.pa-posts .fld-name,
.pa-respect .fld-name {
  font-style: normal;
}

.pa-fld3 {
  background: #00000040;
  border: 1px solid #6a5a404a;
  padding: 0 5px;
  margin: 7px 5px;
  font-family: lora;
  text-transform: uppercase;
  font-size: 8.5px;
  letter-spacing: 1px;
  line-height: 17px;
}

.pa-fld5,
.pa-fld4 {
  margin: 0 8px 10px;
  display: inline-block;
  width: 76px;
  line-height: 17px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  font-size: 10px;
}

.pa-fld5 {
  background: url(https://forumstatic.ru/files/0016/01/4e/99941.png) no-repeat bottom center;
}

.pa-fld4 {
  background: url(https://forumstatic.ru/files/0016/01/4e/64176.png) no-repeat bottom center;
}

.pa-online,
.pa-offline {
  position: relative;
  height: 19px;
  background: url(https://forumstatic.ru/files/0016/01/4e/61287.png) no-repeat bottom center;
}

.pa-online::before {
  content: "online";
  font-size: 8px;
  letter-spacing: 1.5px;
  color: var(--sandy3);
}

.pa-offline::before {
  content: "offline";
  font-size: 8px;
  letter-spacing: 1.5px;
  color: var(--sandy3);
}


.pa-online strong,
.pa-last-visit {
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, 0);
  padding: 5px 10px;
  left: 50%;
  opacity: 0;
  top: 21px;
  background: rgba(0, 0, 0, .7);
  box-sizing: border-box;
  white-space: nowrap;
  transition: opacity .2s linear 0s;
  pointer-events: none;
}

.pa-online:hover strong,
.pa-offline:hover .pa-last-visit {
  opacity: 1;
}

.pa-online strong::after,
.pa-last-visit::after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  z-index: 10;
  border: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: -10px;
  left: 50%;
  border-bottom: 10px solid rgba(0, 0, 0, .7);
  top: -10px;
}


/* Тело поста */

.post-body {
  width: calc(100% - 218px);
}

.post-box {
  padding: 10px 20px;
}

.post-links {
  margin-left: 230px;
  width: 100%;
}

.post-links ul {
  padding: var(--padding);
  margin-left: -230px;
  text-align: right;
  box-sizing: border-box;
  font-size: 9px;
  font-family: lora !important;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: .5px;
}

.post-links li {
  display: inline;
}

.post-links li:not(:first-of-type) {
  padding-left: 10px;
}

.pl-email,
.pl-website {
  float: left;
}

.clearer {
  clear: both;
  height: 0;
  font-size: 0;
}


/* Контент поста - цитата, спойлер, таблицы и т.п. */

.punbb .post td {
  border: 0px transparent !important;
}

pre {
  font: 1.1em/140% monaco, "bitstream vera sans mono", "courier new", courier, monospace;
}

.post-content em {
  font-style: italic;
}

.post-content td {
  border: 0 transparent !important;
}

.post-content em.bbuline {
  font-style: normal;
  text-decoration: underline;
}

.post-content p {
  margin: 0;
  padding: 0 0 12px 0;
  line-height: 150%;
  text-align: justify;
}

.post-content img {
  vertical-align: middle;
}

.scrollbox {
  width: 100%;
  overflow: auto;
  max-height: 200px;
}

.quote-box,
.code-box {
  margin: 4px 10px 10px;
  padding: 15px 20px;
  color: #39332e;
  background: #b9b4aa4f;
  border: 1px solid #b4ada585;
}

.quote-box cite, .code-box strong.legend {
  text-align: left;
  display: block;
  font-size: 11px;
  font-weight: 500;
  font-family: 'Lora';
  width: auto;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.2px;
  color: #74502c;
  margin-bottom: 5px;
}

.post-sig dt {
  border-bottom: 1px solid #ccc;
  width: 300px;
  margin: 10px auto;
}

html.punbb {
  border: none;
}

/* Форма ответа */

#tags {
  position: relative;
}

/* Формы
------------------------------------------- */

.checkfield input[type="checkbox"],
.radiofield input[type="radio"] {
  margin: 0 3px;
}

p[class="checkfield"] *,
div[class="checkfield"] *,
fieldset[class="radiofield"] * {
  height: 20px;
  vertical-align: middle;
}

textarea,
input,
select,
optgroup {
  font-size: 11px;
}

optgroup {
  font-weight: normal;
}

.formal .container {
  padding: var(--padding);
}

.formsubmit {
  padding: 0;
  margin: 10px 0 0 0;
}

.formsubmit input,
.formsubmit a,
.formsubmit span {
  margin: 0 6px 0 0;
}

fieldset {
  border: none;
}

fieldset legend {
  font-size: 11px;
  font-weight: 400;
  font-family: lora;
  text-transform: lowercase;
}

fieldset fieldset {
  border: none;
  margin: 0;
  padding: 0 0 8px 0
}

.fs-box {
  padding: 5px 0;
}

.fs-box p,
.fs-box fieldset {
  padding: 0 0 8px 0;
}

.inline .inputfield,
.inline .selectfield,
.inline .passfield {
  float: left;
  margin-right: 1em;
}

.inline .infofield {
  clear: both
}

.datafield br {
  display: none
}

.required label,
.datafield span.input {
  font-size: 10px;
}

textarea,
.longinput input {
  width: 64%;
  margin: 0;
}

.hashelp {
  position: relative;
}


/* Профиль + ЛС
------------------------------------------*/

#profile .container {
  padding-left: 230px;
  min-height: 100px;
}

#profilenav {
  float: left;
  width: 120px;
  margin-left: -150px;
}

#viewprofile h2,
#profilenav h2 {
  padding: 0;
  margin: 0;
}

#profilenav li {
  margin-bottom: 5px;
}

#viewprofile li {
  padding: 5px 0;
}

#profile-right li {
  display: flex;
}

#profile-right li span {
  width: 150px;
  flex-shrink: 0;
}

img.avatardemo {
  float: right;
  margin: 0 0 8px 18px;
}

#pun-messages .post h3 {
  background: none;
}

#pun-messages .post h3 span {
  text-shadow: none;
}

#pun-messages .clearer {
  display: none;
}

/* Прочие страницы
------------------------------------------*/

/* Список пользователей */

#pun-userlist .formal,
#pun-userlist .formal .container {
  margin-bottom: 0;
}

#pun-userlist .tc2 {
  text-align: left;
  width: 20%;
}

#pun-userlist .tcl {
  width: 40%
}

.usertable .container {}

/* Собщения об ошибках */

.info .container {
  padding: var(--mpad);
}

.info .container .backlink {
  padding-top: 8px;
}

/* Регистрация */

.info-box {
  margin: 0 0 10px 0;
}

.info-box * {
  padding: 0 0 5px 0;
}

.info-box .legend {
  font-weight: bold;
}


/* Кнопки вверх-вниз
-------------------------------------------------------*/

.go-up,
.go-down {
  width: 56px;
  height: 25px;
  cursor: pointer;
  z-index: 9999;
  display: none;
  position: fixed;
  margin-left: 1050px !important;
  box-sizing: border-box;
  transition: all .3s linear 0s;
}

.go-up {
  top: 335px;
}

.go-down {
  top: 370px;
}

.go-down img {
  transform: scaleY(-1);
}

.go-down:hover,
.go-up:hover {
  opacity: 1;
}


.hideprofile .post-body,
.hideprofile .post-links,
.hideprofile .post-links ul,
.post.hideprofile h3>span {
  width: 100%;
}

.hideprofile .post-sig {display: none;}

#my-form {padding: var(--bigpad);}


/* Слайдер
-------------------------------------------------------*/

#slideshow {
  width: 236px;
  height: 112px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--slide-text);
}

#slideshow #slidesContainer {
  width: 236px;
  height: 112px;
  overflow: auto;
  position: relative;
  left: 0px;
}

#slideshow #slidesContainer .slide {
  margin: 0 auto;
  width: 220px;
  height: 112px;
  position: relative;
  box-sizing: border-box;
}

.control {
  display: block;
  width: 17px;
  height: 39px;
  font-size: 0;
  position: absolute;
  cursor: pointer;
}

#leftControl {
  left: -15px;
  background: transparent url(https://forumstatic.ru/files/0016/01/4e/30160.png) no-repeat 0 0;
}

#rightControl {
  right: -15px;
  background: transparent url(https://forumstatic.ru/files/0016/01/4e/30160.png) no-repeat 0 0;
  transform: scaleX(-1);
}

.tab_slide {
  width: 236px;
  height: 112px;
  position: absolute;
  left: 130px;
  top: 10px;
  color: #b19e8f;
}

.slide-one {
  background: url(https://forumstatic.ru/files/0016/01/4e/57790.png) no-repeat top center;
  padding: 15px;
  text-align: center;
}

#slideshow .slide-two span {
  text-align: center;
  width: 100%;
  display: block;
}

.slide-text {
  width: 210px;
  margin: 11px auto;
  height: 90px;
  overflow: auto;
  text-align: justify;
  box-sizing: border-box;
  font-size: 8px;
  letter-spacing: 1px;
}

.actives_inner {
  display: flex;
  justify-content: center;
  margin: 3px auto 5px;
}

.actives_inner a {
  background: url(https://forumstatic.ru/files/0016/01/4e/46452.png) no-repeat center;
  width: 54px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bestep {
  display: flex;
  width: 120px;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #00000040;
  border: 1px solid #6a5a40;
  padding: 0 5px;
  font-family: lora;
  text-transform: uppercase;
  font-size: 8.5px;
  letter-spacing: 1px;
  line-height: 17px;
  color: var(--light-gold);
}

/* Матчасть */

.matchast {
  width: 850px;
  margin: 0 auto;
  background: url(https://forumstatic.ru/files/0016/01/4e/36689.jpg) repeat top center;
  border-radius: 15px;
  font: normal 12px/140% sans-serif;
}

.matchast ul {
  list-style: none;
  text-align: justify;
}

.matchast h2 {
  margin: 0 auto;
  display: block;
  width: fit-content;
  font: normal 30px/100% serif;
}

.matchast h4 {
  padding: 0 0 10px;
  text-align: center;
  font: bold 12px/140% verdana, sans-serif;
}

.matchast img {
  max-width: 100%;
  display: block;
  margin: 0 auto 10px;
}

.matchast a {
  text-decoration: none;
  color: var(--gold);
}

.matchast table {
  width: 100%;
  border-spacing: 10px;
}

.matchast th {
  text-align: center;
  font-weight: normal;
  vertical-align: top;
}

.matchast td {
  vertical-align: top;
}

.matchast p,
.guestbook p {
  text-align: justify;
  padding: 0 0 10px;
}

.matchast span {
  text-align: center;
  display: block;
  font-weight: normal;
}

.matchast .notabene {
  color: red;
  font-weight: bold;
  text-align: left;
  display: inline;
  font-family: inherit;
  font-size: inherit;
}

.matchast_top {
  padding: 20px 20px 0;
  box-sizing: border-box;
  color: var(--light);
  text-shadow: 1px 1px #000;
}

.matchast_top a {
  color: var(--light-gold);
}

.matchast_top a:hover {
  color: var(--gold);
}

.matchast_top span {
  display: block;
  text-align: center;
  font: normal 20px/120% serif;
}

.matchast_top span i {
  font: italic 12px/14px sans-serif;
}

.matchast_info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 10px 50px;
  margin: 10px 0;
}

.matchast_info>div {
  width: 200px;
  text-align: center;
}

.matchast_info b {
  display: block;
}

.union_info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  margin: 10px 0;
}

.union_info>div {
  width: 250px;
}

.union_info b {
  display: block;
}

.matchast .container {
  margin: 0 auto;
  padding: 20px;
  width: fit-content;
  height: 640px;
  box-sizing: border-box;
}

.tabs {
  position: relative;
  width: 810px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tab,
.tab-title {
  display: inline-block;
}

.tab input[type="radio"] {
  display: none;
}

.tab-title {
  padding: 5px 10px;
  width: 190px;
  background: url(https://forumstatic.ru/files/0016/01/4e/89152.jpg) repeat top center;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .7);
  line-height: 18px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.tab-content {
  position: absolute;
  padding: 10px 15px;
  right: 0;
  top: 0;
  width: 600px;
  height: 600px;
  display: none;
  box-sizing: border-box;
  background: url(https://forumstatic.ru/files/0016/01/4e/89152.jpg) repeat top center;
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, .7);
  overflow: auto;
}

.tab :checked+.tab-title {
  position: relative;
  background: var(--light);
  z-index: 1;
}

.tab :checked~.tab-content {
  display: block;
}

.matchast details {
  margin-bottom: 10px;
  padding: 10px 15px;
  background: var(--brown);
}

.matchast details summary {
  margin: 0 auto;
  width: fit-content;
  cursor: pointer;
  font-family: 'lora';
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .5px;
  color: #434646;
}

.matchast details[open]>summary {
  margin: 0 auto 5px;
}

.matchast_top details {
  background: rgba(238, 234, 228, .3);
}

.matchast_top details summary {
  color: var(--light);
}

.title_name,
.title_address,
.title_who {
  width: 16%;
}

.title_descr {
  width: 52%;
  text-align: justify;
}

.other_hierarchy {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.other_hierarchy div {
  width: calc(100% / 3 - 10px);
}

.division th,
.division td {
  width: calc(100% /3);
}

.capitals td {
  text-align: center;
}

.sejm td {
  width: 50%;
}

.names td {
  width: 25%;
}

.money td {
  width: calc(100% / 3);
  text-align: center;
}

.guild {
  background: var(--brown);
  padding: 10px 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.malumnia .tabs,
.elmhold .tabs,
.jotunnland .tabs,
.sekhmet .tabs {
  gap: 13px;
}

.malumnia .money td {
  width: auto;
}

.army {
  text-align: center;
}

.months {
  display: flex;
  gap: 10px;
}

.months ul {
  width: 50%;
}

.months ul:first-of-type {
  text-align: right;
}

.rels td {
  text-align: center;
}

.holidays td:first-of-type {
  width: 30%;
  text-align: center;
}

.holidays td:last-of-type {
  width: 70%;
  text-align: justify;
}


/* Гостевая */

.guestbook {
  margin: 0 auto;
  display: block;
  width: 730px;
  background: url(https://forumstatic.ru/files/0016/01/4e/41817.jpg) no-repeat center center;
  border-radius: 15px;
  color: var(--light);
  text-shadow: 2px 2px 2px #000;
  font-size: 16px;
  font-family: serif;
}

.guestbook .container {
  padding: 20px 25px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .2);
  backdrop-filter: blur(3px);
  border-radius: 15px;
}

.guestbook h1 {
  text-align: center;
  font-family: var(--alr);
  font-size: 50px;
  line-height: 150%;
}

.guestbook h2 {
  text-align: center;
  font-size: 36px;
  line-height: 150%;
}

.guestbook span {
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-weight: bold;
}

.guestbook a {
  text-decoration: none;
  color: var(--light-gold);
}

.guestbook a:hover {
  color: var(--gold);
}

.ams_block {
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;
  gap: 20px;
}

.ams_admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 120px;
  text-align: center;
}

.ams_pic {
  position: relative;
  display: block;
  width: 120px;
  height: 90px;
  background-color: #ccc;
}

.ams_descr {
  position: absolute;
  width: 120px;
  height: 90px;
  top: 0;
  left: 0;
  background: url(https://forumstatic.ru/files/0016/01/4e/89152.jpg) repeat top center;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--brown) transparent;
  opacity: 0;
  transition: opacity .3s linear 0s;
  color: #000;
  text-shadow: none;
  padding: 5px;
  box-sizing: border-box;
  font: normal 10px/12px arial;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .7);
}

.ams_pic:hover .ams_descr {
  opacity: 1;
}

.ams_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.reserve_block {
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.reserve_block a {
  color: var(--gold);
  font-weight: bold;
}

.reserve_block i {
  display: block;
  text-align: center;
}

.reserve_block details {
  padding: 10px;
  width: 210px;
  background: url(https://forumstatic.ru/files/0016/01/4e/89152.jpg) repeat top center;
  color: #000;
  text-shadow: none;
  font: normal 12px arial;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .7);
}

.reserve_block details summary {
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.res {
  margin-top: 10px;
  max-height: 250px;
  overflow: auto;
}

.reserve_code {
  margin-bottom: 20px;
  padding: 10px 15px;
  background: url(https://forumstatic.ru/files/0016/01/4e/89152.jpg) repeat top center;
  color: #000;
  text-shadow: none;
  font: normal 14px arial;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .7);
}

.gbcode {
  padding: 10px 15px;
  background: var(--brown);
}

.reserve_code .gbcode .code-box {
  margin: 0;
  padding: 0;
  border: none;
}

.guestbook .legend a {
  color: var(--gold);
}

.guestbook .gbcode .scrollbox pre {
  font: normal 14px arial;
}