body {
  margin: 0;
}

.map h2, .map p {
  margin: 0;
}

.map a {
  color: #938f7e
}

.map a:hover {
  color:#e3cda1
  text-shadow: 0 1px 2px #000;
}

.map button {
  cursor: pointer;
}

.map *::selection {
  color: #d8c5a8;
  text-shadow: 1px 1px black;
  background: #2f2d0f;
}

.map * {
  scrollbar-color: #0ac2bb #1a1411;
  scrollbar-width: thin;
}

/* полоса прокрутки (кроме мозиллы) */

.map *::-webkit-scrollbar {width: 7px; height: 7px;}
.map *::-webkit-scrollbar-track {background-color: var(--sec-border);}
.map *::-webkit-scrollbar-thumb {background-color: var(--main-light-bg);}
.map *::-webkit-scrollbar-thumb:active {background: var(--main-blue);}

.map {
  position: relative;
  background-image: url(/blackymap/img/25734.png);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 140%;
}

.description {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 400px;
  background: #3b3933;
  box-shadow: rgb(22 16 11) 0px 3px 5px 0px, inset 0 0 1px 3px #968d80;
  border: 3px solid #968d80;
  border-radius: 50px 0 50px 0px;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.description h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.description img {
  display: block;
  margin: 0 auto;
}

.descr_text {
  max-height: 200px;
  overflow: auto;
  text-align: justify;
  margin: 10px 10px 10px 15px;
  padding-right: 5px;
}

.descr_text p {
  padding-bottom: 10px;
}

.description button {
  margin: 0 auto;
  display: block;
}

#copy_link {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#copyright {
  bottom: 0;
  right: 0;
  left: unset;
  top: unset;S
}