@font-face {
    font-family: 'Uk Antique';
    src: url('https://alexkolmar.github.io/fonts/Uk_Antique/Uk_Antique.eot');
    src: local('Uk_Antique'),
        url('https://alexkolmar.github.io/fonts/Uk_Antique/Uk_Antique.eot?#iefix') format('embedded-opentype'),
        url('https://alexkolmar.github.io/fonts/Uk_Antique/Uk_Antique.woff2') format('woff2'),
        url('https://alexkolmar.github.io/fonts/Uk_Antique/Uk_Antique.woff') format('woff'),
        url('https://alexkolmar.github.io/fonts/Uk_Antique/Uk_Antique.ttf') format('truetype'),
        url('https://alexkolmar.github.io/fonts/Uk_Antique/Uk_Antique.svg#Uk Antique') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

