/* A3.5 */
.punbb h1 span, .punbb h2 span, .punbb legend span {
  font-size: 1em;
  }
.punbb h1 span {
color: #630B07;
background: url("https://i.ibb.co/39Yz8w31/39322.png") 50% 100% no-repeat transparent;
display: inline-block;
font: 700 14px "Palatino Linotype", "Georgia", "Garamond", "Times New Roman", "times", sans-serif;
min-width: 166px;
padding-bottom: 12px;
text-transform: uppercase;
}
/* A3.6 */
.punbb pre {
  font: 1.1em/140% monaco, "bitstream vera sans mono", "courier new", courier, monospace
  }

/* A3.7 */
.punbb address, .punbb em {
  font-style: normal
  }

/* A3.8 */
.punbb .post-content em {
  font-style: italic
  }

/* A3.9 */
.punbb .post-content em.bbuline {
  font-style: normal;
  text-decoration: underline;
  }

/* A3.10 */
.punbb a {
  text-decoration: none;
  }

/* A3.11 */
.punbb optgroup {
  font-weight: bold;
  }


/* A4 Float clearing and hidden items
-------------------------------------------------------------*/

/* A4.1 */
#pun:after,
.punbb .container:after,
.punbb .post-links ul:after,
.punbb .main div.inline:after,
.punbb .post-box:after,
.punbb .linksb:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  overflow:hidden;
  line-height: 0.0;
  font-size: 0;
  }

/* A4.2 */
.acchide,
#pun-index #pun-main h1,
#pun-navlinks h2,
#pun-pagelinks h2,
#pun-status h2,
#pun-ulinks h2,
.punbb .forum h2,
.punbb .multipage .topic h2,
.punbb dl.post-sig dt span,
.punbb p.crumbs strong,
.punbb .divider hr,
.punbb .required label em,
.punbb .formsubmit label,
.punbb .submitfield label,
.punbb .modmenu label,
#pun-userlist .main h2 {
  font-size: 0;
  height: 0;
  width: 0;
  line-height: 0.0;
  position:absolute;
  left: -9999px;
  overflow: hidden
  }


/* A5 Basic page layout and borders
-------------------------------------------------------------*/

/* A5.1 */
#pun {
  position: relative;

  }

/* A5.2 */
.punbb {
  width: 890px;
  height: auto;
  margin:  0 auto;
  }

.punbb .main {
width: 890px;
margin: 20px auto;
padding: 0px 0px 0px;
}

#pun-stats, #pun-crumbs1, #pun-status, #pun-crumbs2 {
margin: 16px 34px;
}

/* A5.3 */
#pun-redirect, #pun-maint {
  margin: 50px auto 12px;
width: 870px;
  float: none;
  }

/* A5.4 */
.punbb .section, .punbb .main {
  }

/* A5.5 */
.punbb .category, .punbb .post {
  margin-top: 10px;
  }

/* A5.6 */
.punbb #pun-category1, .punbb .toppost, .punbb .topicpost {
  margin-top: 10px;
  }

/* 5.7 */
#pun-post .topic {
  margin-top: 1em;
  }

/* A5.8 */
.punbb .section, .punbb .forum, .punbb .formal, .punbb .modmenu, .punbb .info,
.punbb .category, .punbb .post {
  }

/* A5.9 */
.punbb .container {
  }

/* A5.10 */
.punbb .section h2, #pun-main h1, #pun-main h2, #pun-stats h2, #pun-debug h2 {
padding: 20px 1.5em 0px;
  }


/*************************************************************
B - MAIN CONTENT - GENERAL
**************************************************************/

/* B1 Parsed Content, Signatures and Scroll Boxes
-------------------------------------------------------------*/

/* B1.1 */
.punbb .post-content {
  padding: 2px;
  margin: 0;
  width: 100%;
  overflow: hidden;
  }

/* B1.2 */
.punbb .post-sig dt {
background: url(https://i.ibb.co/39Yz8w31/39322.png) 50% 0; 
  display: block;
  width: 166px;
height: 8px;
  margin: 5px auto;
  }

. post-sig {opacity: 0.7;}

/* B1.3 */
.punbb .post-content p {
font-size: 100%;
line-height: 150%;
margin: 0px;
padding: 4px 4px;
text-align: justify;
color: #44352c;
  }

/* B1.4 */
.punbb .post-content img {
  vertical-align: text-bottom
  }

/* B1.5 */
.punbb .post-content span img.postimg {
  vertical-align: middle;
    padding: 5px;
    background: #633f2b1a;
    border-color: #58312296;
    border-style: double;
    box-shadow: 0 0 0px 4px #44221db3;
    webkit-box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
    -moz-box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
    border-width: 4px;
  }

/* B1.6 */
.punbb .post-content .blockcode, .punbb .post-content blockquote {
  width: 100%;
  overflow: hidden;
  }

/* B1.7 */
.punbb .post-content .scrollbox {
  width: 100%;
  overflow: auto;
  }

/* B1.8 */
.punbb .post-content .quote-box, .punbb .post-content .code-box {
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.5em;
  }
  
.post-content .spoiler-box {
    margin: 0.1em 0.1em 0.1em 0.1em;
    padding: 0.5em;
}
  

/* B1.9 */
.punbb .quote-box cite, .punbb .code-box strong.legend {
  display: block;
  padding-bottom: 0.3em;
  font-size: 1.1em;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  border-bottom: 1px dashed #5d3a386e !important;
  }

/* B2 Information boxes
-------------------------------------------------------------*/

/* B2.1 */
.punbb .info-box {
  padding: 1.1em 1.7em 1em 1.7em;
  margin: 0 0 1.1em 0;
  }

/* B2.2 */
.punbb .info-box * {
  padding: 0 0 0.7em 0;
  }

/* B2.3 */
.punbb #pun-main .info-box .legend {
  font-size: 1.1em;
  font-weight: bold;
  }


/* B3 Pagination and posting links
-------------------------------------------------------------*/

/* B3.1 */
.punbb .linkst {
  float: left;
  position: relative;
  width: 100%;
  font-size: 1.1em;
  height: 0;
  }

/* B3.2 */
.multipage {
  margin-top: 3em;
  }

/* B3.3 */
.linkst .pagelink {
left: 10px;
padding: 4px;
position: absolute;
top: -22px;
width: 24em;
  }

/* B3.4 */
.linkst .postlink {
  position: absolute;
  right: 2em;
  width: 16em;
  text-align: right;
  font-weight: bold;
padding: 4px;
top: -22px;

  }

/* B3.5 */
.punbb .linksb {
  text-align: right;
  padding: 0.4em 1em 0.5em 1em;
  font-size: 1.1em;
  }

/* B3.6 */
.linksb .pagelink {
  float: left;
  width: 24em;
  text-align: left;
  }

/* B3.7 */
.linksb .postlink {
  float: right;
  width: 16em;
  font-weight: bold
  }

/* B3.8 */
.subscribelink {
  clear:both;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
  }


/*************************************************************
C - MAIN CONTENT - SPECIFIC
**************************************************************/

/* C1 Form layout
-------------------------------------------------------------*/

/* C1.1 */
.punbb .formal .container {
  padding: 0em 2.3em 1.1em 2.3em;
  }

/* C1.2 */
.punbb .formsubmit {
  padding: 0 0 0 1.7em;
  margin: 1em 0 0 0;
  }

/* C1.3 */
.punbb .formsubmit input, .punbb .formsubmit a, .punbb .formsubmit span {
  margin: 0 0.6em 0 0
  }

/* C1.4 */
.punbb fieldset {
  padding: 0 18px 0 18px;
  margin: 0 0 1em 0;
border: none !important;
  }

/* C1.5 */
.punbb fieldset legend {
  padding: 0;
  margin: 0 0 0 11px;
  font-size: 1.1em;
display: inline-block;
  }

/* C1.6 */
.punbb fieldset legend span {
  padding: 0 5px;
  margin: 10px 0 0 -15px;
display: inline-block;
  }

/* C1.7 */
.punbb fieldset fieldset {
  border-style: none;
  margin: 0;
  padding: 0 0 8px 0
  }

/* C1.8 */
.punbb .fs-box {
  padding: 2em 0 0.8em 0;
  }

/* C1.9 */
.punbb .fs-box p, .punbb .fs-box fieldset {
  padding: 0 0 0.8em 0
  }

/* C1.10 */
.punbb .inline .inputfield, .punbb .inline .selectfield, .punbb .inline .passfield {
  float: left;
  margin-right: 1em;
  }

/* C1.11 */
.punbb .inline .infofield {
  clear:both
  }

/* C1.12 */
.punbb .datafield br {
  display: none
  }

/* C1.13 */
.punbb .required label, .punbb .datafield span.input {
  font-weight: bold
  }

/* C1.14 */
.punbb .datafield span.input a {
  font-weight: normal;
  }

/* C1.15 */
.punbb .areafield span.input, .punbb p.longinput span.input {
  display: block;
  padding: 0 12em 0 0;
  height: 100%; /* For IE */
  }

/* C1.16 */
.punbb textarea, .punbb .longinput input {
  width: 64%;
  margin: 0;
  }

/* C1.17 */
.punbb .hashelp {
  position: relative;
  }

/* C1.18 */
.punbb .helplinks {
  display: block;
  position: absolute;
  top: 1em;
  right: 0;
  font-weight: normal;
  width: 36%;
  }

/* c1.19 */
.punbb #profile .helplinks {
  top: 1.5em;
  }

/* C1.20 */
.punbb .helplinks span {
  display: block;
  padding-bottom: 0.2em;
  }

/* C1.21 */
#pun-post .formal .info-box li {
  padding-left: 4px;
  list-style-type: square;
  list-style-position: inside;
  line-height: 1.5;
  margin: 0;
  }


/* C2 Table layout
-------------------------------------------------------------*/

/* C2.1 */
.punbb .main .tcl {
  overflow: hidden;
  text-align: left;
  width: 50%;
  }
.punbb .main .tcl a {
font-size: 12px;
font-weight: 700;
}
/* C2.2 */
.punbb .main .tc2, .punbb .main .tc3, .punbb .main .tcmod {
  text-align: center;
  width: 10%;
  }

/* C2.3 */
.punbb .main .tcr {
  overflow: hidden;
  text-align: left;
  width: 30%;
  padding-left: 8%;
  }

/* C2.4 */
#pun-userlist .main .tcl,
#pun-searchtopics .main .tcl,
#pun-modviewforum .main .tcl {
  width: 40%
  }

/* C2.5 */
#pun-userlist .main .tc2,
#pun-searchtopics .main .tc2 {
  text-align: left;
  width: 20%;
  }

/* C2.6 */
#pun-debug table .tcl {
  width: 15%;
  white-space:normal;
  }

/* C2.7 */
#pun-debug .tcr {
  width: 90%;
  white-space: normal;
  }

/* C2.8 */
#pun-index .tcl h3 {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #aa8f77;
  margin: -1px -20px 5px -25px;
  box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
  border-radius: 3px;
  }
  
#pun-index div.tclcon  {
    background-color: #a080644a;
    /* margin-left: 42px; */
    box-shadow: inset 0px 0px 0px 0px rgb(68 34 29 / 70%);
    border: 1px solid #9f806369;
    border-radius: 3px;
    padding: 0 15px 5px 25px;
    text-align: justify;
}


/* C2.9 */
.punbb td span.youposted {
  font-weight: bold;
  margin-left: -1em;
  position: absolute;
  }

/* C2.10 */
.punbb td .modlist {
  display: block;
  padding-top: 0.3em
  }

/* C2.11 */
.punbb .main td {
  padding: 0.8em 1em;
  }

/* C2.12 */
.punbb .main th {
padding: 0.4em 1em 0.4em 1em;
opacity: 0.0;
font-size: 90%;
color: #463A30
  }

/* C2.13 */
.punbb .main .tcl {
  border-left-style: none;
  border-left-width: 0
  }

/* C2.14 */
.punbb tbody.hasicon td.tcl {
  padding-left: 3.2em
  }

/* C2.15 */
.punbb div.icon {
  height: 40px;
  line-height: 0.0;
  margin-top: 0.1em;
  width: 38px;
  }

/* C2.16 */
.punbb  table div.icon {
float: left;
font-size: 1.05em;
margin-left: -0.2em;
margin-top: -2px;
position: relative;
  }

 /* C3 Topics
-------------------------------------------------------------*/
.reactions-root {display: none;}
.post-content hr
 {
    opacity: 0.3;
    border-color: #9c7e64;
    margin-bottom: 0.8em;
}

/* C3.1 */
.punbb .post .container {
  margin-top: -1px;
  padding-bottom: 1px;
  }

/* C3.2 */
.punbb .post h3 {
margin-left: -12px;
width: 884px;
  }

/* C3.3 */
.punbb .post h3 span {
display: block;
margin-top: 0px;
padding: 6px 0px 6px 220px;
  }

/* C3.4 */
.punbb .post h3 strong {
  float: right;
  width: 5em;
  text-align: right;
  font-weight: normal;
  }

/* C3.5 */
.punbb .post .post-author {
  float: left;
position: relative;
width: 198px;
  }

/* C3.6 */
.punbb .post .post-author ul, .punbb .post .post-author p {
    padding: 0 0 5px;
    line-height: 140%;
    background: url(https://i.ibb.co/6cqTkxsY/14894.jpg) 0 0 #131210;
    text-align: center;
    /* border-bottom: double 5px #62251c; */
    border-radius: 5px;
  }
  

/* C3.7 */
.pa-author {
  font-size: 1.1em;
  font-weight: bold;
    text-align: center;
line-height: 32px;
height: 30px;
  }

/* C3.8 */
.pa-author a {
  text-decoration: none
  }

/* C3.9 */
li.pa-title {
  font-size: 95%;
  text-align: center;
  }
.pa-avatar {
}
/*snark*/
li.pa-online {
  line-height: 0.8em;
  padding-left: 0.4em;
  margin-top: 0.7em;
  }

/* C3.11 */
.punbb .post-body {
  margin-left: 210px;
  padding: 0 0 1px 0;
  }

/* C3.12 */
.punbb .post-box {
  padding: 1em 1em 0;
  }

/*C3.13 */
.punbb fieldset .post-box {
  margin-bottom: 0.8em
  }

/* C3.14 */
.punbb .post-links {
  margin-left: 19em;
  }

/* C3.15 */
.punbb .post-links ul {
  padding: 0 1em 0 0;
  height: 2em;
  line-height: 2em;
  margin-left: -19em;
  background: transparent;
  text-align: right;
  }

/* C3.16 */
.punbb .post-links li {
  display: inline;
  padding-left: 1em;
  }

/* C3.17 */
.pl-email, .pl-website {
  float: left;
  }

/* C3.18 */
.punbb .clearer {
  clear: both;
  height: 0;
  font-size: 0;
  }


/* C4 Moderator menu
-------------------------------------------------------------*/

/* C4.1 */
.punbb .modmenu .container {
  padding: 0.5em 1em;
  text-align: right;
  }

/* C4.2 */
.punbb .modmenu strong, .punbb .modmenu a {
  height: 1.8em;
  line-height: 1.8em;
  }

/* C4.3 */
.punbb .modmenu .container strong {
  float: left;
  }

/* C4.4 */
.punbb .modmenu input {
  margin-left: 1em;
  }


/* C5 Message boxes
-------------------------------------------------------------*/

/* C5.1 */
.punbb .info .container {
  padding: 0.8em 1em
  }

/* C5.2 */
.punbb .info .container .backlink {
  padding-top: 0.8em;
  }


/* C6 Profile
-------------------------------------------------------------*/

/* C6.1 */
#profile .container {
  
  }

/* C6.2 */
#profilenav {
  float: left;
  width: 14em;
  margin-left: -16.3em;
  display: inline;
  }


/* C6.3 */
#profilenav li {
  padding-bottom: 0.8em;
  font-weight: bold;
  }

/* C6.4 */
#viewprofile ul, #profilenav ul {
  padding: 1.5em 18px 0.8em 18px;
  margin: 0 0 1em 0;
  }

/* C6.5 */
#viewprofile h2, #profilenav h2 {
  border: none;
  padding: 0 0 0 0;
  margin: 6px 14px -0.6em 14px;
font: 700 13px "Palatino Linotype", "Georgia", "Garamond", "Times New Roman", "times", sans-serif;
  }

/* C6.6 */
#viewprofile h2 span, #profilenav h2 span {
  padding: 0 5px;
  position: relative;
  }

/* C6.7 */
#viewprofile li, #setmods dl {
  padding: 0 0 0 16em;
  margin-bottom: 0.2em;
  }

/* C6.8 */
#viewprofile li span {
  float: left;
  width: 14em;
  margin-left: -16em;
  padding: 0.5em 1em;
  font-weight: bold;
  }

/*C6.9 */
#setmods dt {
  float: left;
  width: 14em;
  margin-left: -16em;
  padding: 0.8em 1em;
  font-weight: bold;
  display: inline;
  }

/* C6.10 */
#viewprofile li strong, #viewprofile li div, #setmods dd {
  display: block;
  padding: 0.5em 1em;
  font-weight: normal;
  }

/* C6.11 */
.punbb img.avatardemo {
  float: right;
  margin: 0 0 0.8em 1.8em
  }


/* C7 User list
-------------------------------------------------------------*/

/* C7.1 */
#pun-userlist .formal, #pun-userlist .formal .container {
  border-bottom: none;
  margin-bottom: 0;
  }

/* C7.2 */
#pun-userlist .usertable .container {
  padding: 0 2.3em 2.3em 2.3em;
  border-top: none;
  }

/* C7.3 */
#pun-userlist .usertable table {
  }


/*************************************************************
D - PUNBB SECTIONS OTHER THAN MAIN CONTENT
**************************************************************/

/* D1 Logo and description
-------------------------------------------------------------*/

/* D1.1 */
#pun-title {
  margin: 0;
  position: absolute;
  }

/* D1.2 */
#pun-title h1 {
  display : block;
  height : 40px;
  padding: 2em 1em 0 1em;
  display: none;
  }

/* D1.3 */
#pun-title .container {
  border-style: none solid none solid;
  }

/* D1.4 */
#pun-title h1 span  {
  font-size: 1.5em;
  }

#pun-title table {
	border: none;
	height: 40px;
	width: 100%;
}

#pun-title td.title-logo-tdl {
height: 34px;
left: 333px;
position: absolute;
top: 280px;
width: 205px;
}


#pun-title td.title-logo-tdr {
	border: none;
	width: 468px;
}

/* D2 Page navigation
-------------------------------------------------------------*/

/* D2.1 */
#pun-pagelinks {
  position: absolute;
  top: -15px;
  left: 0;
  margin: 0;
  border: none;
  padding: 0;
  width: 100%;
  }

/* D2.2 */
#pun-pagelinks .container {
  background: transparent;
  border: none;
  padding: 0}

/* D2.3 */
#pun-pagelinks .container li {
  display: inline
  }

/* D2.4 */
#pun-pagelinks li a, #pun-pagelinks a:link, #pun-pagelinks a:hover {
  height: 2em;
  line-height: 2em;
  padding: 0;
  font-size: 1.2em;
  margin-left: -9999px;
  display: block;
  float:left;
  width: 100%;
  }

/* D2.5 */
#pun-pagelinks a:active, #pun-pagelinks a:focus {
  position:relative;
  margin: 0;
  }

#pun-pagelinks li a span {
  display:block;
  margin: 0 1em
  }

/* D3 Forum navigation
-------------------------------------------------------------*/

/* D3.1 */
#pun-navlinks, #pun-navlinks .container {
  margin: 0;
padding: 276px 0px 0px;
text-align: center;
height: 44px;
line-height: 38px;
  }

/* D3.2 */
#pun-navlinks .container {
padding: 6px 20px 6px 40px;
  }


/* D.3 */
#pun-navlinks li {
  display: inline;
  padding-right: 20px;
position: relative;
  }

/* D3.4 */
#pun-navlinks li a {
  font-size: 1.1em;
  }
#pun-navlinks ul {
position: relative;}


#navawards {display: none !important;}
/* D4 User links
-------------------------------------------------------------*/

/* D4.1 */
#pun-ulinks  {
  margin-top: 0;
text-align: center;
font-size: 11px;
  }

/* D4.2 */
#pun-ulinks .container {
  padding: 6px 1em;
margin-top: 14px;
height: 30px;
line-height: 29px;
  }

/* D4.3 */
#pun-ulinks li, #pun-ulinks li a {
  display: inline;
  white-space: nowrap;
  }

/* D4.4 */
#pun-ulinks li a {
  padding: 0 0.3em 0 0.6em
  }

/* D4.5 */
#pun-ulinks li.item1, #pun-ulinks li.item1 a {
  border-left-style: none;
  border-left-width: 0;
  padding-left: 0
  }

/* D5 Welcome box and Top Breadcrumbs
-------------------------------------------------------------*/

/* D5.1 */
#pun-status, #pun-status .container {
  border-bottom: none;
height: 24px;
  margin-bottom: 0;
  margin-top: 2px;
  }

/* D5.2 */
#pun-status .container {
  padding: 0.8em 1em 1em 1em;
  }

/* D5.3 */
#pun-status span {
  white-space: nowrap;
  margin-right: 0.5em;
  }

/* D5.4 */
#pun-crumbs1 {
  font-weight: bold;
  overflow: hidden;
  margin-top: 0;
  }

/* D5.5 */
#pun-crumbs1 p.container {
  border-top: none;
  padding: 0.8em;
  font-size: 1.1em;
  }

/* D5.6 */
#pun-break1 {
display: none;
  }

/* D6 Announcement
-------------------------------------------------------------*/

/* D6.1 */
#pun-announcement > h2 {
display: none;
  }

/* D6.2 */
#pun-announcement h2 span {
  display: block;
  padding: 1em 0 0.8em 0;
  }

/* D6.3 */
#pun-announcement .container {
margin: 0 0 -135px -23px;
width: 864px;
  }

/* D7 Statistics
-------------------------------------------------------------*/

/* D7.1 */
#pun-stats .container {
  padding: 0.8em 1em
  }

/* D7.2 */
#pun-stats li.item1, #pun-stats li.item2 {
  float: left;
  clear: both;
  line-height: 150%;
  }

/* D7.3 */
#pun-stats li.item3, #pun-stats li.item4 {
  text-align: right;
  line-height: 150%;
  }

/* D7.4 */
li#onlinelist {
  margin-top: 1em;
  float: left;
  width: 100%;
  line-height: 130%;
  }

/* D7.5 */
li#onlinelist div {
  padding: 0.7em 0 0 0;
  }

/* D8 Quick Jump - About - Bottom Breadcrumbs
-------------------------------------------------------------*/

/* D8.1 */
#pun-qjump {
  margin: 0;
  border: none;
  width: 50%;
  position: relative;
  float: left;
  }

/* D8.2 */
#pun-qjump .container {
  border: none;
  background: transparent;
  padding: 0.8em 1em;
  }

/* D8.3 */
#pun-about {
  margin-top: 0;
  }

/* D8.4 */
#pun-about .container {
  border-top-style: none;
  text-align: right;
  line-height: 150%;
  padding: 0.8em 1em 14px;
  }

/* D8.5 */
#pun-about p span {
  display:block;
  padding-left: 50%;
  }

/* D8.6 */
#pun-crumbs2 {
margin-top: 0px;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 55px;
  border-bottom: none;
  }

/* D8.7 */
#pun-crumbs2 .container {
  border-bottom: none;
  padding: 0.8em 1em 55px;
  font-size: 1.1em;
  }

/* D8.8 */
#pun-break4 {
display: none;
  }

/* D8.9 */
div.punbb-admin #pun-about .container {
  }


/* D9 Help file
-------------------------------------------------------------*/

/* D9.1 */
#pun-help .formal .info-box h3.legend {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 0;
  margin-bottom: 0.8em;
  }

/* D9.2 */
#pun-help .formal .info-box h3.legend span {
  padding-bottom: 0.6em;
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 1.1em;
  }

/* D9.3 */
#pun-help .formal p, #pun-help .formal dd {
  margin-bottom: 1em
  }

/* D9.4 */
#pun-help .formal ul, #pun-help .formal dl {
  padding: 0 0 0 1em
  }

/* D9.5 */
#pun-help .formal li {
  padding: 0;
  line-height: 130%
  }

/* D9.6 */
#pun-help .formal li * {
  vertical-align: text-top
  }

/* D9.7 */
#pun-help .formal dt span {
  font: 1.4em/120% monaco, "bitstream vera sans mono", "courier new", courier, monospace
  }

/* D9.8 */
#pun-help .formal .parsedmsg, #pun-help .formal .parsedmsg .incode {
  padding-bottom: 0;
  }
  

    /*Разделение ников пользователей в теме запятой */
#topic-users-in a:not(:last-of-type):after {content: ",";}

 /* CS1 Background and text colours
-------------------------------------------------------------*/
body {
background: url("https://i.ibb.co/4gFr5mxW/49946-Apple-RGB-3.jpg") 50% 0 no-repeat, url("https://i.ibb.co/b5QPhS3j/54150-3.jpg") 50% 100% no-repeat, url("https://i.ibb.co/F4bzVRjN/78683-3.jpg") 50% 0% repeat-y,
url("https://i.ibb.co/DfPNjk2H/78030-3.jpg") 50% 0px #d4c5b0;}


html {
background: url("https://i.ibb.co/DfPNjk2H/78030-3.jpg") 50% 0 repeat #0b131a;
}

#pun-title td.title-logo-tdl {
background: url(" ") 0 50% no-repeat transparent;
}
/* CS1.1 
.punbb .section .container, .punbb .post-body, .punbb .post-links, .punbb td.tc2, .punbb td.tc3,
.punbb .formal fieldset .post-box, #viewprofile li strong, #viewprofile li div, #setmods dd,
.punbb .info-box, .punbb #pun-main .info-box .legend {
  color: #5b4a3a;
  }
*/
/* CS1.2 */
.punbb .main .container, .punbb .post .container, .punbb .post h3, .punbb-admin #pun-admain .adcontainer {

  }

/* CS1.3 */
.punbb .main h1, .punbb .main h2, #pun-debug h2, .punbb-admin #pun-admain h2 {
/*headers*/
  }

/* CS1.4 */
#pun-title, #pun-title .container, .punbb .modmenu .container {
  }

/* CS1.5 */
.punbb legend span, #viewprofile h2 span, #profilenav h2 span {
  }
.punbb-admin #pun-admain legend span {background-color: #aa917c;
  }
/* CS1.6 */
.punbb .post h3 span, .punbb th, #viewprofile li, #setmods dl  {
  }

/* CS1.7 */
.punbb .quote-box, .punbb .code-box {
background: rgba(99, 63, 43, 0.1);
border-style: double;
border-color: #896e5d;
box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
webkit-box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
-moz-box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
  }
  
 /*спойлер*/
.post-content .spoiler-box {
background: none;
border-style: none;
border-color: none;
box-shadow: none;
webkit-box-shadow: none;
-moz-box-shadow: none;
  }
 
.post-content .spoiler-box > div {
    background: url(https://i.ibb.co/N2KkNPGn/52449-spoilerclose.png) no-repeat      left center !important;
    padding-left: 20px !important;
    box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
    webkit-box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
    -moz-box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
    padding: 5px 7px;
    /* border: 1px solid #896e5d; */
    /* border-color: #896e5d; */
    /* background: rgba(99, 63, 43, 0.1); */
    color: #44352c;
    border-radius: 2px;
    /* width: max-content; */
    font-weight: bold;
}

.post-content .spoiler-box > div.visible {
    background-image: url("https://i.ibb.co/0jTgMcNd/52449-spoileropen.png") !important;
    box-shadow: 3px -3px 4px 0px rgb(68 34 29 / 70%);
    webkit-box-shadow: 3px -3px 4px 0px rgb(68 34 29 / 70%);
    -moz-box-shadow: 3px -3px 4px 0px rgb(68 34 29 / 70%);
}



#tags .container {
    top: 20% !important;
    max-height: 180px;
    overflow: auto;
    padding-left: 20px !important;
    box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
    -moz-box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
    padding: 5px 7px;
    border: 1px solid #896e5d;
    background: #b6a390;
}

/* CS1.8 */
#pun-navlinks .container {
  color: #f1f1f1;
  }

.offline li.pa-online strong {
  font-weight: normal;
  }

/* CS2 Border colours
-------------------------------------------------------------*/

/* CS2.1 */
.punbb .container, .punbb .post-body, .post h3, #pun-title {
  }

/* CS2.2 */
.punbb .section, .punbb .forum, .punbb .formal, .punbb .modmenu, .punbb .info {
}
.punbb .category, .punbb fieldset, #viewprofile, #profilenav, .punbb .post-box, .punbb .post, .punbb .modmenu .container, #viewprofile h2, #profilenav h2 {
  margin: 10px;
  }




/* CS2.3 */
#pun-stats h2, .punbb .main h1, .punbb .main h2, #pun-debug h2, .punbb-admin #pun-admain h2 {
  }

/* CS2.4 */
.punbb td, .punbb fieldset, #viewprofile ul, #profilenav ul, .punbb .post .post-body,
.punbb .post h3 span, .post-links ul, .post-links, .usertable table {

  }

/* CS2.5 */
.punbb th {
border: none;
  }

/* CS2.6 */
.punbb .quote-box, .punbb .code-box {
  }

#pun-ulinks li, #pun-announcement h2 span, li#onlinelist, #pun-help .formal .info-box h3.legend span {
  }

#pun-ulinks li a, #pun-announcement h2, #pun-help .formal .info-box h3.legend, .anno-content a, .tab a {
color: #976C3E !important;
opacity: 0.8;
  }
#pun-ulinks li a:hover, .anno-content a:hover, .tab a:hover, .tab a:active, .tab a:focus, .active a  {
opacity: 1;
}
.punbb .divider {
  }

.punbb .formal fieldset .post-box, .punbb .info-box {
  }

li.pa-online {
  border-left-color: #005EAB;
  text-align: center;
  color: #976c3ea1;
    font-size: 11px;
    font-family: sans-serif;
  }


/* CS3 Links
-------------------------------------------------------------*/

/* CS3.1 */

.punbb .main a, .punbb .main a:link, .punbb .main a:visited {
  color: #430707;
  }
.punbb .main a:hover, .punbb .main a:active {
  color: #832316;
  }

.punbb a, .punbb a:link, .punbb a:visited,
.punbb-admin #pun-admain a, .punbb-admin #pun-admain a:link, .punbb-admin #punbb-admain a:visited {
  color: #430707;
  }



.punbb li.isactive a, .punbb li.isactive a:link, .punbb li.isactive a:visited {
  color: #333
  }

/* CS3.2 */
.punbb a:hover, .punbb a:focus, .punbb a:active,  .punbb-admin #pun-admain .nodefault,
.punbb-admin #punbb-admain a:hover, .punbb-admin #punbb-admain a:focus, .punbb-admin #punbb-admain a:active {
color: #832316;
  }

/* CS3.3 */
#pun-navlinks a {
  color: #8F6940;
  text-decoration: none;
  text-shadow: 2px 2px 1px #010e14;
  font: 13px "Book Antiqua", "Palatino Linotype", "Georgia", "Garamond", "Times New Roman", "times", sans-serif;
text-transform: uppercase;
  font-weight: 700;
  opacity: 0.8;

     -webkit-transition: opacity 0.5s, color 0.5s;
     -moz-transition: opacity 0.5s, color 0.5s;
     -o-transition: opacity 0.5s, color 0.5s;
     transition: opacity 0.5s, color 0.5s;

  }

/* CS3.4 */
#pun-navlinks a:hover, #pun-navlinks a:focus, #pun-navlinks a:active {
 opacity: 1;
  }

#pun-pagelinks a:active, #pun-pagelinks a:focus {
  background-color: #333;
  color: #fff;
  }

/* CS4 Post status icons
 -------------------------------------------------------------*/

div.icon {background: url(https://i.ibb.co/zVZgkcRS/13192.png) 0 0 no-repeat; 
    margin-top: -2px !important;
    margin-right: 8px;
    margin-left: -19px !important;}

tr.iredirect div.icon {}
.inew div.icon {background-position: 0px -40px !important; margin-top: -2px !important; filter: brightness(1.05);}
.isticky div.icon {background-position: 0px -80px !important;}
.iclosed div.icon {background-position: 0px -120px !important;}

#pun-main div.catleft, #pun-main div.catright {display: none}


.category h2 {
background: url("https://i.ibb.co/gLmR3tt2/17828-333.png") 50% 0% no-repeat transparent;
color: #B6844D;
font: 700 13px "Palatino Linotype", "Georgia", "Garamond", "Times New Roman", "times", sans-serif !important;
height: 88px;
margin: -20px 0px -30px -19px;
padding: 59px 0px 0px 0px !important;
text-shadow: 0px 0px 3px #764620;
text-transform: uppercase;
width: 908px;

}
.category h2 span {
line-height: 40px;
}

#pun-status {
opacity: 0.8;
color: #836955;
text-shadow: 0px 0px 2px #2B1810;
}
#pun-crumbs1,  #pun-crumbs2 {
color: #976c3e;
opacity: 0.8;
}
#pun-crumbs1 a, #pun-status a, #pun-crumbs2 a, #pun-about .item1 a {
color: #976c3e;
opacity: 0.8;
}
#pun-crumbs1 a:hover, #pun-status a:hover, #pun-crumbs2 a:hover, #pun-about .item1 a:hover {
color: #976c3e;
opacity: 1;
}
/*admin n redirect*/
.adcontainer, .adformal, .adformal h2, #pun-adnav h2  {border: none !important;}
#pun-admain .isactive a, #pun-admain a:hover {
color: #430707 !important;
text-shadow: 0px 0px 0px #310202;
}
.adformal h2, #pun-adnav h2  {background: none !important; 
color: #241A12 !important;}
#pun-admain fieldset, #pun-redirect #pun-main, .adcontainer {background: rgba(255, 255, 255, 0.0) !important;}
#pun-admain {color: #293035;}
#pun-adnav .adcontainer {background: none !important;}
#ranks .adfs-box p {
margin: 18px 0px !important;
}

#pun-admain fieldset .handle, #pun-admain fieldset p {
border-color: #aa917c!important;
background-color: #aa917c !important;
}
.ace_content {background-color: #b09b8a6b !important;}
.ace-iplastic .ace_gutter{background: #aa917c9e;}

#pun-redirect #pun-main {
background: url("https://i.ibb.co/4gFr5mxW/49946-Apple-RGB-3.jpg") -316px -56px no-repeat, url(https://i.ibb.co/zh1Zr6sT/image.png) 0 50% no-repeat transparent !important;
margin: 20px auto 0px;
padding: 0px;
font-size: 110%;
}
#pun-redirect  h1 {
background: rgba(229, 211, 187, 0.906);
padding: 0.5em 1em;
}
#pun-redirect .info .container {
background: rgba(229, 211, 187, 0.906);
padding: 2em 1em;
text-align: center;
}

#sn-announcement {
margin: 20px 0px;
}
#sn-announcement td {
margin: 10px;
padding: 5px;
vertical-align: top;
}
#sn-announcement p {
padding: 5px;
}

#sn-announcement h2 {
background: rgba(1, 9, 16, 0.204);
font-family: serif;
font-size: 10pt;
font-weight: 700;
text-align: center;
padding: 5px;
}
#sn-announcement h2 span {
padding: 0px !important;}

#sn-announcement .sn-a-framed {
background: rgba(128, 179, 238, 0.094);
border: 1px solid #1F3D4F;
border-radius: 3px;
}

#sn-announcement li a {
background: rgba(128, 179, 238, 0.094);
display: list-item;
margin: 2px;
padding: 3px 12px;
list-style: disc inside;
     -webkit-transition: background 0.5s, color 0.5s;
     -moz-transition: background 0.5s, color 0.5s;
     -o-transition: background 0.5s, color 0.5s;
     transition: background 0.5s, color 0.5s;
}
#sn-announcement li a:focus, #sn-announcement li a:hover {
background: rgba(128, 179, 238, 0.194);

}
.punbb .button, .tab, .anno-content li, #bannersbut, #Bubble a {
background: #232222;
background: -moz-linear-gradient(top,  #232222 0%, #23221e 50%, #161412 51%, #0e0c0a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232222), color-stop(50%,#23221e), color-stop(51%,#161412), color-stop(100%,#0e0c0a));
background: -webkit-linear-gradient(top,  #232222 0%,#23221e 50%,#161412 51%,#0e0c0a 100%);
background: -o-linear-gradient(top,  #232222 0%,#23221e 50%,#161412 51%,#0e0c0a 100%);
background: -ms-linear-gradient(top,  #232222 0%,#23221e 50%,#161412 51%,#0e0c0a 100%);
background: linear-gradient(to bottom,  #232222 0%,#23221e 50%,#161412 51%,#0e0c0a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232222', endColorstr='#0e0c0a',GradientType=0 );
border: 1px outset #38342d;
border-radius: 4px;
color: #CFA77B;
font-weight: 700 !important;
opacity: 0.8;
padding: 5px;
text-shadow: 1px 1px 1px #000000;
text-decoration: none;
}
.punbb .button:hover, .punbb .button:focus, .punbb .button:active, img.post-img-Sp:hover{
color: #CFA77B;
opacity: 1;
}

.post-author .pa-author, .post-author .pa-title, .post-author .pa-avatar, .post h3 {
background: url(https://i.ibb.co/6cqTkxsY/14894.jpg) 0 0 #131210;
padding: 5px;
color: #916f59;
}
.post-author .pa-author {
    background: url(https://i.ibb.co/HDpyZqc1/55323-3.png) 0 -8px no-repeat;
    height: 65px;
    width: 200px;
    padding-bottom: 0px;
    padding-top: 28px;
    margin: -9px 0 -24px -9px;
}
.post-author .pa-title {
border-bottom: 1px solid #62251c;
margin: -2px 0;
}
.post-author .pa-title, .post-author .pa-avatar {
border-left: 1px solid #62251c;
border-right: 1px solid #62251c;

}
.post-author .pa-avatar {
/* border-bottom: 1px solid #62251c; */
    text-align: center;
}
.post h3 {
border-top: 1px solid #62251c;
border-bottom: 1px solid #62251c;
}
.pa-avatar img {
background-color: black;
border: 3px double #583122 !important;
box-shadow: 0px 0px 0px 1px #150901;
max-width: 180px;
height:auto;
}

.pa-author a, .post h3 a {
color: #976c3e !important;}

.punbb dd {font-size: 90%; opacity: 0.75;}

#profile h3 {
width: auto;}

.go-up, .go-down {display: none; position: fixed; z-index: 9999; cursor: pointer; opacity: 1;}
.go-up {width: 59px; height: 64px; top: 50%; margin-left: 950px !important;}
.go-down {width:59px; height: 64px; top: 60%; margin-left: 950px !important;}
.go-down:hover, .go-up:hover {opacity: 1;}


.atabs {
  position: relative;
  background: url("https://i.ibb.co/rGzhjmnC/11317-3.jpg") no-repeat top center;
  width: 936px;
  height: 382px;
  margin: 0 0 0 -36px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 20px 50px 142px 64px;
  box-sizing: border-box;
}

.atab, .atab-title {
  display: inline-block;
}

.atab input[type="radio"] {
  display: none;
}

.atab-title {
  padding: 5px 10px;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  position: relative;
  color: #976C3E;
  box-shadow: inset 0 0 0 1px #3A2A16;
  border: 1px solid rgba(71, 35, 31, 0.553);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-family: "Book Antiqua", "Palatino Linotype", "Palatino", "Times New Roman", serif;
  font-weight: 700;
  line-height: 33px;
  height: 37px;
  width: 135px;
  padding: 0px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000000;
  background: #232222;
  background: -moz-linear-gradient(top, #232222 0%, #23221e 50%, #161412 51%, #0e0c0a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#232222), color-stop(50%,#23221e), color-stop(51%,#161412), color-stop(100%,#0e0c0a));
  background: -webkit-linear-gradient(top, #232222 0%,#23221e 50%,#161412 51%,#0e0c0a 100%);
  background: -o-linear-gradient(top, #232222 0%,#23221e 50%,#161412 51%,#0e0c0a 100%);
  background: -ms-linear-gradient(top, #232222 0%,#23221e 50%,#161412 51%,#0e0c0a 100%);
  background: linear-gradient(to bottom, #232222 0%,#23221e 50%,#161412 51%,#0e0c0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232222', endColorstr='#0e0c0a',GradientType=0 );
  opacity: 0.8;
}

.atab input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.atab input[type="radio"]:checked + .atab-title + .atab-content {
  display: block;
}

.atab-content {
  position: absolute;
  padding: 0;
  right: 60px;
  width: 595px;
  height: 450px;
  display: none;
  box-sizing: border-box;
  background: transparent;
  top: 20px;
  color: #836955;
  text-shadow: 0px 0px 2px #2B1810;
  background: url(https://forumstatic.ru/files/001c/06/33/45369.jpg) no-repeat top center;
}

.atab.anews .atab-content {
  display: block;
}

.atab-title span {
    widht: 100%;
    height: 100%;
    display: block;
}

.atab :checked + .atab-title span, .atab-title span:hover {
  position: relative;
  background: url("https://i.ibb.co/Nd6by9dM/52449.png") 98% 50% no-repeat transparent;
  z-index: 1;
}

.atab :checked ~ .atab-content {
  display: block;
}

.atab-content a {
  color: #976C3E !important;
  opacity: 0.8;
}

.atab-content a:hover {
  opacity: 1;
}

.anno-content p {
margin: 2px;
line-height: 100%;
}

.anno-content ul { 
display: inline-block;
position: relative;
width: 100%;
}

.anno-content li {
border: 1px solid #3A2A16;
margin: 1px;
padding: 5px 8px !important;
}

.anno-content li a {
display: block;
}

.tabs {
position: absolute;
text-align: center;
padding: 80px 0 0 20px !important;
z-index: 10;
}

.tab {
display: block;
position: relative;
color: #E5CB9C;
border: 1px solid rgba(71, 35, 31, 0.553);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
  }

.active, .tab:hover, .tab:active, .tab:focus {
color: #ffe396 !important;
}

.tab a {
display: block;
font-family: "Book Antiqua", "Palatino Linotype", "Palatino", "Times New Roman", serif;
font-weight: 700;
line-height: 28px;
height: 33px;
position: relative;
width: 135px;
padding: 0px;
text-transform: uppercase;
border: 1px solid #3A2A16;
}

.tab a:hover, .tab a:active, .tab a:focus, .active a, .anno-content li a:hover  {
background: url("https://i.ibb.co/Nd6by9dM/52449.png") 98% 50% no-repeat transparent;
}

.anews_inner {
  padding: 5px 10px 0 0;
}

.punbb .anews_top {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.punbb .anews_left_top {
  display: flex;
  gap: 10px 30px;
  margin-bottom: 10px;
}

#amsimg {
  display: flex;
  gap: 6px;
}

.time_place {
  text-align: center;
}

.newslist {
  height: 90px;
  overflow: auto;
  font-size: 11px;
}

.anews_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.bestquotes {
  height: 30px;
  overflow: auto;
  font-size: 11px;
  text-align: justify;
  padding: 1px 0 0 0; 
}

.amatchast_inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 0 0;
  gap: 20px;
}

.amatchast_left {
  flex-grow: 1;
  text-align: center;
}

.amatchast .hotlinks, .aguest_hotlinks, .aplayer_hotlinks {
  display: flex;
  gap: 10px;
}

.amatchast .hotlinks ul, .aguest_hotlinks ul, .aplayer_hotlinks ul {
  margin: 10px 0 0;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.mapimg {
  position: relative;
  width:230px;
  height: 190px;
}

.mapimg a {
  display: block;
  width: 100%;
  height: 100%;
}

.mapimg a h3 {
  position: absolute;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #cfa77b9e;
  background: #26272a;
  width: 232px;
  z-index: 10;
  bottom: 13px;
  cursor: pointer;
  padding: 2px 0px;
}

.aguest_inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 0 0;
  gap: 10px;
}

.aguest_left {
  flex-grow: 1;
  text-align: center;
}

.aguest_right span {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.aplayer_inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 0 0;
  gap: 10px;
  text-align: center;
}

.aplayer_left {
  flex-grow: 1;
}

#pun-status, #pun-status .container, .punbb .main,  #pun-crumbs1 {
z-index: 10;
position: relative;
}


/*.inew td.tcl, .inew td.tcr {font-weight: 700;}*/


/* скроллбар*/
::-webkit-scrollbar {width: 6px; height: 5px;}  
::-webkit-scrollbar-track {background-color: #7a6250d4; box-shadow: 0 0 0 2px #19110f96 inset !important;} 
::-webkit-scrollbar-thumb {background-color: #7a6250e0;}
::-webkit-scrollbar-thumb:active {background: #7d3e2f;} 



/*объява-картинки*/
.activeimg img:hover, .activeimg img:active, .mapimg img:hover, .mapimg img:active {filter: none; opacity: 1; border: 1px solid #343c51 !important; }
.activeimg img, .mapimg img {opacity: 0.7; transition: opacity 0.5s; -webkit-transition: opacity 0.7s; filter: grayscale(0.5); border: 1px solid #343c51 !important;}

#amsimg img {border: 1px solid #343c51; opacity: 0.7; transition: opacity 0.5s; -webkit-transition: opacity 0.7s; filter: grayscale(0.5); margin-left: 7px;}
#amsimg img:hover, #amsimg img:active {border: 1px solid #343c51; filter: none; opacity: 1;}

/*баннеры*/
.banners {position: absolute; margin: -108px 0 0 15px !important; width: 850px; line-height: 18px; word-spacing: 5px; overflow-y: auto !important; text-align: center;}
.banners a, .needs a {opacity: 0.4;}
.banners a:hover, .banners a:active, .banners a:focus, .needs a:hover, .needs a:active, .needs a:focus {opacity: 1;}


/* об игроке - спойлер*/
li.pa-posts span.fld-name::before, li.pa-fld2 span.fld-name::before, li.pa-fld4 span.fld-name::before, li.pa-respect span.fld-name a::before, .isguest .pa-respect .fld-name::before {
    font-family: Material Icons Outlined;
    font-size: 26px;
    font-weight: normal;
    line-height: 0;
    margin: 0px 0px 0 0 !important;
    display: flex;
  /*  width: 14px;*/
    height: 14px;
    align-items: center;
    justify-content: center;
    float: left;
    padding: 5px;
    color: #8a6339;
    filter: opacity(0.8);
}

li.pa-posts, li.pa-respect, li.pa-fld2, li.pa-fld4 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background: url(https://i.ibb.co/6cqTkxsY/14894.jpg);
    color: #8a6339;
    filter: opacity(0.8);
    font-weight: bold;
}

li.pa-posts span.fld-name::before {
    content: '\e158';
}

li.pa-fld2 span.fld-name::before {
    content: '\ea19';
}

li.pa-fld4 span.fld-name::before {
    content: '\f041';

}
li.pa-fld4 {
    margin-left: -2px;
}


li.pa-respect span.fld-name a::before, .isguest .pa-respect .fld-name::before {
content: '\e87d';
}
li.pa-respect img {
    filter: invert(1);
    margin: 3px 0 0 -20px;
    position: fixed;
}


li.pa-posts span.fld-name, li.pa-fld2 span.fld-name, li.pa-fld4 span.fld-name, li.pa-respect span.fld-name a, li.pa-respect span.fld-name, li.pa-awards {
    font-size: 0;
}


/* о перснаже - спойлер*/
#lz {
    display: block;
    width: 159px;
    margin: 8px;
    /* margin-left: 8.4px; */
    /* margin-bottom: 8px; */
    padding: 8px;
    background: #161412;
    border: 3px double #896e5d;
    box-shadow: 0 0 0px 3px rgb(93 56 44);
    color: #9d7d66;
}

#lz p1 {
    display: block;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 4px;
}

#lz p1 > a {color: #9d7d66;}
#lz p1 > a:hover {/*filter: brightness(1.3);*/ filter: drop-shadow(1px 0px 1px #cc0605);}

#lz p2 {
    display: block;
    /* letter-spacing: 0.5px; */
    text-align: center;
    border-bottom: double 1px #896e5da1;
    border-top: solid 1px #896e5da1;
    background-color: #1a1515;
    width: 181px;
    margin-left: -11px;

}
#lz p3 {
    display: block;
    font-family: sans-serif;
    /* letter-spacing: 0.5px; */
    font-size: 12px;
    text-align: justify;
    line-height: 16px;
}

#lz p2 > img {height: 30px; filter: saturate(0.5);}
#lz p2 > img:hover {height: 30px; filter: saturate(1);}

/* поле статус*/
.pa-fld3 img {
    width: 198px;
    filter: brightness(0.9);
}

/* иконки в форме ответа */
#form-buttons td {filter: brightness(0.8);}
#form-buttons td:hover {filter: brightness(1); transition: 0.5s;} /* изменение цвета иконки при наведении курсора */


/* стиль маски профиля + окно перемещения сообщений*/
#mask_dialog .inner, .pun-modal .modal-inner {
    background: #b19c89;
    border-radius: 4px;
    box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
    webkit-box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
    -moz-box-shadow: -3px 3px 4px 0px rgb(68 34 29 / 70%);
}


/*АКЦИИ -в-объяве */
.showcase {
	list-style: none;
	position: relative;
	background: none;
}

.showcase div {
/*	float: left;*/
	overflow: hidden;
/*	margin: 20px 5px 20px 5px;*/
/*	padding: 10px 0 0 20px;*/
	background: none !important;
}
.showcase a {
	display: block;
	overflow: hidden;
	width: 200px;
    height: 150px;
	position: relative;
	text-decoration: none;   
/*	margin: 0px 5px 0px 15px;*/
}
.showcase a img {
 /*position: absolute;*/
 z-index: 10;
 width: 200px;
 /* height: 150px;*/
 -webkit-transition: all 0.2s ease-out;
 -moz-transition: all 0.2s ease-out;
 -o-transition: all 0.2s ease-out;
 transition: all 0.2s ease-out;
}
.showcase a:hover img {
    width: 210px;
 /* height: 160px;*/
	left: 0;
	top: -5px;
 filter: grayscale(50%);
 -webkit-filter: grayscale(50%);
-moz-filter: grayscale(50%);
-o-filter: grayscale(50%);
-ms-filter: grayscale(50%);
}
.showcase a p {
    color: #cfa77b6e;
	font-size: 11px;
	padding: 5px 5px;
	position:absolute;
	bottom: -112px;
    height: 85px;
	display: block;
	width: 150px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	margin: 0px;
    text-align: left;
}
.showcase a:hover p {
	bottom: 15px;
	width: 200px;
	z-index: 25;
	background: #26272a;
}
.showcase a h3 {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #cfa77b9e;
	background: #26272a;
	width: 200px;
        box-sizing: border-box;
	padding: 2px 5px;
	margin: -1px;
	position: absolute;
	left:1px;
	z-index: 25;
	bottom:10px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.showcase a:hover h3 {
	bottom:75px;
	background: #27272b;
}

.showcase .thumb2 a p, .showcase .thumb2 a h3 {
	background: #a06024;
}
.showcase .thumb2 a:hover p, .showcase .thumb2 a:hover h3 {
	background: #a06024;
}

/*АКЦИИ end*/

/*КВЕСТ*/
.showcase2 {
	list-style: none;
	position: relative;
	background: none;
}

.showcase2 div {
/*	float: left;*/
	overflow: hidden;
/*	margin: 20px 5px 20px 5px;*/
/*	padding: 10px 0 0 20px;*/
	background: none !important;
}
.showcase2 a {
	display: block;
	overflow: hidden;
	width: 230px;
    height: 190px;
	position: relative;
	text-decoration: none;   
    margin: 0px 0px 0px 20px;
}
.showcase2 a img {
 /*position: absolute;*/
 z-index: 10;
 width: 230px;
 /* height: 150px;*/
 -webkit-transition: all 0.2s ease-out;
 -moz-transition: all 0.2s ease-out;
 -o-transition: all 0.2s ease-out;
 transition: all 0.2s ease-out;
}
.showcase2 a:hover img {
    width: 240px;
    height: 200px;
	left: 0;
	top: -5px;
 filter: grayscale(50%);
 -webkit-filter: grayscale(50%);
-moz-filter: grayscale(50%);
-o-filter: grayscale(50%);
-ms-filter: grayscale(50%);
}
.showcase2 a p {
    color: #cfa77b6e;
	font-size: 11px;
	padding: 5px 5px;
	position:absolute;
	bottom: -112px;
    height: 85px;
	display: block;
	width: 230px;
        box-sizing: border-box;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	margin: 0px;
    text-align: left;
}
.showcase2 a:hover p {
	bottom: 10px;
	width: 230px;
	z-index: 25;
	background: #26272a;
}
.showcase2 a h3  {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #cfa77b9e;
	background: #26272a;
	width: 230px;
        box-sizing: border-box;
	padding: 2px 5px;
	margin: -1px;
	position: absolute;
	left:1px;
	z-index: 25;
	bottom:10px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.showcase2 a:hover h3 {
	bottom:75px;
	background: #27272b;
}

.showcase2 .thumb2 a p, .showcase2 .thumb2 a h3 {
	background: #a06024;
}
.showcase2 .thumb2 a:hover p, .showcase2 .thumb2 a:hover h3 {
	background: #a06024;
}
/*КВЕСТ end*/

/* стилизация области для стикеров и кнопок */
.hvStickerPackModalContainer .hvStickerPackModal {background: #b19c89 !important; border:solid 1px #896e5d !important;}
.hvStickerPackModalContainer .hvStickerPackModalTab {background: #c0ad9c !important; border-radius: 3px; padding: 2px 7px; border: 1px solid #896e5d !important; box-shadow: 0px 0px 0px 1px #b5b2b1 !important; color: #241a12; }
.hvStickerPackModalTab.active {background: #5a4a40 !important; color: #d1bdab !important;}
.hvStickerPackModalContent {background: #c0ad9c !important; border: solid 1px #896e5d !important;}
.hvStickerPackModalInput { background: #c0ad9c !important; border-radius: 3px !important; border: solid 1px #896e5d !important;}


/* иконка аватара на гл.странице */
.punbb .user-avatar .avatar-image {
border-radius: 15% !important;
border: 1px solid #67423963;
}
/* выделение ссылок в постах*/
.punbb .post-content a {font-weight: bold;}

/* отключение бордера в таблицах */
.punbb .main .post table, .punbb .main .post table tr, .punbb .main .post table td, .post-content table {border: none 0 transparent; /*padding-right: 20px !important;*/}
.post-content td {border: none 0 transparent !important;}
.post-content td p span {padding-right: 12px;}

/* стиль колонок тем и сообщений (+скрипт в хтмл-низ)*/
#pun-index .category .tc2,
#pun-index .category .tc3{
    display:none!important;
}
.Tems_And_messages {
  display:inline-block;
  /*width:116px;*/
}
.Add{
    display: inline-block;
    /* background-color: #aa8f77; */
    border-radius: 3px;
    /* padding: 1px 7px; */
    /* box-shadow: inset 0 0 1em rgb(107 59 37 / 52%); */
    padding: 10px 0 0 0;
    float: left;
    font-size: 10px;
    /* margin-top: 6px !important; */
    color: #6d5039cc; 

}
.Tems_And_messages .right{
  float:right
}

/* разделитель hr*/
hr {filter: opacity(0.5); margin: 5px 6px 5px 8px !important;}

/* остутпы в списке */
.post-content ul li {margin-bottom: 0em !important;}

/*Размытие на зачеркнутый текст*/
 del {
    filter: blur(3px);
    text-decoration: none;
    transition:.33s;
}
del:hover {
    filter: initial;
    transition:.63s;
}


/*вкладки, (c) EMERAEL 2024*/
.hidden {display: none;}

.custom_tag.custom_tag_tabtitle {
    display: inline-grid;
    justify-content: center;
    cursor: pointer;
    margin: 10px 2px -10px 0px;
    font-weight: bold;
    font-size: smaller;
    letter-spacing: .5px;
    line-height: 8px;
    /* text-transform: uppercase; */
    text-align: center;
    /* margin-right: 2px; */
    border: solid 1px #775747;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    /* height: 8px; */
    background-color: #76554563;
    /* width: 85px; */
    color: #c9c5b9;
}

.custom_tag.custom_tag_tabtitle::-webkit-scrollbar-thumb:vertical { background-color:#eeeeee;border:solid 1px #e3e3e3;border-radius:0px; }

.custom_tag.custom_tag_tabtitle::-webkit-scrollbar { width:5px;background-color:transparent;border-radius:0px; }

.custom_tag.custom_tag_tabtitle p {padding: 0;}

.custom_tag.custom_tag_tabtitle.active {
    background: #775747;
    color: #8d8387;
    border: 1px solid #775747;
}
.custom_tag.custom_tag_tabtitle.active p {color: #b5a08e !important;}

.custom_tag.custom_tag_tab {
    overflow-y: auto;
    margin: 8px 0px 0px 0px;
    padding: 10px;
    border: 3px double #775747;
    height: 300px;
    box-shadow: inset 0 0 15px 2px #7757476e;
    background: #beab9a8f;
}

.tabsy { 
width:95%;
padding:9px;
border:solid 1px #e3e3e3;
background-color:#f5f5f5;
color:#444444;
text-align:justify; 
}


.tabsy-img {
 border:solid 1px #e3e3e3;
background-color:#c9c5b9;
}

.tabsy-banner { 
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.tabsy-banner img { 
    width: 100%;
    height: 250px;
    position: absolute;
    overflow: hidden;
    z-index: 0;
}


.tabsy-banner-name { 
font:60px Montserrat;
font-weight:300!important;
letter-spacing:-1px;
position:absolute;
color:#f9f9f9;
padding-top:45px;
text-shadow:0px 0px 4px rgba(44,44,44,.35); 
    z-index: 1;
width: 100%;
}

.tabsy-quote-words {
    font: bold 10px Inconsolata;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top:140px;
    z-index: 600;
    position: absolute;
    color: #f9f9f9;
    text-shadow: 0px 0px 4px rgba(44, 44, 44, .35);
width: 100%;
}

.tabsy-quote-words-1 {
    padding-top: 18px;
    font: 30px Montserrat;
    line-height: 25px;
    color: #f9f9f9;
    text-shadow: .75px .75px 0px #f9f9f9, .75px 0px 0px #f9f9f9, 0px .75px 0px #f9f9f9, -.75px 0px 0px #f9f9f9, 0px -.75px 0px #f9f9f9, -.75px .75px 0px #f9f9f9, .75px -.75px 0px #f9f9f9, -.75px -.75px 0px #f9f9f9;
width: 76%;
    float: right;
    display: inline-block;
    z-index:1;
}

.tabsy-border { 
border:solid 1px #e3e3e3;
border-top:none;
padding:10px 12px 0px 10px;
height:26px;
background-color:#e9e9e9; }

/*всплывающая подсказка*/
.tipsy {height: auto; width: auto; max-width: 120px; padding: 5px;}
.tipsy.post-voters-tip.tipsy-se{max-width: max-content;}

/*поясняющий текст*/
.post-content abbr {border-bottom: 2px dotted;}


/*-------- СООБЩЕНИЯ-ДИАЛОГИ --------*/
#messages .post .post-author .pa-author {
background: none;
height: 30px;
padding: 0 0 0 10px;
text-align: left;
margin-top: -7px;
}
#messages .post .post-author .pa-title, #messages .post .post-author .pa-avatar {
border: none;
}

#messages .post h3 {
border-radius: 7px;
margin-left: -5px;
}

#messages .post .post-author ul, #messages .post .post-author p {
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
padding: 0px;
border-radius: 0px;
margin-top: -31px;
height: 28px;
}

#messages .post .post-body  {
margin-left: 0px;
}

.punbb .formal #messages .post  .post-box {
padding: 1em 1em 0 0;
}

.view-dialog .post .pa-avatar img, .view-search .post .pa-avatar img, .view-bookmarks .post .pa-avatar img {
max-height: 27px !important;
margin: -12px 0 0 -5px;
border-radius: 5px;
}

#messages .post .post-number{
padding-right: 1em;
width: 2em;
}

#messages table {
width: 100%;
}

/*-------- конец сообщения - диалоги -------*/

/*-------- СООБЩЕНИЯ-СТАНДАРТ--------*/
.formal.messages-container .post-author ul {
background: none;
}

.formal.messages-container .post-author .pa-author {
background: url(https://i.ibb.co/M5Ndb4bz/55323.png) 0 0px no-repeat;
margin: 0 0 -32px -1px;
padding-top: 20px;
    height: 73px;
}

.formal.messages-container .pa-posts, .formal.messages-container .pa-reg  {
display: none;
}

.formal.messages-container .pa-online  {
    background: #131210;
    padding: 5px !important;
    margin-top: 0px;
}
/*-------- конец сообщения - стандарт-------*/

/*всплывающее окно репутации*/
#pun-report .inner, #pun-reputation .inner, #pun-admin-award-form .inner {
background: #b19c89;
border: solid 1px #896e5d !important;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#rep_form table {
width: 100%;
}

/*юзерлист*/
#pun-userlist .main .tcl.username{
width: 20%;
}

#wysi-reply {
    background: #beab9a;
    border-color: #896e5d;
}

/* иконка КУБЫ*/
#button-dice {
background-image:url("/files/000f/3e/d5/81483.png");
}

.logo {
  display: none;
}

span.num_msg {
  line-height: 14px;
}