/*************************************************************
A - SETUP
**************************************************************/
/* Иконический шрифт */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');

/* A1 Import the colour scheme
-------------------------------------------------------------*/

/* A1.1 */
@import url(style_cs.css);

/* A2 Deal with browser defaults and wonkiness
-------------------------------------------------------------*/

/* A2.1 */
html, body {
margin: 0;
padding: 0;
}

/* A2.2 */
.punbb * {
  margin: 0
  }

/* A2.3 */
.punbb ul, .punbb dl, .punbb li, .punbb dd, .punbb dt {
  padding: 0;
  list-style: none;
  }

/* A2.4 */
.punbb img {
  border:none
  }

/* A2.5 */
.punbb .main table {
  table-layout: fixed;
  }

.forum table {
margin: 10px;
}
/* A2.6 */
.checkfield input[type="checkbox"], .radiofield input[type="radio"] {margin: 0 0.3em;}

/* A2.7 */
p[class="checkfield"] *,
div[class="checkfield"] *,
fieldset[class="radiofield"] * {
  height: 1.8em;
  vertical-align: middle
  }


 /* A3 Text setup
-------------------------------------------------------------*/

/* A3.1 */

body {
  font-size: 100.01%;
color: #241a12;
}

/* A3.2 */
.punbb {
  font: normal 9pt verdana, arial, helvetica, sans-serif;

  }

/* 3.3 */
.punbb textarea, .punbb input, .punbb select, .punbb optgroup {
    background: #beab9a;
    font: 1em verdana, arial, helvetica, sans-serif;
    border-color: #896e5d;
  }

/* A3.4 */
.punbb h1, .punbb h2, .punbb h3, .punbb h4, .punbb table, .punbb th {
  font-size: 1em;
  font-weight: normal;
  }

.punbb h1, .punbb h2 {
text-align: center;
}

/*****************************
---------- МОБИЛЬНЫЙ СТИЛЬ ----------
------- by Alex Kolmar (бродяга) -------
*****************************/

@media screen and (max-width: 540px) {


  /* Основа и тело форума
  -------------------------------------------------------------*/

  * {
    box-sizing: border-box;
  }

body {
  background: url("https://forumstatic.ru/files/001c/06/33/13497.jpg") no-repeat top center, url("https://forumstatic.ru/files/001c/06/33/75627.jpg") no-repeat bottom center, url("https://forumstatic.ru/files/001c/06/33/71861.jpg") repeat-y top center, url("https://i.ibb.co/DfPNjk2H/78030-3.jpg") 50% 0px #d4c5b0;
}


  #pun {
    width: 100%;
    margin: 0 auto;
  }

  .punbb {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 100%;
  }

  /* Порядок основных блоков */

  #html-header {
    order: initial;
  }

  #pun-title {
    order: initial;
  }

  #pun-navlinks {
    order: initial;
  }

  #pun-ulinks {
    order: initial;
  }

  #pun-status {
    order: initial;
  }

  #pun-crumbs1 {
    order: initial;
  }

  #pun-main {
    order: initial;
    width: 100%;
    margin-bottom: 10px;
  }

  #pun-stats {
    order: initial;
  }

  #pun-crumbs2 {
    order: initial;
  }

  #pun-about {
    order: initial;
  }

  #html-footer {
    order: initial;
  }

  /* Основные настройки содержимого*/

  .punbb>div>.container {
    padding: 5px 10px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }

  /* Поля ввода*/

  input,
  input[type="text"],
  input[type="password"],
  textarea,
  select {
    max-width: 100%;
  }

.punbb .formal fieldset {
  min-width: fit-content !important;
}

.punbb .messages-container .container fieldset#post-new {
  margin: 0;
  min-width: unset !important;
}

.punbb .messages-container .post-body .post-box {
  margin: 0;
}

  /* Стиль диалогов в ЛС */

#pun-messages .messenger-processed #user-info {
  padding: 10px 0 0;
}

#messages.messenger-processed .post h3 {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border-radius: 0;
}

#pun-messages .messenger-processed .post h3 .post-number {
  padding: 0;
  width: fit-content;
}

#pun-messages .messenger-processed .post h3 span {
  gap: 10px;
}

#pun-messages .messenger-processed.view-search .post h3 a.permalink {
  order: -1;
  flex-grow: 0;
}

#pun-messages .messenger-processed .post h3 a.bookmarklink {
  margin: 0 0 0 auto;
}

#pun-messages .messenger-processed .post .post-author, #pun-messages .messenger-processed .post .post-author ul {
min-height: unset;
margin: 0;
}

#pun-messages .messenger-processed .post .post-author ul {
  padding: 5px 10px;
  height: 50px;
}

#messages.messenger-processed .post .post-author .pa-avatar {
  width: fit-content;
  max-width: 40px;
  max-height: 40px;
  padding: 0;
  height: 40px;
  margin: 0;
}

#messages.messenger-processed .post .post-author .pa-avatar img {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  max-height: unset !important;
}

#messages.messenger-processed .post .post-author .pa-author {
  height: auto;
  margin: 0 0 0 45px;
}

#messages.messenger-processed .post .post-links {
  margin: -40px 0 0 auto;
  z-index: 1;
  background: transparent;
  width: fit-content;
}

#messages.messenger-processed .post .post-links ul {
  display: flex;
  align-items: center;
}

#pun-messages .messenger-processed #post-form .fs-box.hashelp {
  padding: 10px 0;
}

  /* Шапка
  -------------------------------------------------------------*/

  #pun-title {
   position: relative;
   height: 180px;
  }

#pun-title td.title-logo-tdl {
  left: 0;
  width: 100%;
}

.logo {
  display: block;
  position: absolute;
  top: 36px;
  left: 10%;
  text-align: right;
  font-family: "Bookman Old Style";
  color: #4f0a0a;
  line-height: 1.2;
  text-shadow: 0 0 3px #abd2e1, 0px 5px 9.5px rgba(0, 0, 0, 0.1)
}

.logo h3 {
  font-size: 5vw;
}

.logo h4 {
  font-size: 4vw;
}



  /* Меню навигации
  -------------------------------------------------------------*/


  #pun-navlinks {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    z-index: 100;
  }

  #pun-navlinks .container {
    height: auto;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    gap: 5px 15px;
    box-sizing: border-box;
    padding: 5px 50px 5px 20px !important;
  }

  #pun-navlinks li {
    display: block;
    padding: 0;
  }

  #pun-navlinks li a {
    font-size: 0;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    position: relative;
  }

  #pun-navlinks li a:after,
  #pun-ulinks:after {
    content: "";
    font: normal 24px/30px 'Material Icons Outlined';
  }

  #pun-navlinks li#navindex a:after {
    content: "\e88a";
  }

  #pun-navlinks li#navuserlist a:after {
    content: "\f233";
  }

  #pun-navlinks li#navsearch a:after {
    content: "\e8b6";
  }

  #pun-navlinks li#navprofile a:after {
    content: "\e853";
  }

  #pun-navlinks li#navpm a:after {
    content: "\e0be";
  }

  #pun-navlinks li#navadmin a:after {
    content: "\e8b8";
  }

  #pun-navlinks li#navlogout a:after {
    content: "\e9ba";
  }

  #pun-navlinks li#navlogin a:after {
    content: "\ea77";
  }

  #pun-navlinks li#navregister a:after {
    content: "\e7fe";
  }

  #pun-navlinks li#navpr a:after {
    content: "\ef49";
  }

  #pun-navlinks li#navawards a:after {
    content: "\ea23";
  }

  #pun-navlinks li#navrules a:after {
    content: "\e85f";
  }

  #pun-navlinks li#navpm a span[data-last-unread]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: block;
    animation: blinkColor 2s linear infinite;
    -moz-animation: blinkColor 2s linear infinite;
    -webkit-animation: blinkColor 2s linear infinite;
    background: gainsboro;
  }

  #pun-navlinks li#navpm span.num_msg {
    margin-top: 0;
    height: 20px !important;
  }

  span.num_msg::before {
    top: -3px !important;
    z-index: 100;
  }


  /* Меню пользовательских ссылок
  -------------------------------------------------------------*/

  #pun-ulinks {
    position: absolute;
    top: 180px;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 5px 0 auto;
    border: none;
    z-index: 110;
  }

  #pun-ulinks::after {
    content: "\e5d2";
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    color: #8F6940;
    text-decoration: none;
    text-shadow: 2px 2px 1px #010e14;
    align-items: center;
    justify-content: center;
  }

  #pun-ulinks .container {
    padding: 0;
    margin: 0 -5px 0 0;
    height: auto;
    border: none;
    text-align: left;
    background: url(https://i.ibb.co/6cqTkxsY/14894.jpg);
  }

  #pun-ulinks ul {
    padding: 0 !important;
    display: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    z-index: 100;
    position: absolute;
    top: 40px;
    right: 0;
  }

  #pun-ulinks:hover ul,
  #pun-ulinks:focus ul {
    display: block;
  }

  #pun-ulinks li {
    padding: 0 !important;
    display: block !important;
    white-space: nowrap;
  }

  #pun-ulinks li a {
    display: block;
    border: none;
    font: normal 14px/200% verdana, sans-serif !important;
    padding: 0 15px !important;
    color: #000;
    text-decoration: none !important;
  }

  #pun-ulinks li a:hover {
    box-sizing: border-box;
    border-block: 1px solid #62251c;
  }

  #pun-ulinks>span.notify-bubble {
    display: block !important;
  }


  /* Статус и путь
  -------------------------------------------------------------*/

  #pun-status, #pun-status .container {
    height: auto;
  }

  #pun-status {
    height: auto;
    margin: -38px auto 10px;
  }

  #pun-status .container {
    margin: 0;
    padding: 0 20px;
    text-align: right;
    justify-content: center;
    font-size: 12px;
  }

  #pun-status span.status-right {
    display: none !important;
  }

  #pun-crumbs1 {
    margin: 0;
    color: #202020;
  }

  #pun-crumbs1 a {
    color: #430707;
  }

  #pun-crumbs2 {
    margin: 0 0 52px;
  }

  .punbb .container.crumbs {
    display: block;
  }


  /* Объявление
  -------------------------------------------------------------*/

#pun-announcement {

}

#pun-announcement .container, #pun-announcement .html-box {
  margin: 0;
  width: 100%;
  padding: 0;
}

 .atabs {
    background: url(https://forumstatic.ru/files/001c/06/33/70285.png) no-repeat top center, url(https://forumstatic.ru/files/001c/06/33/25639.png) no-repeat bottom center, url(https://forumstatic.ru/files/001c/06/33/69526.jpg) repeat-y top center;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 20px 70px;
    height: auto;
  }

.atab-title {
  width: 100%;
}

.atab-content {
    position: relative;
    height: auto;
    width: 100%;
    right: 0;
    top: 0;
}

.atab :checked + .atab-title span, .atab-title span:hover {
  background: url(https://forumstatic.ru/files/001c/06/33/52449.png) no-repeat 95% 50%;
}

.punbb .atab-content > div {
  padding: 10px 0;
}

.anews_top, .anews_left_top, .amatchast_inner, .aguest_inner, .aplayer_inner {
  flex-wrap: wrap;
  justify-content: center;
}

.anews_right {
  display: none;
}

.showcase2 a {
  margin: 0;
}

  /* Футер
  -------------------------------------------------------------*/

  /* Копирайт */
  #pun-about .container {
    justify-content: center;
  }

#html-footer .container {
  padding: 0
}

.punbb .banners {
  width: 100%;
  margin: -108px 0 0 !important;
}



  /* Футер
  -------------------------------------------------------------*/

  /* Копирайт */
  #pun-about .container {
    justify-content: center;
  }

#html-footer .container {
  padding: 0
}

.punbb .banners {
  width: 100%;
  margin: -108px 0 0 !important;
}


  /* Главная форумная таблица
  -------------------------------------------------------------*/

.punbb .category {
  margin: 0;
}

  .punbb .category h2 {
    margin: -40px 0;
    height: 151px;
  }

  /* Заголовки */
  .punbb h1,
  .punbb h2 {
    width: initial !important;
  }

  .punbb h1 span,
  .punbb h2 span {
    font-size: 20px;
  }

  .punbb thead {
    display: none;
  }

  .punbb .main .hasicon,
  .punbb .main tr {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }

  .punbb .main tr {
    padding: 5px 0;
  }

  .punbb:not(#pun-index) .main .hasicon tr:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
  }

  .punbb .main td {
    padding: 5px 10px;
  }

  .punbb .main .tcl,
  .punbb .main .tcr,
  #pun-searchtopics .main .tcl,
  #pun-modviewforum .main .tcl {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 10px !important;
  }

  .punbb .main .intd {
    width: 100%;
    box-sizing: border-box;
    margin-left: 10px;
  }

  .punbb .tclcon {
    padding-right: 30px;
    flex-grow: 1;
  }

  .punbb div.icon {
    position: relative;
    flex-shrink: 0;
  }

  #pun-index div.icon {
    margin: 0;
  }

  .punbb .main .tc2,
  .punbb .main .tc3,
  #pun-searchtopics .main .tc2,
  #pun-searchtopics .main .tc3 {
    text-align: left;
    width: auto;
  }

  .punbb .main .tc2:before,
  .punbb .main .tc3:before {
    content: "";
  }

  #pun-index .main .tc2:before {
    content: "Тем: ";
  }

  #pun-index .main .tc3:before {
    content: "Сообщений: ";
  }

  #pun-viewforum .main .tc2:before,
  #pun-searchtopics .main .tc3:before {
    content: "Ответов: ";
  }

  #pun-viewforum .main .tc3:before {
    content: "Просмотров: ";
  }

  #pun-searchtopics .main .tc2:before {
    content: "Форум: ";
  }

  .punbb .main .tcr {
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .punbb .tcr .user-avatar {
    margin: 0 10px;
    height: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  .punbb .tcr>a,
  .punbb .tcr .lastpost,
  .punbb .tcr>.byuser {
    width: fit-content;
    text-align: right;
    margin-right: 46px;
  }

  .punbb .user-avatar .avatar-image {
    display: flex;
    display: -webkit-flex;
  }

  /* Статистика
  -------------------------------------------------------------*/

  .punbb #pun-stats {
    margin: 0 auto;
  }

  .punbb #pun-stats .container {
    justify-content: right;
  }

  .punbb #pun-stats h2 {
    padding: 0;
  }

  .punbb #pun-stats .container li:not(#onlinelist) {
    width: 100%;
    text-align: right;
  }

  /* Темы и страницы
  -------------------------------------------------------------*/

  #pun-searchposts .post h3 span {
    justify-content: flex-start;
    gap: 0 10px;
  }

  /* Верхние ссылки в топике и списках тем */
  .punbb .linkst {
    margin-top: 20px;
    padding: 5px 10px;
    float: none;
  }

  /* Меню модератора */
  .punbb .modmenu .container {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #topic-users-in .container {
    justify-content: flex-start;
  }

  .punbb .modmenu .container:after {
    display: none;
  }

  .punbb .modmenu strong,
  .punbb .modmenu a {
    height: initial;
  }

  #pun-viewforum .modmenu .container strong a {
    font-size: 0;
  }

  #pun-viewforum .modmenu .container strong a:after {
    content: "Действия с темами";
    font-size: initial;
  }

  /* Нижние ссылки в топике и списках тем */
  .punbb .linksb {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .linksb .pagelink {
    order: 1;
    flex-grow: 1;
    width: auto;
  }

  .punbb .postlink,
  .punbb .linksb noindex,
  #realtime-toggle {
    order: 2;
    flex-grow: 1;
    width: auto;
    right: 10px;
  }

  #realtime-toggle {
    position: relative;
  }

  .subscribelink {
    order: 3;
    padding: 0;
  }

  .punbb .postlink.long {
    width: auto;
  }

#s-block {
  margin-bottom: 10px;
}

  #pun-admain #tag-filter-container {
    margin-bottom: 10px;
  }

  .punbb .per-page-select,
  #profile10 .submitend .pagelink {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .punbb .per-page-select .page-container,
  .files-pagelink {
    flex-grow: 1;
  }

  /* Список пользователей
  -------------------------------------------------------------*/

  #pun-userlist tr:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
  }

  #pun-userlist tr td,
  #pun-userlist .tcl,
  #pun-userlist .tc2 {
    width: 100%;
  }

  #pun-userlist .tc3 {
    display: none;
  }


  /* Топик
  -------------------------------------------------------------*/

  /* Пост */
  .punbb .post {
    margin: 0;
    scroll-margin-top: 40px;
  }

  /* Дата поста */
  .punbb .post h3 {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .punbb .post h3 span {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
  }

  .punbb .post h3 span .permalink {
    flex-grow: 1;
    order: 1;
  }

  .punbb .post h3 span strong {
    order: 2;
  }

  .punbb .post h3 .sharelink {
    order: 3;
    margin-left: 5px;
    display: none;
  }

  /* Содержимое поста */
  .punbb .post .container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    padding: 0 !important;
  }

  /* Автор */
  .punbb .post .post-author {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }

  #pun-viewtopic .post .post-author, #pun-viewtopic .post .post-author > ul {
    min-height: 90px;
  }

  .punbb .post .post-author > ul {
    padding: 0 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 0;
  }

  /* Скрыть поля профиля */
  .pa-fld3,
  .pa-reg,
  .pa-from,
  .pa-invites,
  .pa-positive,
  .pa-icq,
  .pa-sex,
  .pa-age,
  .pa-ip,
  .pa-time-visit,
  .pa-last-visit,
  .pa-online,
  .pa-awards {
    display: none !important;
  }

  /* Аватар */
  .punbb .post-author .pa-avatar {
    width: 75px;
    height: auto;
    max-height: 75px;
    max-width: 75px;
    display: block;
    position: absolute;
    margin: 0 0 5px;
    order: -2;
    border: none;
  }

  .online .pa-author::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 0 0 10px #bf0;
    background: radial-gradient(circle at 3px 2px, #98ea36, #81b16f, #8ac176);
    margin: 2px 0 2px 7px;
  }

  .punbb .post-author .pa-avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    max-height: 75px;
    max-width: 75px;
  }

  /* Ник и статус */
  .punbb .post-author .pa-author,
  .punbb .post-author .pa-title {
    background: transparent;
    padding: 0;
    width: 100%;
    text-align: left;
  }

  .punbb .post-author .pa-author {
    margin: 0 0 0 85px;
    height: auto;
  }

  .punbb .post-author .pa-title {
    margin: 0 0 5px 85px;
    border-left: none;
    border-right: none;
    padding-bottom: 5px;
  }

.post-img-Sp:first-of-type {
    margin-left: 85px;
}

#lz {
  width: calc(100% - 14px);
  box-sizing: border-box;
  margin: 10px 10px 0;
}

#lz p2 {
  width: auto;
  margin: 0;
}

  /* Сообщения */
  .punbb .post-author .pa-posts {
    margin-left: 85px;
    padding-right: 10px;
  }

  /* Доп. поле 1 (лз) */
  .punbb .post-author .pa-fld1 {
    width: 100%;
    order: 1;
  }

  /* Тело поста */
  .punbb .post-body {
    margin: 0;
    width: 100%;
    order: 1;
  }

  /* Содержимое тела поста */
  .punbb .post-box {
    padding: 10px;
  }

  /* Строки поста */
  .punbb .post-content p {
    padding: 0 0 5px 0;
  }

  /* Цитата, спойлер и код */
  .punbb .post-content .quote-box,
  .punbb .post-content .code-box {
    margin: 5px 5px 10px;
    padding: 5px 10px;
  }

  /* хтмл-содержимое в постах */
  .punbb .post-content iframe {
    box-sizing: border-box;
    max-width: 100%;
  }

  /* Подпись */
  .punbb .post-box .post-sig {
    display: none;
  }

  /* Ссылки профиль, удалить, цитировать и т.п. */
  .punbb .post-links {
    margin: 0;
    background: url(https://i.ibb.co/6cqTkxsY/14894.jpg) repeat;
  }

  .punbb .post-links ul {
    padding: 0 10px;
    margin: 5px 0 0;
    height: auto;
  }

  .punbb .post-links li a {
    font-size: 0;
    color: #976c3e;
  }

  .punbb .post-links ul li {
    padding: 0 0 0 10px;
    line-height: initial !important;
  }

  .punbb .post-links ul .pl-email,
  .punbb .post-links ul pl-website {
    float: left !important;
    padding: 0 10px 0 0;
  }

  .punbb .post-links li a::before {
    content: "";
    font-size: 24px;
    font-family: 'Material Icons Outlined';
    color: #976c3e;
  }

  .punbb .post-links li.profile a:before {
    content: "\ea67";
  }

  .punbb .post-links li.pm a:before {
    content: "\e0be";
  }

  .punbb .post-links li.email a:before {
    content: "\e0e6";
  }

  .punbb .post-links li.pl-delete a:before {
    content: "\e92e";
  }

  .punbb .post-links li.pl-edit a:before {
    content: "\e3c9";
  }

  .punbb .post-links li.pl-quote a:before {
    content: "\e244";
  }

  .punbb .post-links li.pl-reports a:before {
    content: "\e8b2";
  }


  /* Форма ответа */
#post-form #post.container {
  padding: 0;
}

  .punbb #form-buttons {
    width: 100%;
    display: block;
  }

  .punbb #form-buttons tr {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 5px;
    text-align: center;
  }

  #form-buttons td {
    display: block;
    width: 26px;
    height: 26px;
    padding-bottom: 2px;
  }

  #post-form #tags .container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    display: flex;
    gap: 5px 10px;
    margin-bottom: 10px;
  }

  #post-form #tags #font-area {
    padding-bottom: 15px !important;
  }

  #post-form #table-area tr {
    flex-wrap: nowrap;
    padding: 0;
  }

#post.container #wysi-reply.post-content {
  max-width: unset;
}

  /* Поиск сообщений
  -------------------------------------------------------------*/

  #pun-searchposts .post-author ul {
    justify-content: space-between;
  }

  #pun-searchposts .post li.pa-author,
  #pun-searchposts .post li.pa-replies {
    text-align: left;
    width: auto;
    margin: 0;
  }

  #pun-searchposts .post-links ul {
    margin: 0;
    height: 150%;
  }

  #pun-searchposts .post-links li a {
    font-size: initial;
  }


  /* Просмотр профиля
  -------------------------------------------------------------*/

  #viewprofile-next #profilenav {
    display: none;
  }

  #viewprofile ul,
  #profilenav ul {
    padding: 0;
    margin: 0 0 10px;
  }

  #viewprofile tr {
    flex-direction: column;
  }

  #viewprofile td {
    width: 100%;
  }

  #viewprofile li,
  #viewprofile li strong,
  #viewprofile li span,
  #viewprofile li div,
  #setmods dd,
  #setmods dl {
    margin: 0;
    padding: 0;
  }

  #viewprofile #profile-left {
    text-align: center;
    padding-bottom: 10px !important;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
  }

  #viewprofile #profile-left li#pa-avatar {
    padding: 5px;
  }

  #viewprofile #profile-right {
    padding: 10px 0 0;
  }

  #profile-right li {
    display: flex;
    flex-wrap: wrap;
  }

  #profile-right li span {
    width: auto;
    padding-right: 5px;
  }

  #viewprofile #profile-right li strong {
    width: auto;
    padding: 0;
  }

  #viewprofile #profile-signature {
    padding: 5px 0;
  }

  #viewprofile #profile-signature ul {
    padding: 10px 0 0;
  }


  /* Редактирование профиля и ЛС
  -------------------------------------------------------------*/

  #profile>.container {
    padding: 5px 10px !important;
  }

  .punbb #profilenav {
    width: 100%;
    margin: 0;
    display: block;
  }

  #viewprofile h2,
  #profilenav h2 {
    margin: 0;
  }

  #profilenav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px 10px;
  }

  #profilenav li {
    padding: 0;
    box-sizing: border-box;
  }

  #pun-messages #notify-settings {
    width: 100%;
  }

  #pun-messages #notify-settings .inp2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #OnOff_Notify {
    margin: 0 !important;
    order: 1;
  }

  #OnOff_Notify+label {
    display: none;
  }

  #volume-set {
    align-items: center;
    display: flex;
  }

  #profile #messages fieldset,
  #profile #messages fieldset .fs-box {
    padding: 0;
    margin: 0;
  }

  .punbb .main #profile #messages .hasicon tr {
    justify-content: space-between;
    box-shadow: 1px solid rgba(0, 0, 0, .3);
  }

  .punbb .main #profile #messages .hasicon .tcl {
    width: 100% !important;
  }

  #profile #messages .hasicon .pmtc22 {
    display: flex;
    width: 100% !important;
  }

  #profile #messages .hasicon .tc3:before {
    content: "Дата: "
  }

  #profile #messages .hasicon .tc3,
  #profile #messages .hasicon .pmtc24 {
    display: block;
    width: auto !important;
    padding: 5px 10px !important;
  }

  #profile #messages .hasicon .pmtc24:before {
    content: "Выбрать: "
  }

#pun-messages .messages-container .container fieldset {
  margin: 0;
  padding: 0;
}

#pun-messages .post .post-author {
  background: url(https://i.ibb.co/6cqTkxsY/14894.jpg) 0 0 #131210;
  min-height: 80px;
}

.formal.messages-container .post-author ul {
  padding-bottom: 0;
  min-height: 80px;
}

.formal.messages-container .post-author .pa-author {
  background: transparent;
  margin: 0 0 0 85px;
  padding: 0;
  height: auto;
}

  /* Активные пользователи
  -------------------------------------------------------------*/

  #pun-online .online-list tr:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  #pun-online .username {
    gap: 5px;
  }

  #pun-online .registered-user,
  #pun-online .tcl.action,
  #pun-online .tc3 {
    width: 100% !important;
    display: block;
  }

  /* Уважение и позитив
  -------------------------------------------------------------*/

  #pun-respect .main .container,
  #pun-positive .main .container {
    padding: 10px;
  }

  #pun-respect tr,
  #pun-positive tr {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  #pun-respect td,
  #pun-positive td {
    width: 100% !important;
    font-size: 12px !important;
    line-height: 1.2;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  #pun-respect td::before,
  #pun-positive td::before {
    content: "";
    width: 100px;
    display: inline-block;
    font-weight: bold;
    flex-shrink: 0;
  }

  #pun-respect td.tcl::before,
  #pun-positive td.tcl::before {
    content: "Когда: ";
  }

  #pun-respect td.tc2::before,
  #pun-positive td.tc2::before {
    content: "Что: ";
  }

  #pun-respect td.tc3::before {
    content: "Кто: ";
  }

  #pun-positive td.tc3::before {
    content: "Кому: ";
  }

  #pun-respect td.tc4::before,
  #pun-positive td.tc4::before {
    content: "За что: ";
  }

  #pun-respect td.tcr::before,
  #pun-positive td.tcr::before {
    content: "Где: ";
  }

  #pun-respect .tcr a,
  #pun-positive .tcr a {
    width: auto;
    text-align: left;
    margin: 0;
  }


  /* Загрузка файлов
  -------------------------------------------------------------*/

  #filetable {
    margin-bottom: 10px;
  }

  #filetable tr {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  .punbb #filetable td {
    width: 100% !important;
  }

  .punbb #filetable .tc2,
  .punbb #filetable .tc3:not(.checker) {
    display: none;
  }

  .punbb #filetable .tc3.checker {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .punbb #filetable .tc3.checker:before {
    content: "Выбрать:"
  }

  /* Админка
  -------------------------------------------------------------*/

  .punbb-admin .adminmain * {
    box-sizing: border-box;
    max-width: 100%;
  }

  .punbb-admin #pun-adnav {
    margin: 0;
    float: none;
  }

  .punbb-admin #pun-admain {
    padding: 0;
  }

  .punbb-admin #pun-adnav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .punbb-admin #pun-adnav li {
    padding: 2px 5px;
  }

  .punbb-admin #pun-admain fieldset .handle,
  .punbb-admin #pun-admain fieldset p {
    border: none;
  }

  .punbb-admin #pun-admain .adlabel {
    padding: 0 5px !important;
    margin: 0;
    position: relative;
    width: auto;
    display: block;
    text-align: center;
  }

  .punbb-admin .adcontainer {
    padding: 5px 10px !important;
  }

  .punbb-admin #pun-admain .adformal div ul,
  .punbb-admin #pun-admain div p {
    padding: 5px !important;
  }

  .punbb-admin #pun-admain .adcontainer td {
    border: none;
    padding: 5px;
  }

  .punbb-admin .adcontainer .adsubmitfield {
    display: flex;
    flex-direction: column;
  }

  .punbb-admin #pun-admain span.adsubmit {
    position: relative;
    width: auto;
    top: 0 !important;
    margin: 0 auto;
    display: block;
    padding: 5px;
    left: 0;
  }

  .punbb-admin #pun-admain1 .sortable p input[name^="cat_name"] {
    margin: 0;
    position: relative;
    width: calc(100% - 20px);
  }

  .punbb-admin #pun-admain input[type="submit"] {
    margin: 0 auto;
    display: block;
  }

  #pun-admain .adformal p.submittop,
  #pun-admain .adformal p.submitend {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
  }

  #pun-admain .adformal p.submittop input[type="submit"],
  #pun-admain .adformal p.submitend input[type="submit"] {
    margin: 0 5px;
  }

  .punbb-admin #pun-admain fieldset .subforums {
    margin-left: 0;
  }

  .punbb-admin .admin-advert-block {
    width: auto;
  }

  .punbb-admin input[type="text"] {
    width: 100%;
  }

  .page-list tr,
  #pun-admin_logs #pun-admain .adcontainer tr {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  .punbb-admin #pun-admain .page-list td {
    width: 100% !important;
  }

  #metatags input#fld0content {
    margin: 0 !important;
  }

  #pun-admin_paid_services #pun-admain .linksb {
    height: auto !important;
    flex-direction: column;
  }

  #pun-admin_logs #pun-admain .adcontainer tbody {
    width: 100%;
    display: block;
  }

  #pun-admin_logs #pun-admain .adcontainer td {
    width: 100% !important;
    text-align: left !important;
  }

  /* Награды
  -------------------------------------------------------------*/

  .mod-awards .category h2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .mod-awards .category h2 .fr {
    position: relative;
    right: unset;
    font-size: 12px;
  }

  #awards-content {
    padding: 0;
  }

  #awards-content td {
    width: 100%;
    font-size: 12px;
    display: inline-block;
  }

  .mod-awards-user #awards-content td:nth-child(3),
  .mod-awards-user #awards-content td:nth-child(4) {
    display: flex;
    gap: 5px;
  }

  #awards-content td:before {
    content: "";
    width: 100px;
    font-weight: bold;
    display: inline-block;
    flex-shrink: 0;
  }

  .mod-awards-list #awards-content td:nth-child(1)::before,
  .mod-awards-user #awards-content td:nth-child(1)::before {
    content: "Название:";
  }

  .mod-awards-list #awards-content td:nth-child(2)::before,
  .mod-awards-user #awards-content td:nth-child(2)::before {
    content: "Иконка:";
  }

  .mod-awards-list #awards-content td:nth-child(3)::before {
    content: "Описание:";
  }

  .mod-awards-list #awards-content td:nth-child(4)::before {
    content: "Лауреаты:";
  }

  .mod-awards-user #awards-content td:nth-child(3)::before {
    content: "За заслуги:";
  }

  .mod-awards-user #awards-content td:nth-child(4)::before {
    content: "Вручена:";
  }

  .mod-awards-users #awards-content td:nth-child(1)::before {
    content: "Пользователь:";
  }

  .mod-awards-users #awards-content td:nth-child(2)::before {
    content: "Кол-во наград:";
  }

  .mod-awards-users #awards-content td:nth-child(3)::before {
    content: "Награды:";
  }

  .mod-awards-users #awards-content td:nth-child(4)::before {
    content: "Детали:";
  }


  /* Дополнительно
  -------------------------------------------------------------*/

  /* Отключение закругления текстовых полей в Safari */

  button,
  input.button,
  input[type="text"],
  input[type="password"],
  select {
    appearance: auto;
    -webkit-appearance: none;
    -moz-appearance: auto;
  }


.go-up, .go-down {
  margin: 0 !important;
  right: 0;
  width: 30px;
  height: auto;
}

.go-up img, .go-down img {
  width: 100%;
}

}

@media screen and (max-width: 378px) {

  .punbb .post {
    scroll-margin-top: 80px;
  }

}