@import url(style_cs.css);
@import url('https://alexkolmar.github.io/fonts/Cattedrale/stylesheet.css');
@import url('https://alexkolmar.github.io/fonts/SegoeUI/stylesheet.css');
@import url('https://alexkolmar.github.io/fonts/lack/stylesheet.css');
@import url('https://alexkolmar.github.io/fonts/Muller/stylesheet.css');
@import url('https://alexkolmar.github.io/fonts/DorisPFC/stylesheet.css');

/* Полезные сервисные настройки
-------------------------------------------------------------*/

.acchide,
#pun-index #pun-main h1,
#pun-navlinks h2,
#pun-pagelinks h2,
#pun-status h2,
#pun-ulinks h2,
.punbb .forum h2,
.punbb .multipage .topic h2,
.punbb dl.post-sig dt span,
.punbb p.crumbs strong,
.punbb .divider hr,
.punbb .required label em,
.punbb .formsubmit label,
.punbb .submitfield label,
.punbb .modmenu label,
#pun-userlist .main h2 {
  font-size: 0;
  height: 0;
  width: 0;
  line-height: 0.0;
  position:absolute;
  left: -9999px;
  overflow: hidden;
}

#pun:after,
.punbb .post-links ul:after,
.punbb .main div.inline:after,
.punbb .post-box:after,
.punbb .linksb:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  overflow:hidden;
  line-height: 0.0;
  font-size: 0;
}


/* Основные переменные
------------------------------------------*/

:root {
  --black: black;
  --white: white;
  --sec-bg: #f2f2f2;
  --link: #e4b61f;
  --link-hover: #595959;
  --gray: #999;
  --padding: 10px 20px;
  --tpad: 5px 20px;
  --mpad: 5px 10px;
  --bpad: 10px 60px;
  --font1: Cattedrale;
  --font2: Muller;
  --font3: Lack;
  --font4: Doris PP;
}

/* Global
------------------------------------------*/

/* Применяется ко всем элементам */

* {
  margin: 0;
  padding: 0;
  border: none;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--link) var(--sec-bg);
}

*::-webkit-scrollbar {width: 7px; height: 7px;}
*::-webkit-scrollbar-track {background-color: var(--sec-bg);}
*::-webkit-scrollbar-thumb {background-color: var(--link);}
*::-webkit-scrollbar-thumb:active {background: var();}

:focus {outline: none;}

a, .punbb #pun-admain a {
  text-decoration: none;
  color: var(--link);
  transition: all .2s linear 0s;
}

a:hover, .punbb #pun-admain a:hover {
  color: var(--link-hover);
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre {
  margin: 0;
}

h1, h2 {
  padding: 10px 20px;
  font-weight: normal;
  text-align: center;
}

ul, dl, li, dd, dt {list-style: none;}

address, em {font-style: normal;}

.modlist, .lastedit, .punbb div#pun-live-rusff, .punbb .topic a.sharelink {display: none;}

#tags .container, .post_report, .post_reputation {
  background: var(--sec-bg);
}

#tags .container {
  padding: var(--mpad) !important;
  top: 0 !important;
}

/* ОФОРМЛЕНИЕ КНОПОК
------------------------------------------*/

input.button, #pun-admain input.button, #sub4, input[type="button"] {
  padding: 3px 15px 4px;
  background: var(--link);
  color: var(--white);
  text-transform: lowercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s linear 0s;
}

input.button:hover, #pun-admain input.button:hover, #sub4:hover, input[type="button"]:hover {
  background: var(--link-hover);
}

/* ОФОРМЛЕНИЕ ПОЛЕЙ ВВОДА
------------------------------------------*/

input[type="text"], input[type="password"], textarea, select {
  padding: 2px 5px;
  border: 1px solid var(--link-hover);
}

/* Админка
------------------------------------------*/



/* Тело форума
------------------------------------------*/

body::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -10;
  background: var(--black) url(https://forumstatic.ru/files/0016/01/4e/40013.jpg?v=1) no-repeat top center/cover;
}

#pun {
  margin: 91px auto 30px;
  width: 1050px;
  background: var(--white);
}

.punbb {
  font: 12px Verdana, Arial;
  text-transform: lowercase;
}

.punbb > div .container {padding: var(--padding);}


/* Навигационные ссылки */

#pun-navlinks {
  position: absolute;
  top: 127px;
  font-size: 16px;
  font-family: var(--font2);
  font-weight: 700;
}

#pun-navlinks .container {
  text-align: center;
  padding: 0 22px;
}

#pun-navlinks li {
  padding: 0 5px;
  display: inline;
}

#pun-navlinks li a {
  color: var(--link);
}

#pun-navlinks li a:hover {
  color: var(--white);
}

/* Пользовательские ссылки */

#pun-ulinks .container {
  text-align: center;
  text-transform: lowercase;
  font-family: var(--font3);
  font-size: 12px;
}

#pun-ulinks li {
  padding: 0 5px;
  display: inline;
}

#pun-ulinks li a {
  color: var(--black);
}

#pun-ulinks li a:hover {
  color: var(--link-hover);
}


/* Статус */

#pun-status .container {
  padding: var(--bpad);
}

#pun-status span {
  white-space: nowrap;
  margin-right: 5px;
}

/* Хлебные крошки */

.punbb .container.crumbs {
  padding: var(--bpad);
}

/* Копирайт */
#pun-about .container {
  text-align: center;
}


/* Главная форумная таблица
------------------------------------------*/

.main table {
  table-layout: fixed;
  width: 100%;
}

.main th {
  padding: 5px 10px;
}

.main td {
  padding: 10px;
}

.tcl {
  width: 50%;
}

.tc2, .tc3, .tcmod {
  text-align: center;
  width: 10%;
}

.tcr {
  width: 30%;
}

#pun-searchtopics .tcl, #pun-modviewforum .tcl {
  width: 40%
}

#pun-searchtopics .tc2 {
  text-align: left;
  width: 20%;
}

#pun-debug table .tcl {
  width: 15%;
}

#pun-debug .tcr {
  width: 90%;
}

tbody.hasicon td.tcl {
  padding-left: 40px;
}

/* Иконки */

div.icon {
  position: absolute; 
  margin: 0 0 0 -40px;
  width: 14px;
  height: 14px;
  background: var(--black) no-repeat top center;
}

tr.inew div.icon {
  background: var(--link)  no-repeat top center;
}

tr.isticky div.icon {
  background: var(--link)  no-repeat top center;
}

tr.iclosed div.icon {
  background: var(--black) no-repeat top center;
}


/* Пагинация 
------------------------ */

.multipage {margin-top: 10px;}

.linkst {
  position: relative;
  padding: var(--bpad);
  display: flex;
  justify-content: space-between;
}

.linkst .postlink {
  text-align: right;
}

.linksb {
  position: relative;
  padding: var(--bpad);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linksb .pagelink {
  order: -1;
}

.linksb .postlink {
  margin-left: auto;
}

.subscribelink {
  width: 100%;
  text-align: right;
}

.punbb #pun-main #subforums {
  padding: var(--bpad);
}

.punbb #pun-main .container {
  padding: var(--bpad);
}

/* Модераторское меню, RSS, Atom */

.modmenu .container {
  padding: var(--mpad);
  text-align: right;
}

.modmenu .container strong {
  float: left;
}

.modmenu input {
  margin-left: 10px;
}

/* Главная
------------------------------------------*/

/* Категории */

#pun-index .category h2, #pun-stats h2 {
  color: var(--link);
  font-family: var(--font1);
  font-size: 50px;
  text-transform: uppercase;
  padding: 0 20px;
  position: relative;
  width: 930px;
  margin: 0 auto -30px;
  text-align: left;
  box-sizing: border-box;
}

#pun-index thead {display: none;}

#pun-index .tcl {
  width: 60%;
  padding-right: 30px;
}

#pun-index .category .container, #pun-stats .container {
  margin: 0 auto 20px;
  padding: 20px 30px;
  width: 930px;
  box-sizing: border-box;
  background: var(--sec-bg);
  z-index: 1;
  position: relative;
}

#pun-index h3 {
  margin-bottom: 10px;
}
 
#pun-index h3 a {
  color: var(--black);
  font-weight: normal;
  font-size: 21px;
  font-family: var(--font2);
  font-weight: 700;
}

#pun-index h3 a:hover {
  color: var(--link-hover);
}

.subforums {
  margin-bottom: 10px;
  font-size: 11px;
}

#pun-index  .tclcon {
  font-size: 10px;
  line-height: 11px;
  text-align: justify;
}

.links {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.links a {
  background: var(--link);
  color: var(--white);
  font-size: 10px;
  height: 19px;
  min-width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 2px;
  box-sizing: border-box;
}

.links a:hover {
  background: var(--link-hover);
  color: var(--white);
}

#pun-index .tc2, #pun-index .tc3 {
  width: 8%;
  font-size: 21px;
  font-family: var(--font4);
  color: var(--link);
}

#pun-index .tc2:before, #pun-index .tc3:before {
  content: '';
  display: block;
  font-size: 10px;
  font-family: verdana;
  color: black;
}

#pun-index .tc2:before {
  content: "тем";
}

#pun-index .tc3:before {
  content: "сообщений";
}

#pun-index .tcr {
  width: 30%;
  padding-left: 30px;
}

#pun-index .tcr .lastpost-link {
  color: var(--black);
  font-family: var(--font2);
  text-transform: lowercase;
  font-size: 14px;
}

#pun-index .tcr .lastpost-link:hover {
  color: var(--link-hover);
}

#pun-index .tcr .lastpost {
  font-size: 10px;
  line-height: 11px;
}


/* Статистика */

#pun-stats .container {
  font-size: 10px;
}

#pun-stats li.item1, #pun-stats li.item2 {
  float: left;
  clear: both;
}

#pun-stats li.item3, #pun-stats li.item4 {
  text-align: right;
}

li#onlinelist {
  margin-top: 10px;
}

/* Шапка
------------------------------------------*/

#pun-title .title-logo {display: none;}

#pun-title::before {
  content: '';
  background: url(https://forumstatic.ru/files/0016/01/4e/94787.png) no-repeat top center;
  width: 1138px;
  height: 147px;
  display: block;
  position: absolute;
  top: 0;
}

#pun-title {
  background: url(https://forumstatic.ru/files/0016/01/4e/88019.jpg) no-repeat top center;
  height: 499px;
  width: 100%;
}

#html-header {
  position: absolute;
  width: 1050px;
}

.bestpost {
  position: relative;
  top: 170px;
  left: 15px;
  width: 400px;
  display: block;
  color: var(--white);
  font-size: 10px;
  font-family: Segoe UI;
  line-height: 1;
}


/* Объявление
------------------------------------------*/

#pun-announcement h2 {display: none;}

#pun-announcement .html-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px 35px;
}

.hotlink {
  padding: 3px 15px 5px;
  min-width: 130px;
  height: 21px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  box-sizing: border-box;
  border-radius: 5px;
  color: var(--white);
  font-size: 11px;
}

.hotlink:hover {
  background: var(--link-hover);
  color: var(--white);
}

/* Футер
------------------------------------------*/

.punbb #html-footer .container {padding: 0;}

.banners {
  padding: var(--bpad);
  margin-bottom: 20px;
}

.banners .container {
  height: 65px;
  overflow: auto;
  box-sizing: border-box;
}

.banners a {
  opacity: .5;
}

.banners a:hover {
  opacity: 1;
}


/* Список тем
------------------------------------------*/



/* Топик
------------------------------------------*/

.post {
  margin-top: 10px;
}

.toppost, .topicpost {
  margin-top: 0;
}

.post .container {
  display: flex;
  flex-wrap: wrap;
}

.post h3 span {
  padding: var(--bpad);
  display: block;
}

.post h3 strong {
  float: right;
  text-align: right;
  font-weight: normal;
}

/* Автор */

.post-author {
  width: 224px;
  text-align: center;
}

.post-author ul {
  position: relative;
  padding: 20px 0;
  background: var(--sec-bg);
  border-radius: 0 15px 15px 0;
}

.post-author a {color: var(--black);}

.post-author a:hover {color: var(--link-hover);}

.pa-author {
  padding: 0 10px;
}

.pa-author a {
  font-size: 16px;
  font-family: var(--font2), var(--font3) ;
  font-weight: 700;
}

.pa-title {
  color: var(--gray);
  text-transform: lowercase;
  font-size: 8px;
  margin-bottom: 5px;
  padding: 0 10px;
}

.lz {
  padding: 0 10px;
  font-size: 8px;
  color: var(--gray);
}

.pa-fld2 {
 color: var(--link);
 font-family: var(--font1);
 font-size: 24px;
 position: absolute;
 top: 10px;
 transform-origin: 0 0;
 transform: rotate(-90deg) translate(-100%, -22px);
 text-transform: uppercase;
}

.pa-fld2 a {color: var(--link);}
.pa-fld2 a:hover {color: var(--link-hover);}

.pa-fld2::after {
 content: '';
 background: var(--sec-bg);
 width: 100%;
 display: block;
 height: 13px;
 position: absolute;
 bottom: 0;
}

.pa-respect {
  margin: 10px 0;
  font-size: 8px;
  text-transform: lowercase;
  font-weight: bold;
}

.pa-online {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background: var(--link);
  top: 27px;
  left: 20px;
}

.pa-online strong {
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, 0);
  padding: 5px 10px 7px;
  left: 50%;
  top: 16px;
  opacity: 0;
  background: rgba(0,0,0,.7);
  border-radius: 3px;
  font-size: 10px;
  text-transform: lowercase;
  color: var(--white);
  box-sizing: border-box;
  white-space: nowrap;
  transition: opacity .2s linear 0s;
  pointer-events: none;
  z-index: 2;
}

 .pa-online strong::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    left: 50%;
    border-bottom: 10px solid rgba(0,0,0,.7);
    top: -10px;
}

.pa-online:hover strong {
  opacity: 1;
}


/* Тело поста */

.post-body {
  width: calc(100% - 224px);
  text-transform: initial;
}

.post-box {padding: 0 0 10px 30px;}

.post-links {
  margin-left: 240px;
  width: 100%;
}

.post-links ul {
  padding: 10px 0;
  margin-left: -240px;
  text-align: right;
}

.post-links li {
  display: inline;
}

.post-links li:not(:first-of-type) {
  padding-left: 10px;
}

.pl-email, .pl-website {
  float: left;
}

.clearer {clear: both; height: 0; font-size: 0;}


/* Контент поста - цитата, спойлер, таблицы и т.п. */

.punbb .post td {
  border: 0px transparent !important;
}

pre {font: normal 13px/140% monaco, "bitstream vera sans mono", "courier new", courier, monospace;}

.post-content em {font-style: italicж}

.post .post-content td {border-width: 0px !important;}

.post-content em.bbuline {font-style: normal; text-decoration: underline;}

.post-content p {
  margin: 0;
  padding: 0 0 12px 0;
  line-height: 150%;
  text-align: justify;
}

.post-content img {vertical-align: middle;}

.scrollbox {
  width: 100%;
  overflow: auto;
  max-height: 200px;
}

.quote-box, .code-box {
  margin: 4px 10px 10px;
  padding: 10px 15px;
  background: var(--sec-bg);
}

.quote-box cite {
  display: block;
  padding-bottom: 5px;
  font-style: normal;
  font-weight: bold;
  text-transform: lowercase;
}

.code-box strong.legend {
  display: block;
  padding-bottom: 5px;
  font-weight: bold;
  font-style: normal;
  text-transform: lowercase;
}

/* Форма ответа */

#tags {
  position: relative;
}

/* Формы
------------------------------------------- */

.checkfield input[type="checkbox"], .radiofield input[type="radio"] {margin: 0 3px;}
p[class="checkfield"] *, div[class="checkfield"] *, fieldset[class="radiofield"] * {height: 20px; vertical-align: middle;}

textarea, input, select, optgroup {font-size: 14px;}
optgroup {font-weight: bold;}

.formal .container {padding: var(--padding);}

.formsubmit {
  padding: 0;
  margin: 10px 0 0 0;
}

.formsubmit input, .formsubmit a, .formsubmit span {margin: 0 6px 0 0;}

fieldset {border: none;}
  fieldset legend {
  font-weight: bold;
}

fieldset fieldset {
  border: none;
  margin: 0;
  padding: 0 0 8px 0
}

.fs-box {padding: 5px 0;}
.fs-box p, .fs-box fieldset {padding: 0 0 8px 0;}

.inline .inputfield, .inline .selectfield, .inline .passfield {float: left;margin-right: 1em;}
.inline .infofield {clear:both}
.datafield br {display: none}
.required label, .datafield span.input {font-size: 10px;}
textarea, .longinput input {width: 64%; margin: 0;}
.hashelp {position: relative;}


/* Профиль + ЛС
------------------------------------------*/

#profile > .container {
  padding-left: 240px !important;
  min-height: 300px;
}

#profilenav {
  float: left;
  width: 180px;
  margin-left: -180px;
}

#viewprofile h2, #profilenav h2 {
  padding: 0;
  margin: 0;
}

#viewprofile li, #profilenav li {
  margin-bottom: 5px;
}

#viewprofile li strong {
  font-weight: normal;
}

#profile-right li {
  display: flex;
}

#profile-right li span {
  width: 160px;
  flex-shrink: 0;
}

img.avatardemo {float: right;margin: 0 0 8px 18px;}

#pun-messages .linksb {
  padding: 10px 0;
}

#pun-messages .postlink {order: 2;}

/* Прочие страницы
------------------------------------------*/

/* Список пользователей */

#pun-userlist .formal, #pun-userlist .formal .container {margin-bottom: 0;}

#pun-userlist .tc2 {
  text-align: left;
  width: 20%;
}

#pun-userlist .tcl {width: 40%}

/* Собщения об ошибках */

.info .container {padding: var(--mpad);}
.info .container .backlink {padding-top: 8px;}

/* Регистрация */

.info-box {
  margin: 0 0 10px 0;
}

.info-box * {padding: 0 0 5px 0;}
.info-box .legend {font-weight: bold;}


/* Кнопки вверх-вниз
-------------------------------------------------------*/

.go-up, .go-down {
  cursor: pointer;
  opacity: .5;
  z-index: 9999;
  display: none;
  position: fixed;
  margin-left: 1070px !important;
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  transition: opacity .2s linear 0s;
}

.go-up {
  top: 280px;
  background: var(--link);
}

.go-down {
  top: 320px;
  background: var(--link-hover);
}

.go-down:hover, .go-up:hover {opacity: 1;}


/* html
-------------------------------------------------------*/

