* {
    margin: 0;
    padding: 0;
    border: none;
}

@import url('https://kit-pro.fontawesome.com/releases/v6.6.0/css/pro.css');

@font-face {
    font-family: 'ZTNeueRalewe';
    src: url('https://forumstatic.ru/files/0017/b2/cc/94240.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ZTNeueRalewe';
    src: url(https://forumstatic.ru/files/0017/b2/cc/36483.ttf);
    font-weight: bold;
}

:root {
    --link: #72805F;
    --link-hover: #1b1b1b;
    --main-text: #1b1b1b;
    --link-light: #F9F9F9;
    --font-title: 'ZTNeueRalewe';
    --font-main: "IBM Plex Sans", sans-serif;
}

.map {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 838px;
    background: url(img/ritual-map.jpg) no-repeat top center/cover;
    font-family: arial, sans-serif;
}

.map .area_wrap {
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    pointer-events: none;
}

.map .area_wrap.wrap_right {
    align-items: flex-end;
}

.map .area_wrap.wrap_bottom {
    flex-direction: column-reverse;
}

.area {
    width: fit-content;
    text-align: center;
    cursor: pointer;
    font-family: var(--font-title);
    font-size: 20px;
    line-height: 100%;
    font-weight: bold;
    letter-spacing: .2px;
    color: #fff;
    text-shadow: 1px 1px #000;
    transition: all .2s linear 0s;
    pointer-events: all;
}

.area.active,
.area:hover {
    text-decoration: underline dotted;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
    letter-spacing: .5px;
}

.description {
    position: relative;
    display: none;
    z-index: 10;
    margin-top: 10px;
    left: 0;
    width: 300px;
    height: auto;
    background: #F9F9F9;
    border: 1px solid #C6D9AC;
    box-sizing: border-box;
    padding: 15px 20px 20px;
    font-family: var(--font-main);
    font-size: 10px;
    color: var(--main-text);
    pointer-events: all;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
    border-radius: 8px;
}

.description:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 30px;
    border-bottom: 10px solid #fff;
    top: -9px;
}

.wrap_right .description:before {
    left: unset;
    right: 30px;
}

.wrap_bottom .description {
    margin: 0 0 10px;
}

.wrap_bottom .description:before {
    border-bottom: none;
    border-top: 10px solid #fff;
    top: unset;
    bottom: -9px;
}

.description h3 {
    margin-bottom: 5px;
    font-family: var(--font-title);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.description h3 a {
    color: var(--main-text);
    text-decoration: none;
    transition: all .2s linear 0s;
}

.description h3 a:hover {
    color: var(--link); 
}

.description span {
    display: block;
    font-size: 10px;
    line-height: 120%;
    color: #9C9C9C;
    text-align: center;
}

.description .ico {
    text-align: center;
    font-size: 20px;
}

button.close {
    background: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    transition: all .2s linear 0s;
    font-size: 14px;
}

button.close:hover {
    color: maroon;
}

.seasons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.season {
    width: calc(50% - 10px);
}

#fox_grove {
    left: 70px;
    top: 60px;
}

#white_grove {
    left: 290px;
    top: 50px;
}

#iris_meadow {
    top: 140px;
    left: 40px;
}

#singing_lake {
    top: 140px;
    left: 145px;
}

#heaven_tribe_camp {
    top: 165px;
    left: 205px;
}

#crimson_edge {
    top: 230px;
    left: 50px;
}

#shining_copse {
    top: 280px;
    left: 40px;
}

#forest_path {
    top: 290px;
    left: 170px;
}

#emerald_forest {
    top: 260px;
    left: 300px;
}

#spiky_clumps {
    top: 110px;
    left: 565px;
}

#dead_marshes {
    top: 70px;
    left: 675px;
}

#raven_hollow {
    right: 95px;
    top: 50px;
}

#shady_forest {
    right: 70px;
    top: 160px;
}

#stone_circle {
    left: 765px;
    top: 170px;
}

#dark_river {
    left: 645px;
    top: 240px;
}

#night_tribe_camp {
    left: 780px;
    top: 250px;
}

#snake_mound {
    right: 40px;
    top: 240px;
}

#misty_swamps {
    right: 115px;
    top: 370px;
}

#toothy_mountain {
    top: 460px;
    left: 60px;
}

#crimson_undergrowth {
    top: 480px;
    left: 200px;
}

#secret_path {
    bottom: 280px;
    left: 320px;
}

#grey_cave {
    bottom: 230px;
    left: 355px;
}

#foggy_bay {
    bottom: 240px;
    left: 160px;
}

#chalky_shoal {
    bottom: 250px;
    left: 35px;
}

#melting_island {
    bottom: 150px;
    left: 90px;
}

#storm_tribe_camp {
    bottom: 150px;
    left: 240px;
}

#crying_cape {
    bottom: 70px;
    left: 365px;
}

#rabbit_mountain {
    right: 50px;
    bottom: 300px;
}

#red-hot_stream {
    bottom: 275px;
    right: 210px;
}

#black_mouth {
    bottom: 310px;
    left: 640px;
}

#briar_meadow {
    bottom: 240px;
    left: 670px;
}

#fire_tribe_camp {
    left: 785px;
    bottom: 180px;
}

#golden_wasteland {
    bottom: 170px;
    right: 40px;
}

#thunder_hills {
    bottom: 60px;
    right: 90px;
}

#honey_fields {
    bottom: 70px;
    left: 600px;
}

#stone_steppe {
    bottom: 170px;
    left: 540px;
}

#azure_spring {
    left: 460px;
    top: 40px;
}

#lonely_rock {
    left: 360px;
    top: 75px;
}

#owl_tree {
    left: 425px;
    top: 175px;
}

#primal_stream {
    left: 500px;
    top: 230px;
}

#ancient_oak {
    left: 440px;
    top: 400px;
}

#poppy_field {
    left: 380px;
    top: 465px;
}

#tree_crossing {
    left: 470px;
    bottom: 285px;
}

#copyright {
    bottom: 10px;
    right: 20px;
}

#copyright .area {
    font-family: var(--font-main);
    color: var(--main-text);
    text-shadow: none;
}

#copyright .description {
    margin-right: -20px;
}

#copyright .description:before {
    right: 20px;
}

#copyright .description p {
    font-size: 12px;
}

#white_grove .area,
#grey_cave .area,
#black_mouth .area {
    width: 70px;
}

#iris_meadow .area, #poppy_field .area {
    width: 90px;
}

#crimson_edge .area,
#shining_copse .area,
#spiky_clumps .area,
#raven_hollow .area,
#shady_forest .area,
#stone_circle .area,
#dark_river .area,
#snake_mound .area,
#misty_swamps .area,
#secret_path .area,
#foggy_bay .area,
#chalky_shoal .area,
#melting_island .area,
#crying_cape .area,
#briar_meadow .area,
#golden_wasteland .area,
#stone_steppe .area,
#azure_spring .area,
#lonely_rock .area,
#owl_tree .area,
#tree_crossing .area {
    width: 100px;
}

#primal_stream .area {
    width: 120px;
}

#ancient_oak .area,
#red-hot_stream .area {
    width: 130px;
}

#heaven_tribe_camp .area,
#night_tribe_camp .area,
#storm_tribe_camp .area,
#fire_tribe_camp .area {
    width: 150px;
}