@font-face {
    font-family: 'Melon honey';
    src: url('https://alexkolmar.github.io/fonts/Melonhoney/Melonhoney.eot');
    src: local('Melon honey Regular'), local('Melonhoney-Regular'),
        url('https://alexkolmar.github.io/fonts/Melonhoney/Melonhoney-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://alexkolmar.github.io/fonts/Melonhoney/Melonhoney-Regular.woff2') format('woff2'),
        url('https://alexkolmar.github.io/fonts/Melonhoney/Melonhoney-Regular.woff') format('woff'),
        url('https://alexkolmar.github.io/fonts/Melonhoney/Melonhoney-Regular.ttf') format('truetype'),
        url('https://alexkolmar.github.io/fonts/Melonhoney/Melonhoney-Regular.svg#Melonhoney') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

