@font-face {
font-family: 'Helvetica-Regular';
src: url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Regular.eot');
src: url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Regular.eot?#iefix') format('embedded-opentype'),
url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Regular.svg#Helvetica-Regular') format('svg'),
url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Regular.ttf') format('truetype'),
url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Regular.woff') format('woff'),
url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Regular.woff2 ') format('woff2');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Helvetica-Light';
src: url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Light.eot');
src: url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Light.svg#Helvetica-Light') format('svg'),
url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Light.ttf') format('truetype'),
url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Light.woff') format('woff'),
url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Light.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Helvetica-Bold';
src: url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Bold.eot');
src: url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Bold.svg#Helvetica-Bold') format('svg'),
url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Bold.ttf') format('truetype'),
url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Bold.woff') format('woff'),
url('//alexkolmar.github.io/fonts/Helvetica/Helvetica-Bold.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

