#quenta * {
	border: none;
	scrollbar-width: thin;
}

#quenta {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 530px;
	height: 700px;
	background: #637370;
	border-radius: 10px;
	box-shadow:  0 0 0 1px #637370 inset, 0 0 0 2px #839893 inset;
}

#quenta .hover {
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	object-fit: cover;
	object-position: center;
	background: #839893;
	opacity: 0; /* не забыть сменить на 0 */
	transition: opacity .3s linear 0s;
	border-radius: 10px;
	box-shadow:  0 0 0 1px #839893 inset, 0 0 0 2px #bcccc9 inset;
	font: 500 10px/150% Arial;
	position: relative;
	z-index: 1;
}

#quenta .hover:hover {
	opacity: 1;
}

#quenta .qhead {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 10px;
	height: 120px;
}

#quenta .gifblock {
	display: block;
	max-width: 100px;
	max-height: 100px;
}

#quenta .gifblock img {
	height: 100px;
	width: 100px;
	object-fit: cover;
	object-position: top center;
	border-radius: 50%;
}

#quenta .quoteblock {
	flex-grow: 1;
	box-sizing: border-box;
	margin: 0 10px;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: justify;
}

#quenta .qlist {
	height: auto;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding-left: 10px;
	height: calc(100% - 130px);
	margin-right: 10px;
	overflow: auto;
}

.qblock > div {
	display: block;
	padding: 5px 10px;
	box-sizing: border-box;
}

.qblock .question {
	background: #637370;
	color: #bcccc9;
	font: normal 14px/150% 'Raleway', sans-serif;
}

.qblock .answer {
	background: #bcccc9;
}

.qphoto {
	position: absolute;
	top: 0;
	display: block;
	width: 530px;
	height: 700px;
	opacity: .5;
	height: 100%;
	object-fit: cover;
	object-position: top center;
	border-radius: 10px;
}