/* Zekton */
@font-face {
font-family: 'zektonregular';
src: url('https://alexkolmar.github.io/fonts/zekton_rg.eot');
src: url('https://alexkolmar.github.io/fonts/zekton_rg.eot?#iefix') format('embedded-opentype'),
url('https://alexkolmar.github.io/fonts/zekton_rg.woff') format('woff'),
url('https://alexkolmar.github.io/fonts/zekton_rg.ttf') format('truetype'),
url('https://alexkolmar.github.io/fonts/zekton_rg.svg#zektonregular') format('svg');
font-weight: normal;
font-style: normal;
}
