@font-face {
    font-family: 'OffBit';
    src: local('OffBit Regular'), local('OffBit-Regular'),
        url('https://alexkolmar.github.io/fonts/OffBit/OffBit-Regular.woff2') format('woff2'),
        url('https://alexkolmar.github.io/fonts/OffBit/OffBit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

