@font-face {
    font-family: 'Cambria';
    src: url('https://alexkolmar.github.io/fonts/cambria/cambria.eot');
    src: url('https://alexkolmar.github.io/fonts/cambria/cambria.eot?#iefix') format('embedded-opentype'),
        url('https://alexkolmar.github.io/fonts/cambria/cambria.woff2') format('woff2'),
        url('https://alexkolmar.github.io/fonts/cambria/cambria.woff') format('woff'),
        url('https://alexkolmar.github.io/fonts/cambria/cambria.ttf') format('truetype'),
        url('https://alexkolmar.github.io/fonts/cambria/cambria.svg#Cambria') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

