@font-face {
    font-family: 'Doppelganger rus';
    src: url('https://alexkolmar.github.io/fonts/Doppelganger2/Doppelganger.eot');
    src: url('https://alexkolmar.github.io/fonts/Doppelganger2/Doppelganger.eot?#iefix') format('embedded-opentype'),
        url('https://alexkolmar.github.io/fonts/Doppelganger2/Doppelganger.woff2') format('woff2'),
        url('https://alexkolmar.github.io/fonts/Doppelganger2/Doppelganger.woff') format('woff'),
        url('https://alexkolmar.github.io/fonts/Doppelganger2/Doppelganger.ttf') format('truetype'),
        url('https://alexkolmar.github.io/fonts/Doppelganger2/Doppelganger.svg#Doppelganger rus') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

