@font-face {
    font-family: 'Romile';
    src: url('https://alexkolmar.github.io/fonts/Romile2/Romile.eot');
    src: local('Romile Personal Use'), local('RomilePersonalUse'),
        url('https://alexkolmar.github.io/fonts/Romile2/Romile.eot?#iefix') format('embedded-opentype'),
        url('https://alexkolmar.github.io/fonts/Romile2/Romile.woff2') format('woff2'),
        url('https://alexkolmar.github.io/fonts/Romile2/Romile.woff') format('woff'),
        url('https://alexkolmar.github.io/fonts/Romile2/Romile.ttf') format('truetype'),
        url('https://alexkolmar.github.io/fonts/Romile2/Romile.svg#Romile') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

