
/* Airport */

@font-face {
font-family: 'Airport';
src: url('//alexkolmar.github.io/fonts/airport/airport.eot');
src: url('//alexkolmar.github.io/fonts/airport/airport.eot?#iefix') format('embedded-opentype'),
url('//alexkolmar.github.io/fonts/airport/airport.woff') format('woff'),
url('//alexkolmar.github.io/fonts/airport/airport.ttf') format('truetype'),
url('//alexkolmar.github.io/fonts/airport/airport.svg#airport') format('svg');
font-weight: normal;
font-style: normal;
}