@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Play:wght@400;700&family=Roboto:wght@400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	border: none;
	scrollbar-width: thin;
	scrollbar-color: var(--sec-bg) transparent;
}

:root {
	--main-bg: #d9ebe9;
	--sec-bg: #798f8c;
	--main-border: #44535e;
	--sec-border: #;
	--main-text: #0e1821;
	--sec-text: #000;
	--headline-text: #700001;
	--headline-bg: #;
	--main-link: #2a555e;
	--hover-link: #c10001;
}

html {
	position: relative;
}

body {
	margin: 0;
	background: var(--main-bg);
}

#portfolio:before {
	content: "";
	position: absolute;
	background-image: url(/img/bg.jpg);
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	mix-blend-mode: hard-light;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: blur(.5px) opacity(.9);
	-webkit-filter: blur(.5px) opacity(.9);
}

#portfolio {
	display: block;
	width: 720px;
	height: 650px;
	margin: 5px auto;
	position: relative;
	background-color: var(--sec-bg);
	padding: 25px 40px 40px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: var(--main-text);
	border: 1px solid var(--main-border);
	box-shadow: 0 0 5px var(--main-border), 0 0 1px var(--main-bg) inset;
}

#portfolio .tabs {
	display: flex;
	display: -webkit-flex;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	justify-content: space-between;
	color: var(--main-text);
}

.tab, .tab-title {
    display: inline-block;
}

.tab input[type="radio"] { display: none; }
   
.tab-title {
white-space: nowrap;
margin: 0 auto;
display: block;
padding: 2px 20px;
width: auto;
box-sizing: border-box;
background-color: rgba(217, 235, 233,.4);
cursor: pointer;
position: relative;
transition: all 0.3s ease-in-out 0s;
z-index: 2;
white-space: nowrap;
cursor: pointer;
letter-spacing: 1px;
text-align: center;
font: 400 small-caps 20px/2 'Oswald', sans-serif;
text-align: center;
box-shadow: 0 0 10px 2px var(--sec-bg) inset, 0 0 2px 1px var(--main-border) inset, 0 0 2px 1px var(--main-border);
border: 1px solid var(--main-border);
outline: 1px solid var(--sec-bg);
}

.tab-title span {
color: var(--main-border);
z-index: 100;
position: relative;
}

.tab :checked + .tab-title, .tab-title:hover {
    border-top: 1px solid var(--hover-link);
    border-bottom: 1px solid var(--hover-link);
    background: rgba(217, 235, 233,.7);
}

.tab-title span:hover {    
	color: var(--headline-text);
}

.tab :checked + .tab-title {

}

.tab :checked + .tab-title span {
color: var(--headline-text);
border-color: var(--hover-link);
z-index: 100;
}

.tab :checked ~ .tab-content {
    display: block; 
}

.tab-content {
    position: absolute;
    padding: 10px 20px 20px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 20px;
    display: none;
    box-sizing: border-box;
    -webkit-animation: 1s both fadeIn;
	animation: 1s both fadeIn;
	background: rgba(217, 235, 233,.7);
	box-shadow: 0 0 12px 3px var(--sec-bg) inset, 0 0 2px 1px var(--main-border) inset, 0 0 2px 1px var(--main-border);
	border: 1px solid var(--main-border);
	outline: 1px solid var(--sec-bg);
}

@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
        
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

h3 {
    text-align: center;
    font: 400 24px/2 'Oswald', sans-serif;
    color: var(--headline-text);
}

.tab .inner {
	overflow: auto;
	max-height: 500px;
	padding-right: 10px;
	margin-right: -10px;
}

.inner p {
	font-size: 13px;
	text-align: justify;
	line-height: 140%;
	text-indent: 35px;
	margin: 5px 0;
}

.inner ul {list-style-type: square;}

.inner li {margin-left: 20px;}

li span {
	font-weight: 500;
	font-size: 16px;
}

a {transition: all .5s linear 0s;}

.inner a {
	color: var(--main-link);
	text-decoration: underline dashed var(--sec-bg);
	font-weight: 500;
}

.inner a:hover {
	color: var(--hover-link);
}