@font-face {
    font-family: 'Roca One';
    src: url('RocaOne-Rg.eot');
    src: local('Roca One'), local('RocaOne-Rg'),
        url('https://alexkolmar.github.io/fonts/RocaOne/RocaOne-Rg.eot?#iefix') format('embedded-opentype'),
        url('https://alexkolmar.github.io/fonts/RocaOne/RocaOne-Rg.woff2') format('woff2'),
        url('https://alexkolmar.github.io/fonts/RocaOne/RocaOne-Rg.woff') format('woff'),
        url('https://alexkolmar.github.io/fonts/RocaOne/RocaOne-Rg.ttf') format('truetype'),
        url('https://alexkolmar.github.io/fonts/RocaOne/RocaOne-Rg.svg#RocaOne-Rg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

