* {
	margin: 0;
	padding: 0;
	border: none transparent;
}

@font-face {
font-family: 'annabelle';
src: url('https://forumstatic.ru/files/001a/0f/91/35459.woff') format('woff'),
url('https://forumstatic.ru/files/001a/0f/91/13504.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body {
	background: lightsteelblue;
}

#secretsanta {
	display: block;
	position: relative;
	width: 1024px;
	height: 747px;
	margin: 0 auto;
	background: url(img/fireplace.jpg) no-repeat top center/100% #201616;
}

#secretsanta a {
	text-decoration: none;
	transition: all .3s linear 0s;
}

#fireplace {
	width: 100%;
	height: auto;
	display: block;
	position: absolute;
	top: 0;
}

#secretsanta > .inner {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: relative;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#secretsanta .buttons {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 45px;
	justify-content: space-between;
	padding: 0 10px;
}

.buttons .left, .buttons .right {
	display: block;
}

.buttons .right {
	text-align: right;
}

.buttons a img, .candles a img {
	height: 100%;
	width: auto;
}

.candles {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 400px;
        height: 360px;
	background: url(//forumstatic.ru/files/0018/1e/e2/32299.png) no-repeat bottom right/100%;
}

.candles a span {
	position: absolute;
	display: block;
	z-index: 10;
	opacity: .5;
	transition: opacity .5s linear 0s;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.candles a:hover span {
	opacity: 1;
}

.bcandle {
	position: absolute;
	right: 5%;
	width: 42%;
	height: 82%;
	bottom: 16%;
	margin: 0;
}

.bcandle span {
	height: 45px;
}

.mcandle {
	display: block;
	position: absolute;
	right: 35%;
	height: 67%;
	bottom: 12%;
	width: 37%;
	margin: 0;
}

.mcandle span {
	height: 40px;
}

.scandle {
	display: block;
	position: absolute;
	left: 7%;
	height: 42%;
	bottom: 6%;
	width: 30%;
}

.scandle span {
	height: 30px;
}

.players {
	display: none;
	background: url(img/nick_bg1.png) top center/100% no-repeat;
	width: 200px;
	height: 133px;
	position: absolute;
	top: 55px;
	font: 300 20px/160% annabelle;
	text-shadow: 1px 1px #532f06, 0 0 25px #fada95, 0 0 15px #fada95, 1px 1px #532f06, 1px -1px #532f06, -1px -1px #532f06, -1px 1px #532f06;
	box-sizing: border-box;
	padding: 0 15px;
}

#heart {left: 15px;}
#podium {left: 220px;}

.players ul {list-style: none;}
.players ul li a {color: #ffe064;}

.scrolls {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 1024px;
	height: 626px;
	box-sizing: border-box;
	padding: 60px 160px;
}

.close {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	position: absolute;
	margin: 3% 4%;
	font: normal 30px/70% sans-serif;
	text-transform: uppercase;
	background: #d9a169;
	border: 1px solid #6b4725;
	color: #6b4725;
	top: 0;
	right: 0;
	z-index: 1;
}

.close:hover {
	border: 1px solid #240b01;
	color: #240b01;
}

#rules {background: url(img/scroll1.png) no-repeat top center/100%;}
#laugh, #theme {background: url(img/scroll2.png) no-repeat top center/100%;}
#santa {background: url(img/scroll3.png) no-repeat top center/100%;}

.scrolls .inner {
	position: relative;
	width: 100%;
	height: 100%;
}

#rules img {
	position: relative;
	display: block;
	float: right;
	width: 480px;
	top: 0;
	margin: 0 0 0 10px;
}

#rules p {
	padding: 0;
	color: #380606;
	font: normal 14px/140% serif;
	text-align: justify;
}

.textblock.one {
	display: block;
	position: relative;
	padding: 80px 0 20px 0;
}

#santa .inner {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

#santa .quotation {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	background: rgba(213, 156, 93, .6);
	border-radius: 25px;
	box-shadow: 0 3px 5px rgba(0,0,0,.2) inset;
	padding: 30px 15px;
	box-sizing: border-box;
	min-height: 120px;
}

#santa .quotation p {
	font: normal 14px/100% serif;
	color: #240b01;
	text-align: justify;
}

#santa .santablock {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	height: 90%;
}

#santa .santablock > img {
	height: 14px;
	display: block;
	padding: 15px 10px;
}

#santa .santapic {
	display: block;
	height: 365px;
	width: 312px;
	background: url(img/outer_frame.png) no-repeat top center/auto;
	position: relative;
	box-sizing: border-box;
	padding: 20px 45px 30px;
}

#santa .santapic:before {
	content: "";
	background: url(img/inner_frame.png) no-repeat top center/auto;
	position: absolute;
	display: block;
	height: 365px;
	width: 312px;
	top: 0;
	left: 0;
}

#santa .santapic img {
	width: 100%;
	height: 100%;
	display: block;
	border: none;
	margin: auto;
	object-fit: contain;
	object-position: top center;
}

.santablock .nickname {
	background: url(img/xmas.png) repeat center text;
	-webkit-background-clip: text;
	font: 300 20px/150% annabelle;
	color: rgba(0,0,0,.3);
	margin-top: -10px;
}

#laugh .inner {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: space-between;
	padding: 65px 20px;
	box-sizing: border-box;
	color: #381510;
}

#laugh .humor {
	display: block;
	width: 60%;
}

#laugh .humor span {
	display: inline-block;
	font-weight: bold;
	border-bottom: 1px solid currentColor;
	margin-bottom: 10px;
	width: auto;
}

#laugh .demot {
	display: block;
	width: 40%;
}

#laugh .demot img {
	width: 100%;
}

#laugh .grats {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
}

#laugh .grats .textblock {
	text-align: center;
	width: 70%;
	display: block;
}

#laugh .grats img {
	width: 30%;
	display: block;
	padding: 0 20px;
}

#theme .inner {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

#theme .themeofday {width: 20px;}
#theme .themeofday img {width: 100%;}


#theme .themeofday.left {
	margin-left: -80px;
}

#theme .themeofday.right {
	margin-right: -75px;
	transform: rotate(180deg);
}

#theme .picblock {
	position: relative;
	display: block;
	margin-top: 20px;
	width: 484px;
	height: 384px;
	background: url(img/theme_frame_back.png) no-repeat top center/auto;
}

#theme .picblock:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 484px;
	height: 384px;
	background: url(img/theme_frame_front.png) no-repeat top center/auto;
}

#theme .picblock img {
	width: 400px;
	height: 357px;
	display: block;
	margin: 0 auto;
	object-fit: cover;
	object-position: top center;
	box-sizing: border-box;
	padding: 5px;
}
