* {
	margin: 0;
	padding: 0;
	border: none;
}

/* Sitka Banner */

@font-face {
font-family: 'Sitka Banner';
url('https://forumstatic.ru/files/001b/3a/90/72769.woff') format('woff'),
url('https://forumstatic.ru/files/001b/3a/90/78194.ttf') format('truetype');
font-variant-numeric: oldstyle-nums;
font-weight: normal;
font-style: normal;
}

body {
	background: lightsteelblue;
}

#letstalk {
	width: 100%;
	height: auto;
	min-width: 600px;
	min-height: 710px;
	max-width: 1920px;
	padding-bottom: 6px;
	background: #fff;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}

#letstalk a {
	text-decoration: none;
	transition: all .3s linear 0s;
}

#letstalk > .inner {
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	border-bottom: 3px solid #353333;
	min-width: 600px;
	min-height: 710px;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 5px 10px 10px;
}

.polaroids {
	width: 40%;
	position: relative;
	min-width: 300px;
	min-height: 450px;
	height: auto;
	display: block;
	margin: -30px auto 0;
        z-index: 60;
}

.polaroids .humor {
	top: 1%;
	left: 1%;
	padding-top: 4% !important;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
}

.polaroids .humor:before {
  content: "";
  position: absolute;
  display: block;
  border-top: 3px solid #353333;
  width: calc(100% - 12%);
  top: 3%;
}

.polaroids .meme {
	top: 30%;
	right: 5%;
	/* margin-top: -80%; */
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
}

.polaroids .picture {
	top: 45%;
	left: 2%;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}

.polaroids a {
    background: #eff0f2;
    display: block;
    width: 50%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    padding: 3% 3% 10%;
    text-align: center;
    font-family: "Marker Felt", sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-transition: -webkit-transform .15s linear;
    position: absolute;
}

.polaroids a:after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 15%;
	background: ghostwhite;
	left: 0;
	bottom: 0;
}

.polaroids a img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

/* Scale the images on hover, add transitions for smoothing things out, and ensure the hover appears on top */
.polaroids a:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  z-index: 5;
}

/* Add drop shadows and smooth out the transition (Safari only) */
.polaroids a {
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

/* On hover, darken the shadows a bit */
.polaroids a {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

.rightside {
	width: 60%;
	margin: 0 auto;
	min-width: 500px;
}

.buttons {
	display: flex;
	display: -webkit-flex;
	padding-bottom: 5px;
	justify-content: right;
	align-items: center;
	height: 35px;
	box-sizing: border-box;
	border-bottom: 3px solid #353333;
	margin: 0 10px 0 auto;
	width: 60%;
	position: relative;
	right: 0;
	z-index: 50;
}

.buttons a {
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 15px;
	padding: 3px 12px 2px;
	border: 1px solid #000;
	color: #000;
	font: 14px/100% sans-serif;
	transition: all .3s linear 0s;
}

.buttons a:hover, a.close:hover {
	color: maroon;
	border-color: maroon;
}

.newspaper {
	width: 100%;
	height: 100%;
	column-count: 2;
	-webkit-column-count: 2;
  -moz-column-count: 2;
  padding: 5px 0;
  box-sizing: border-box;
	position: relative;
	margin: 0;
}

.newspaper span {
	display: block;
	text-align: center;
	padding: 5px;
	font: bold 16px/180% Candara, sans-serif;
}

.newspaper p, #rules p {
	text-align: justify;
	padding-bottom: 10px;
	font: normal 12px/140% sans-serif;
}

.newspaper img {
	width: 100%;
	display: block;
	float: right;
}

#postlikes_bg, #rules_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	display: none;
	pointer-events: none;
	background: rgba(255,255,255,.8);
        z-index: 100;
}

#letstalk .LIKES {
	display: none;
	flex-direction: column;
	justify-content: center;
	position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 80%;
  height: auto;
  min-width: 600px;
  border: 3px solid #cdcdcd;
  box-sizing: border-box;
  pointer-events: all;
  padding: 3% 2% 0;
  font: 16px/170% Sitka Banner, Georgia, serif;
  font-variant-numeric: oldstyle-nums !important;
  z-index: 100;
}

.close {
	position: absolute;
	margin: 1% 1.5%;
	font: normal 30px/70% sans-serif;
	text-transform: uppercase;
	color: #cdcdcd;
	top: 0;
	right: 0;
}

.LIKES blockquote {
	display: block;
	width: 90%;
	height: 90%;
	border: 10px solid #d2d2d2;
	margin: 0 auto;
	background: url(https://forumstatic.ru/files/0018/1e/e2/37311.jpg) no-repeat bottom center/cover;
}

.LIKES table, .LIKES table tbody {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
}

.LIKES table tr {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
}

.LIKES table td {
	border: none;
	border-collapse: collapse;
}

#Previous {
	padding-top: 30px;
	background: url(https://forumstatic.ru/files/0018/1e/e2/86195.jpg?v=1) no-repeat bottom center/cover;
}

#Previous .red {
	background: url(https://forumstatic.ru/files/0018/1e/e2/37311.jpg) no-repeat bottom center/cover;
}

.LIKES table tr:first-of-type {
	color: #000 !important;
}

.LIKES table tr:first-of-type td:nth-child(1),
.LIKES table tr:first-of-type td:nth-child(3),
.LIKES table tr:first-of-type td:nth-child(4) {
	width: 10%;
	display: flex;
	display: -webkit-flex;
	padding: 0 15px;
	box-sizing: border-box;
}

.LIKES table tr:first-of-type td:nth-child(2) {
width: 40%;
}

.LIKES table tr:first-of-type td:nth-child(5) {
width: 30%;
}

.LIKES .t-00, .LIKES .t-04, .LIKES .t-03, .LIKES .t-06 {
	width: 10%;
	display: flex;
	display: -webkit-flex;
	/* justify-content: center; */
	padding: 0 15px;
	box-sizing: border-box;
}

.LIKES .t-01, .LIKES .t-02, .LIKES .t-05 {
	width: 20%;
}

.LIKES .t-02 a, .LIKES .t-05 a {
	text-decoration: none;
	color: #3a3c8f;
}

.LIKES .t-01 a {
	text-decoration: none;
	color: #000;
}

.LIKES > li {
	list-style: none;
	width: 90%;
	position: relative;
	margin: 0 auto 5px;
	line-height: 150%;
}

.LIKES > li:after {
    content: "";
    display: block;
    float: right;
    width: 12px;
    height: 12px;
    margin: 8px 6px 0;
    border-radius: 40%;
    background: #FFFF00;
    box-shadow: inset 0 0 6px #000;
    transition: .4s;
}

#rules {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 80%;
  height: auto;
  min-width: 600px;
  max-height: 80%;
  border: 3px solid #cdcdcd;
  box-sizing: border-box;
  pointer-events: all;
  padding: 3% 2%;
}

.ruleswrapper {
	position: relative;
	overflow: auto;
	margin-right: -10px;
}

#rules .inner {
	column-count: 2;
	-webkit-column-count: 2;
  -moz-column-count: 2;
  position: relative;
  display: block;
  overflow: hidden;
  padding-right: 10px;
}

.lightbox {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .8);
	overflow: auto;
	text-align: center;
	z-index: 10000;
}

.lightimg {
	position: relative;
	cursor: zoom-out;
	border: 3px solid #cdcdcd;
}
