@media screen and (max-width: 1100px) {

    #title-logo-table::before,
    #title-logo-table::after, 
    #undertitle,
    #pun-stats::before,
    #pun-stats::after {
      display: none;
      width: 0;
    }
    
    .go-up,
    .go-down {
      margin-left: 0 !important;
      right: 20px;
    }
    
}