/* Админка
------------------------------------------*/

.punbb-admin .adcontainer,
.punbb-admin .adformal {
  border: none;
}

/* боковое меню админки */

.punbb-admin .adminmain {
  padding-left: calc(var(--mwidth) + 20px);
}

.punbb-admin .adformal h2 {
  text-align: center;
}

.punbb-admin #pun-adnav {
  width: var(--mwidth);
  margin-left: calc(var(--mwidth) * -1);
}

.punbb-admin #pun-adnav li.isactive a {
  color: var(--link-hover);
}

.punbb-admin #pun-adnav .isactive ul.adsubnav a {
  text-decoration: none;
  color: var(--link);
}

.punbb-admin #pun-adnav .isactive ul.adsubnav a:hover,
.punbb-admin sup.new {
  color: var(--link-hover);
}

.punbb-admin #pun-admain fieldset .handle, .punbb-admin #pun-admain fieldset p {
  border-color: var(--border);
  background-color: var(--sec-bg);
}

.punbb-admin #pun-admain fieldset {
  border-color: var(--body-bg);
}

.punbb-admin #pun-admain legend span {
  background-color: var(--body-bg);
  color: var(--sec-bg);
}


/* Тело форума
------------------------------------------*/

/* фон */

html {
  background: var(--body-bg);
}

/* заплатка для фиксированного фона */

body::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -10;
  background: var(--body-bg) url(https://forumstatic.ru/files/0016/01/4e/44894.jpg) no-repeat top center/cover;
}

/* тело */

#pun {
  margin: 30px auto;
  width: 1100px;
  background: var(--marble);
}

/* внутреннее тело */

.punbb {
  font: 12px var(--second-family);
  color: var(--text);
  display: flex;
  flex-direction: column;
}

/* настройки внутренних блоков */

.punbb > div .container {
  padding: var(--pad1);
}

/* Навигационные ссылки */

#pun-navlinks {
  order: -1;
  background: var(--black);
  position: sticky;
  top: 0;
  z-index: 110;
}

#pun-navlinks:not(.fixed) {
  border-bottom: 1px solid var(--acc-green);
}

#pun-navlinks .container {
  text-align: center;
}

#pun-navlinks .container:after {
  display: none;
}

#pun-navlinks li {
  padding: 0 5px;
  display: inline;
}

#pun-navlinks li a {
  position: relative;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: var(--link2);
}

#pun-navlinks li a::before, .pa-author a::before, .category .intd h3 a::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  margin-bottom: -4px;
  background: var(--maingreen);
  transition: all .5s cubic-bezier(.77,0,.18,1) 0s;
}

#pun-navlinks li a:hover {
  color: var(--link-hover);
}

#pun-navlinks li a:hover::before, .pa-author a:hover::before, .category .intd h3 a:hover::before {
  width: 100%;
}

/* Пользовательские ссылки */

#pun-ulinks {
  position: sticky;
  top: 30px;
  z-index: 101;
}

#pun-ulinks.fixed {
  background: black;
  border-bottom: 1px solid var(--acc-green);
}

#pun-ulinks .container {
  text-align: center;
}

#pun-ulinks li {
  padding: 0 5px;
  display: inline;
}

#pun-ulinks li a {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: var(--link2);
}

/* Статус */

#pun-status {}

#pun-status span {
  white-space: nowrap;
  margin-right: 5px;
}

.punbb #pun-status .status-right {
/*  float: none; */
}

/* Хлебные крошки */

.crumbs.container {}

/* Копирайт */

#pun-about {}

#pun-about .container {
  text-align: center;
}


/* Основная форумная таблица
------------------------------------------*/

.main table {
  table-layout: fixed;
  width: 100%;
}

.main th {
  padding: 5px 10px;
}

.main td {
  padding: 10px;
}

.tcl {
  width: 50%;
}

.tc2,
.tc3,
.tcmod {
  text-align: center;
  width: 10%;
}

.tcr {
  width: 30%;
}

#pun-searchtopics .tcl,
#pun-modviewforum .tcl {
  width: 40%
}

#pun-searchtopics .tc2 {
  text-align: left;
  width: 20%;
}

#pun-debug table .tcl {
  width: 15%;
}

#pun-debug .tcr {
  width: 90%;
}

/* аватар */

.punbb td .user-avatar {

}

.punbb td .user-avatar .avatar-image {
  border-radius: 0;
  border: 2px solid var(--maingreen);
  box-sizing: border-box;
}

/* Иконки */

div.icon {
  position: relative;
  margin: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border: 3px solid var(--maingreen);
  box-sizing: border-box;
}

tr.inew div.icon {
  border: 3px solid var(--link2);
  border-radius: 50%;
}

tr.isticky div.icon {
  border: none;
  background: url(https://forumstatic.ru/files/0016/01/4e/13783.svg) no-repeat center/cover;
}

tr.iclosed div.icon {
  border: none;
  background: url(https://forumstatic.ru/files/0016/01/4e/79943.svg) no-repeat center/cover;
}


/* Пагинация (Переключаемые страницы, Новая тема + Опрос, Подписка)
--------------------------------------------------------------------------------------------------- */

.multipage {
  margin-top: 10px;
}

.linkst {
  position: relative;
  padding: var(--pad2);
  display: flex;
  justify-content: space-between;
}

.linkst .pagelink {}

.linkst .postlink {
  text-align: right;
}

.linksb {
  position: relative;
  padding: var(--pad2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linksb .pagelink {
  order: -1;
}

.subscribelink {
  width: 100%;
  text-align: right;
}

.linksb noindex {
  order: 1;
}

.linksb .postlink {
  margin-left: auto;
  text-align: right;
}

/* Модераторское меню, RSS, Atom */

.modmenu .container {
  padding: var(--pad3);
  text-align: right;
}

.modmenu .container strong {
  float: left;
}

.modmenu input {
  margin-left: 10px;
}

#topic-users-in a:not(:last-child)::after {
  content: ',';
}

/* Главная страница
------------------------------------------*/

/* скрыть "форум, тем, сообщений" */

.category thead, .category .tc2, .category .tc3 {
  display: none;
}

/* категория */

#pun-index .category {}

/* заголовок категории */

#pun-index .category h2 {}

#pun-index .category .hasicon, #pun-viewforum .hasicon {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#pun-viewforum tr {
  display: flex;
}

#pun-index .category tr, .isub {
  padding: 10px;
  background: var(--acc-dark);
  color: var(--ltext);
  display: flex;
  align-items: center;
  outline: 1px solid var(--acc-green);
  outline-offset: -3px;
  box-sizing: border-box;
}

#pun-index .category tr.inew {
  background: var(--body-bg) url(https://forumstatic.ru/files/0016/01/4e/12920.jpg) repeat top left;
}

/* левая колонка (форумы) */

#pun-index .tcl, #pun-viewforum .category .tcl {
  padding: 10px;
  align-self: flex-start;
  width: 60%;
}

.punbb .intd {
  display: flex;
  gap: 10px;
}

.category .intd h3 {
  position: relative;
  width: fit-content;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.category .tclcon {
  flex-grow: 1;
}

.forumlinks {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.forumlinks a {
  padding: 2px 5px;
  border: 1px solid var(--acc-green);
  color: var(--maingreen);
  font-family: var(--third-family);
  letter-spacing: 1px;
}

/* аватар в последнем сообщении */

#pun-index td .user-avatar a {
  display: inline-block;
  position: relative;
}

#pun-index td .user-avatar {}

#pun-index td .user-avatar .avatar-image {}

/* Статистика */

#pun-stats {}

/* заголовок статистики */

#pun-stats h2 {}

#pun-stats .statscon {
  padding: var(--pad1);
}

#pun-stats .container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  background: var(--acc-dark);
  color: var(--ltext);
  outline: 1px solid var(--link2);
  outline-offset: -3px;
}

#pun-stats a {
  color: var(--acc-green);
}

/* всего тем, всего сообщений, зарегистрированных, последний зарегистрировавшийся */

#pun-stats li.item1,
#pun-stats li.item2,
#pun-stats li.item3,
#pun-stats li.item4 {

}

/* активны, посетили за сутки */

li#onlinelist {
  margin-top: 10px;
  text-align: justify;
  width: 100%;
}

/* Шапка
------------------------------------------*/

#pun-title {
  background: url(https://forumstatic.ru/files/0016/01/4e/91344.svg) no-repeat center/360px, url(https://forumstatic.ru/files/0016/01/4e/49237.jpg) no-repeat top right var(--black);
  height: 266px;
  border-bottom: 1px solid var(--acc-green);
}

/* скрыть заголовок в шапке */

#pun-title .title-logo {
  display: none;
}

/* содержимое шапки в html-верх */

#html-header {
  position: absolute;
  top: 68px;
  width: 1100px;
  height: 266px;
  display: flex;
  align-items: center;
  padding: var(--pad1);
  box-sizing: border-box;
}

.tablica {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  height: fit-content;
  left: 30px;
  position: relative;
}

.activists {
  display: flex;
  gap: 10px;
  width: fit-content;
}

.activists a {
  width: 50px;
  height: 50px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: #805a6c;
  position: relative;
}

.activists a::before {
  content: "";
  width: 50px;
  height: 50px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: var(--link);
  z-index: 1;
  mix-blend-mode: hard-light;
  opacity: .5;
}

.activists a img {
  width: 50px;  /* Размер квадрата */
  height: 50px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  object-fit: cover;
}

.bestep {
  position: relative;
  width: 230px;
  height: 80px;
}

.bestep::before {
  content: "";
  width: 230px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: var(--maingreen);
  z-index: 1;
  mix-blend-mode: hard-light;
  opacity: .5;
}

.activists a:hover::before, .bestep:hover::before {
  opacity: 0;
}

.bestep img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: top center;
}

.activists a:hover img, ..bestep a:hover img {
  mix-blend-mode: normal;
  filter: none;
  opacity: 1;
}

/* Объявление
------------------------------------------*/

#pun-announcement {}

/* скрываем слово "объявление" */

#pun-announcement h2 {
  display: none;
}


/* Футер
------------------------------------------*/

#html-footer {}

#html-footer .container {padding: 0;}

/* баннеры */

.banners {
  padding: var(--pad1);
  background: var(--black);
}

.banners a {
  opacity: .7;
}

.banners a:hover {
  opacity: 1;
}


/* Топик
------------------------------------------*/

.post {
  margin-top: 10px;
}

.toppost,
.topicpost {
  margin-top: 0;
}

/* контейнер поста */

.post .container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

/* дата и номер поста */

.post h3 {
  padding: var(--pad2);
  background: var(--acc-dark);
  color: var(--ltext);
}

.post h3 span {
  display: block;
}

.permalink {
  font-family: var(--third-family);
  font-weight: 500;
}

/* номер поста */

.post h3 strong {
  float: right;
  text-align: right;
  font-family: var(--third-family);
  font-weight: 500;
}

/* Автор */

.post-author {
  position: relative;
  margin: 0 0 15px;
  width: var(--pwidth);
  text-align: center;
  box-sizing: border-box;
  background: var(--acc-dark);
  color: var(--ltext);
  outline: 1px solid var(--acc-green);
  outline-offset: -3px;
}

.post-author ul {
  padding: 10px;
}

.pa-author {
  font-family: var(--third-family);
  font-size: 16px;
  letter-spacing: 1px;
}

.pa-author a {
  position: relative;
}

.pa-title {
  margin: 10px 0;
  font-size: 11px;
}

.pa-avatar img {
  width: 180px;
  height: 180px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 0.6s ease, transform 0.6s ease;
  object-fit: cover;
  border: 1px solid var(--maingreen);
}

.pa-avatar img:hover {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.lz {
  margin: 5px auto;
  width: 200px;
  background: var(--acc-dark);
  color: var(--ltext);
  text-align: center;
  padding: 10px !important;
  box-sizing: border-box;
}

#viewprofile .lz {
  margin: 0;
}

.lz .name {
  margin: 0 auto 5px;
  display: block;
  font-family: var(--third-family);
  font-size: 14px;
  color: var(--acc-green);
}

.lz p {
  font-size: 11px;
  line-height: 140%;
}

.pa-posts,
.pa-respect {
  display: inline-block;
  margin: 0 10px 5px;
}

.pa-posts .fld-name,
.pa-respect .fld-name {
  display: block;
  font-size: 0;
}

.pa-posts .fld-name:before,
.gid3 .pa-respect .fld-name:before, .pa-respect .fld-name a:before {
  content: "";
  font-family: var(--fa);
  font-size: 16px;
}

.pa-posts .fld-name:before {
  content: "\f0e0";
}

.gid3 .pa-respect .fld-name:before, .pa-respect .fld-name a:before {
  content: "\f004";
}

.pa-online, .pa-offline {
  position: absolute;
  margin: 10px 0 0 auto;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.pa-online::before, .pa-offline::before {
  padding: 2px 12px;
  height: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pa-online::before {
  content: "\f111";
  font-weight: 500;
  font-family: var(--fa);
  background: #2c52b7;
}

.pa-offline::before {
  content: "X";
  font-weight: 700;
  font-family: var(--font-family);
  background: #ca221f;
}

.pa-online strong, .pa-last-visit {
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, 12px);
  padding: 5px 10px;
  left: 50%;
  opacity: 0;
  background: rgba(0,0,0,.7);
  box-sizing: border-box;
  white-space: nowrap;
  transition: opacity .2s linear 0s;
  pointer-events: none;
  color: var(--ltext);
}

 .pa-online strong::after, .pa-last-visit::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    left: 50%;
    border-bottom: 10px solid rgba(0,0,0,.7);
    top: -10px;
}

.pa-online:hover strong, .pa-offline:hover .pa-last-visit {
  opacity: 1;
}


/* Тело поста */

.post-body {
  width: calc(100% - var(--pwidth));
}

.post-box {
  padding: 0 0 10px 10px;
}

.post-links {
  margin-left: var(--pwidth);
  width: 100%;
}

.post-links ul {
  padding: 0;
  margin-left: calc(var(--pwidth) * -1);
  text-align: right;
}

.post-links li {
  display: inline;
}

.post-links li a {
  color: var(--maingreen);
}

.post-links li:not(:first-of-type) {
  padding-left: 10px;
}

.pl-email,
.pl-website {
  float: left;
}

.clearer {
  clear: both;
  height: 0;
  font-size: 0;
}


/* Контент поста - цитата, спойлер, таблицы и т.п. */

.punbb .post td {
  border: 0px transparent !important;
}

pre {
  font: 12px/140% monaco, "bitstream vera sans mono", "courier new", courier, monospace;
}

.post-content em {
  font-style: italic;
}

.post .post-content td {
  border-width: 0px !important;
}

.post-content em.bbuline {
  font-style: normal;
  text-decoration: underline;
}

.post-content p {
  margin: 0;
  padding: 0 0 12px 0;
  line-height: 150%;
  text-align: justify;
}

.post-content img {
  vertical-align: middle;
}

.scrollbox {
  width: 100%;
  overflow: auto;
  max-height: 200px;
}

/* цитата и код */

.quote-box, .code-box {
  margin: 4px 10px 10px;
  padding: 10px;
  border: 1px solid var(--maingreen);
  background: var(--sec-bg);
}

.quote-box cite, .code-box strong.legend {
  margin-bottom: -10px;
  padding: 2px 5px;
  display: block;
  font-weight: 500;
  font-style: normal;
  width: fit-content;
  transform: translatey(calc(-50% - 10px));
  background: var(--maingreen);
  color: var(--ltext);
}

.post-sig dt {
  border-bottom: 1px solid var(--maingreen);
  width: 300px;
  margin: 10px auto;
}

.punbb .reactions-root {
  padding: 0 0 10px;
}

.punbb .reactions-container {
  position: relative;
  justify-content: flex-end;
}

.punbb .reaction-picker {
  order: 1;
}

.punbb .reaction-picker-panel {
  right: 0;
}

/* Форма ответа */

#main-reply {
  box-sizing: border-box;
}

#tags {
  position: relative;
}

#tags .container {
  padding: var(--pad3) !important;
  top: 0 !important;
  max-height: 300px;
  overflow: auto;
}


/* Профиль + ЛС
------------------------------------------*/

#profile .container {
  padding-left: calc(var(--mwidth) + 20px);
  min-height: 100px;
}

#viewprofile tr {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#profilenav {
  float: left;
  width: var(--mwidth);
  margin-left: calc(var(--mwidth) * -1);
}

#viewprofile h2,
#profilenav h2 {
  padding: 0;
  margin: 0;
}

#profilenav li {
  padding: 0 0 5px;
}

#viewprofile li {
  padding: 5px 0;
}

.punbb #profile-left {
  width: var(--pwidth);
  box-sizing: border-box;
  background: var(--acc-dark);
  color: var(--ltext);
  outline: 1px solid var(--acc-green);
  outline-offset: -3px;
  padding: 10px 20px !important;
  align-self: flex-start;
  text-align: center;
}

#pa-avatar img {
  width: 180px;
  height: 180px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 0.6s ease, transform 0.6s ease;
  object-fit: cover;
  border: 1px solid var(--maingreen);
}

#pa-avatar img:hover {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#profile-right li {
  display: flex;
}

#profile-right li span {
  width: 150px;
  flex-shrink: 0;
}

#profile-left li strong, #profile-right li strong {
  font-weight: normal !important;
}

img.avatardemo {
  float: right;
  margin: 0 0 8px 18px;
}

#pun-messages .clearer {
  display: none;
}

/* Прочие страницы
------------------------------------------*/

/* Список пользователей */

#pun-userlist .formal,
#pun-userlist .formal .container {
  margin-bottom: 0;
}

#pun-userlist .tc2 {
  text-align: left;
  width: 20%;
}

#pun-userlist .tcl {
  width: 40%
}

.usertable .container {}

.forum table {
  background: var(--acc-dark);
  color: var(--ltext);
  padding: 10px;
  outline: 1px solid var(--acc-green);
  outline-offset: -3px;
}

/* Собщения об ошибках */

.info .container {
  padding: var(--pad3);
}

.info .container .backlink {
  padding-top: 8px;
}

/* Регистрация */

.info-box {
  margin: 0 0 10px 0;
}

.info-box * {
  padding: 0 0 5px 0;
}

.info-box .legend {
  font-weight: bold;
}

.jGrowl-notification .jGrowl-close {
  position: relative;
  right: 6px;
}

.tipsy #respect figcaption {
  margin-top: 0;
}

/* Кнопки вверх-вниз
-------------------------------------------------------*/

.go-up, .go-down {
  cursor: pointer;
  z-index: 9999;
  display: none;
  position: fixed;
  margin-left: 1100px !important;
  box-sizing: border-box;
  transition: all .3s linear 0s;
  padding: 15px 5px;
  background: var(--pun-bg);
  border-block: 2px solid var(--acc-green);
  border-right: 2px solid var(--acc-green);
  color: var(--maingreen);
}

.go-up {
  top: 260px;
}

.go-down {
  top: 320px;
}

.go-down i {
  transform: rotate(180deg);
}

.go-down:hover,
.go-up:hover {
  opacity: 1;
}

/* Form Buttons © max, the murderer!
----------------------------------------------------------------------- */

/* General */

#form-buttons table {
    width: 100% !important;
}

#form-buttons table tr {
    display: flex;
    justify-content: space-between; /* выравнивание кнопок в ряду */
    gap: 4px;
    margin-bottom: 4px;
}

#form-buttons td {
    position: relative;
    background: none !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px; /* ширина кнопки */
    height: 24px; /* высота кнопки */
}

#form-buttons td::before {
    font-family: var(--fa);
    font-size: 14px; /* размер иконки */
    font-weight: 400; /* стиль иконки */
    position: absolute;
    color: var(--link2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 1;
}

#form-buttons td:hover::before {
    color: var(--link-hover); /* цвет при наведении */
}


/* Icons */

#button-font::before {
    content: '\f031';
}

#button-size::before {
    content: '\f894';
}

#button-bold::before {
    content: '\f032';
}

#button-italic::before {
    content: '\f033';
}

#button-underline::before {
    content: '\f0cd';
}

#button-strike::before {
    content: '\f0cc';
}

#button-left::before {
    content: '\f036';
}

#button-right::before {
    content: '\f038';
}

#button-center::before {
    content: '\f037';
}

#button-link::before {
    content: '\f0c1';
}

#button-spoiler::before {
    content: '\f518';
}

#button-image::before {
    content: '\f302';
}

#button-video::before {
    content: '\f144';
}

#button-hide::before {
    content: '\f30d';
}

#button-quote::before {
    content: '\f27a';
}

#button-code::before {
    content: '\f121';
}

#button-color::before {
    content: '\f53f';
}

#button-table::before {
    content: '\f009';
}

#button-smile::before {
    content: '\f118';
}

#button-keyboard::before {
    content: '\f11c';
}

#button-addition::before {
    content: '\f0d7';
}

#form-buttons td#button-files_rusff::before {
    content: '\f07b';
}

#form-buttons td#button-graffiti_rusff::before {
    content: '\f5bd';
}

#button-transL::before {
    content: '\f891';
}

#button-indent::before {
    content: '\f878';
}

#button-justify::before {
    content: '\f039';
}

#floatbut::before {
    content: '\f03c';
}

#form-buttons #button-image ~ #button-image::before {
    content: '\f03e' !important;
}

#button-mask::before {
    content: '\f630';
}


/* Рейтинг поста */

body div.post-rating,
body div.post-vote {
  float: right;
  position: relative;
  line-height: initial;
}

body div.post-rating p,
body div.post-vote p {
  float: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

div .post-rating p > a {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: 700 10px/100% var(--second-family) !important;
  color: var(--ltext);
}

div.post-vote p > a {
  font-size: 0 !important;
}

div .post-rating p::before, div .post-vote p a::before {
  content: '\f004';
  font-family: var(--fa);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: var(--link);
  transition: all .2s linear 0s;
  text-stroke: 1px var(--link2);
  -webkit-text-stroke: 1px var(--link);
}

div .post-vote p a:before {
  content: '\f075';
}

div .post-rating p:hover:before,
div .post-vote p:hover a:before {
  color: var(--link-hover);
}

div .post-rating p:hover > a,
div .mylike .post-rating p > a {
  color: var(--ltext);
}

div .mylike .post-rating p:before {
  color: var(--link-hover);
}

.post[data-group-id="3"] .post-rating {
  display: none;
}

.isguest .post .post-rating {
  pointer-events: none;
}


/* Theme switcher © max, the murderer! */

#theme_switcher {
  text-align: right;
  padding: var(--pad1);
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  color: var(--accent-1);
  top: -38px;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  z-index: 110;
}

#theme_switcher li {
    display: inline-block;
}

#theme_switcher li label {
    display: none;
}

#theme_switcher li input {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

#theme_switcher li input::before {
  font: 400 16px/100% var(--fa);
  margin-right: 4px;
  cursor: pointer;
  transition: all .3s linear 0s;
}

#theme_switcher li input#light::before {
    content: '\f185';
}

#theme_switcher li input#medium::before {
    content: '\f6c4';
}

#theme_switcher li input#dark::before {
  content: '\f186';
}

#theme_switcher li input:hover::before,
#theme_switcher li input[type="radio"]:checked {
    color: var(--accent-2);
}


/************************* 
Стиль для Быстрой смены аккаунтов 
Deff 
*************************/

/*Cкрытие формы входа без клика*/
#pun-navlinks a:not(.NextShow)+span.odd, #pun-navlinks a:not(.NextShow)+span.odd+a#New-exit {
  display: none !important;
}

li#navlogout .odd, li#navlogin .odd {
  position: absolute !important;
  margin: 25px 0 0 -21px;
  background: var(--sec-bg);
  padding: 15px;
  border: 1px solid var(--border);
  z-index: 110;
}

#form-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  max-width: 200px;
}

#form-login input[type="text"], #form-login input[type="password"] {
  border: 1px solid var(--acc-green);
}

#pun:not(.gid3) #form-login > p {
  display: none;
}

#pun-navlinks li#navlogout {
  display: inline-flex;
  align-items: flex-start;
  z-index: 120;
}

#New-exit {
  margin: auto;
  display: inline-flex;
  height: 15px;
  width: auto;
  position: relative;
}

#New-exit img {
  position: absolute;
  height: 15px;
  margin-left: 10px;
  mask-image: url(https://forumstatic.ru/files/0016/01/4e/34290.svg);
  background: var(--link);
  width: 15px;
}

#List-UserNames, #List-UserNames ul {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 5px;
}

#List-UserNames ul li {
  position: relative;
  padding: 0;
  display: flex;
  transition: all .2s linear 0s;
  justify-content: space-between;
  background: var(--pun-bg);
  box-shadow: 0 2px var(--border);
  border: 1px solid var(--border);
}

#List-UserNames ul li b, #List-UserNames ul li span {
  cursor: pointer;
  transition: all .2s linear 0s;
  color: var(--text);
}

#List-UserNames ul li b {
  padding: 5px 10px;
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
}

#List-UserNames ul li span {
  font-size: 1.6em;
  position: absolute;
  right: 0;
  display: flex;
  height: 100%;
  width: 25px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#List-UserNames ul li b:hover, #List-UserNames ul li span:hover {
  color: var(--link-hover);
}

#List-UserNames > span {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

#Paste-And-Copy {
  width: 100% !important;
  box-sizing: border-box;
}

#List-UserNames span.a1-copy, #List-UserNames span.a1-paste {
  margin-bottom: 5px;
  cursor: pointer;
  transition: all .2s linear 0s;
  padding: 5px 10px;
  background: var(--pun-bg);
  box-shadow: 0 2px var(--border);
  border: 1px solid var(--border);
  color: var(--text);
}

#List-UserNames ul li:hover, #List-UserNames span.a1-copy:hover, #List-UserNames span.a1-paste:hover {
  transform: translateY(2px);
  box-shadow: none;
}
