@font-face {
    font-family: 'basis33';
    src: url('https://alexkolmar.github.io/fonts/basis33/absis33.woff2') format('woff2'),
        url('https://alexkolmar.github.io/fonts/basis33/basis33.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

