
/*************************************************************
A - SETUP
**************************************************************/

/* A1 Import the colour scheme
-------------------------------------------------------------*/

/* A1.1 */
@import url(style_cs.css);
@import url(http://forumfiles.ru/files/0018/25/96/61263.css);
@import "http://forumfiles.ru/files/0018/7f/d8/25813.css";
@import "http://forumfiles.ru/files/0018/26/71/30664.css";
@import "http://forumfiles.ru/files/0018/26/71/15111.css";
@import url('https://fonts.googleapis.com/css?family=Cuprum');
/*Кириллица*/
@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans+SC|Amatic+SC|Caveat|Cormorant+Garamond|Cormorant+Infant|Forum|Gabriela|Kurale|Lobster|Neucha|Open+Sans+Condensed:300|Oswald|Pacifico|Pattaya|Philosopher|Play|Playfair+Display+SC|Poiret+One|Roboto+Condensed|Spectral+SC|Vollkorn+SC|Yanone+Kaffeesatz');
@import url(http://allfont.ru/allfont.css?fonts=bebas-neue);
/*Латиница*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Aladin|Alex+Brush|Allerta+Stencil|Allura|Anton|Audiowide|Bellefair|Berkshire+Swash|Bilbo|Bilbo+Swash+Caps|Calligraffitti|Cinzel|Cinzel+Decorative|Clicker+Script|Cookie|Courgette|Crushed|Dancing+Script|Dawning+of+a+New+Day|Dr+Sugiyama|Economica|Engagement|Euphoria+Script|Faster+One|Fondamento|Fredericka+the+Great|Fugaz+One|Grand+Hotel|Great+Vibes|Gruppo|Handlee|Herr+Von+Muellerhoff|Homemade+Apple|Indie+Flower|Italianno|Josefin+Slab|Julius+Sans+One|Jura|Kalam|Kaushan+Script|Kranky|Kristi|Leckerli+One|Lily+Script+One|Lobster+Two|Lora|Meddon|Megrim|Metal+Mania|Metamorphous|Monofett|Monsieur+La+Doulaise|Montez|Mr+Bedfort|Mr+Dafoe|Mrs+Saint+Delafield|Niconne|Norican|Nothing+You+Could+Do|Oleo+Script+Swash+Caps|Orbitron|Oregano|Parisienne|Permanent+Marker|Pinyon+Script|Playball|Pompiere|Princess+Sofia|Quicksand|Qwigley|Rajdhani|Raleway|Risque|Rochester|Romanesco|Rouge+Script|Ruthie|Sacramento|Satisfy|Seaweed+Script|Sedgwick+Ave|Sedgwick+Ave+Display|Shrikhand|Six+Caps|Stalemate|Tangerine|Tulpen+One|UnifrakturMaguntia|Vast+Shadow|Wire+One|Yellowtail|Yeseva+One|Yesteryear');
@import url(http://allfont.ru/allfont.css?fonts=bakerscript);
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700|Oranienbaum|PT+Sans:400,700|Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=El+Messiri:400,700|IBM+Plex+Serif:400,700|Tenor+Sans&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&subset=cyrillic');

@font-face {
font-family: 'icon';
src: url('http://forumfiles.ru/files/0019/b5/12/39426.eot?'),
url('http://forumfiles.ru/files/0019/b5/12/18071.woff') format('woff'),
url('http://forumfiles.ru/files/0019/b5/12/92706.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'panton';
src: url('http://forumfiles.ru/files/0019/71/27/22150.eot?'),
url('http://forumfiles.ru/files/0019/71/27/46407.woff') format('woff'),
url('http://forumfiles.ru/files/0019/71/27/49424.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'panton2';
src: url('http://forumfiles.ru/files/0019/aa/b6/15267.eot?'),
url('http://forumfiles.ru/files/0019/aa/b6/35818.woff') format('woff'),
url('http://forumfiles.ru/files/0019/aa/b6/23207.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}




/* A2 Deal with browser defaults and wonkiness
-------------------------------------------------------------*/

/* A2.1 */
html, body {margin: 0; padding: 0}

/* A2.2 */
.punbb * {
margin: 0px
}

/* A2.3 */
.punbb ul, .punbb dl, .punbb li, .punbb dd, .punbb dt {
padding: 0;
list-style: none;
}

/* A2.4 */
.punbb img {
border:none
}

/* A2.5 */
.punbb .main table {
table-layout: fixed;
width: 100%;
}

/* A2.6 */
.checkfield input[type="checkbox"], .radiofield input[type="radio"] {margin: 0 0.3em;}

/* A2.7 */
p[class="checkfield"] *,
div[class="checkfield"] *,
fieldset[class="radiofield"] * {
height: 1.8em;
vertical-align: middle
}


/* A3 Text setup
-------------------------------------------------------------*/

/* A3.1 */
body {
font-size: 100.01%;
}

/* A3.2 */
.punbb {
font: normal 70% verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

/* 3.3 */
.punbb textarea, .punbb input, .punbb select, .punbb optgroup {
font: 1em verdana, arial, helvetica, sans-serif
}


/* A3.4 */
.punbb h1, .punbb h2, .punbb h3 {
font-size: 1em;
font-weight: bold;
}

.punbb th {
font-size: 0.9em;
font-weight: bold;
}
.punbb h4, .punbb table {
font-size: 1em;
font-weight: normal;
}

/* A3.5 */
.punbb h1 span, .punbb h2 span, .punbb legend span {
font-size: 1.1em;
}

/* A3.6 */
.punbb pre {
font: 1.1em/140% verdana, arial, monaco, "bitstream vera sans mono", "courier new", courier, monospace
}

/* A3.7 */
.punbb address, .punbb em {
font-style: normal
}

/* A3.8 */
.punbb .post-content em {
font-style: italic
}

/* A3.9 */
.punbb .post-content em.bbuline {
font-style: normal;
text-decoration: underline;
}

/* A3.10 */
.punbb a {
text-decoration: underline
}

/* A3.11 */
.punbb optgroup {
font-weight: bold;
}


/* A4 Float clearing and hidden items
-------------------------------------------------------------*/

/* A4.1 */
#pun:after,
.punbb .container:after,
.punbb .post-links ul:after,
.punbb .main div.inline:after,
.punbb dl.post-sig dt span,
.punbb .post-box:after,
.punbb .linksb:after {
clear: both;
content: ".";
display: block;
height: 0;
visibility: hidden;
overflow:hidden;
line-height: 0.0;
font-size: 0;
}

/* A4.2 */
.acchide,
#pun-index #pun-main h1,
#pun-navlinks h2,
#pun-pagelinks h2,
#pun-status h2,
#pun-ulinks h2,
.punbb .forum h2,
.punbb .multipage .topic h2,
.punbb dl.post-sig dt span,
.punbb p.crumbs strong,
.punbb .divider hr,
.punbb .required label em,
.punbb .formsubmit label,
.punbb .submitfield label,
.punbb .modmenu label,
#pun-userlist .main h2 {
font-size: 0;
height: 0;
width: 0;
line-height: 0.0;
position:absolute;
left: -9999px;
overflow: hidden
}


/* A5 Basic page layout and borders
-------------------------------------------------------------*/
/* A5.1 */
#pun {
background: #d0d0d0 url("http://forumfiles.ru/files/0019/aa/b6/12267.png") repeat center top;
margin: auto;
width: 1146px;
}
.punbb {
height: auto;
margin: 0 10px;

}
#pun-redirect #pun-main {min-height: 50px}


/* A5.3 */
#pun-redirect, #pun-maint {
margin: 50px 20% 12px 20%;
width: auto;
float: none;
min-height: 100px;
}

/* A5.4 */
.punbb .section, .punbb .main {
margin-bottom: 1em;
}

/* A5.5 */
.punbb .category, .punbb .post {
margin-top: 0.4em;
}

/* A5.6 */
.punbb #pun-category1, .punbb .toppost, .punbb .topicpost {
margin-top: 0;
}

/* 5.7 */
#pun-post .topic {
margin-top: 1em;
}

/* A5.8 */
.punbb .section, .punbb .forum, .punbb .formal, .punbb .modmenu, .punbb .info,
.punbb .category, .punbb .post {
border-style: none none solid none;
border-width: 0px 0px 2px 0px;
}

/* A5.9 */
.punbb .container {
border-style: solid;
border-width: 1px;
}

/* A5.10 */
#pun-main h1, .punbb .section h2, #pun-stats h2, #pun-debug h2 {
padding: 2px 1em 9px 1em;
border-style: solid solid none solid;
border-width: 1px 1px 0px 1px;
}

#pun-main h2 {
padding: 2px 1em 9px 1em;
border-style: solid;
border-width: 1px;
}

/***************************************************/*************************************************************
B - MAIN CONTENT - GENERAL
**************************************************************/

/* B1 Parsed Content, Signatures and Scroll Boxes
-------------------------------------------------------------*/

/* B1.1 */
.punbb .post-content {
padding: 0;
margin: 0;
width: 100%;
overflow: hidden;
}

/* B1.2 */
.punbb .post-sig dt {
border-top: 1px solid #4f4736;
display: block;
margin: 5px 0;
width: 250px;
}

/* B1.3 */
.punbb .post-content p {
margin: 0;
padding: 0 0 1em 0;
line-height: 150%;
font-family: 'Verdana', sans-serif; }


/* B1.4 */
.punbb .post-content img {
vertical-align: text-top
}

/* B1.5 */
.punbb .post-content img.postimg {
vertical-align: middle;
}

/* B1.6 */
.punbb .post-content .blockcode, .punbb .post-content blockquote {
width: 100%;
overflow: hidden;
}

/* B1.7 */
.punbb .post-content .scrollbox {
width: 100%;
overflow: auto;
}

/* B1.8 */
.punbb .post-content .quote-box, .punbb .post-content .code-box {
border: medium none;
margin: 0.4em 0em 0.8em;
padding: 0em;
}


/* B1.9 */
.punbb .quote-box cite, .punbb .code-box strong.legend {
display: block;
font-size: 1.1em;
font-style: normal;
font-weight: bold;
margin: 0;
padding-bottom: 0.0em;
}

/* B2 Information boxes
-------------------------------------------------------------*/

/* B2.1 */
.punbb .info-box {
padding: 1.1em 1.7em 1em 1.7em;
border-style: solid;
border-width: 1px;
margin: 0 0 1.1em 0;
}

/* B2.2 */
.punbb .info-box * {
padding: 0 0 0.7em 0;
}

/* B2.3 */
.punbb #pun-main .info-box .legend {
font-size: 1.1em;
font-weight: bold;
}


/* B3 Pagination and posting links
-------------------------------------------------------------*/

/* B3.1 */
.punbb .linkst {
float: left;
position: relative;
width: 100%;
font-size: 1.1em;
height: 0;
}

/* B3.2 */
.multipage {
margin-top: 3em;
}

/* B3.3 */
.linkst .pagelink {
position: absolute;
top: -4.6em;
left: 1em;
width: 24em;
font-family: roboto
}

/* B3.4 */
.linkst .postlink {
position: absolute;
top: -4.6em;
right: 1em;
width: 16em;
text-align: right;
font-weight: bold;
font-family: roboto
}

/* B3.5 */
.punbb .linksb {
text-align: right;
padding: 0.4em 1em 0.5em 1em;
font-size: 1.1em;
font-family: roboto
}

/* B3.6 */
.linksb .pagelink {
float: left;
width: 24em;
text-align: left;
}

/* B3.7 */
.linksb .postlink {
float: right;
width: 16em;
font-weight: bold
}

/* B3.8 */
.subscribelink {
clear:both;
padding-top: 0.3em;
padding-bottom: 0.5em;
}


/***************************************************/*************************************************************
C - MAIN CONTENT - SPECIFIC
**************************************************************/

/* C1 Form layout
-------------------------------------------------------------*/

/* C1.1 */
.punbb .formal .container {
padding: 1.7em 2.3em 1.1em 2.3em;
}

/* C1.2 */
.punbb .formsubmit {
padding: 0 0 0 1.7em;
margin: 1em 0 0 0;
}

/* C1.3 */
.punbb .formsubmit input, .punbb .formsubmit a, .punbb .formsubmit span {
margin: 0 0.6em 0 0
}

/* C1.4 */
.punbb fieldset {
border-style: solid;
border-width: 1px;
padding: 0 18px 0 18px;
margin: 0 0 1em 0
}

/* C1.5 */
.punbb fieldset legend {
padding: 0;
margin: 0 0 0 11px;
font-size: 1.1em
}

/* C1.6 */
.punbb fieldset legend span {
padding: 0 5px;
margin: 0 0 0 -15px;
}

/* C1.7 */
.punbb fieldset fieldset {
border-style: none;
margin: 0;
padding: 0 0 8px 0
}

/* C1.8 */
.punbb .fs-box {
padding: 1em 0 0.8em 0;
}

/* C1.9 */
.punbb .fs-box p, .punbb .fs-box fieldset {
padding: 0 0 0.8em 0
}

/* C1.10 */
.punbb .inline .inputfield, .punbb .inline .selectfield, .punbb .inline .passfield {
float: left;
margin-right: 1em;
}

/* C1.11 */
.punbb .inline .infofield {
clear:both
}

/* C1.12 */
.punbb .datafield br {
display: none
}

/* C1.13 */
.punbb .required label, .punbb .datafield span.input {
font-weight: bold
}

/* C1.14 */
.punbb .datafield span.input a {
font-weight: normal;
}

/* C1.15 */
.punbb .areafield span.input, .punbb p.longinput span.input {
display: block;
padding: 0 4em 0 0;
height: 100%; /* For IE */
}

/* C1.16 */
.punbb textarea, .punbb .longinput input {
width: 64%;
margin: 0;
}

/* C1.17 */
.punbb .hashelp {
position: relative;
z-index: 10;
}

/* C1.18 */
.punbb .helplinks {
display: block;
position: absolute;
top: 1em;
right: 0;
font-weight: normal;
width: 36%;
}

/* c1.19 */
.punbb #profile .helplinks {
top: 1.5em;
}

/* C1.20 */
.punbb .helplinks span {
display: block;
padding-bottom: 0.2em;
}

.punbb .helplinks span INPUT {
margin: 0px 2px 2px 0px;
}

/* C1.21 */
#pun-post .formal .info-box li {
padding-left: 4px;
list-style-type: square;
list-style-position: inside;
line-height: 1.5;
margin: 0;
}


/* C2 Table layout
-------------------------------------------------------------*/

/* C2.1 */
.punbb .main .tcl {
overflow: hidden;
text-align: left;
width: 60%;
}

/* C2.2 */
.punbb .main .tc2, .punbb .main .tc3, .punbb .main .tcmod {
text-align: center;
width: 10%;
}

/* C2.3 */
.punbb .main .tcr {
overflow: hidden;
text-align: center;
width: 25%;
}


/* C2.4 */
#pun-userlist .main .tcl,
#pun-searchtopics .main .tcl,
#pun-modviewforum .main .tcl {
width: 40%
}

/* C2.5 */
#pun-userlist .main .tc2,
#pun-searchtopics .main .tc2 {
text-align: left;
width: 20%;
}

/* C2.6 */
#pun-debug table .tcl {
width: 15%;
white-space:normal;
}

/* C2.7 */
#pun-debug .tcr {
width: 90%;
white-space: normal;
}

/* C2.8 */
#pun-index .tcl h3 {
font-size: 1.2em;
font-weight: bold;
}

/* C2.9 */
.punbb td span.youposted {
font-weight: bold;
margin-left: -1em;
position: absolute;
}

/* C2.10 */
.punbb td .modlist {
display: none;
padding-top: 0.3em
}

/* C2.11 */
.punbb .main td {
border-style: solid none none solid;
border-width: 1px 0 0 1px;
padding: 1.8em 1em;
}

/* C2.12 */
.punbb .main th {
border-style: none none none solid;
border-width: 0 0 0 1px;
padding: 0.4em 1em 0.4em 1em;
}

/* C2.13 */
.punbb .main .tcl {
border-left-style: none;
border-left-width: 0;
}

* html .tclcon {height: 1px}

/* C2.14 */
.punbb td div.tclcon {
font-size: 11px;
line-height: 10px;
margin-left: 0;
text-align: left;
}

/* C2.15 */
.punbb div.icon {
float: left;
display: block;
width: 60px;
height: 60px;}

/* C3 Topics
-------------------------------------------------------------*/

/* C3.1 */
.punbb .post .container {
border-style: none solid solid solid;
border-width: 1px;
margin-top: -1px;
padding-bottom: 1px;
}

/* C3.2 */
.punbb .post h3 {
border-style: solid solid none solid;
border-width: 1px;
}

/* C3.3 */
.punbb .post h3 span {
border-left: 1px solid transparent;
padding: 0.5em 1em;
display: block;
margin-left: 19em;
}

/* C3.4 */
.punbb .post h3 strong {
float: right;
width: 5em;
text-align: right;
font-weight: normal;
}

/* C3.5 */
.punbb .post .post-author {
float: left;
width: 19em;
margin-top: -1.5em;
overflow: hidden;
}

/* C3.6 */
.punbb .post .post-author ul, .punbb .post .post-author p {
padding: 0 1em 1em 1em;
line-height: 140%;
}

/* C3.7 */
.pa-author {
font-size: 1.1em;
font-weight: bold;
}

/* C3.8 */
.pa-author a {
text-decoration: none
}

/* C3.9 */
li.pa-title {
padding-bottom: 0.4em;
font-weight: bold;
}


li.pa-online {
line-height: 0.8em;
border-left-style: solid;
border-left-width: 0.7em;
padding-left: 0.4em;
margin-top: 0.7em;
}

/* C3.11 */
.punbb .post-body {
margin-left: 19em;
border-left-style: solid;
border-left-width: 1px;
padding: 0 0 1px 0;
}

/* C3.12 */
.punbb .post-box {
padding: 1em;
}

/*C3.13 */
.punbb fieldset .post-box {
margin-bottom: 0.8em
}

/* C3.14 */
.punbb .post-links {
margin-left: 19em;
border-left-style: solid;
border-left-width: 1px;
}

/* C3.15 */
.punbb .post-links ul {
padding: 0 1em 0 0;
height: 2em;
line-height: 2em;
margin-left: -19em;
border-top-style: dashed;
border-top-width: 1px;
background: transparent;
text-align: right;
}

/* C3.16 */
.punbb .post-links li {
display: inline;
padding-left: 1em;
}

/* C3.17 */
.pl-email, .pl-website {
float: left;
}

/* C3.18 */
.punbb .clearer {
clear: both;
height: 0;
font-size: 0;
}


/* C4 Moderator menu
-------------------------------------------------------------*/

/* C4.1 */
.punbb .modmenu .container {
padding: 0.5em 1em;
text-align: right;
margin-top: 4px;
}

/* C4.2 */
.punbb .modmenu strong, .punbb .modmenu a {
height: 1.8em;
line-height: 1.8em;
}

/* C4.3 */
.punbb .modmenu .container strong {
float: left;
}

/* C4.4 */
.punbb .modmenu input {
margin-left: 1em;
}


/* C5 Message boxes
-------------------------------------------------------------*/

/* C5.1 */
.punbb .info .container {
padding: 0.8em 1em
}

/* C5.2 */
.punbb .info .container .backlink {
padding-top: 0.8em;
}


/* C6 Profile
-------------------------------------------------------------*/

/* C6.1 */
#profile .container {
padding-left: 18.6em;
}

/* C6.2 */
#profilenav {
float: left;
width: 14em;
margin-left: -16.3em;
display: inline;
}

/* C6.3 */
#profilenav li {
padding-bottom: 0.8em;
font-weight: normal;
}

/* C6.4 */
#viewprofile ul, #profilenav ul {
border-style: solid;
border-width: 1px;
padding: 1.5em 18px 0.8em 18px;
margin: 0 0 1em 0;
}

/* C6.5 */
#viewprofile h2, #profilenav h2 {
background: transparent;
border: none;
padding: 0 0 0 0;
margin: 0 14px -0.6em 14px;
}

/* C6.6 */
#viewprofile h2 span, #profilenav h2 span {
padding: 0 5px;
position: relative;
}

/* C6.7 */
#viewprofile li, #setmods dl {
padding: 0 0 0 16em;
margin-bottom: 0.2em;
}

/* C6.8 */
#viewprofile li span {
float: left;
width: 14em;
margin-left: -16em;
padding: 0.5em 1em;
font-weight: normal;
}

/*C6.9 */
#setmods dt {
float: left;
width: 14em;
margin-left: -16em;
padding: 0.8em 1em;
font-weight: bold;
display: inline;
}

/* C6.10 */
#viewprofile li strong, #viewprofile li div, #setmods dd {
display: block;
padding: 0.5em 1em;
font-weight: normal;
}

/* C6.11 */
.punbb img.avatardemo {
float: right;
margin: 0 0 0.8em 1.8em
}


/* C7 User list
-------------------------------------------------------------*/

/* C7.1 */
#pun-userlist .formal, #pun-userlist .formal .container {
border-bottom: none;
margin-bottom: 0;
}

/* C7.2 */
#pun-userlist .usertable .container {
padding: 0 2.3em 2.3em 2.3em;
border-top: none;
}

/* C7.3 */
#pun-userlist .usertable table {
border-style: solid;
border-width: 1px;
}


/***************************************************/*************************************************************
D - PUNBB SECTIONS OTHER THAN MAIN CONTENT
**************************************************************/

/* D1 Logo and description
-------------------------------------------------------------*/

/* D1.1 */
#pun-title {
margin: 0;
border: none;
margin-bottom: -35px;
}

/* D1.2 */
#pun-title h1 {
display : block;
height: 10px;
margin: -1px 0px 0px -30px;
}

/* D1.3 */
#pun-title .container {
border: none ;
padding: 0.2em 1em 0.8em 1em;
}

/* D1.4 */
#pun-title h1 span {
display: none;
}

#pun-title TD.title-logo-tdl {
border: none;
width: 100%;
}

#pun-title TD.title-logo-tdr {
border: none;
width: 420px;
}

/* D2 Page navigation
-------------------------------------------------------------*/

/* D2.1 */
#pun-pagelinks {
position: absolute;
top: -15px;
left: 0;
margin: 0;
border: none;
padding-left: -20px;
width: 100%;
}

/* D2.2 */
#pun-pagelinks .container {
background: transparent;
border: none;
padding: 0}

/* D2.3 */
#pun-pagelinks .container li {
display: inline
}

/* D2.4 */
#pun-pagelinks li a, #pun-pagelinks a:link, #pun-pagelinks a:hover {
height: 2em;
line-height: 2em;
padding: 0;
font-size: 1.2em;
margin-left: -9999px;
display: block;
float:left;
width: 100%;
}

/* D2.5 */
#pun-pagelinks a:active, #pun-pagelinks a:focus {
position:relative;
margin: 0;
}

#pun-pagelinks li a span {
display:block;
margin: 0 1em
}

/* D3 Forum navigation
-------------------------------------------------------------*/

/* D3.1 */
#pun-navlinks {
border: none;
margin: 0;
margin-bottom: 20px;
}

#pun-navlinks .container {
border: none;
margin: 0;
}

/* D3.2 */
#pun-navlinks .container {
padding-top: 15px;
height: 27px;
font-weight: normal;
text-align: center;
width: 845px;
}

/* D.3 */
#pun-navlinks li {
display: inline;
margin: 0;
}

/* D3.4 */
#pun-navlinks li a {
font-family: tahoma;
font-size: 0.8em;
padding: 10px 5px 10px 7px;
}

/* D4 User links
-------------------------------------------------------------*/

/* D4.1 */
#pun-ulinks {
border: 2px solid transparent;
margin-bottom: 15px;
}
#pun-ulinks .container {
border: medium none;
font-weight: bold;
height: 3px;
padding-top: 0px;
text-align: center;
width: 850px;
}
#pun-ulinks li, #pun-ulinks li a {
display: inline;
white-space: nowrap;
}
#pun-ulinks li a {
font-size: 0.8em;
padding: 0 0 0 5px;
}

/* D5 Welcome box and Top Breadcrumbs
-------------------------------------------------------------*/

/* D5.1 */
#pun-status, #pun-status .container {
border-bottom: none;
margin-bottom: 0;
}

/* D5.2 */
#pun-status .container {position: absolute;
width: 510px;
text-align: right;
font-family: roboto;
font-size: 8px;
margin-left:622px;
text-transform: uppercase;
letter-spacing: 1px;
top: 390px;
color: #8f8f8f;
}

#pun-status .container a {color:#ededed}


/* D5.3 */
#pun-status span {
white-space: pre-line;
margin-right: 0.5em;
}

/* D5.4 */
#pun-crumbs1 {
font-weight: bold;
overflow: hidden;
margin-top: 0;
}

/* D5.5 */
#pun-crumbs1 p.container {
border-top: none;
padding: 1em 1em 0.8em 1em;
font-size: 1.1em;
}

/* D5.6 */
#pun-break1 {
margin: 0 1em;
border-style: solid none;
border-width: 1px 0;
height: 0;
margin: -2px 1em;
position: relative;
z-index: 1;
}

/* D6 Announcement
-------------------------------------------------------------*/

/* D6.1 */
#pun-announcement h2 {
padding: 0;
margin: 0 1em -3.5em 1em;
border-style: none none solid none;
border-width: 0 0 1px 0;
position: relative;
font-weight: bold;
display: none
}

/* D6.2 */
#pun-announcement h2 span {
display: block;
padding: 1em 0 0.8em 0;
border-bottom-style: solid;
border-bottom-width: 1px;
}

/* D6.3 */
#pun-announcement .container {
padding: 0.6em 1em 1em 1em;
margin-bottom: -20px;
margin-top: 20px
}

/* D7 Statistics
-------------------------------------------------------------*/

/* D7.1 */
#pun-stats .container {
padding: 0.8em 1em
}

/* D7.2 */
#pun-stats li.item1, #pun-stats li.item2 {
float: left;
clear: both;
line-height: 150%;
}

/* D7.3 */
#pun-stats li.item3, #pun-stats li.item4 {
text-align: right;
line-height: 150%;
}

/* D7.4 */
li#onlinelist {
margin-top: 1em;
border-top-style: solid;
border-top-width: 1px;
float: left;
width: 100%;
line-height: 130%;
}

/* D7.5 */
li#onlinelist div {
border-top-style: solid;
border-top-width: 1px;
padding: 0.7em 0 0 0;
}

/* D8 Quick Jump - About - Bottom Breadcrumbs
-------------------------------------------------------------*/

/* D8.1 */
#pun-qjump {
margin: 0;
border: none;
width: 50%;
position: relative;
float: left;
}

/* D8.2 */
#pun-qjump .container {
border: none;
background: transparent;
padding: 0.8em 1em;
}

/* D8.3 */
#pun-about {
margin-top: 0;
}

/* D8.4 */
#pun-about .container {
border-top-style: none;
text-align: right;
line-height: 150%;
padding: 0.8em 1em;
}

/* D8.5 */
#pun-about p span {
display:block;
padding-left: 50%;
text-align: center;
}

/* D8.6 */
#pun-crumbs2 {
font-weight: bold;
overflow: hidden;
margin-bottom: 0;
border-bottom: none;
}

/* D8.7 */
#pun-crumbs2 .container {
border-bottom: none;
padding: 0.8em 1em;
font-size: 1.1em;
}

/* D8.8 */
#pun-break4 {
margin: -2px 1em;
border-style: solid none;
border-width: 1px 0;
position: relative;
height: 0;
z-index: 1;
}

/* D8.9 */
div.punbb-admin #pun-about .container {
border-top-style: solid;
border-top-width: 1px;
}


/* D9 Help file
-------------------------------------------------------------*/

/* D9.1 */
#pun-help .formal .info-box h3.legend {
border-bottom-style: solid;
border-bottom-width: 1px;
padding-bottom: 0;
margin-bottom: 0.8em;
}

/* D9.2 */
#pun-help .formal .info-box h3.legend span {
padding-bottom: 0.6em;
display: block;
border-bottom-style: solid;
border-bottom-width: 1px;
font-size: 1.1em;
}

/* D9.3 */
#pun-help .formal p, #pun-help .formal dd {
margin-bottom: 1em
}

/* D9.4 */
#pun-help .formal ul, #pun-help .formal dl {
padding: 0 0 0 1em
}

/* D9.5 */
#pun-help .formal li {
padding: 0;
line-height: 130%
}

/* D9.6 */
#pun-help .formal li * {
vertical-align: text-top
}

/* D9.7 */
#pun-help .formal dt span {
font: 1.4em/120% monaco, "bitstream vera sans" }

::-webkit-scrollbar {
width: 6px;
height:6px;
background-color: rgba(20, 18, 15,0.2);
border-radius: 10px !important;}
::-webkit-scrollbar-thumb {
background-color:#752b2b;
width:6px !important;
box-shadow: 0 0 0 1px rgba(20, 18, 15,0.1) inset;
border-radius: 1px !important;
}


.stickytext, .closedatafield, #pun-live-rusff, .pl-reports {display: none}



.tipsy-inner {
font-size:11px !important;
font-family:'pt sans' !important;
color: #fff !important;
position: relative;
border-radius: 0 !important;}

input, textarea {
outline: none;
} 
input:active, textarea:active {
outline: none;
} 
:focus {
outline: none;
}


#pun-messages .pa-author {padding: 5px}
#pun-messages .post-author { margin-top: 25px !important;
padding-bottom: 10px !important;
}
#pun-messages .post-author ul {color: #888;
text-shadow: none}
#pun-messages .pa-online {clear: both}
#pun-messages h3 {background: none !important;}


#pun .ams {position: absolute;
top: 355px;
margin-left: 35px;
width: 285px;
text-align: center;
font-family: open sans;
color: #7a7a7a;
text-transform: uppercase;
font-size: 11px;
letter-spacing: 1px;
}


.tooltip {
position: relative;
display: inline
}
.tooltip em {
display: inline;
transition: all 0.3s ease-in-out 0s;
position: absolute;
opacity: 0;
color: #dfdfdf;
font-family: arial !important;
text-shadow: 1px 1px 1px rgba(0,0,0,.8);
font-size: 10px !important;
font-style: normal;
height: auto;
left: -65px;
padding: 10px;
text-align: justify;
width: 150px;
top:30px;
background: rgba(0,0,0,.8);
text-transform: none;
line-height: 11px;
visibility: hidden
}
.tooltip:hover em {
top: 20px;
font-family: arial !important;
font-size: 10px !important;
font-style: normal;
height: auto;
padding: 10px;
position: absolute;
width: 150px;
z-index: 9999;
opacity: 1;
transition: all 0.5s ease-in-out 0s;
line-height: 11px;
visibility: visible
}

.banners a {display: inline-block}
.banners img {margin: 0 0px;
transition: all .3s ease-in-out 0s;
opacity: .5;
filter: grayscale(100%)}
.banners img:hover {filter: grayscale(0%);
opacity: 1}


.banners {position: absolute;
width: 660px;
margin-top: -32px;
margin-left: 444px;
height: 54px;
overflow-y: auto;
}

.sslka {display: block;
text-align: center;
width: 250px}
#pun .sslka a {background-color:#232831 !important;
white-space: nowrap;
margin-top: 5px;
border-radius: 4px;
text-align: center;
color: #ffffff;
transition: all 0.3s linear 0s;
display: block;
padding: 4px 0px 7px 0px;}

#pun .sslka a:hover { background-color:#070707 !important;
opacity: .9;
transform: scale(1.1)}

#vkladka1 {width: 145px;
margin-left: 437px;
position: absolute;
top: 114px;
z-index: 9
}

.oformlenie_knopki_hover {background: url(http://forumfiles.ru/files/0019/aa/b6/22107.png)}
.oformlenie_knopki {background-image: url(http://forumfiles.ru/files/0019/aa/b6/57048.png);
background-position: 0px 0px;
height:34px;
width: 371px;
display:inline-block;
cursor: pointer; 
font-size: 0;
position: absolute;
top:345px;
margin-left: 750px;
}


/*** Заплатка для поля ответа ***/
textarea#main-reply {
height: 245px;
position: relative;
z-index: 1;
}
.inner, #pun_wrap #post .container[id$="-area"], #video-area-tinp, #image-area-tinp {
z-index: 2;
}

#pun-profile a.modal-link img {width: 30px}

#pun-profile tt {display: none}

#pun .post-content {
display: block !important;}

.pa-avatar img {max-width: 180px}

.post-content td { border:none transparent !important;}

::selection { background: #4a6585;
color: #efefef;
}


html, body {scrollbar-width: thin;
scrollbar-color: #752b2b rgba(20, 18, 15,0.01);}
.code-box .scrollbox, textarea, #font-area, div {scrollbar-width: thin;
scrollbar-color: #752b2b rgba(20, 18, 15,0.01);}


.modal-inner.section, #pun-report .inner, #pun-reputation .inner, #pun-admin-award-form .inner {
padding: 10px !important;
background: #d5d5d5;
box-shadow: 0 0 0 1px #bababa inset, 0 0 0 3px #e1dfdf inset, 0 0 1px 2px #687e98;
}

#html-header {color: #7d7d7d;
}
#html-header a {color: #dfdfdf;
transition: all 0.3s ease-in-out 0s;}
#html-header a:hover {color: #556c86}



.hellocontainer {background: #eaeaea;
width: 400px;
height: auto;
box-shadow: 0 0 0 3px #d6d6d6, 0 0 1px 5px #597491 !important;
margin: 10px 140px;
padding: 10px !important;
margin-bottom: 30px;
}

.helloavatar {padding: 5px;
background: #eeedeb;
float: left;
width: 75px;
height: 75px;
border: 3px double rgba(0,0,0,.2);
background-clip: padding-box}

.helloavatar img {width: 75x;
height: 75px}

.hellotitle {font-family: oswald;
text-transform: uppercase;
text-align: left;
font-weight: 700;
color: #1d1918;
font-size: 20px;
width: 250px;
margin-left: 102px !important;
}

.hellobox-divider {
border-bottom: 1px dotted #767472;
height: 1px;
width: 180px;
margin: 8px 0 0 102px
}

.hellobox-title2 {font-family: Alegreya;
font-style: italic;
width: 100%;
margin: 5px auto;
font-size: 11px;
text-align: right;
letter-spacing: 2px;
color: #1d1918}

.hellobox-text {font-family: verdana;
font-size: 10px;
text-align: justify;
margin: 10px 0px;
color: #1d1918;
line-height: 140%
}

.helloclear {clear: both}


.hellobox-links {float: right;
display: block;
width: 220px;
text-align: center;
margin-left: 10px;
margin-top: 10px}

.hellobox-links a{ 
background-color: #3b434e;
color: #fff !important;
font-family: oswald !important;
font-size: 10px !important;
font-weight: normal !important;
margin-top: 2px !important;
width: 105px;
padding: 2px 0 3px 0;
text-decoration: none;
text-shadow: 0px 0px 1px rgba(0, 0, 0,.6);
transition: all 0.5s ease-in-out 0s;
text-transform: uppercase;
display: inline-block;
letter-spacing: 1px}

.hellobox-links a:hover {
animation: .6s linear 0s normal none 1 running Upper;
cursor: crosshair;
}



.reveal-modal-bg { 
position: fixed; 
height: 100%;
width: 100%;
background: #000;
background: rgba(0,0,0,.8);
z-index: 100;
display: none;
top: 0;
left: 0; 
}
.reveal-modal {
visibility: hidden;
top: 30px; 
left: 50%;
margin-left: -300px;
width: 693px;
position: absolute;
z-index: 101;
background: #d0d0d0;
height: 518px;
box-shadow: 0 0 0 1px #f3f3f3 inset, 0 0 0 3px #59718c, 0 0 0 4px rgba(255,255,255,.5)
}

.reveal-modal.xlarge { width: 693px; margin-left: -340px;}

.reveal-modal .close-reveal-modal {
font-size: 30px;
line-height: .5;
position: absolute;
top: 7px;
right: 5px;
color: #222;
text-shadow: 0 -1px 1px rbga(255,255,255,.6);
font-weight: bold;
cursor: pointer;
text-decoration: none;
}

.menu span {
cursor: pointer;
display: inline-block;
margin: 7px 10px;
padding: 11px;
text-align: center;
width: 120px;
font-family: roboto;
font-size: 14px;
text-transform: lowercase;
font-weight: bold;
letter-spacing: 3px;
border-bottom: 2px solid #222222;
transition: all .5s linear 0s;
}
.menu-links {
text-align: center;
margin-top: 7px
}
#submenu {
display: inline-block;
}
#submenu, .menu span {
}
.menu-links span:hover {color: #8d1616;
border-bottom: 2px solid #8d1616;
letter-spacing: 1px}
.menu .tabactive {
opacity: .5
}
#submenu {
width: 693px;
height:456px
} 
.submenutext {
display: none; 
}

.charpicblock {
float: left;
text-align: center;
width: 250px;
margin-left: 50px;
margin-top: 25px}
.charpicblock img {border: 2px solid #8d1616}
.charpicblock lvl {display: block;
position: absolute;
height: 22px;
width: 22px;
background: #151515;
color: #fff;
text-align: center;
font-family: open sans;
font-weight: bolder;
border-radius: 100%;
border: 1px solid #fff;
margin-left: 115px;
margin-top: -12px;
line-height: 20px;
font-size: 9px}
.charpicblock lvl2 img {filter: brightness(1.6)}
.charpicblock lvl2 img {display: block;
position: absolute;
height: 22px;
width: 22px;
background: #000;
color: #fff;
text-align: center;
font-family: open sans;
font-weight: bolder;
border-radius: 100%;
border-color: transparent;
margin-left: 115px;
margin-top: -16px;
line-height: 20px;
font-size: 9px;
z-index: 9}

/* .chartextblock {display: flex;
float: right;
width: 300px;
margin-right: 50px;
margin-top: 45px;
text-align: justify;
line-height: 15px;
max-height: 330px;
overflow-y: auto;
padding-right: 5px;
} */


.chartextblock {display: flex;
float: right;
width: 300px;
margin-right: 28px;
margin-top: 26px;
text-align: justify;
line-height: 15px;
height: 315px;
overflow-y: auto;
padding-right: 5px;
background: rgba(0,0,0,.1);
box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 0 0 2px rgba(255,255,255,.2) inset;
padding: 20px;
text-align: center;
font-family: old standard tt;
font-size: 17px;
letter-spacing: 2px
}

.chartextblock p {text-align: left;
letter-spacing: 0;
font-family: montserrat;
font-size: 10px}

.chartextblock p:first-child {margin-top: 8px}

.chartextblock p {margin-bottom: 5px}

.chartextblock img {margin-top: -70px !important;
opacity: .5}

.chartextblock p strong { font-family: old standard tt;
font-size: 9px;
text-transform: uppercase;
margin-right: 10px}

.progressbar {position: absolute;
width: 236px;
background: #262626;
border-radius: 3px;
height: 11px;
box-shadow: 0 0 0 1px #000 inset;
margin-left: 6px;
margin-top: 16px}

span.progressline {background: #9d2929;
position: relative;
z-index: 9999;
width: 50px;
display: block;
height: 9px;
margin-top: 1px;
margin-left: 1px
}


.charawards {background: url(http://forumfiles.ru/files/0019/aa/b6/49482.png) no-repeat;
width: 594px;
height: 391px;
margin: 20px 0 0px 50px !important;
clear: both;
}

.charaward {text-align: center;
margin: 35px 0 35px 35px !important;
position: absolute;
width: 525px;
height: 120px;
overflow-y: auto}

.charaward img {margin: 10px}

.chargifts {text-align: center;
margin: 240px 0 35px 35px !important;
position: absolute;
width: 525px;
height: 120px;
overflow-y: auto
}

.chargifts img {margin: 10px}

.collectionsbox {margin: 10px;
width: 670px;
height: 436px;
overflow-y: auto}
.charcollection {background: url(http://forumfiles.ru/files/0019/aa/b6/84743.png);
width: 645px;
height: 98px;
margin: 10px auto;
position: relative;
}
.collfirstblock img {margin-top: 12px;
}
.collfirstblock img:nth-child(1) {margin-left: 13px;}
.collfirstblock img:nth-child(2) {margin-left: 7px}
.collfirstblock img:nth-child(3) {margin-left: 7px}
.collfirstblock img:nth-child(4) {margin-left: 7px}
.collfirstblock img:nth-child(5) {margin-left: 7px}

.collections_fours {position: absolute;
margin-top: -75px !important;
margin-left: 456px !important;
width: 77px;
}
.collections_fours img {margin: -.5px -1.4px !important;}

.collectionsumm {position: absolute;
margin-left: 557px !important;
margin-top: -75px !important;}

.charcollection img {filter: grayscale(100%) opacity(.5)}

.charcollection img.unblock {filter: grayscale(0%) opacity(1)}

#titletime {width: 483px;
position: absolute;
top: 89px;
margin-left: 323px}

img#hover {position: absolute;
transition: all .5s linear 0s;
top: 140px;
}

img#hover:hover {opacity: .5;
filter: grayscale(100%)}

.persons {position: absolute;
top: 132px;
width: 320px;}

.persons img {transition: all .5s linear 0s;
margin: 0 2px}

.persons img:hover, .weneed img:hover {opacity: .5;
filter: grayscale(100%)}

.weneed {position: absolute;
margin-top: -36px;
margin-left: 6px
}

.weneed img {transition: all .5s linear 0s;
margin: 0 3px}

.text_of_week {position: absolute;
text-align: justify;
top: 241px;
width: 300px;
}

.text_of_week span {display: block;
font-family: Montserrat;
font-size: 8px;
text-transform: uppercase;
letter-spacing: 2px;
}

.text_of_week >div {font-family: roboto;
font-size: 10px;
margin-top: 10px;
line-height: 14px;
height: 70px;
overflow-y: auto;
padding-right: 4px;
}


#pun_wrap, HTML {
min-width: 1330px !important;
margin: auto}

HTML {
background: url("http://forumfiles.ru/files/0019/aa/b6/15366.png") repeat-x left top,
url("http://forumfiles.ru/files/0019/aa/b6/60613.png") repeat-x left bottom,
#24282e url("http://forumfiles.ru/files/0019/aa/b6/31292.png") repeat left top;
}

#pun-title table {
background: rgba(0, 0, 0, 0) url("http://forumfiles.ru/files/0019/7c/87/53984.png") no-repeat scroll center top;
border: none;
height: 420px;
margin-left: -101px;
margin-bottom: -45px;
width: 1330px;
}

.offctgr {display:block!important;
visibility:visible!important;
}

#pun-index .main td {padding: 1em 1em;}

#pun-index .tc2, #pun-index .tc3, #pun-index .tcmod {
width: 8%;
font-family: roboto;
font-size: 11px;
font-weight: 300
}

.pa-awards {margin-left: 18px;
}


.pa-posts {
float: left;
margin-left: 0px !important;
}

.pa-respect{

float: right;
margin-right: 0px !important;
}

.pa-posts, .pa-respect {margin-bottom: 5px !important;
display: block;
font-family: pt sans;
width: 107px;
text-transform: lowercase;
font-size: 10px;
margin-top: 5px !important;
}

#profilenav h2 {
text-align: left !important;
}

.topicpost .post-author {margin-top: 20px !important;}

.post-author {
margin-left: 20px !important;
margin-top: 20px !important;
margin-bottom: 0px !important;
padding: 0 !important;
padding-bottom: 10px !important;
width: 226px !important;
padding-top: 0px !important;
background: url(http://forumfiles.ru/files/0019/aa/b6/67657.png) no-repeat top,
url(http://forumfiles.ru/files/0019/aa/b6/32465.png) no-repeat bottom,
url(http://forumfiles.ru/files/0019/aa/b6/45322.png) repeat-y;
border: 0 !important;
}

.post-box {margin-top: 5px !important;}
.post-content {margin: 15px 20px 0px 55px !important;
}

#pun-post .pa-author {margin-left: 5px;
width: 190px !important;
padding: 0}

.post h3 {
background: url(http://forumfiles.ru/files/0019/aa/b6/21285.png) no-repeat;
color: #bfbfbf !important;
font-family: play !important;
font-size: 9px !important;
height: 39px;
margin-bottom: 0px;
margin-left: -10px;
margin-top: 5px;
padding-top: 0px;
width: 1146px !important;
text-transform: uppercase;
font-weight: 200;
letter-spacing: 1px;
border: 0 !important;
}
.post h3 span {
color: #bfbfbf;
margin-left: 10px !important;
margin-top: -2px;
text-align: left;
font-weight: lighter !important;
line-height: 31px
}

#pun .post h3 span a {color: #bfbfbf}
#pun .post h3 span a:hover {
color: #777;
}

.post h3 strong {
font-weight: normal;
margin-left: 1060px;
position: absolute;
width: 200px;
text-align: right !important;
color: #bfbfbf
}

.post .container {background: rgba(255,255,255,.25);
}

.pa-author img {
display: none;
}

.post-author .pa-author {
font-family: Montserrat !important;
font-size: 14px !important;
letter-spacing: 0;
text-transform: uppercase;
font-weight: 800 !important;
text-align: center;
padding: 0; 
margin-top: 22px !important;
color: #bfbfbf
}


.post-author ul {
color: #8b8b8b;
font-size: 10px;
line-height: 11px;
margin-left: 5px;
padding: 0px !important;;
text-align: center;
width: 216px;
text-shadow: 1px 1px 0 #000
}

#pun .post-author ul a {color: #dcdcdc}
#pun .post-author ul a:hover {color: #6b96b4}

.pa-avatar {
margin-top: 10px !important;
width: 216px;
margin-bottom: 5px !important;
margin-left: 0 !important;
}

.pa-avatar.item2 > img { 
box-shadow: 0 0 0 5px #0f0f0f, 0 0 0 6px rgba(100,136,176,.15)
}

.pa-title {
font-family: Roboto !important;
font-size: 9px !important;
font-weight: normal !important;
text-transform: lowercase;
padding-top: 2px !important;
margin-bottom: 5px !important;
text-align: center;
width: 216px;
letter-spacing: 1px
}

.pa-ip {clear: both}

.pa-online {
font-family: roboto;
text-transform: uppercase;
font-size: 10px;
padding: 5px 0 0 0 !important;
margin-left: -4px !important;
width: 206px; 
clear: both;
}


.punbb th {
font-size: 0 !important;
}
li#navawards, .lastedit {
display: none !important;
}
.pa-gifts {
display: none;
}


#pun-title {border: none}



#pun-navlinks a {
color: rgba(255,255,255,.7);
font-family: montserrat !important;
font-size: 11px !important;
text-align: center;
transition: all 0.3s ease-in-out 0.1s;
text-transform: uppercase;
display: inline-block;
padding: 2px 20px !important;
letter-spacing: 1px;
position: relative;
margin: 0 0px;
font-weight: 400 !important;
text-shadow: 0px 0px 1px #000;
background: radial-gradient(circle at top, rgba(255,255,255,.1), transparent), #5d1616;
border-radius: 15px;
border: 2px solid #000;
box-shadow: 0 0 0px 1px rgba(255,255,255,.1) inset, 0 0 0 1px rgba(255,255,255,.1)
}


#pun-navlinks a:hover {
transition: all 0.3s ease-in-out 0.1s;
background: radial-gradient(circle at top, rgba(255,255,255,.1), transparent), #4b1212;
color: rgba(255,255,255,.8);
}
#pun-navlinks .container {
background: none repeat scroll 0 0;
display: inline-block;
font-size: 0px !important;
font-style: normal;
font-weight: 700 !important;
margin-left: -10px !important;
position: absolute;
text-align: center !important;
top: 38px;
width: 1146px !important;
word-spacing: 20px;
padding: 0px !important;
line-height: 18px;
height: 20px !important;
}

#pun-ulinks .container {
font-family: roboto !important;
font-style: normal;
font-weight: 300 !important;;
height: 20px !important;
letter-spacing: 0px;
margin-left: -10px !important;
padding: 0 !important;
position: absolute;
text-align: left !important;
text-transform: uppercase;
top: 388px;
width: 870px !important;
display: inline; 
}

#pun-ulinks .item5 {
display: none;
}
#pun-ulinks a {
color: #8f8f8f;
font-size: 8px !important;;
font-weight: 400;
transition: all 0.5s linear 0s;
letter-spacing: 1px;
padding: 0 5px 0px 5px !important;
position: relative;
margin: 0 1px
}

#pun-ulinks a:hover {
color: #eaeaea;
}

.punbb .section .container, .punbb .post-body, .punbb .post-links, .punbb td.tc2, .punbb td.tc3, .punbb .formal fieldset .post-box, #viewprofile li strong, #viewprofile li div, #setmods dd, .punbb .info-box, .punbb #pun-main .info-box .legend, .punbb .main .container, .punbb .post .container, .punbb .post h3, .punbb-admin #pun-admain .adcontainer, #pun-title, #pun-title .container, .punbb .modmenu .container, .punbb legend span, #viewprofile h2 span, #profilenav h2 span, .punbb-admin #pun-admain legend span, .punbb .post h3 span, .punbb th, #viewprofile li, #setmods dl {
border-color: transparent;
color: #202d34;
}
.punbb .post-box {
color: #202d34;
}
#pun-stats h2, .punbb .main h1, .punbb .main h2, #pun-debug h2, .punbb-admin #pun-admain h2 {
border-color: transparent;
color: #202d34;
font-style: normal;
font-weight: normal;
}

.punbb textarea {
background-clip: padding-box;
background: #d5d5d5;
color: #222;
padding: 10px !important;
width: 98.2% !important;
border: none;
box-shadow: 0 0 0 1px #bababa inset, 0 0 0 3px #e1dfdf inset;
}
.punbb #pun-main .quote-box, .punbb #pun-main .code-box {
background-clip: padding-box;
background: #d5d5d5;
padding: 10px !important;
box-shadow: 0 0 0 1px #bababa inset, 0 0 0 3px #e1dfdf inset, 0 0 1px 2px #687e98;
margin-left: 15px;
margin-right: 15px;
position: relative
}

#pun-main .code-box .scrollbox {
font-family: pt sans !important;
font-size: 10px;}

.punbb select, input {
background: #d5d5d5;
color: #333;
border: none;
padding: 3px 2px 5px 4px !important;
box-shadow: 0 0 0 1px #bababa inset, 0 0 0 3px #d1d2d0 inset;
}

#pun-navlinks .container {
border-color: transparent;
color: #152115;
}
.offline li.pa-online strong {
font-weight: normal;
}

.punbb .container, .punbb .post-body, .post h3, #pun-title, .punbb .section, .punbb .forum, .punbb .formal, .punbb .modmenu, .punbb .info, .punbb .category, .punbb .post, #pun-stats h2, .punbb .main h1, .punbb .main h2, #pun-debug h2, .punbb-admin #pun-admain h2, .punbb td, .punbb fieldset, #viewprofile ul, #profilenav ul, .punbb .post .post-body, .punbb .post h3 span, .post-links ul, .post-links, .usertable table, #pun-ulinks li, #pun-announcement h2 span, li#onlinelist, #pun-help .formal .info-box h3.legend span, #pun-ulinks li a, #pun-announcement h2, li#onlinelist div, #pun-help .formal .info-box h3.legend, .punbb .divider, .punbb .quote-box, .punbb .code-box, .punbb th, .punbb .formal fieldset .post-box, .punbb .info-box, li.pa-online, .punbb .post-sig dt {
border-color: transparent;
}
.punbb a, .punbb a:link, .punbb a:visited, .punbb-admin #pun-admain a, .punbb-admin #pun-admain a:link, .punbb-admin #punbb-admain a:visited, .punbb li.isactive a, .punbb li.isactive a:link, .punbb li.isactive a:visited {
border-bottom: 0 none #000;
color: #933131;
text-decoration: none;
transition: all 0.3s ease-in-out; }

.punbb a:hover, .punbb a:focus, .punbb a:active, .punbb-admin #pun-admain .nodefault, .punbb-admin #punbb-admain a:hover, .punbb-admin #punbb-admain a:focus, .punbb-admin #punbb-admain a:active { border-bottom: 0 none #000;
color: #4a6585;
text-decoration: none;
}
#pun-pagelinks a:active, #pun-pagelinks a:focus {
background-color: #211a13;
color: #fff;
}


.punbb .section h2, #pun-main h1, #pun-stats h2, #pun-main h2, #pun-debug h2 {
background: transparent;
color: #2c3c4e !important;
font-family: montserrat !important;
font-size: 12px !important;
font-style: normal;
font-weight: 400;
height: 10px;
padding: 0px !important;
text-align: center;
width: auto;
text-transform: lowercase;
margin: 10px 10px 10px 10px !important;
letter-spacing: 2px
}

#pun-index h2 {box-shadow: none}

#pun-main div.catleft, #pun-main div.catright {
display: none;
}


#pun-index table Div.icon {
background: transparent;
background-repeat: no-repeat;
border-style: none;
display: block;
height: 13px;
margin-left: -35px;
margin-top:10px;
position: absolute;
width: 38px;
z-index: 1
}
#pun-index TR.inew Div.icon {
background: #8d1616;
background-repeat: no-repeat;
}

#pun-viewforum table Div.icon, #pun-messages table Div.icon, #pun-searchtopics table Div.icon {
background: #bdbdbd;
display: block;
float: left;
height: 11px;
margin-left: 3px;
margin-right: 10px;
margin-top: 0px;
position: relative;
width: 40px;
}

#pun-viewforum TR.inew Div.icon, #pun-messages TR.inew Div.icon, #pun-searchtopics TR.inew Div.icon {
background: #3d546d;
height: 11px;
width: 40px;
}
#pun-viewforum TR.isticky Div.icon, #pun-messages TR.isticky Div.icon, #pun-searchtopics TR.isticky Div.icon {
background: #3d546d;
height: 11px;
width: 40px;
box-shadow: 10px 0 0 0 #8d1616 inset
}

#pun-viewforum TR.iclosed Div.icon, #pun-messages TR.iclosed Div.icon, #pun-searchtopics TR.iclosed Div.icon {
background: #1f1f1f;
height: 11px;
width: 40px;
}

#pun-about .container .item1 {margin-top: -25px;
width: 1125px;
margin-left: 10px;
position: absolute;
font-family: pt sans;
font-size: 10px;
}


#pun_wrap {padding-bottom: 140px;}

#pun-about p.container {
background: rgba(0, 0, 0, 0) url(http://forumfiles.ru/files/0019/aa/b6/33080.png) no-repeat scroll bottom center;
height: 185px;
margin-bottom: 5px;
margin-left: -10px;
margin-top: 30px;
width: 1146px;
padding: 0 !important;
border: none !important;
}

div#pun-about {
margin-top: 0px;
}
div#html-footer {
margin: -140px 0 0;
}

#pun-announcement.section h2 span {
display: none;
}

.punbb input {
border: medium none;
}

.button {
background: #791919;
box-shadow: 0 0 0px 1px #d1d1d1 inset;
border-radius: 0px;
border-top: medium none;
color: #fff;
font-family: roboto !important;
font-size: 9px !important;
font-weight: 700 !important;
margin-top: 5px !important;
padding: 5px 15px 5px 15px !important;
text-decoration: none;
transition: all 0.5s ease-in-out 0s;
vertical-align: middle;
text-transform: uppercase;
letter-spacing: 1px
}
.button:hover {
background: #d8d8d7;
box-shadow: 0 0 0px 1px #a8a8a8 inset;
color: #252525;
cursor: pointer;
}



.button:active {
border-top-color: #2c5f75;
}

#pun-crumbs1 a, #pun-crumbs2 a {font-weight: 700}
#pun-crumbs1 {
font-family: roboto !important;
font-size: 11px !important;
letter-spacing: 0 !important;
margin-bottom: 10px !important;
font-weight: 400 !important;
}
#pun-crumbs2 {
font-family: roboto !important;
font-size: 11px !important;
letter-spacing: 0 !important;
padding-bottom: 0px !important;
font-weight: 400 !important;
}

.post_reputation {
background: #d5d5d5;
}


#font-area, .popup_graffiti, #size-area, #image-area, #color-area, #addition-area, #video-area, .inner .popup_graffiti, #table-area, #keyboard-area, #smilies-area {
color: #333;
padding: 10px 10px 10px 10px !important;
background: #d5d5d5;
box-shadow: 0 0 0 1px #bababa inset, 0 0 0 3px #e1dfdf inset, 0 0 1px 2px #687e98;
}



#keyboard-area input {box-shadow: none;
color: #312c12!important;}

#font-area {height: 300px;
overflow-y: auto;
padding: 5px;
text-align: left;
width: 150px}


#pun-index .tcmod {
display: none
}

#pun-index .category h2 {background: url(http://forumfiles.ru/files/0019/aa/b6/21285.png);
width: 1146px;
height: 39px;
padding: 0 !important;
border: none !important;
margin-left: -10px !important;
color: #6d8399 !important;
font-family: montserrat !important;
font-weight: 800 !important;
text-transform: uppercase;
text-shadow: 0 0 1px rgba(0,0,0,.4);
font-size: 11px !important;
margin-bottom: -5px !important;
margin-top: -5px !important;
}

#pun-index .category h2 span, #pun-stats.section h2 span {background: url(http://forumfiles.ru/files/0019/aa/b6/32055.png);
height: 39px !important;
display: inline-block;
line-height: 38px;
padding: 0 10px;
font-weight: 800 !important;}


#pun-stats.section h2 {margin: 0px -10px !important;
margin-top: -13px !important;
width: 1146px !important;
height: 39px !important;
background: url(http://forumfiles.ru/files/0019/aa/b6/21285.png);
border: none !important;
padding: 0 !important;
color: #6d8399 !important;
font-family: montserrat !important;
font-weight: 900 !important;
text-transform: uppercase;
text-shadow: 0 0 1px rgba(0,0,0,.4);
font-size: 11px !important;
}

#pun-category1 {margin-top: -10px !important;}

#pun-index .category table {border-spacing: 0px 5px !important;
}

#pun-index .category .container tr {background: rgba(255,255,255,.25);
border-spacing: 0px 10px !important;}

#pun-index .category .container tr.inew {background: rgba(255,255,255,.5);
border-spacing: 0px 10px !important;}

#pun-index .tclcon h3 a {font-family: montserrat;
text-transform: uppercase;
font-size: 16px;
font-weight: 900 !important;
padding: 0px 0px 0px 0px;
display: block;
text-align: left;
letter-spacing: 2px;
margin-bottom: 8px;
color: #2a2a2a
}
#pun-index .tclcon h3 a:hover {color: #8d1616}

#pun-index .tclcon .link {padding-bottom: 5px;
padding-top: 5px;
text-align: center;
font-size: 0}

#pun-index .tclcon .link a { display: inline-block;
border-radius: 0px;
background-color: #3b434e;
color: #fff !important;
font-family: oswald !important;
font-size: 10px !important;
font-weight: normal !important;
margin-top: 5px !important;
padding: 2px 10px 3px 10px;
text-decoration: none;
text-shadow: 1px 1px 0 rgba(0, 0, 0,.5);
transition: all 0.5s ease-in-out 0s;
text-transform: uppercase;
display: inline-block;
margin: 0 3px}

#pun-index .tclcon .link a:hover {
animation: .6s linear 0s normal none 1 running Upper;
}

#pun-index .tclcon {
font-size: 10px;
text-align: justify;
margin: 0px 0 0px 0;
position: relative;
font-family: montserrat;
padding: 10px;
line-height: 14px;
color: #323232;
font-weight: 500
}

#pun-index .tcr a {font-weight: bolder;
font-size: 12px}

#pun-index .tcr {
width: 40%;
text-align: left;
font-family: montserrat;
font-weight: 500
}

#pun {
background-position: center top;
background-repeat: repeat-y;
}

#pun-main .post-author ul {
font-size: 10px;
text-align: center;
}

.punbb .section, .punbb .forum, .punbb .formal, .punbb .modmenu, .punbb .info, .punbb .category, .punbb .post {
border-color: transparent;
text-align: justify;
}



.go-up, .go-down {
cursor: pointer;
display: none;
height: 13px;
margin-bottom: 160px;
opacity: 1;
position: fixed;
width: 60px;
z-index: 9999;
text-align: center;
line-height: 20px;
font-family: play;
text-transform: uppercase;
color: #c9cdc6;
font-size: 0;
}

.go-up {
bottom: 55%;
background: #8d1616;
margin-left: 1130px !important;
transition: all .5s ease-in-out 0s
}
.go-down {
bottom: 50%;
margin-left: 1130px !important;
transition: all .5s ease-in-out 0s;
background: #3d546d
}
.go-down:hover, .go-up:hover {
opacity: 1;
transform: scale(.8)
}


.topic a.sharelink {
display: none;
}

.punbb .post-content del {text-decoration: none;
filter: blur(2px);
transition: all 0.3s ease-in-out 0.1s;}

.punbb .post-content del:hover {
background: transparent;
color: #000;
text-decoration: none!important;
filter: blur(0px);
animation: .5s linear 0s normal none 1 running Blur;
}


@keyframes Blur {
0% {
filter: blur(2px);
}
50% {
filter: blur(10px);
}
100% {
filter: blur(0px);
}
}

.plashkacont {
display: inline-block;
width: 100%;
margin-left: -5px !important;
text-align: center;
}


.plashka {
display: inline-block;
border-radius: 0px;
background-color: #5a1c1c;
color: #fefefe !important;
font-family: oswald !important;
font-size: 11px !important;
font-weight: normal !important;
margin-top: 5px !important;
padding: 2px 15px 2px 15px;
text-decoration: none;
text-shadow: 1px 1px 0 rgb(43, 61, 65);
transition: all 0.5s ease-in-out 0s;
text-transform: uppercase;
}

.plashka:hover {
animation: .6s linear 0s normal none 1 running Upper;
}

@keyframes Upper {
0% {
transform: scale(1);
}

50% {
transform: scale(1.1);
}
100% {
transform: scale(1);
top: 20px
}
}


.pa-fld2 {
text-align: justify !important;
width: 170px;
margin-left: 13px !important;
background:#0f0f0f;
padding: 40px 10px 10px 10px !important;
line-height: 10px;
font-family: arial;
box-shadow: 0 0 0 1px rgba(100,136,176,.15)
}

.pa-fld5 {
position: absolute;
width: 190px;
margin-left: 9px !important;
margin-top: 3px !important;
text-transform: uppercase;
font-family: pt sans;
font-size: 12px;
}
.pa-fld5 a {font-weight: bold}

.pa-fld3 {
text-align: center;
font-family: roboto condensed;
background: #000000;
box-shadow: 0 1px 0 0 #0f0f0f, 0 -1px 0 0 #0f0f0f;
width: 190px;
margin-left: 13px !important;
margin-top: 20px !important;
padding-bottom: 2px !important;
color: #8c8a89;
position: absolute;
}



.pa-fld4 {
font-family: roboto;
text-transform: uppercase;
font-size: 10px;
font-weight: 700;
width: 188px;
margin-top: 4px !IMPORTANT;
box-shadow: 0 1px 0 0 #0f0f0f;
width: 190px;
margin-left: 13px !important;
padding-bottom: 3px !important;
}

.pa-fld4 mon:before {content: "в банке ";
font-family: roboto;
text-transform: uppercase;
font-size: 10px;
color: #6d6d6d;
font-weight: 300}


.pa-fld4 pos:before {content: "постов ";
font-family: roboto;
text-transform: uppercase;
font-size: 10px;
color: #6d6d6d;
font-weight: 300}


.pa-fld1 img {width: 36px;
float: left;
margin-left: 15px;
}

.pa-fld1 tt {display: block;
font-family: pt sans;
font-size: 10px;
color: #8b8b8b;
margin-right: 10px;
width: 140px;
text-shadow: 1px 1px 0 #000;
float: right;
line-height: 10px;
padding-top: 8px
}


.pa-fld1 {width: 214px;
margin-top: -14px !important;
margin-bottom: -5px !important;
background: url(http://forumfiles.ru/files/0019/aa/b6/61157.png);
position: relative;
height: 36px
}

/*ПРАВКУ НЕ СЛОМАЙТЕ*/
.fearless {margin-left: 0px!important;} 
.ffybase {margin-left: 0px!important;}
.muldermain {margin-left: 50px!important;
}