@import url(style_cs.css);

/* Иконический шрифт */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');

@import url('https://alexkolmar.github.io/fonts/a_OldTyper/stylesheet.css');
@import url('https://alexkolmar.github.io/fonts/Pobeda/stylesheet.css');
@import url('https://alexkolmar.github.io/fonts/Ouvality/stylesheet.css');


/* Полезные сервисные настройки
-------------------------------------------------------------*/

.acchide,
#pun-index #pun-main h1,
#pun-navlinks h2,
#pun-pagelinks h2,
#pun-status h2,
#pun-ulinks h2,
.punbb .forum h2,
.punbb .multipage .topic h2,
.punbb dl.post-sig dt span,
.punbb p.crumbs strong,
.punbb .divider hr,
.punbb .required label em,
.punbb .formsubmit label,
.punbb .submitfield label,
.punbb .modmenu label,
#pun-userlist .main h2 {
  font-size: 0;
  height: 0;
  width: 0;
  line-height: 0.0;
  position: absolute;
  left: -9999px;
  overflow: hidden;
}

#pun:after,
.punbb .container:after,
.punbb .post-links ul:after,
.punbb .main div.inline:after,
.punbb .post-box:after,
.punbb .linksb:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  line-height: 0.0;
  font-size: 0;
}


/* Основные переменные
------------------------------------------*/

:root {
  --black: #000;
  --light1: #eaeae8;
  --light2: #ededed;
  --beige: #e9e0cf;
  --link: #4d0018;
  --link-hover: #b40220;
  --gray: #464140;
  --silver: #ccc;
  --pwidth: 240px;
  --padding: 10px 30px;
  --tpad: 5px 30px;
  --mpad: 5px 10px;
  --aot: 'a_OldTyper';
  --ouv: 'Ouvality';
  --pob: 'Pobeda';
}

/* Global
------------------------------------------*/

/* Применяется ко всем элементам */

* {
  margin: 0;
  padding: 0;
  border: none;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--gray) var(--silver);
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background-color: var(--silver);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}

*::-webkit-scrollbar-thumb:active {
  background: var(--link);
}

:focus {
  outline: none;
}

a,
.punbb #pun-admain a {
  text-decoration: none;
  color: var(--link);
  transition: all .2s linear 0s;
}

a:hover,
.punbb #pun-admain a:hover {
  color: var(--link-hover);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
  margin: 0;
}

h1,
h2 {
  padding: 10px 20px;
  font-weight: normal;
  text-align: center;
  font: bold 24px/30px var(--pob);
}

ul,
dl,
li,
dd,
dt {
  list-style: none;
}

address,
em {
  font-style: normal;
}

.modlist,
.lastedit,
.punbb div#pun-live-rusff,
.punbb .topic a.sharelink {
  display: none;
}

#tags .container,
.post_report,
.post_reputation,
#MyBookmarks,
.inner.popup_graffiti,
.pun-modal .modal-inner {
  background: var(--light2);
}

#tags .container {
  padding: var(--mpad) !important;
  top: 0 !important;
}

/* ОФОРМЛЕНИЕ КНОПОК
------------------------------------------*/

input.button,
#pun-admain input.button,
#sub4,
input[type="button"] {
  padding: 0 15px;
  border: 1px solid var(--silver);
  cursor: pointer;
  transition: all .2s linear 0s;
  background: var(--light2);
  font: normal 14px/24px var(--aot);
  border-radius: 12px;
  color: var(--link);
}

input.button:hover,
#pun-admain input.button:hover,
#sub4:hover,
input[type="button"]:hover {
  background: var(--beige);
  color: var(--link-hover);
}

/* ОФОРМЛЕНИЕ ПОЛЕЙ ВВОДА
------------------------------------------*/

input[type="text"],
input[type="password"],
textarea,
select {
  padding: 2px 5px;
  border: 1px solid var(--silver);
}


/* Админка
------------------------------------------*/

.punbb-admin .adcontainer,
.punbb-admin .adformal {
  border: none;
}


/*****************************
---------- МОБИЛЬНЫЙ СТИЛЬ ----------
*****************************/

@media screen and (max-width: 540px) {


  /* Основа и тело форума
  -------------------------------------------------------------*/
  
  
  * {
  float: none !important;
  box-sizing: border-box;
  }

  body::before {display: none;}
  
  #pun {
  width: 100%;
  margin: 40px auto 0;
  border-radius: 0;
  }
  
  .punbb {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  font: 100%/150% sans-serif;
  }
  
  /* Порядок основных блоков */
  
  #html-header {order: initial;}
  #pun-title {order: initial;}
  #pun-navlinks {order: -1;}
  #pun-ulinks {order: initial;}
  #pun-status {order: initial;}
  #pun-crumbs1 {order: initial;}
  #pun-main {order: initial;}
  #pun-stats {order: initial;}
  #pun-crumbs2 {order: initial;}
  #pun-about {order: initial;}
  #html-footer {order: initial;}
  
  /* Основные настройки содержимого*/
  
  .punbb > div .container {
    padding: 10px 15px !important;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }
  
  /* Поля ввода*/
  
  input[type="text"], input[type="password"], textarea, select {
    max-width: 100%;
  }
  
  
  /* Шапка
  -------------------------------------------------------------*/
  
 #pun-title {
    min-height: 50px;
    border-radius: 0;
    height: 550px;
    background-position: top -50px center;
  }

  .tablica {
    height: 550px;
  }

#html-header, .logo_top {width: 100%;}

.logo_top {
  font-size: 10vw;
  display: block;
  white-space: nowrap;
  margin: 0;
  position: relative;
  background: none;
  color: var(--gray);
  letter-spacing: 5px;
  height: auto;
  line-height: 10vw;
  top: 2vw;
}

  .logo_bottom {
    font-size: 10vw;
    line-height: 8vw;
    top: 0vw;
    position: relative;
    width: 100%;
    right: 50px;
    text-align: right;
  }

.tab_inner {
  padding: 15px 20px;
  background: none;
}

  .tab_left, .tab_right {
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
  }

.game_info {text-align: center;}

.news, .ams {width: 100%;}

.ams, .bestquote {display: none;}

  .wantedblock {
    margin: 20px 0;
    flex-wrap: wrap;
  }

  .wanted img {
    position: relative;
  }

  .wanted {
    align-items: center;
  }

  .wanted, .wanted_text, .wanted a {
    height: fit-content;
    width: fit-content;
  }

  .wanted_text {
    border-radius: 0 10px 10px 0;
  }

  .wanted p {display: none;}

  .spirit_nav-wrap {
    width: calc(100% - 20px);
  }

  .nav_button {
    width: 100%;
  }

  /* Футер
  -------------------------------------------------------------*/
  
.copyright {
  position: relative;
  margin-bottom: 20px;
}

.copyright a {
  color: var(--link);
}

.copyright a:hover {
  color: var(--link-hover);
}
  
  /* Меню навигации
  -------------------------------------------------------------*/
  
  
  #pun-navlinks {
    height: 40px;
    box-sizing: border-box;
    z-index: 100;
  }
  
  #pun-navlinks .container {
    height: auto;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    align-content: center;
    box-sizing: border-box;
    padding: 0 50px 0 0 !important;
  }
  
  #pun-navlinks li {
    display: block;
  }
  
  #pun-navlinks li a {
    font-size: 0;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    position: relative;
  }
  
  #pun-navlinks li a:after, #pun-ulinks:after  {
    content: "";
    font: normal 36px/100% 'Material Icons Outlined';
  }
  
  #pun-navlinks li#navindex a:after {content: "\e88a";}
  #pun-navlinks li#navuserlist a:after {content: "\f233";}
  #pun-navlinks li#navsearch a:after {content: "\e8b6";}
  #pun-navlinks li#navprofile a:after {content: "\e853";}
  #pun-navlinks li#navpm a:after {content: "\e0be";}
  #pun-navlinks li#navadmin a:after {content: "\e8b8";}
  #pun-navlinks li#navlogout a:after {content: "\e9ba";}
  #pun-navlinks li#navlogin a:after {content: "\ea77";}
  #pun-navlinks li#navregister a:after {content: "\e7fe";}
  #pun-navlinks li#navpr a:after {content: "\ef49";}
  #pun-navlinks li#navawards a:after {content: "\ea23";}
  #pun-navlinks li#navrules a:after {content: "\e85f";}
  
  #pun-navlinks li#navpm a span[data-last-unread]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: block;
    animation: blinkColor 2s linear infinite;
    -moz-animation: blinkColor 2s linear infinite;
    -webkit-animation: blinkColor 2s linear infinite;
    background: gainsboro;
  }
  
  
  /* Меню пользовательских ссылок
  -------------------------------------------------------------*/
  
  #pun-ulinks {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 0 0 auto;
    position: fixed;
    border: none;
    z-index: 101;
    top: 0;
    left: initial;
    right: 10px;
  }
  
  #pun-ulinks:after {
    content: "\e5d2";
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font: normal 40px/100% 'Material Icons Outlined';
    text-align: center;
    cursor: pointer;
  }
  
  #pun-ulinks .container {
      padding: 0;
      margin: 0;
      display: none;
      height: auto;
      border: none ;
      text-align: left;
      background: var(--light2);
      border: 1px solid var(--silver);
  }
  
  #pun-ulinks ul {
      padding: 0 !important;
      display: none;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
      z-index: 100;
      position: absolute;
      top: 40px;
      right: -10px;
  }
  
  #pun-ulinks:hover ul, #pun-ulinks:focus ul {
      display: block;
  }
  
  #pun-ulinks li {
    padding: 0 !important;
    display: block !important;
    white-space: nowrap;
  }
  
  #pun-ulinks li a {
      display: block;
      border: none;
      font: normal 16px/200% var(--aot) !important;
      padding: 0 15px !important;
      color: #000;
      text-decoration: none !important;
  }
  
  #pun-ulinks li a:hover {
      background: gainsboro;
  }
  
  #pun-ulinks > span.notify-bubble {display: block !important;}
  
  
  /* Статус и путь
  -------------------------------------------------------------*/
  
  #pun-status .container {
    text-align: right;
    font-size: 12px;
    flex-wrap: nowrap;
    line-height: 16px;
  }

.status_userava {
  margin-right: 10px !important;
}
  
  .punbb .container.crumbs {display: block;}
  
  
  /* Главная форумная таблица
  -------------------------------------------------------------*/

  .category, #pun-stats {
    margin: 15px;
  }
  
  /* Заголовки */
  .punbb h1, .punbb h2 {
  width: initial !important;
  }
  
  .punbb h1 span, .punbb h2 span {font-size: 20px;}
  
  .punbb thead {display: none;}
  
  .punbb .main .hasicon, .punbb .main tr {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }
  
  .punbb .main tr {padding: 5px 0;}
  
  .punbb .main .hasicon tr:not(:last-of-type) {
    box-shadow: 0 1px rgba(0, 0, 0, .3), 0 2px rgba(255, 255, 255, .75);
  }
  
  .punbb .main td {padding: 5px 10px;}
  
  .punbb .main .tcl, .punbb .main .tcr, #pun-searchtopics .main .tcl, #pun-modviewforum .main .tcl {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    width: 100% !important;
    padding: 5px 10px !important;
  }
  
  .punbb .main .intd {
    position: relative;
    display: flex;
    display: -webkit-flex;
    width: 100%;
  }

  .punbb:not(#pun-index) div.icon {
    margin-left: 0;
    right: 0;
  }
  
  .punbb .tclcon {
  flex-grow: 1;
  }

#pun-index .tclcon {font-size: 100%;}

  #pun-index .links {
    align-items: center;
    justify-content: center;
  }
  
  .punbb .main .tc2, .punbb .main .tc3, #pun-searchtopics .main .tc2, #pun-searchtopics .main .tc3 {
  text-align: left;
  width: auto;
  }
  
  .punbb .main .tc2:before, .punbb .main .tc3:before {
  content: "";
  }

  #pun-index .category .hasicon tr {width: 100%;}
  
  #pun-index .main .tc2:before {content: "Тем: ";}
  #pun-index .main .tc3:before {content: "Сообщений: ";}
  
  #pun-viewforum .main .tc2:before, #pun-searchtopics .main .tc3:before {content: "Ответов: ";}
  #pun-viewforum .main .tc3:before {content: "Просмотров: ";}
  
  #pun-searchtopics .main .tc2:before {content: "Форум: ";}
  
  .punbb .main .tcr {position: relative;}
  
  .punbb .tcr .user-avatar {
    margin: 0 10px;
    height: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

   #pun-index td .user-avatar {
    margin-right: 10px;
  }
  
  .punbb .tcr > a, .punbb .tcr .lastpost, .punbb .tcr > .byuser {
    width: calc(100% - 70px);
    text-align: right;
  }
  
  .punbb .user-avatar .avatar-image {
    display: flex;
    display: -webkit-flex;
  }
  
  /* Статистика
  -------------------------------------------------------------*/
  
  .punbb #pun-stats .container {
    justify-content: right;
    padding: 15px 25px !important;
  }
  
  .punbb #pun-stats .container li:not(#onlinelist) {
  width: 100%;
  text-align: right;
  }
  
  /* Темы и страницы
  -------------------------------------------------------------*/
  
  /* Верхние ссылки в топике и списках тем */
  .punbb .linkst {padding: 10px 15px;}
  
  /* Меню модератора */
  .modmenu .container {gap: 5px;}
  
  .punbb .modmenu strong, .punbb .modmenu a {height: initial;}
  
  #pun-viewforum .modmenu .container strong a {font-size: 0;}
  
  #pun-viewforum .modmenu .container strong a:after {
  content: "Действия с темами";
  font-size: initial;
  }
  
  /* Нижние ссылки в топике и списках тем */
  .punbb .linksb {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: initial;
  }
  
  .linksb .pagelink {
    order: 1;
    flex-grow: 1;
    width: auto;
  }
  
  .punbb .postlink, .punbb .linksb noindex {
    order: 2;
    flex-grow: 1;
    width: auto;
  }
  
  .subscribelink {
    order: 3;
    width: 100%;
  }
  
  .punbb .postlink.long {width: auto;}

  
  /* Список пользователей
  -------------------------------------------------------------*/
  
  #pun-userlist tr:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0,.5);
  }
  
  #pun-userlist tr td, #pun-userlist .tcl, #pun-userlist .tc2 {
  width: 100%;
  }
  
  #pun-userlist .tc3 {display: none;}
  
  
  /* Топик
  -------------------------------------------------------------*/
  
  /* Пост */
  .punbb .post {margin: 0;}
  
  /* Дата поста */
  .punbb .post h3 {
    background: rgba(0, 0, 0, .1);
  }
  
  .punbb .post h3 span {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
  }
  
  .punbb .post h3 span .permalink {
    flex-grow: 1;
    order: 1;
  }
  
  .punbb .post h3 span strong {order: 2;}
  
  .punbb .post h3 .sharelink {
  order: 3;
  margin-left: 5px;
  display: none;
  }
  
  /* Содержимое поста */
  .punbb .post .container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    padding: 0 !important;
  }
  
  /* Автор */
  .punbb .post .post-author {
    margin: 0;
    padding: 10px 15px;
    width: 100%;
    min-height: 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,.1);
  }
  
  .punbb .post .post-author ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  /* Скрыть поля профиля */
  .pa-reg, .pa-from, .pa-invites, .pa-positive, .pa-icq, .pa-sex, .pa-age, .pa-ip, .pa-time-visit, .pa-last-visit, .pa-online, .pa-awards, .pa-title, .pa-fld3, .pa-fld4 {
      display: none !important;
  }
  
  /* Аватар */
  .punbb .post-author .pa-avatar {
    width: 75px;
    height: auto;
    max-height: 75px;
    max-width: 75px;
    display: block;
    position: absolute;
    margin: 0 0 5px; 
    order: -2;
  }
  
  .online .pa-author::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--link-hover);
    background: radial-gradient(circle at 3px 2px, var(--beige), var(--link), var(--link-hover));
    margin: 2px 0 5px 7px;
  }
  
  .punbb .post-author .pa-avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    max-height: 75px;
    max-width: 75px;
  }
  
  /* Ник и статус */
  .punbb .post-author .pa-author, .punbb .post-author .pa-title {
    margin-left: 85px;
    padding: 0;
    width: 100%;
    text-align: left;
  }

  .punbb .post-author .pa-author {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 0 20px;
  }
  
  /* Сообщения */
  .punbb .post-author .pa-posts {
    margin-left: 85px;
  }
  
  /* Доп. поле 1 (лз) */
  .punbb .post-author .pa-fld1 {
    width: 100%;
    order: 1;
  }

.post-author .lz {
  margin: 0;
  width: 100%;
  border-radius: 20px;
}

.post-author .lz .name {
  margin-bottom: 0;
}

.post-author .lz p {
  display: none;
}

.pa-posts, .pa-respect, .pa-fld2, .pa-fld3 {
  display: flex;
  margin-bottom: 5px;
  gap: 5px;
  width: auto;
  padding-right: 10px;
  align-items: flex-start;
}

li.pa-fld2 br {display: none;}

li.pa-fld5, li.pa-fld5 details {width: 100%;}

.punbb .post .post-author ul .extralinks {
  gap: 10px;
  padding: 5px 10px;
}
  
  /* Тело поста */
  .punbb .post-body {
    margin: 0;
    width: 100%;
  }
  
  /* Содержимое тела поста */
  .punbb .post-box {
    padding: 10px;
  }
  
  /* Строки поста */
  .punbb .post-content p {padding: 0 0 5px 0;}
  
  /* Цитата, спойлер и код */
  .punbb .post-content .quote-box, .punbb .post-content .code-box {
    margin: 5px 0 10px;
  }
  
  /* хтмл-содержимое в постах */
  .punbb .post-content iframe {
    box-sizing: border-box;
    max-width: 100%;
  }
  
  /* Подпись */
  .punbb .post-box .post-sig {display: none;}
  
  /* Ссылки профиль, удалить, цитировать и т.п. */
  .punbb .post-links {
    margin: 0;
  }
  
  .punbb .post-links ul {
    padding: 0 10px;
    margin: 5px 0 0;
  }
  .punbb .post-links li a {font-size: 0;}
  
  .punbb .post-links ul li {
    padding: 0 0 0 10px;
    line-height: initial !important;
  }
  
  .punbb .post-links ul .pl-email, .punbb .post-links ul pl-website {
    float: left !important;
    padding: 0 10px 0 0;
  }
  
  .punbb .post-links li a::before {
    content: "";
    font-size: 24px;
    font-family: 'Material Icons Outlined';
  }
  
  .punbb .post-links li.profile a:before {content: "\ea67";}
  .punbb .post-links li.pm a:before {content: "\e0be";}
  .punbb .post-links li.email a:before {content: "\e0e6";}
  .punbb .post-links li.pl-delete a:before {content: "\e92e";}
  .punbb .post-links li.pl-edit a:before {content: "\e3c9";}
  .punbb .post-links li.pl-quote a:before {content: "\e244";}
  .punbb .post-links li.pl-reports a:before {content: "\e8b2";}
  
  
  /* Форма ответа */
  .punbb #form-buttons {
    width: 100%;
    display: block;
  }
  
  .punbb #form-buttons tr {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 5px;
    text-align: center;
  }
  
  #form-buttons td {
  display: block;
  width: 26px;
  height: 26px;
  }
  
  #post-form #tags .container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    display: flex;
    gap: 5px 10px;
  }
  
  #post-form #tags #font-area {
    padding-bottom: 15px !important;
  }
  
  
  /* Поиск сообщений
  -------------------------------------------------------------*/
  
  #pun-searchposts .post-author ul {justify-content: space-between;}
  
  #pun-searchposts .post li.pa-author, #pun-searchposts .post li.pa-replies {
  text-align: left;
  width: auto;
  margin: 0;
  }
  
  #pun-searchposts .post-links ul {
    margin: 0;
    height: 150%;
  }
  
  #pun-searchposts .post-links li a {font-size: initial;}
  
  
  /* Просмотр профиля
  -------------------------------------------------------------*/
  
  #viewprofile-next #profilenav {display: none;}
  
  #viewprofile ul, #profilenav ul {
    padding: 0 5px;
    margin: 0;
  }
  
  #viewprofile tr {flex-direction: column;}
  #viewprofile td {width: 100%;}
  
  #viewprofile li, #viewprofile li strong, #viewprofile li span, #viewprofile li div, #setmods dd, #setmods dl {
    margin: 0;
    padding: 0;
  }
  
  #viewprofile #profile-left {
    text-align: center;
    padding-bottom: 10px !important;
    box-shadow: 0 1px rgba(0, 0, 0, .3), 0 2px rgba(255, 255, 255, .75);
  }
  
  #viewprofile #profile-left li#pa-avatar {padding: 5px;}

  #viewprofile #profile-right {
    padding: 10px 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #profile-right li {
    display: flex;
    flex-wrap: wrap;
  }
  
  #profile-right li span {
    width: auto;
    padding-right: 5px;
  }
  
  #viewprofile #profile-right li strong {
    width: auto;
    padding: 0;
  }

  #profile-right .plank {
    margin-left: 10px;
  }

  #profile-right .extralinks li {
    align-items: unset;
  }
  
  #viewprofile #profile-signature {padding: 5px 0;}
  #viewprofile #profile-signature ul {padding: 10px 0 0;}
  
  
  /* Редактирование профиля и ЛС
  -------------------------------------------------------------*/
  
  #profile > .container {padding: 5px 10px !important;}
  
  .punbb #profilenav {
    width: 100%;
    margin: 0;
    display: block;
  }
  
  #viewprofile h2, #profilenav h2 {margin: 0;}
  
  #profilenav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #profilenav li {
    padding: 0;
    font-weight: bold;
    width: 50%;
    box-sizing: border-box;
  }
  
  #pun-messages #notify-settings {width: 100%;}
  
  #pun-messages #notify-settings .inp2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #OnOff_Notify {
    margin: 0 !important;
    order: 1;
  }
  
  #OnOff_Notify + label {display: none;}
  
  #volume-set {
     align-items: center;
    display: flex;
  }
  
  #profile #messages fieldset, #profile #messages fieldset .fs-box {
    padding: 0;
    margin: 0;
  }
  
  .punbb .main #profile #messages .hasicon tr {
  justify-content: space-between;
  box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 1px rgba(255, 255, 255, .75);
  }
  
  .punbb .main #profile #messages .hasicon tr:first-of-type {
  box-shadow:0 -1px rgba(255, 255, 255, .9), 0 -2px rgba(0, 0, 0, .3), 0 1px rgba(255, 255, 255, .9);
  }
  
  .punbb .main #profile #messages .hasicon tr:last-of-type {
  box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 1px rgba(0, 0, 0, .4), 0 2px rgba(255, 255, 255, .9);
  }
  
  .punbb .main #profile #messages .hasicon .tcl {width: 100% !important;}
  
  #profile #messages .hasicon .pmtc22 {
    display: flex;
    width: 100% !important;
  }
  
  #profile #messages .hasicon .tc3:before {content: "Дата: "}
  
  #profile #messages .hasicon .tc3, #profile #messages .hasicon .pmtc24 {
    display: block;
    width: auto !important;
    padding: 5px 10px !important;
  }
  
  #profile #messages .hasicon .pmtc24:before {content: "Выбрать: "}
  
  
  /* Активные пользователи
  -------------------------------------------------------------*/
  
  #pun-online .online-list tr:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
  
  #pun-online .username {gap: 5px;}
  
  #pun-online .registered-user, #pun-online .tcl.action, #pun-online .tc3 {
    width: 100% !important;
    display: block;
  }
  
  /* Админка
  -------------------------------------------------------------*/
  
  .punbb-admin #pun-adnav {margin: 0;}
  
  .punbb-admin #pun-admain {padding: 0;}
  
  .punbb-admin #pun-adnav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
  }
  
  .punbb-admin #pun-adnav li {padding: 2px 5px;}
  
  .punbb-admin #pun-admain fieldset .handle, .punbb-admin #pun-admain fieldset p {border: none;}
  
  .punbb-admin #pun-admain .adlabel {
    padding: 0 5px !important;
    margin: 0;
    position: relative;
    width: auto;
    display: block;
    text-align: center;
  }
  
  .punbb-admin #pun-admain .adformal div ul, .punbb-admin #pun-admain div p {padding: 5px !important;}
  
  .punbb-admin .adcontainer .adsubmitfield {
    display: flex;
    flex-direction: column;
  }
  
  .punbb-admin #pun-admain span.adsubmit {
    position: relative;
    width: auto;
    top: 0 !important;
    margin: 0 auto;
    display: block;
    padding: 5px;
   left: 0;
  }
  
  .punbb-admin #pun-admain1 .sortable p input[name^="cat_name"] {
    margin: 0;
    position: relative;
    width: calc(100% - 20px);
  }
  
  .punbb-admin #pun-admain input[type="submit"] {
    margin: 0 auto;
    display: block;
  }
  
  #pun-admain .adformal p.submittop, #pun-admain .adformal p.submitend {
    display: flex;
    justify-content: center;
  }
  
  #pun-admain .adformal p.submittop input[type="submit"], #pun-admain .adformal p.submitend input[type="submit"] {margin: 0 5px;}

  /* html
  -------------------------------------------------------------*/

  .quenta p, .fc_inner p, .occupation p {
    padding: 0 !important;
  }

  .occupation {
    width: auto;
  }

  .tab-nav {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .tab-btn {
    width: fit-content;
  }
  
  /* Дополнительно
  -------------------------------------------------------------*/
  
  /* Отключение закругления текстовых полей в Safari */
  
  button, input.button, input[type="text"], input[type="password"], select {
    appearance: auto;
    -webkit-appearance: none;
    -moz-appearance: auto;
  }
  
}


@media screen and (max-width: 371px) {

  #pun-navlinks {
    height: 80px;
  }

  #pun {
    margin: 80px auto 0;
  }

}


/************************* 
Стиль для Быстрой смены аккаунтов 
Deff 
*************************/ 
/*Cкрытие формы входа без клика*/ 
#pun-navlinks a:not(.NextShow)+span.odd{ 
display:none!important; 
}
/*Стиль доп-иконки Выход!*/ 
#pun-navlinks a#New-exit {
  background: transparent!important; 
  position:absolute;
  z-index:100000!important;
  margin-top: -2px !important;
  margin-left: 43px !important;
  display:inline-block!important; 
}
#pun-navlinks #New-exit img{ 
position: absolute;
width: 23px;
height: auto;
transition: .63s;
}
#pun-navlinks #New-exit:hover img{
transition: .63s;
 opacity: .42;
}
.punbb #pun-navlinks a#New-exit:before {
    content:none;
}
.punbb #pun-navlinks #form-login input{
text-align: center;
border: 1px solid #5D6755;
text-rendering: auto; 
color: #000000!important;  
margin-top: 4px!important;
margin-bottom: 3px!important;
border-radius: 5px; 
letter-spacing: 0.2; 
word-spacing: normal; 
text-transform: none; 
text-indent: 0px; 
text-shadow: none; 
display: inline-block!important; 
text-align: center;
box-sizing: border-box;
height:20px;
width:67px;
width: 110px;
padding: 4px;
font: normal normal 400 11px/normal Verdana!important; rgb(250, 255, 189)
background-color: rgba(250,255,189,.88);
} 
.punbb #form-login #fld1,#form-login #fld2{ 
background-color: rgba(250,255,189,.88);
} 
.punbb #pun-navlinks #form-login input[type="submit"]{ 
margin: 13px 0 2px!important;
box-sizing: border-box;
height:26px;
width:67px;
font-size: 11px!important;
color: #ffffff !important;
background: #903a28;
border: 1px outset rgba(161,172,152,.8)!important;
text-align: center;
padding: 0 4px!important;
border-radius: 13px;
font-family: Verdana!important;
font-weight: 700!important;
transition: all 0.5s ease-in-out 0s;
letter-spacing: 0.8;
cursor:pointer;

/*border: 2px outset #83693E!important; 
color:#565462!important;
font-weight:700!important; */
} 
.punbb #pun-navlinks #form-login input[type="submit"]:hover{
  opacity:0.6;
}

/*Стиль формы входа*/ 
.punbb #pun-navlinks #form-login { 
background: #EFEFEF;
min-height:183px;
border: 1px solid #626262;
border-radius: 0px 0px 6px 6px;
color: #000000;/*BCBCBC;*/
display: block;
font: 11px "Verdana";
left: 0px;
padding: 8px 12px;
margin: 1px 0;
position: absolute !important;
text-align: center;
word-spacing: normal;
white-space: normal;
/*text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.235);*/
text-transform: none;
letter-spacing: 0.2px!important; 
top: 5px;
width: 122px;
z-index: 100000!important;
}
#pun-navlinks #navlogin #form-login {
  margin-left: -30px;/*Подвижки формы влево от вход*/ 
} 
#pun-navlinks #navlogout #form-login { 
  margin-left: -20px;/*Подвижки формы влево от выход*/
} 
.ismoderator #pun-navlinks #navlogout #form-login {
  margin-left: -20px!important;/*Подвижки формы влево от выход для АМС*/
} 
/*Стиль ссылок в форме "Не зарегистрированы" и "Забыли пароль" */ 
#pun-navlinks #form-login input[value="Войти"]+p{ 
 margin: 11px auto;
} 
.punbb #pun-navlinks #form-login a.Rega, 
.punbb #pun-navlinks #form-login a.Forgot{ 
position:relative; 
text-transform: none!important; 
z-index:20; 
cursor:pointer; 
font: normal normal 200 10px/normal Verdana!important; 
letter-spacing: 0.4px!important; 
display:inline;
background: none!important;
padding: 0 0 0 3px!important;
color: #76333C;
font-size: 9px!important;
/*text-shadow: 1px 1px 1px rgba(40, 52, 61, 0.39);*/
}
.punbb #pun-navlinks #form-login a.Rega:before, 
.punbb #pun-navlinks #form-login a.Forgot:before{
  content:none;
}
/* Помечаем красным незаполненные поля!*/ 
#form-login input.none{ 
outline:red dashed 2px!important; 
} 
/*Форма слева(с Никами) */ 
#List-UserNames { 
position:absolute; 
margin-top:-9px; 
min-height:90px; 
width:220px; 
right:100%; 
padding: 12px 19px 12px 17px; 
background: #EFEFEF;
border-color: #626262; /* Цвет границы */
border-style: solid; /* Стиль границы */
border-width: 1px 1px 1px 1px; /* Толщина границы */ 
border-radius:0 0 0px 6px;
text-align:center; 
/*box-shadow:inset 0.23em 0 3.4em rgba(20,20,11,.99);*/ 
} 
/*Стиль контейнера под список Ников*/ 
.punbb #List-UserNames ul{
padding: 0;
overflow:hidden; 
overflow-y:auto; 
min-height:36px; 
max-height:72px;/*Видимое число Ников без прокрутки! сейчас - 4*/ 
} 
.punbb #List-UserNames li {
display: block!important;
position: relative;
background: #903a28;
text-align: left;
box-shadow: 2px 2px 1px rgb(19, 20, 15);
padding-left: 5px!important;
font: normal normal 700 12x/normal Verdana!important;
letter-spacing: 0.4;
margin: 1px auto!important;
padding: 2px 0;
transition: .33s;
}
.punbb #List-UserNames li:hover{ 
opacity:.84; 
/*background:#83693E!important;*/
} 
/*Стиль Ников*/ 
.punbb #List-UserNames li>b{ 
cursor: pointer;
opacity: .9;
color: #fffefe;;
text-shadow: 1px 1px 1px rgb(0, 0, 0);
letter-spacing: 0.3;
} 
.punbb #List-UserNames li>b:hover{ 
opacity:.93; 
text-shadow:1px 1px 1px rgba(0,0,0,.6); 
} 
/*Скролл контейнера с никами*/ 
#List-UserNames ul::-webkit-scrollbar { 
width: 3px; 
height: 5px; 
} 
#List-UserNames ul::-webkit-scrollbar-track { 
background-color: #393A38; 
border: 0px solid #d7d8d9; 
box-shadow: none; 
} 
#List-UserNames ul::-webkit-scrollbar-thumb {
background-color: #C0BFBD;
border: 0px solid #d7d8d9; 
box-shadow: none; 
} 

/*Кнопки Удалить (правее ников)*/ 
#List-UserNames ul li>span { 
display:inline-block; 
padding:0 3px; 
position:absolute; 

opacity:.88; 
cursor:pointer; 
top:0;bottom:0; 
right:2px; 
color:#fff; 
font: normal normal
 
700 10.56px/normal Verdana; 
text-shadow:1px 1px 1px rgba(0,0,0,.6); 
} 
/*Текст при отсутствии запомненных Ников!*/ 
#List-UserNames ul:empty:before{ 
display:inline-block; 
content: "У Вас нет запомненных ников, введенных через форму справа, или через перенос ниже!"; 
} 
/*Кнопка выход-2*/ 
#navlogin #exit-2 { 
display:none; 
} 
#pun:not(.isguest) #navlogout .Rega, 
#pun:not(.isguest) #navlogout .Forgot { 
display:none!important; 
} 
/*Стиль блока с инпутом для переноса и вставки запомненных Аккаунтов*/ 
#List-UserNames ul+span{ 
display:inline-block; 
padding:6px 0 8px 0; 
text-align:left; 
font: normal normal 400 10.56px/normal Verdana;
} 
/*Сам инпут*/ 
.punbb #List-UserNames input { 
border: 1px solid #5D6755!important; 
text-shadow: none!important; 
color:#333!important;
background-color: #D4D4D4;
font: normal normal 400 11px/normal Verdana!important; 
/* box-shadow: inset 0px 0px 3px rgba(100,102,80,.97); */ 
margin-top: 9px; 
padding: 2px !important; 
vertical-align: middle; 
} 
/*Стрелочки к инпуту*/ 
#List-UserNames ul+span b{ 
font: normal normal 400 13px/normal Verdana; 
padding:0 3px; 
color: #000000;
} 
/*Кликалка слева, чуть выше инпута*/ 
#List-UserNames .a1-copy{ 
display:inline-block!important; 
cursor:pointer; 
float:left; 
} 
/*Кликалка справа*/ 
#List-UserNames .a1-paste{ 
cursor:pointer; 
display:inline-block!important; 
float:right; 
} 
/*Подсказки на кликалках*/ 
.tipsy.a11 { 
font: normal normal 400 11px/normal Verdana!important; 
margin-top:-22px!important; 
margin-left: 148px!important; 
max-width:170px; 
} 
/************************* 
//Конец Стиля для Быстрой смены аккаунтов 
*************************/