@font-face {
    font-family: 'AGOpus';
    src: url('https://alexkolmar.github.io/fonts/AGOpus_Roman/AGOpusRoman.eot');
    src: url('https://alexkolmar.github.io/fonts/AGOpus_Roman/AGOpusRoman.eot?#iefix') format('embedded-opentype'),
        url('https://alexkolmar.github.io/fonts/AGOpus_Roman/AGOpusRoman.woff2') format('woff2'),
        url('https://alexkolmar.github.io/fonts/AGOpus_Roman/AGOpusRoman.woff') format('woff'),
        url('https://alexkolmar.github.io/fonts/AGOpus_Roman/AGOpusRoman.ttf') format('truetype'),
        url('https://alexkolmar.github.io/fonts/AGOpus_Roman/AGOpusRoman.svg#AGOpus') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

